
[RemoveTracks]
Gun_CrouchToStand.36=all
Gun_CrouchToStand.45=all
Gun_CrouchToStand.46=all
Gun_CrouchToStand.47=all
Gun_CrouchToStand.48=all
Gun_CrouchToStand.49=all
Gun_CrouchToStand.50=all
Gun_CrouchToStand.67=all
Gun_CrouchToStand.68=all
Gun_CrouchToStand.69=all
Gun_CrouchToStand.70=all
Gun_CrouchToStand.71=all
Gun_CrouchToStand.72=all
Gun_CrouchToStand.73=all
Gun_CrouchToStand.74=all
Gun_CrouchToStand.75=all
Gun_CrouchToStand.76=all
Gun_CrouchToStand.77=all
Gun_CrouchToStand.78=all
Gun_CrouchToStand.79=all
Gun_CrouchToStand.80=all
Gun_CrouchToStand.81=all
Gun_CrouchToStand.82=all
Gun_CrouchToStand.83=all
Gun_CrouchToStand.84=all
Gun_CrouchToStand.85=all
Gun_CrouchToStand.86=all
Gun_CrouchToStand.87=all
Gun_CrouchToStand.88=all
Gun_CrouchToStand.89=all
Gun_CrouchToStand.90=all
Gun_CrouchToStand.91=all
Gun_CrouchToStand.92=all
Gun_CrouchToStand.93=all
Gun_CrouchToStand.94=all
Gun_CrouchToStand.95=all
Gun_CrouchToStand.96=all
Gun_CrouchToStand.97=all
Gun_CrouchToStand.98=all
Gun_CrouchToStand.99=all
Gun_CrouchToStand.100=all
Gun_CrouchToStand.101=all
Gun_CrouchToStand.102=all
Gun_CrouchToStand.103=all
Gun_CrouchToStand.104=all
Gun_CrouchToStand.105=all
Gun_CrouchToStand.106=all
Gun_CrouchToStand.107=all
Gun_CrouchToStand.108=all
Gun_CrouchToStand.109=all
Gun_CrouchToStand.110=all
Gun_CrouchToStand.111=all
Gun_CrouchToStand.112=all
Gun_CrouchToStand.113=all
Gun_CrouchToStand.114=all
Gun_CrouchToStand.115=all
Gun_CrouchToStand.116=all
Gun_CrouchToStand.117=all
Gun_CrouchToStand.118=all
Gun_CrouchToStand.119=all
Gun_CrouchToStand.120=all
Gun_CrouchToStand.121=all
Gun_CrouchToStand.122=all
Gun_CrouchToStand.123=all
Gun_CrouchToStand.124=all
Gun_CrouchToStand.125=all
Gun_CrouchToStand.126=all
Gun_CrouchToStand.127=all
Gun_CrouchToStand.128=all
Gun_CrouchToStand.129=all
Gun_CrouchToStand.130=all
Gun_CrouchToStand.131=all
Gun_CrouchToStand.132=all
Gun_CrouchToStand.133=all
Gun_CrouchToStand.134=all
Gun_CrouchToStand.135=all
Gun_CrouchToStand.136=all
Gun_CrouchToStand.137=all
Gun_CrouchToStand.138=all
Gun_CrouchToStand.139=all
Gun_CrouchToStand.140=all
Gun_CrouchToStand.141=all
Gun_CrouchToStand.142=all
Gun_CrouchToStand.143=all
Gun_CrouchToStand.144=all
Gun_CrouchToStand.145=all
Gun_CrouchToStand.146=all
Gun_CrouchToStand.147=all
