
[RemoveTracks]
Gun_ProneTurn.36=all
Gun_ProneTurn.45=all
Gun_ProneTurn.46=all
Gun_ProneTurn.47=all
Gun_ProneTurn.48=all
Gun_ProneTurn.49=all
Gun_ProneTurn.50=all
Gun_ProneTurn.51=all
Gun_ProneTurn.52=all
Gun_ProneTurn.53=all
Gun_ProneTurn.54=all
Gun_ProneTurn.55=all
Gun_ProneTurn.56=all
Gun_ProneTurn.57=all
Gun_ProneTurn.58=all
Gun_ProneTurn.59=all
Gun_ProneTurn.60=all
Gun_ProneTurn.61=all
Gun_ProneTurn.62=all
Gun_ProneTurn.63=all
Gun_ProneTurn.64=all
Gun_ProneTurn.65=all
Gun_ProneTurn.66=all
Gun_ProneTurn.67=all
Gun_ProneTurn.68=all
Gun_ProneTurn.69=all
Gun_ProneTurn.70=all
Gun_ProneTurn.71=all
Gun_ProneTurn.72=all
Gun_ProneTurn.73=all
Gun_ProneTurn.74=all
Gun_ProneTurn.75=all
Gun_ProneTurn.76=all
Gun_ProneTurn.77=all
Gun_ProneTurn.78=all
Gun_ProneTurn.79=all
Gun_ProneTurn.80=all
Gun_ProneTurn.81=all
Gun_ProneTurn.82=all
Gun_ProneTurn.83=all
Gun_ProneTurn.84=all
Gun_ProneTurn.85=all
Gun_ProneTurn.86=all
Gun_ProneTurn.87=all
Gun_ProneTurn.88=all
Gun_ProneTurn.89=all
Gun_ProneTurn.90=all
Gun_ProneTurn.91=all
Gun_ProneTurn.92=all
Gun_ProneTurn.93=all
Gun_ProneTurn.94=all
Gun_ProneTurn.95=all
Gun_ProneTurn.96=all
Gun_ProneTurn.97=all
Gun_ProneTurn.98=all
Gun_ProneTurn.99=all
Gun_ProneTurn.100=all
Gun_ProneTurn.101=all
Gun_ProneTurn.102=all
Gun_ProneTurn.103=all
Gun_ProneTurn.104=all
Gun_ProneTurn.105=all
Gun_ProneTurn.106=all
Gun_ProneTurn.107=all
Gun_ProneTurn.108=all
Gun_ProneTurn.109=all
Gun_ProneTurn.110=all
Gun_ProneTurn.111=all
Gun_ProneTurn.112=all
Gun_ProneTurn.113=all
Gun_ProneTurn.114=all
Gun_ProneTurn.115=all
Gun_ProneTurn.116=all
Gun_ProneTurn.117=all
Gun_ProneTurn.118=all
Gun_ProneTurn.119=all
Gun_ProneTurn.120=all
Gun_ProneTurn.121=all
Gun_ProneTurn.122=all
Gun_ProneTurn.123=all
Gun_ProneTurn.124=all
Gun_ProneTurn.125=all
Gun_ProneTurn.126=all
Gun_ProneTurn.127=all
Gun_ProneTurn.128=all
Gun_ProneTurn.129=all
Gun_ProneTurn.130=all
Gun_ProneTurn.131=all
Gun_ProneTurn.132=all
Gun_ProneTurn.133=all
Gun_ProneTurn.134=all
Gun_ProneTurn.135=all
Gun_ProneTurn.136=all
Gun_ProneTurn.137=all
Gun_ProneTurn.138=all
Gun_ProneTurn.139=all
Gun_ProneTurn.140=all
Gun_ProneTurn.141=all
Gun_ProneTurn.142=all
Gun_ProneTurn.143=all
Gun_ProneTurn.144=all
Gun_ProneTurn.145=all
Gun_ProneTurn.146=all
Gun_ProneTurn.147=all
