
[RemoveTracks]
Gun_CrouchWalkA_R.36=all
Gun_CrouchWalkA_R.45=all
Gun_CrouchWalkA_R.46=all
Gun_CrouchWalkA_R.47=all
Gun_CrouchWalkA_R.48=all
Gun_CrouchWalkA_R.49=all
Gun_CrouchWalkA_R.50=all
Gun_CrouchWalkA_R.51=all
Gun_CrouchWalkA_R.52=all
Gun_CrouchWalkA_R.53=all
Gun_CrouchWalkA_R.54=all
Gun_CrouchWalkA_R.55=all
Gun_CrouchWalkA_R.56=all
Gun_CrouchWalkA_R.57=all
Gun_CrouchWalkA_R.58=all
Gun_CrouchWalkA_R.59=all
Gun_CrouchWalkA_R.60=all
Gun_CrouchWalkA_R.61=all
Gun_CrouchWalkA_R.62=all
Gun_CrouchWalkA_R.63=all
Gun_CrouchWalkA_R.64=all
Gun_CrouchWalkA_R.65=all
Gun_CrouchWalkA_R.66=all
Gun_CrouchWalkA_R.67=all
Gun_CrouchWalkA_R.68=all
Gun_CrouchWalkA_R.69=all
Gun_CrouchWalkA_R.70=all
Gun_CrouchWalkA_R.71=all
Gun_CrouchWalkA_R.72=all
Gun_CrouchWalkA_R.73=all
Gun_CrouchWalkA_R.74=all
Gun_CrouchWalkA_R.75=all
Gun_CrouchWalkA_R.76=all
Gun_CrouchWalkA_R.77=all
Gun_CrouchWalkA_R.78=all
Gun_CrouchWalkA_R.79=all
Gun_CrouchWalkA_R.80=all
Gun_CrouchWalkA_R.81=all
Gun_CrouchWalkA_R.82=all
Gun_CrouchWalkA_R.83=all
Gun_CrouchWalkA_R.84=all
Gun_CrouchWalkA_R.85=all
Gun_CrouchWalkA_R.86=all
Gun_CrouchWalkA_R.87=all
Gun_CrouchWalkA_R.88=all
Gun_CrouchWalkA_R.89=all
Gun_CrouchWalkA_R.90=all
Gun_CrouchWalkA_R.91=all
Gun_CrouchWalkA_R.92=all
Gun_CrouchWalkA_R.93=all
Gun_CrouchWalkA_R.94=all
Gun_CrouchWalkA_R.95=all
Gun_CrouchWalkA_R.96=all
Gun_CrouchWalkA_R.97=all
Gun_CrouchWalkA_R.98=all
Gun_CrouchWalkA_R.99=all
Gun_CrouchWalkA_R.100=all
Gun_CrouchWalkA_R.101=all
Gun_CrouchWalkA_R.102=all
Gun_CrouchWalkA_R.103=all
Gun_CrouchWalkA_R.104=all
Gun_CrouchWalkA_R.105=all
Gun_CrouchWalkA_R.106=all
Gun_CrouchWalkA_R.107=all
Gun_CrouchWalkA_R.108=all
Gun_CrouchWalkA_R.109=all
Gun_CrouchWalkA_R.110=all
Gun_CrouchWalkA_R.111=all
Gun_CrouchWalkA_R.112=all
Gun_CrouchWalkA_R.113=all
Gun_CrouchWalkA_R.114=all
Gun_CrouchWalkA_R.115=all
Gun_CrouchWalkA_R.116=all
Gun_CrouchWalkA_R.117=all
Gun_CrouchWalkA_R.118=all
Gun_CrouchWalkA_R.119=all
Gun_CrouchWalkA_R.120=all
Gun_CrouchWalkA_R.121=all
Gun_CrouchWalkA_R.122=all
Gun_CrouchWalkA_R.123=all
Gun_CrouchWalkA_R.124=all
Gun_CrouchWalkA_R.125=all
Gun_CrouchWalkA_R.126=all
Gun_CrouchWalkA_R.127=all
Gun_CrouchWalkA_R.128=all
Gun_CrouchWalkA_R.129=all
Gun_CrouchWalkA_R.130=all
Gun_CrouchWalkA_R.131=all
Gun_CrouchWalkA_R.132=all
Gun_CrouchWalkA_R.133=all
Gun_CrouchWalkA_R.134=all
Gun_CrouchWalkA_R.135=all
Gun_CrouchWalkA_R.136=all
Gun_CrouchWalkA_R.137=all
Gun_CrouchWalkA_R.138=all
Gun_CrouchWalkA_R.139=all
Gun_CrouchWalkA_R.140=all
Gun_CrouchWalkA_R.141=all
Gun_CrouchWalkA_R.142=all
Gun_CrouchWalkA_R.143=all
Gun_CrouchWalkA_R.144=all
Gun_CrouchWalkA_R.145=all
Gun_CrouchWalkA_R.146=all
Gun_CrouchWalkA_R.147=all
