
[RemoveTracks]
Gun_CrouchTurn.36=all
Gun_CrouchTurn.45=all
Gun_CrouchTurn.46=all
Gun_CrouchTurn.47=all
Gun_CrouchTurn.48=all
Gun_CrouchTurn.49=all
Gun_CrouchTurn.50=all
Gun_CrouchTurn.67=all
Gun_CrouchTurn.68=all
Gun_CrouchTurn.69=all
Gun_CrouchTurn.70=all
Gun_CrouchTurn.71=all
Gun_CrouchTurn.72=all
Gun_CrouchTurn.73=all
Gun_CrouchTurn.74=all
Gun_CrouchTurn.75=all
Gun_CrouchTurn.76=all
Gun_CrouchTurn.77=all
Gun_CrouchTurn.78=all
Gun_CrouchTurn.79=all
Gun_CrouchTurn.80=all
Gun_CrouchTurn.81=all
Gun_CrouchTurn.82=all
Gun_CrouchTurn.83=all
Gun_CrouchTurn.84=all
Gun_CrouchTurn.85=all
Gun_CrouchTurn.86=all
Gun_CrouchTurn.87=all
Gun_CrouchTurn.88=all
Gun_CrouchTurn.89=all
Gun_CrouchTurn.90=all
Gun_CrouchTurn.91=all
Gun_CrouchTurn.92=all
Gun_CrouchTurn.93=all
Gun_CrouchTurn.94=all
Gun_CrouchTurn.95=all
Gun_CrouchTurn.96=all
Gun_CrouchTurn.97=all
Gun_CrouchTurn.98=all
Gun_CrouchTurn.99=all
Gun_CrouchTurn.100=all
Gun_CrouchTurn.101=all
Gun_CrouchTurn.102=all
Gun_CrouchTurn.103=all
Gun_CrouchTurn.104=all
Gun_CrouchTurn.105=all
Gun_CrouchTurn.106=all
Gun_CrouchTurn.107=all
Gun_CrouchTurn.108=all
Gun_CrouchTurn.109=all
Gun_CrouchTurn.110=all
Gun_CrouchTurn.111=all
Gun_CrouchTurn.112=all
Gun_CrouchTurn.113=all
Gun_CrouchTurn.114=all
Gun_CrouchTurn.115=all
Gun_CrouchTurn.116=all
Gun_CrouchTurn.117=all
Gun_CrouchTurn.118=all
Gun_CrouchTurn.119=all
Gun_CrouchTurn.120=all
Gun_CrouchTurn.121=all
Gun_CrouchTurn.122=all
Gun_CrouchTurn.123=all
Gun_CrouchTurn.124=all
Gun_CrouchTurn.125=all
Gun_CrouchTurn.126=all
Gun_CrouchTurn.127=all
Gun_CrouchTurn.128=all
Gun_CrouchTurn.129=all
Gun_CrouchTurn.130=all
Gun_CrouchTurn.131=all
Gun_CrouchTurn.132=all
Gun_CrouchTurn.133=all
Gun_CrouchTurn.134=all
Gun_CrouchTurn.135=all
Gun_CrouchTurn.136=all
Gun_CrouchTurn.137=all
Gun_CrouchTurn.138=all
Gun_CrouchTurn.139=all
Gun_CrouchTurn.140=all
Gun_CrouchTurn.141=all
Gun_CrouchTurn.142=all
Gun_CrouchTurn.143=all
Gun_CrouchTurn.144=all
Gun_CrouchTurn.145=all
Gun_CrouchTurn.146=all
Gun_CrouchTurn.147=all
