
[RemoveTracks]
Gun_StandToCrouch.36=all
Gun_StandToCrouch.45=all
Gun_StandToCrouch.46=all
Gun_StandToCrouch.47=all
Gun_StandToCrouch.48=all
Gun_StandToCrouch.49=all
Gun_StandToCrouch.50=all
Gun_StandToCrouch.67=all
Gun_StandToCrouch.68=all
Gun_StandToCrouch.69=all
Gun_StandToCrouch.70=all
Gun_StandToCrouch.71=all
Gun_StandToCrouch.72=all
Gun_StandToCrouch.73=all
Gun_StandToCrouch.74=all
Gun_StandToCrouch.75=all
Gun_StandToCrouch.76=all
Gun_StandToCrouch.77=all
Gun_StandToCrouch.78=all
Gun_StandToCrouch.79=all
Gun_StandToCrouch.80=all
Gun_StandToCrouch.81=all
Gun_StandToCrouch.82=all
Gun_StandToCrouch.83=all
Gun_StandToCrouch.84=all
Gun_StandToCrouch.85=all
Gun_StandToCrouch.86=all
Gun_StandToCrouch.87=all
Gun_StandToCrouch.88=all
Gun_StandToCrouch.89=all
Gun_StandToCrouch.90=all
Gun_StandToCrouch.91=all
Gun_StandToCrouch.92=all
Gun_StandToCrouch.93=all
Gun_StandToCrouch.94=all
Gun_StandToCrouch.95=all
Gun_StandToCrouch.96=all
Gun_StandToCrouch.97=all
Gun_StandToCrouch.98=all
Gun_StandToCrouch.99=all
Gun_StandToCrouch.100=all
Gun_StandToCrouch.101=all
Gun_StandToCrouch.102=all
Gun_StandToCrouch.103=all
Gun_StandToCrouch.104=all
Gun_StandToCrouch.105=all
Gun_StandToCrouch.106=all
Gun_StandToCrouch.107=all
Gun_StandToCrouch.108=all
Gun_StandToCrouch.109=all
Gun_StandToCrouch.110=all
Gun_StandToCrouch.111=all
Gun_StandToCrouch.112=all
Gun_StandToCrouch.113=all
Gun_StandToCrouch.114=all
Gun_StandToCrouch.115=all
Gun_StandToCrouch.116=all
Gun_StandToCrouch.117=all
Gun_StandToCrouch.118=all
Gun_StandToCrouch.119=all
Gun_StandToCrouch.120=all
Gun_StandToCrouch.121=all
Gun_StandToCrouch.122=all
Gun_StandToCrouch.123=all
Gun_StandToCrouch.124=all
Gun_StandToCrouch.125=all
Gun_StandToCrouch.126=all
Gun_StandToCrouch.127=all
Gun_StandToCrouch.128=all
Gun_StandToCrouch.129=all
Gun_StandToCrouch.130=all
Gun_StandToCrouch.131=all
Gun_StandToCrouch.132=all
Gun_StandToCrouch.133=all
Gun_StandToCrouch.134=all
Gun_StandToCrouch.135=all
Gun_StandToCrouch.136=all
Gun_StandToCrouch.137=all
Gun_StandToCrouch.138=all
Gun_StandToCrouch.139=all
Gun_StandToCrouch.140=all
Gun_StandToCrouch.141=all
Gun_StandToCrouch.142=all
Gun_StandToCrouch.143=all
Gun_StandToCrouch.144=all
Gun_StandToCrouch.145=all
Gun_StandToCrouch.146=all
Gun_StandToCrouch.147=all
