
[RemoveTracks]
Gun_StandIdle.36=all
Gun_StandIdle.45=all
Gun_StandIdle.46=all
Gun_StandIdle.47=all
Gun_StandIdle.48=all
Gun_StandIdle.49=all
Gun_StandIdle.50=all
Gun_StandIdle.67=all
Gun_StandIdle.68=all
Gun_StandIdle.69=all
Gun_StandIdle.70=all
Gun_StandIdle.71=all
Gun_StandIdle.72=all
Gun_StandIdle.73=all
Gun_StandIdle.74=all
Gun_StandIdle.75=all
Gun_StandIdle.76=all
Gun_StandIdle.77=all
Gun_StandIdle.78=all
Gun_StandIdle.79=all
Gun_StandIdle.80=all
Gun_StandIdle.81=all
Gun_StandIdle.82=all
Gun_StandIdle.83=all
Gun_StandIdle.84=all
Gun_StandIdle.85=all
Gun_StandIdle.86=all
Gun_StandIdle.87=all
Gun_StandIdle.88=all
Gun_StandIdle.89=all
Gun_StandIdle.90=all
Gun_StandIdle.91=all
Gun_StandIdle.92=all
Gun_StandIdle.93=all
Gun_StandIdle.94=all
Gun_StandIdle.95=all
Gun_StandIdle.96=all
Gun_StandIdle.97=all
Gun_StandIdle.98=all
Gun_StandIdle.99=all
Gun_StandIdle.100=all
Gun_StandIdle.101=all
Gun_StandIdle.102=all
Gun_StandIdle.103=all
Gun_StandIdle.104=all
Gun_StandIdle.105=all
Gun_StandIdle.106=all
Gun_StandIdle.107=all
Gun_StandIdle.108=all
Gun_StandIdle.109=all
Gun_StandIdle.110=all
Gun_StandIdle.111=all
Gun_StandIdle.112=all
Gun_StandIdle.113=all
Gun_StandIdle.114=all
Gun_StandIdle.115=all
Gun_StandIdle.116=all
Gun_StandIdle.117=all
Gun_StandIdle.118=all
Gun_StandIdle.119=all
Gun_StandIdle.120=all
Gun_StandIdle.121=all
Gun_StandIdle.122=all
Gun_StandIdle.123=all
Gun_StandIdle.124=all
Gun_StandIdle.125=all
Gun_StandIdle.126=all
Gun_StandIdle.127=all
Gun_StandIdle.128=all
Gun_StandIdle.129=all
Gun_StandIdle.130=all
Gun_StandIdle.131=all
Gun_StandIdle.132=all
Gun_StandIdle.133=all
Gun_StandIdle.134=all
Gun_StandIdle.135=all
Gun_StandIdle.136=all
Gun_StandIdle.137=all
Gun_StandIdle.138=all
Gun_StandIdle.139=all
Gun_StandIdle.140=all
Gun_StandIdle.141=all
Gun_StandIdle.142=all
Gun_StandIdle.143=all
Gun_StandIdle.144=all
Gun_StandIdle.145=all
Gun_StandIdle.146=all
Gun_StandIdle.147=all
