
[RemoveTracks]
Gun_CrouchIdle.36=all
Gun_CrouchIdle.45=all
Gun_CrouchIdle.46=all
Gun_CrouchIdle.47=all
Gun_CrouchIdle.48=all
Gun_CrouchIdle.49=all
Gun_CrouchIdle.50=all
Gun_CrouchIdle.67=all
Gun_CrouchIdle.68=all
Gun_CrouchIdle.69=all
Gun_CrouchIdle.70=all
Gun_CrouchIdle.71=all
Gun_CrouchIdle.72=all
Gun_CrouchIdle.73=all
Gun_CrouchIdle.74=all
Gun_CrouchIdle.75=all
Gun_CrouchIdle.76=all
Gun_CrouchIdle.77=all
Gun_CrouchIdle.78=all
Gun_CrouchIdle.79=all
Gun_CrouchIdle.80=all
Gun_CrouchIdle.81=all
Gun_CrouchIdle.82=all
Gun_CrouchIdle.83=all
Gun_CrouchIdle.84=all
Gun_CrouchIdle.85=all
Gun_CrouchIdle.86=all
Gun_CrouchIdle.87=all
Gun_CrouchIdle.88=all
Gun_CrouchIdle.89=all
Gun_CrouchIdle.90=all
Gun_CrouchIdle.91=all
Gun_CrouchIdle.92=all
Gun_CrouchIdle.93=all
Gun_CrouchIdle.94=all
Gun_CrouchIdle.95=all
Gun_CrouchIdle.96=all
Gun_CrouchIdle.97=all
Gun_CrouchIdle.98=all
Gun_CrouchIdle.99=all
Gun_CrouchIdle.100=all
Gun_CrouchIdle.101=all
Gun_CrouchIdle.102=all
Gun_CrouchIdle.103=all
Gun_CrouchIdle.104=all
Gun_CrouchIdle.105=all
Gun_CrouchIdle.106=all
Gun_CrouchIdle.107=all
Gun_CrouchIdle.108=all
Gun_CrouchIdle.109=all
Gun_CrouchIdle.110=all
Gun_CrouchIdle.111=all
Gun_CrouchIdle.112=all
Gun_CrouchIdle.113=all
Gun_CrouchIdle.114=all
Gun_CrouchIdle.115=all
Gun_CrouchIdle.116=all
Gun_CrouchIdle.117=all
Gun_CrouchIdle.118=all
Gun_CrouchIdle.119=all
Gun_CrouchIdle.120=all
Gun_CrouchIdle.121=all
Gun_CrouchIdle.122=all
Gun_CrouchIdle.123=all
Gun_CrouchIdle.124=all
Gun_CrouchIdle.125=all
Gun_CrouchIdle.126=all
Gun_CrouchIdle.127=all
Gun_CrouchIdle.128=all
Gun_CrouchIdle.129=all
Gun_CrouchIdle.130=all
Gun_CrouchIdle.131=all
Gun_CrouchIdle.132=all
Gun_CrouchIdle.133=all
Gun_CrouchIdle.134=all
Gun_CrouchIdle.135=all
Gun_CrouchIdle.136=all
Gun_CrouchIdle.137=all
Gun_CrouchIdle.138=all
Gun_CrouchIdle.139=all
Gun_CrouchIdle.140=all
Gun_CrouchIdle.141=all
Gun_CrouchIdle.142=all
Gun_CrouchIdle.143=all
Gun_CrouchIdle.144=all
Gun_CrouchIdle.145=all
Gun_CrouchIdle.146=all
Gun_CrouchIdle.147=all
