[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Eye_a
C_Drill_a
C_TentacleA_a
C_TentacleA_b
C_TentacleA_c
C_TentacleB_a
C_TentacleB_b
C_TentacleB_c
R_TentacleA_a
R_TentacleA_b
R_TentacleA_c
R_TentacleB_a
R_TentacleB_b
R_TentacleB_c
L_TentacleA_a
L_TentacleA_b
L_TentacleA_c
L_TentacleB_a
L_TentacleB_b
L_TentacleB_c
C_HairA_a_Phy
C_HairA_b_Phy
C_HairA_c_Phy
R_HairA_a_Phy
R_HairA_b_Phy
R_HairA_c_Phy
L_HairA_a_Phy
L_HairA_b_Phy
L_HairA_c_Phy
