
[RemoveTracks]
AR2_StandIdle.36=all
AR2_StandIdle.45=all
AR2_StandIdle.46=all
AR2_StandIdle.47=all
AR2_StandIdle.48=all
AR2_StandIdle.49=all
AR2_StandIdle.50=all
AR2_StandIdle.51=all
AR2_StandIdle.52=all
AR2_StandIdle.53=all
AR2_StandIdle.54=all
AR2_StandIdle.55=all
AR2_StandIdle.56=all
AR2_StandIdle.57=all
AR2_StandIdle.58=all
AR2_StandIdle.59=all
AR2_StandIdle.60=all
AR2_StandIdle.61=all
AR2_StandIdle.62=all
AR2_StandIdle.63=all
AR2_StandIdle.64=all
AR2_StandIdle.65=all
AR2_StandIdle.66=all
AR2_StandIdle.67=all
AR2_StandIdle.68=all
AR2_StandIdle.69=all
AR2_StandIdle.70=all
AR2_StandIdle.71=all
AR2_StandIdle.72=all
AR2_StandIdle.73=all
AR2_StandIdle.74=all
AR2_StandIdle.75=all
AR2_StandIdle.76=all
AR2_StandIdle.77=all
AR2_StandIdle.78=all
AR2_StandIdle.79=all
AR2_StandIdle.80=all
AR2_StandIdle.81=all
AR2_StandIdle.82=all
AR2_StandIdle.83=all
AR2_StandIdle.84=all
AR2_StandIdle.85=all
AR2_StandIdle.86=all
AR2_StandIdle.87=all
AR2_StandIdle.88=all
AR2_StandIdle.89=all
AR2_StandIdle.90=all
AR2_StandIdle.91=all
AR2_StandIdle.92=all
AR2_StandIdle.93=all
AR2_StandIdle.94=all
AR2_StandIdle.95=all
AR2_StandIdle.96=all
AR2_StandIdle.97=all
AR2_StandIdle.98=all
AR2_StandIdle.99=all
AR2_StandIdle.100=all
AR2_StandIdle.101=all
AR2_StandIdle.102=all
AR2_StandIdle.103=all
AR2_StandIdle.104=all
AR2_StandIdle.105=all
AR2_StandIdle.106=all
AR2_StandIdle.107=all
AR2_StandIdle.108=all
AR2_StandIdle.109=all
AR2_StandIdle.110=all
AR2_StandIdle.111=all
AR2_StandIdle.112=all
AR2_StandIdle.113=all
AR2_StandIdle.114=all
AR2_StandIdle.115=all
AR2_StandIdle.116=all
AR2_StandIdle.117=all
AR2_StandIdle.118=all
AR2_StandIdle.119=all
AR2_StandIdle.120=all
AR2_StandIdle.121=all
AR2_StandIdle.122=all
AR2_StandIdle.123=all
AR2_StandIdle.124=all
AR2_StandIdle.125=all
AR2_StandIdle.126=all
AR2_StandIdle.127=all
AR2_StandIdle.128=all
AR2_StandIdle.129=all
AR2_StandIdle.130=all
AR2_StandIdle.131=all
AR2_StandIdle.132=all
AR2_StandIdle.133=all
AR2_StandIdle.134=all
AR2_StandIdle.135=all
AR2_StandIdle.136=all
AR2_StandIdle.137=all
AR2_StandIdle.138=all
AR2_StandIdle.139=all
AR2_StandIdle.140=all
AR2_StandIdle.141=all
AR2_StandIdle.142=all
AR2_StandIdle.143=all
AR2_StandIdle.144=all
AR2_StandIdle.145=all
AR2_StandIdle.146=all
AR2_StandIdle.147=all
