
[RemoveTracks]
AR2_ProneTurn_R.36=all
AR2_ProneTurn_R.45=all
AR2_ProneTurn_R.46=all
AR2_ProneTurn_R.47=all
AR2_ProneTurn_R.48=all
AR2_ProneTurn_R.49=all
AR2_ProneTurn_R.50=all
AR2_ProneTurn_R.51=all
AR2_ProneTurn_R.52=all
AR2_ProneTurn_R.53=all
AR2_ProneTurn_R.54=all
AR2_ProneTurn_R.55=all
AR2_ProneTurn_R.56=all
AR2_ProneTurn_R.57=all
AR2_ProneTurn_R.58=all
AR2_ProneTurn_R.59=all
AR2_ProneTurn_R.60=all
AR2_ProneTurn_R.61=all
AR2_ProneTurn_R.62=all
AR2_ProneTurn_R.63=all
AR2_ProneTurn_R.64=all
AR2_ProneTurn_R.65=all
AR2_ProneTurn_R.66=all
AR2_ProneTurn_R.67=all
AR2_ProneTurn_R.68=all
AR2_ProneTurn_R.69=all
AR2_ProneTurn_R.70=all
AR2_ProneTurn_R.71=all
AR2_ProneTurn_R.72=all
AR2_ProneTurn_R.73=all
AR2_ProneTurn_R.74=all
AR2_ProneTurn_R.75=all
AR2_ProneTurn_R.76=all
AR2_ProneTurn_R.77=all
AR2_ProneTurn_R.78=all
AR2_ProneTurn_R.79=all
AR2_ProneTurn_R.80=all
AR2_ProneTurn_R.81=all
AR2_ProneTurn_R.82=all
AR2_ProneTurn_R.83=all
AR2_ProneTurn_R.84=all
AR2_ProneTurn_R.85=all
AR2_ProneTurn_R.86=all
AR2_ProneTurn_R.87=all
AR2_ProneTurn_R.88=all
AR2_ProneTurn_R.89=all
AR2_ProneTurn_R.90=all
AR2_ProneTurn_R.91=all
AR2_ProneTurn_R.92=all
AR2_ProneTurn_R.93=all
AR2_ProneTurn_R.94=all
AR2_ProneTurn_R.95=all
AR2_ProneTurn_R.96=all
AR2_ProneTurn_R.97=all
AR2_ProneTurn_R.98=all
AR2_ProneTurn_R.99=all
AR2_ProneTurn_R.100=all
AR2_ProneTurn_R.101=all
AR2_ProneTurn_R.102=all
AR2_ProneTurn_R.103=all
AR2_ProneTurn_R.104=all
AR2_ProneTurn_R.105=all
AR2_ProneTurn_R.106=all
AR2_ProneTurn_R.108=all
AR2_ProneTurn_R.109=all
AR2_ProneTurn_R.110=all
AR2_ProneTurn_R.111=all
AR2_ProneTurn_R.112=all
AR2_ProneTurn_R.113=all
AR2_ProneTurn_R.114=all
AR2_ProneTurn_R.115=all
AR2_ProneTurn_R.116=all
AR2_ProneTurn_R.117=all
AR2_ProneTurn_R.118=all
AR2_ProneTurn_R.119=all
AR2_ProneTurn_R.120=all
AR2_ProneTurn_R.121=all
AR2_ProneTurn_R.122=all
AR2_ProneTurn_R.123=all
AR2_ProneTurn_R.124=all
AR2_ProneTurn_R.125=all
AR2_ProneTurn_R.126=all
AR2_ProneTurn_R.127=all
AR2_ProneTurn_R.128=all
AR2_ProneTurn_R.129=all
AR2_ProneTurn_R.130=all
AR2_ProneTurn_R.131=all
AR2_ProneTurn_R.132=all
AR2_ProneTurn_R.133=all
AR2_ProneTurn_R.134=all
AR2_ProneTurn_R.135=all
AR2_ProneTurn_R.136=all
AR2_ProneTurn_R.137=all
AR2_ProneTurn_R.138=all
AR2_ProneTurn_R.139=all
AR2_ProneTurn_R.140=all
AR2_ProneTurn_R.141=all
AR2_ProneTurn_R.142=all
AR2_ProneTurn_R.143=all
AR2_ProneTurn_R.144=all
AR2_ProneTurn_R.145=all
AR2_ProneTurn_R.146=all
AR2_ProneTurn_R.147=all
