
[RemoveTracks]
AR2_ProneIdle.36=all
AR2_ProneIdle.45=all
AR2_ProneIdle.46=all
AR2_ProneIdle.47=all
AR2_ProneIdle.48=all
AR2_ProneIdle.49=all
AR2_ProneIdle.50=all
AR2_ProneIdle.51=all
AR2_ProneIdle.52=all
AR2_ProneIdle.53=all
AR2_ProneIdle.54=all
AR2_ProneIdle.55=all
AR2_ProneIdle.56=all
AR2_ProneIdle.57=all
AR2_ProneIdle.58=all
AR2_ProneIdle.59=all
AR2_ProneIdle.60=all
AR2_ProneIdle.61=all
AR2_ProneIdle.62=all
AR2_ProneIdle.63=all
AR2_ProneIdle.64=all
AR2_ProneIdle.65=all
AR2_ProneIdle.66=all
AR2_ProneIdle.67=all
AR2_ProneIdle.68=all
AR2_ProneIdle.69=all
AR2_ProneIdle.70=all
AR2_ProneIdle.71=all
AR2_ProneIdle.72=all
AR2_ProneIdle.73=all
AR2_ProneIdle.74=all
AR2_ProneIdle.75=all
AR2_ProneIdle.76=all
AR2_ProneIdle.77=all
AR2_ProneIdle.78=all
AR2_ProneIdle.79=all
AR2_ProneIdle.80=all
AR2_ProneIdle.81=all
AR2_ProneIdle.82=all
AR2_ProneIdle.83=all
AR2_ProneIdle.84=all
AR2_ProneIdle.85=all
AR2_ProneIdle.86=all
AR2_ProneIdle.87=all
AR2_ProneIdle.88=all
AR2_ProneIdle.89=all
AR2_ProneIdle.90=all
AR2_ProneIdle.91=all
AR2_ProneIdle.92=all
AR2_ProneIdle.93=all
AR2_ProneIdle.94=all
AR2_ProneIdle.95=all
AR2_ProneIdle.96=all
AR2_ProneIdle.97=all
AR2_ProneIdle.98=all
AR2_ProneIdle.99=all
AR2_ProneIdle.100=all
AR2_ProneIdle.101=all
AR2_ProneIdle.102=all
AR2_ProneIdle.103=all
AR2_ProneIdle.104=all
AR2_ProneIdle.105=all
AR2_ProneIdle.106=all
AR2_ProneIdle.107=all
AR2_ProneIdle.108=all
AR2_ProneIdle.109=all
AR2_ProneIdle.110=all
AR2_ProneIdle.111=all
AR2_ProneIdle.112=all
AR2_ProneIdle.113=all
AR2_ProneIdle.114=all
AR2_ProneIdle.115=all
AR2_ProneIdle.116=all
AR2_ProneIdle.117=all
AR2_ProneIdle.118=all
AR2_ProneIdle.119=all
AR2_ProneIdle.120=all
AR2_ProneIdle.121=all
AR2_ProneIdle.122=all
AR2_ProneIdle.123=all
AR2_ProneIdle.124=all
AR2_ProneIdle.125=all
AR2_ProneIdle.126=all
AR2_ProneIdle.127=all
AR2_ProneIdle.128=all
AR2_ProneIdle.129=all
AR2_ProneIdle.130=all
AR2_ProneIdle.131=all
AR2_ProneIdle.132=all
AR2_ProneIdle.133=all
AR2_ProneIdle.134=all
AR2_ProneIdle.135=all
AR2_ProneIdle.136=all
AR2_ProneIdle.137=all
AR2_ProneIdle.138=all
AR2_ProneIdle.139=all
AR2_ProneIdle.140=all
AR2_ProneIdle.141=all
AR2_ProneIdle.142=all
AR2_ProneIdle.143=all
AR2_ProneIdle.144=all
AR2_ProneIdle.145=all
AR2_ProneIdle.146=all
AR2_ProneIdle.147=all
