
[RemoveTracks]
AR2_FireStand.1=all
AR2_FireStand.2=all
AR2_FireStand.37=all
AR2_FireStand.38=all
AR2_FireStand.39=all
AR2_FireStand.40=all
AR2_FireStand.41=all
AR2_FireStand.42=all
AR2_FireStand.43=all
AR2_FireStand.44=all
AR2_FireStand.48=all
AR2_FireStand.49=all
AR2_FireStand.50=all
AR2_FireStand.67=all
AR2_FireStand.68=all
AR2_FireStand.69=all
AR2_FireStand.70=all
AR2_FireStand.71=all
AR2_FireStand.72=all
AR2_FireStand.73=all
AR2_FireStand.74=all
AR2_FireStand.75=all
AR2_FireStand.76=all
AR2_FireStand.77=all
AR2_FireStand.78=all
AR2_FireStand.79=all
AR2_FireStand.80=all
AR2_FireStand.81=all
AR2_FireStand.82=all
AR2_FireStand.83=all
AR2_FireStand.84=all
AR2_FireStand.85=all
AR2_FireStand.86=all
AR2_FireStand.87=all
AR2_FireStand.88=all
AR2_FireStand.89=all
AR2_FireStand.90=all
AR2_FireStand.91=all
AR2_FireStand.92=all
AR2_FireStand.93=all
AR2_FireStand.94=all
AR2_FireStand.95=all
AR2_FireStand.96=all
AR2_FireStand.97=all
AR2_FireStand.98=all
AR2_FireStand.99=all
AR2_FireStand.100=all
AR2_FireStand.101=all
AR2_FireStand.102=all
AR2_FireStand.103=all
AR2_FireStand.104=all
AR2_FireStand.105=all
AR2_FireStand.106=all
AR2_FireStand.112=all
AR2_FireStand.113=all
AR2_FireStand.114=all
AR2_FireStand.115=all
AR2_FireStand.116=all
AR2_FireStand.117=all
AR2_FireStand.118=all
AR2_FireStand.119=all
AR2_FireStand.120=all
AR2_FireStand.121=all
AR2_FireStand.122=all
AR2_FireStand.123=all
AR2_FireStand.128=all
AR2_FireStand.129=all
AR2_FireStand.130=all
AR2_FireStand.131=all
AR2_FireStand.132=all
AR2_FireStand.133=all
AR2_FireStand.134=all
AR2_FireStand.137=all
AR2_FireStand.138=all
AR2_FireStand.139=all
AR2_FireStand.140=all
AR2_FireStand.141=all
AR2_FireStand.142=all
AR2_FireStand.143=all
AR2_FireStand.144=all
AR2_FireStand.145=all
AR2_FireStand.146=all
AR2_FireStand.147=all
