
[RemoveTracks]
AR2_FireProne.1=all
AR2_FireProne.2=all
AR2_FireProne.39=all
AR2_FireProne.40=all
AR2_FireProne.41=all
AR2_FireProne.42=all
AR2_FireProne.43=all
AR2_FireProne.44=all
AR2_FireProne.48=all
AR2_FireProne.49=all
AR2_FireProne.50=all
AR2_FireProne.69=all
AR2_FireProne.70=all
AR2_FireProne.71=all
AR2_FireProne.72=all
AR2_FireProne.73=all
AR2_FireProne.74=all
AR2_FireProne.75=all
AR2_FireProne.76=all
AR2_FireProne.77=all
AR2_FireProne.78=all
AR2_FireProne.79=all
AR2_FireProne.80=all
AR2_FireProne.81=all
AR2_FireProne.82=all
AR2_FireProne.83=all
AR2_FireProne.84=all
AR2_FireProne.85=all
AR2_FireProne.86=all
AR2_FireProne.87=all
AR2_FireProne.88=all
AR2_FireProne.91=all
AR2_FireProne.92=all
AR2_FireProne.93=all
AR2_FireProne.94=all
AR2_FireProne.95=all
AR2_FireProne.96=all
AR2_FireProne.98=all
AR2_FireProne.101=all
AR2_FireProne.102=all
AR2_FireProne.103=all
AR2_FireProne.104=all
AR2_FireProne.105=all
AR2_FireProne.106=all
AR2_FireProne.112=all
AR2_FireProne.113=all
AR2_FireProne.120=all
AR2_FireProne.121=all
AR2_FireProne.122=all
AR2_FireProne.123=all
AR2_FireProne.130=all
AR2_FireProne.131=all
AR2_FireProne.132=all
AR2_FireProne.133=all
AR2_FireProne.134=all
AR2_FireProne.137=all
AR2_FireProne.138=all
AR2_FireProne.139=all
AR2_FireProne.140=all
AR2_FireProne.141=all
AR2_FireProne.142=all
AR2_FireProne.143=all
AR2_FireProne.146=all
AR2_FireProne.147=all
