
[RemoveTracks]
AR2_CrouchToStand.36=all
AR2_CrouchToStand.45=all
AR2_CrouchToStand.46=all
AR2_CrouchToStand.47=all
AR2_CrouchToStand.48=all
AR2_CrouchToStand.49=all
AR2_CrouchToStand.50=all
AR2_CrouchToStand.51=all
AR2_CrouchToStand.52=all
AR2_CrouchToStand.53=all
AR2_CrouchToStand.54=all
AR2_CrouchToStand.55=all
AR2_CrouchToStand.56=all
AR2_CrouchToStand.57=all
AR2_CrouchToStand.58=all
AR2_CrouchToStand.59=all
AR2_CrouchToStand.60=all
AR2_CrouchToStand.61=all
AR2_CrouchToStand.62=all
AR2_CrouchToStand.63=all
AR2_CrouchToStand.64=all
AR2_CrouchToStand.65=all
AR2_CrouchToStand.66=all
AR2_CrouchToStand.67=all
AR2_CrouchToStand.68=all
AR2_CrouchToStand.69=all
AR2_CrouchToStand.70=all
AR2_CrouchToStand.71=all
AR2_CrouchToStand.72=all
AR2_CrouchToStand.73=all
AR2_CrouchToStand.74=all
AR2_CrouchToStand.75=all
AR2_CrouchToStand.76=all
AR2_CrouchToStand.77=all
AR2_CrouchToStand.78=all
AR2_CrouchToStand.79=all
AR2_CrouchToStand.80=all
AR2_CrouchToStand.81=all
AR2_CrouchToStand.82=all
AR2_CrouchToStand.83=all
AR2_CrouchToStand.84=all
AR2_CrouchToStand.85=all
AR2_CrouchToStand.86=all
AR2_CrouchToStand.87=all
AR2_CrouchToStand.88=all
AR2_CrouchToStand.89=all
AR2_CrouchToStand.90=all
AR2_CrouchToStand.91=all
AR2_CrouchToStand.92=all
AR2_CrouchToStand.93=all
AR2_CrouchToStand.94=all
AR2_CrouchToStand.95=all
AR2_CrouchToStand.96=all
AR2_CrouchToStand.97=all
AR2_CrouchToStand.98=all
AR2_CrouchToStand.99=all
AR2_CrouchToStand.100=all
AR2_CrouchToStand.101=all
AR2_CrouchToStand.102=all
AR2_CrouchToStand.103=all
AR2_CrouchToStand.104=all
AR2_CrouchToStand.105=all
AR2_CrouchToStand.106=all
AR2_CrouchToStand.107=all
AR2_CrouchToStand.108=all
AR2_CrouchToStand.109=all
AR2_CrouchToStand.110=all
AR2_CrouchToStand.111=all
AR2_CrouchToStand.112=all
AR2_CrouchToStand.113=all
AR2_CrouchToStand.114=all
AR2_CrouchToStand.115=all
AR2_CrouchToStand.116=all
AR2_CrouchToStand.117=all
AR2_CrouchToStand.118=all
AR2_CrouchToStand.119=all
AR2_CrouchToStand.120=all
AR2_CrouchToStand.121=all
AR2_CrouchToStand.122=all
AR2_CrouchToStand.123=all
AR2_CrouchToStand.124=all
AR2_CrouchToStand.125=all
AR2_CrouchToStand.126=all
AR2_CrouchToStand.127=all
AR2_CrouchToStand.128=all
AR2_CrouchToStand.129=all
AR2_CrouchToStand.130=all
AR2_CrouchToStand.131=all
AR2_CrouchToStand.132=all
AR2_CrouchToStand.133=all
AR2_CrouchToStand.134=all
AR2_CrouchToStand.135=all
AR2_CrouchToStand.136=all
AR2_CrouchToStand.137=all
AR2_CrouchToStand.138=all
AR2_CrouchToStand.139=all
AR2_CrouchToStand.140=all
AR2_CrouchToStand.141=all
AR2_CrouchToStand.142=all
AR2_CrouchToStand.143=all
AR2_CrouchToStand.144=all
AR2_CrouchToStand.145=all
AR2_CrouchToStand.146=all
AR2_CrouchToStand.147=all
