
[RemoveTracks]
AR2_CrouchTurn_L.36=all
AR2_CrouchTurn_L.45=all
AR2_CrouchTurn_L.46=all
AR2_CrouchTurn_L.47=all
AR2_CrouchTurn_L.48=all
AR2_CrouchTurn_L.49=all
AR2_CrouchTurn_L.50=all
AR2_CrouchTurn_L.51=all
AR2_CrouchTurn_L.52=all
AR2_CrouchTurn_L.53=all
AR2_CrouchTurn_L.54=all
AR2_CrouchTurn_L.55=all
AR2_CrouchTurn_L.56=all
AR2_CrouchTurn_L.57=all
AR2_CrouchTurn_L.58=all
AR2_CrouchTurn_L.59=all
AR2_CrouchTurn_L.60=all
AR2_CrouchTurn_L.61=all
AR2_CrouchTurn_L.62=all
AR2_CrouchTurn_L.63=all
AR2_CrouchTurn_L.64=all
AR2_CrouchTurn_L.65=all
AR2_CrouchTurn_L.66=all
AR2_CrouchTurn_L.67=all
AR2_CrouchTurn_L.68=all
AR2_CrouchTurn_L.69=all
AR2_CrouchTurn_L.70=all
AR2_CrouchTurn_L.71=all
AR2_CrouchTurn_L.72=all
AR2_CrouchTurn_L.73=all
AR2_CrouchTurn_L.74=all
AR2_CrouchTurn_L.75=all
AR2_CrouchTurn_L.76=all
AR2_CrouchTurn_L.77=all
AR2_CrouchTurn_L.78=all
AR2_CrouchTurn_L.79=all
AR2_CrouchTurn_L.80=all
AR2_CrouchTurn_L.81=all
AR2_CrouchTurn_L.82=all
AR2_CrouchTurn_L.83=all
AR2_CrouchTurn_L.84=all
AR2_CrouchTurn_L.85=all
AR2_CrouchTurn_L.86=all
AR2_CrouchTurn_L.87=all
AR2_CrouchTurn_L.88=all
AR2_CrouchTurn_L.89=all
AR2_CrouchTurn_L.90=all
AR2_CrouchTurn_L.91=all
AR2_CrouchTurn_L.92=all
AR2_CrouchTurn_L.93=all
AR2_CrouchTurn_L.94=all
AR2_CrouchTurn_L.95=all
AR2_CrouchTurn_L.96=all
AR2_CrouchTurn_L.97=all
AR2_CrouchTurn_L.98=all
AR2_CrouchTurn_L.99=all
AR2_CrouchTurn_L.100=all
AR2_CrouchTurn_L.101=all
AR2_CrouchTurn_L.102=all
AR2_CrouchTurn_L.103=all
AR2_CrouchTurn_L.104=all
AR2_CrouchTurn_L.105=all
AR2_CrouchTurn_L.106=all
AR2_CrouchTurn_L.108=all
AR2_CrouchTurn_L.109=all
AR2_CrouchTurn_L.110=all
AR2_CrouchTurn_L.111=all
AR2_CrouchTurn_L.112=all
AR2_CrouchTurn_L.113=all
AR2_CrouchTurn_L.114=all
AR2_CrouchTurn_L.115=all
AR2_CrouchTurn_L.116=all
AR2_CrouchTurn_L.117=all
AR2_CrouchTurn_L.118=all
AR2_CrouchTurn_L.119=all
AR2_CrouchTurn_L.120=all
AR2_CrouchTurn_L.121=all
AR2_CrouchTurn_L.122=all
AR2_CrouchTurn_L.123=all
AR2_CrouchTurn_L.124=all
AR2_CrouchTurn_L.125=all
AR2_CrouchTurn_L.126=all
AR2_CrouchTurn_L.127=all
AR2_CrouchTurn_L.128=all
AR2_CrouchTurn_L.129=all
AR2_CrouchTurn_L.130=all
AR2_CrouchTurn_L.131=all
AR2_CrouchTurn_L.132=all
AR2_CrouchTurn_L.133=all
AR2_CrouchTurn_L.134=all
AR2_CrouchTurn_L.135=all
AR2_CrouchTurn_L.136=all
AR2_CrouchTurn_L.137=all
AR2_CrouchTurn_L.138=all
AR2_CrouchTurn_L.139=all
AR2_CrouchTurn_L.140=all
AR2_CrouchTurn_L.141=all
AR2_CrouchTurn_L.142=all
AR2_CrouchTurn_L.143=all
AR2_CrouchTurn_L.144=all
AR2_CrouchTurn_L.145=all
AR2_CrouchTurn_L.146=all
AR2_CrouchTurn_L.147=all
