
[RemoveTracks]
AR2_StandTurn.36=all
AR2_StandTurn.45=all
AR2_StandTurn.46=all
AR2_StandTurn.47=all
AR2_StandTurn.48=all
AR2_StandTurn.49=all
AR2_StandTurn.50=all
AR2_StandTurn.51=all
AR2_StandTurn.52=all
AR2_StandTurn.53=all
AR2_StandTurn.54=all
AR2_StandTurn.55=all
AR2_StandTurn.56=all
AR2_StandTurn.57=all
AR2_StandTurn.58=all
AR2_StandTurn.59=all
AR2_StandTurn.60=all
AR2_StandTurn.61=all
AR2_StandTurn.62=all
AR2_StandTurn.63=all
AR2_StandTurn.64=all
AR2_StandTurn.65=all
AR2_StandTurn.66=all
AR2_StandTurn.67=all
AR2_StandTurn.68=all
AR2_StandTurn.69=all
AR2_StandTurn.70=all
AR2_StandTurn.71=all
AR2_StandTurn.72=all
AR2_StandTurn.73=all
AR2_StandTurn.74=all
AR2_StandTurn.75=all
AR2_StandTurn.76=all
AR2_StandTurn.77=all
AR2_StandTurn.78=all
AR2_StandTurn.79=all
AR2_StandTurn.80=all
AR2_StandTurn.81=all
AR2_StandTurn.82=all
AR2_StandTurn.83=all
AR2_StandTurn.84=all
AR2_StandTurn.85=all
AR2_StandTurn.86=all
AR2_StandTurn.87=all
AR2_StandTurn.88=all
AR2_StandTurn.89=all
AR2_StandTurn.90=all
AR2_StandTurn.91=all
AR2_StandTurn.92=all
AR2_StandTurn.93=all
AR2_StandTurn.94=all
AR2_StandTurn.95=all
AR2_StandTurn.96=all
AR2_StandTurn.97=all
AR2_StandTurn.98=all
AR2_StandTurn.99=all
AR2_StandTurn.100=all
AR2_StandTurn.101=all
AR2_StandTurn.102=all
AR2_StandTurn.103=all
AR2_StandTurn.104=all
AR2_StandTurn.105=all
AR2_StandTurn.106=all
AR2_StandTurn.107=all
AR2_StandTurn.108=all
AR2_StandTurn.109=all
AR2_StandTurn.110=all
AR2_StandTurn.111=all
AR2_StandTurn.112=all
AR2_StandTurn.113=all
AR2_StandTurn.114=all
AR2_StandTurn.115=all
AR2_StandTurn.116=all
AR2_StandTurn.117=all
AR2_StandTurn.118=all
AR2_StandTurn.119=all
AR2_StandTurn.120=all
AR2_StandTurn.121=all
AR2_StandTurn.122=all
AR2_StandTurn.123=all
AR2_StandTurn.124=all
AR2_StandTurn.125=all
AR2_StandTurn.126=all
AR2_StandTurn.127=all
AR2_StandTurn.128=all
AR2_StandTurn.129=all
AR2_StandTurn.130=all
AR2_StandTurn.131=all
AR2_StandTurn.132=all
AR2_StandTurn.133=all
AR2_StandTurn.134=all
AR2_StandTurn.135=all
AR2_StandTurn.136=all
AR2_StandTurn.137=all
AR2_StandTurn.138=all
AR2_StandTurn.139=all
AR2_StandTurn.140=all
AR2_StandTurn.141=all
AR2_StandTurn.142=all
AR2_StandTurn.143=all
AR2_StandTurn.144=all
AR2_StandTurn.145=all
AR2_StandTurn.146=all
AR2_StandTurn.147=all
