
[RemoveTracks]
AR2_CrouchIdle.36=all
AR2_CrouchIdle.45=all
AR2_CrouchIdle.46=all
AR2_CrouchIdle.47=all
AR2_CrouchIdle.48=all
AR2_CrouchIdle.49=all
AR2_CrouchIdle.50=all
AR2_CrouchIdle.51=all
AR2_CrouchIdle.52=all
AR2_CrouchIdle.53=all
AR2_CrouchIdle.54=all
AR2_CrouchIdle.55=all
AR2_CrouchIdle.56=all
AR2_CrouchIdle.57=all
AR2_CrouchIdle.58=all
AR2_CrouchIdle.59=all
AR2_CrouchIdle.60=all
AR2_CrouchIdle.61=all
AR2_CrouchIdle.62=all
AR2_CrouchIdle.63=all
AR2_CrouchIdle.64=all
AR2_CrouchIdle.65=all
AR2_CrouchIdle.66=all
AR2_CrouchIdle.67=all
AR2_CrouchIdle.68=all
AR2_CrouchIdle.69=all
AR2_CrouchIdle.70=all
AR2_CrouchIdle.71=all
AR2_CrouchIdle.72=all
AR2_CrouchIdle.73=all
AR2_CrouchIdle.74=all
AR2_CrouchIdle.75=all
AR2_CrouchIdle.76=all
AR2_CrouchIdle.77=all
AR2_CrouchIdle.78=all
AR2_CrouchIdle.79=all
AR2_CrouchIdle.80=all
AR2_CrouchIdle.81=all
AR2_CrouchIdle.82=all
AR2_CrouchIdle.83=all
AR2_CrouchIdle.84=all
AR2_CrouchIdle.85=all
AR2_CrouchIdle.86=all
AR2_CrouchIdle.87=all
AR2_CrouchIdle.88=all
AR2_CrouchIdle.89=all
AR2_CrouchIdle.90=all
AR2_CrouchIdle.91=all
AR2_CrouchIdle.92=all
AR2_CrouchIdle.93=all
AR2_CrouchIdle.94=all
AR2_CrouchIdle.95=all
AR2_CrouchIdle.96=all
AR2_CrouchIdle.97=all
AR2_CrouchIdle.98=all
AR2_CrouchIdle.99=all
AR2_CrouchIdle.100=all
AR2_CrouchIdle.101=all
AR2_CrouchIdle.102=all
AR2_CrouchIdle.103=all
AR2_CrouchIdle.104=all
AR2_CrouchIdle.105=all
AR2_CrouchIdle.106=all
AR2_CrouchIdle.107=all
AR2_CrouchIdle.108=all
AR2_CrouchIdle.109=all
AR2_CrouchIdle.110=all
AR2_CrouchIdle.111=all
AR2_CrouchIdle.112=all
AR2_CrouchIdle.113=all
AR2_CrouchIdle.114=all
AR2_CrouchIdle.115=all
AR2_CrouchIdle.116=all
AR2_CrouchIdle.117=all
AR2_CrouchIdle.118=all
AR2_CrouchIdle.119=all
AR2_CrouchIdle.120=all
AR2_CrouchIdle.121=all
AR2_CrouchIdle.122=all
AR2_CrouchIdle.123=all
AR2_CrouchIdle.124=all
AR2_CrouchIdle.125=all
AR2_CrouchIdle.126=all
AR2_CrouchIdle.127=all
AR2_CrouchIdle.128=all
AR2_CrouchIdle.129=all
AR2_CrouchIdle.130=all
AR2_CrouchIdle.131=all
AR2_CrouchIdle.132=all
AR2_CrouchIdle.133=all
AR2_CrouchIdle.134=all
AR2_CrouchIdle.135=all
AR2_CrouchIdle.136=all
AR2_CrouchIdle.137=all
AR2_CrouchIdle.138=all
AR2_CrouchIdle.139=all
AR2_CrouchIdle.140=all
AR2_CrouchIdle.141=all
AR2_CrouchIdle.142=all
AR2_CrouchIdle.143=all
AR2_CrouchIdle.144=all
AR2_CrouchIdle.145=all
AR2_CrouchIdle.146=all
AR2_CrouchIdle.147=all
