
[RemoveTracks]
LMG_CrouchToStand.36=all
LMG_CrouchToStand.45=all
LMG_CrouchToStand.46=all
LMG_CrouchToStand.47=all
LMG_CrouchToStand.48=all
LMG_CrouchToStand.49=all
LMG_CrouchToStand.50=all
LMG_CrouchToStand.67=all
LMG_CrouchToStand.68=all
LMG_CrouchToStand.69=all
LMG_CrouchToStand.70=all
LMG_CrouchToStand.71=all
LMG_CrouchToStand.72=all
LMG_CrouchToStand.73=all
LMG_CrouchToStand.74=all
LMG_CrouchToStand.75=all
LMG_CrouchToStand.76=all
LMG_CrouchToStand.77=all
LMG_CrouchToStand.78=all
LMG_CrouchToStand.79=all
LMG_CrouchToStand.80=all
LMG_CrouchToStand.81=all
LMG_CrouchToStand.82=all
LMG_CrouchToStand.83=all
LMG_CrouchToStand.84=all
LMG_CrouchToStand.85=all
LMG_CrouchToStand.86=all
LMG_CrouchToStand.87=all
LMG_CrouchToStand.88=all
LMG_CrouchToStand.89=all
LMG_CrouchToStand.90=all
LMG_CrouchToStand.91=all
LMG_CrouchToStand.92=all
LMG_CrouchToStand.93=all
LMG_CrouchToStand.94=all
LMG_CrouchToStand.95=all
LMG_CrouchToStand.96=all
LMG_CrouchToStand.97=all
LMG_CrouchToStand.98=all
LMG_CrouchToStand.99=all
LMG_CrouchToStand.100=all
LMG_CrouchToStand.101=all
LMG_CrouchToStand.102=all
LMG_CrouchToStand.103=all
LMG_CrouchToStand.104=all
LMG_CrouchToStand.105=all
LMG_CrouchToStand.106=all
LMG_CrouchToStand.107=all
LMG_CrouchToStand.108=all
LMG_CrouchToStand.109=all
LMG_CrouchToStand.110=all
LMG_CrouchToStand.111=all
LMG_CrouchToStand.112=all
LMG_CrouchToStand.113=all
LMG_CrouchToStand.114=all
LMG_CrouchToStand.115=all
LMG_CrouchToStand.116=all
LMG_CrouchToStand.117=all
LMG_CrouchToStand.118=all
LMG_CrouchToStand.119=all
LMG_CrouchToStand.120=all
LMG_CrouchToStand.121=all
LMG_CrouchToStand.122=all
LMG_CrouchToStand.123=all
LMG_CrouchToStand.124=all
LMG_CrouchToStand.125=all
LMG_CrouchToStand.126=all
LMG_CrouchToStand.127=all
LMG_CrouchToStand.128=all
LMG_CrouchToStand.129=all
LMG_CrouchToStand.130=all
LMG_CrouchToStand.131=all
LMG_CrouchToStand.132=all
LMG_CrouchToStand.133=all
LMG_CrouchToStand.134=all
LMG_CrouchToStand.135=all
LMG_CrouchToStand.136=all
LMG_CrouchToStand.137=all
LMG_CrouchToStand.138=all
LMG_CrouchToStand.139=all
LMG_CrouchToStand.140=all
LMG_CrouchToStand.141=all
LMG_CrouchToStand.142=all
LMG_CrouchToStand.143=all
LMG_CrouchToStand.144=all
LMG_CrouchToStand.145=all
LMG_CrouchToStand.146=all
LMG_CrouchToStand.147=all
