
[RemoveTracks]
LMG_StandIdle.36=all
LMG_StandIdle.45=all
LMG_StandIdle.46=all
LMG_StandIdle.47=all
LMG_StandIdle.48=all
LMG_StandIdle.49=all
LMG_StandIdle.50=all
LMG_StandIdle.67=all
LMG_StandIdle.68=all
LMG_StandIdle.69=all
LMG_StandIdle.70=all
LMG_StandIdle.71=all
LMG_StandIdle.72=all
LMG_StandIdle.73=all
LMG_StandIdle.74=all
LMG_StandIdle.75=all
LMG_StandIdle.76=all
LMG_StandIdle.77=all
LMG_StandIdle.78=all
LMG_StandIdle.79=all
LMG_StandIdle.80=all
LMG_StandIdle.81=all
LMG_StandIdle.82=all
LMG_StandIdle.83=all
LMG_StandIdle.84=all
LMG_StandIdle.85=all
LMG_StandIdle.86=all
LMG_StandIdle.87=all
LMG_StandIdle.88=all
LMG_StandIdle.89=all
LMG_StandIdle.90=all
LMG_StandIdle.91=all
LMG_StandIdle.92=all
LMG_StandIdle.93=all
LMG_StandIdle.94=all
LMG_StandIdle.95=all
LMG_StandIdle.96=all
LMG_StandIdle.97=all
LMG_StandIdle.98=all
LMG_StandIdle.99=all
LMG_StandIdle.100=all
LMG_StandIdle.101=all
LMG_StandIdle.102=all
LMG_StandIdle.103=all
LMG_StandIdle.104=all
LMG_StandIdle.105=all
LMG_StandIdle.106=all
LMG_StandIdle.107=all
LMG_StandIdle.108=all
LMG_StandIdle.109=all
LMG_StandIdle.110=all
LMG_StandIdle.111=all
LMG_StandIdle.112=all
LMG_StandIdle.113=all
LMG_StandIdle.114=all
LMG_StandIdle.115=all
LMG_StandIdle.116=all
LMG_StandIdle.117=all
LMG_StandIdle.118=all
LMG_StandIdle.119=all
LMG_StandIdle.120=all
LMG_StandIdle.121=all
LMG_StandIdle.122=all
LMG_StandIdle.123=all
LMG_StandIdle.124=all
LMG_StandIdle.125=all
LMG_StandIdle.126=all
LMG_StandIdle.127=all
LMG_StandIdle.128=all
LMG_StandIdle.129=all
LMG_StandIdle.130=all
LMG_StandIdle.131=all
LMG_StandIdle.132=all
LMG_StandIdle.133=all
LMG_StandIdle.134=all
LMG_StandIdle.135=all
LMG_StandIdle.136=all
LMG_StandIdle.137=all
LMG_StandIdle.138=all
LMG_StandIdle.139=all
LMG_StandIdle.140=all
LMG_StandIdle.141=all
LMG_StandIdle.142=all
LMG_StandIdle.143=all
LMG_StandIdle.144=all
LMG_StandIdle.145=all
LMG_StandIdle.146=all
LMG_StandIdle.147=all
