
[RemoveTracks]
LMG_ProneIdle_D.1=all
LMG_ProneIdle_D.2=all
LMG_ProneIdle_D.3=all
LMG_ProneIdle_D.4=all
LMG_ProneIdle_D.5=all
LMG_ProneIdle_D.6=all
LMG_ProneIdle_D.7=all
LMG_ProneIdle_D.8=all
LMG_ProneIdle_D.9=all
LMG_ProneIdle_D.10=all
LMG_ProneIdle_D.11=all
LMG_ProneIdle_D.12=all
LMG_ProneIdle_D.13=all
LMG_ProneIdle_D.14=all
LMG_ProneIdle_D.15=all
LMG_ProneIdle_D.16=all
LMG_ProneIdle_D.17=all
LMG_ProneIdle_D.18=all
LMG_ProneIdle_D.19=all
LMG_ProneIdle_D.20=all
LMG_ProneIdle_D.24=all
LMG_ProneIdle_D.25=all
LMG_ProneIdle_D.26=all
LMG_ProneIdle_D.27=all
LMG_ProneIdle_D.28=all
LMG_ProneIdle_D.29=all
LMG_ProneIdle_D.30=all
LMG_ProneIdle_D.31=all
LMG_ProneIdle_D.32=all
LMG_ProneIdle_D.33=all
LMG_ProneIdle_D.34=all
LMG_ProneIdle_D.35=all
LMG_ProneIdle_D.37=all
LMG_ProneIdle_D.38=all
LMG_ProneIdle_D.39=all
LMG_ProneIdle_D.40=all
LMG_ProneIdle_D.41=all
LMG_ProneIdle_D.42=all
LMG_ProneIdle_D.43=all
LMG_ProneIdle_D.44=all
LMG_ProneIdle_D.45=all
LMG_ProneIdle_D.46=all
LMG_ProneIdle_D.47=all
LMG_ProneIdle_D.48=all
LMG_ProneIdle_D.49=all
LMG_ProneIdle_D.50=all
LMG_ProneIdle_D.51=all
LMG_ProneIdle_D.52=all
LMG_ProneIdle_D.53=all
LMG_ProneIdle_D.54=all
LMG_ProneIdle_D.55=all
LMG_ProneIdle_D.56=all
LMG_ProneIdle_D.57=all
LMG_ProneIdle_D.58=all
LMG_ProneIdle_D.59=all
LMG_ProneIdle_D.60=all
LMG_ProneIdle_D.61=all
LMG_ProneIdle_D.62=all
LMG_ProneIdle_D.63=all
LMG_ProneIdle_D.64=all
LMG_ProneIdle_D.65=all
LMG_ProneIdle_D.66=all
LMG_ProneIdle_D.67=all
LMG_ProneIdle_D.68=all
LMG_ProneIdle_D.69=all
LMG_ProneIdle_D.70=all
LMG_ProneIdle_D.71=all
LMG_ProneIdle_D.72=all
LMG_ProneIdle_D.73=all
LMG_ProneIdle_D.74=all
LMG_ProneIdle_D.75=all
LMG_ProneIdle_D.76=all
LMG_ProneIdle_D.77=all
LMG_ProneIdle_D.78=all
LMG_ProneIdle_D.79=all
LMG_ProneIdle_D.80=all
LMG_ProneIdle_D.81=all
LMG_ProneIdle_D.82=all
LMG_ProneIdle_D.83=all
LMG_ProneIdle_D.84=all
LMG_ProneIdle_D.85=all
LMG_ProneIdle_D.86=all
LMG_ProneIdle_D.87=all
LMG_ProneIdle_D.88=all
LMG_ProneIdle_D.89=all
LMG_ProneIdle_D.90=all
LMG_ProneIdle_D.91=all
LMG_ProneIdle_D.92=all
LMG_ProneIdle_D.93=all
LMG_ProneIdle_D.94=all
LMG_ProneIdle_D.95=all
LMG_ProneIdle_D.96=all
LMG_ProneIdle_D.97=all
LMG_ProneIdle_D.98=all
LMG_ProneIdle_D.99=all
LMG_ProneIdle_D.100=all
LMG_ProneIdle_D.101=all
LMG_ProneIdle_D.102=all
LMG_ProneIdle_D.103=all
LMG_ProneIdle_D.104=all
LMG_ProneIdle_D.105=all
LMG_ProneIdle_D.106=all
LMG_ProneIdle_D.107=all
LMG_ProneIdle_D.108=all
LMG_ProneIdle_D.109=all
LMG_ProneIdle_D.110=all
LMG_ProneIdle_D.111=all
LMG_ProneIdle_D.112=all
LMG_ProneIdle_D.113=all
LMG_ProneIdle_D.114=all
LMG_ProneIdle_D.115=all
LMG_ProneIdle_D.116=all
LMG_ProneIdle_D.117=all
LMG_ProneIdle_D.118=all
LMG_ProneIdle_D.119=all
LMG_ProneIdle_D.120=all
LMG_ProneIdle_D.121=all
LMG_ProneIdle_D.122=all
LMG_ProneIdle_D.123=all
LMG_ProneIdle_D.124=all
LMG_ProneIdle_D.125=all
LMG_ProneIdle_D.126=all
LMG_ProneIdle_D.127=all
LMG_ProneIdle_D.128=all
LMG_ProneIdle_D.129=all
LMG_ProneIdle_D.130=all
LMG_ProneIdle_D.131=all
LMG_ProneIdle_D.132=all
LMG_ProneIdle_D.133=all
LMG_ProneIdle_D.134=all
LMG_ProneIdle_D.135=all
LMG_ProneIdle_D.136=all
LMG_ProneIdle_D.137=all
LMG_ProneIdle_D.138=all
LMG_ProneIdle_D.139=all
LMG_ProneIdle_D.140=all
LMG_ProneIdle_D.141=all
LMG_ProneIdle_D.142=all
LMG_ProneIdle_D.143=all
LMG_ProneIdle_D.144=all
LMG_ProneIdle_D.145=all
LMG_ProneIdle_D.146=all
LMG_ProneIdle_D.147=all
