
[RemoveTracks]
LMG_StandTurn.36=all
LMG_StandTurn.45=all
LMG_StandTurn.46=all
LMG_StandTurn.47=all
LMG_StandTurn.48=all
LMG_StandTurn.49=all
LMG_StandTurn.50=all
LMG_StandTurn.67=all
LMG_StandTurn.68=all
LMG_StandTurn.69=all
LMG_StandTurn.70=all
LMG_StandTurn.71=all
LMG_StandTurn.72=all
LMG_StandTurn.73=all
LMG_StandTurn.74=all
LMG_StandTurn.75=all
LMG_StandTurn.76=all
LMG_StandTurn.77=all
LMG_StandTurn.78=all
LMG_StandTurn.79=all
LMG_StandTurn.80=all
LMG_StandTurn.81=all
LMG_StandTurn.82=all
LMG_StandTurn.83=all
LMG_StandTurn.84=all
LMG_StandTurn.85=all
LMG_StandTurn.86=all
LMG_StandTurn.87=all
LMG_StandTurn.88=all
LMG_StandTurn.89=all
LMG_StandTurn.90=all
LMG_StandTurn.91=all
LMG_StandTurn.92=all
LMG_StandTurn.93=all
LMG_StandTurn.94=all
LMG_StandTurn.95=all
LMG_StandTurn.96=all
LMG_StandTurn.97=all
LMG_StandTurn.98=all
LMG_StandTurn.99=all
LMG_StandTurn.100=all
LMG_StandTurn.101=all
LMG_StandTurn.102=all
LMG_StandTurn.103=all
LMG_StandTurn.104=all
LMG_StandTurn.105=all
LMG_StandTurn.106=all
LMG_StandTurn.107=all
LMG_StandTurn.108=all
LMG_StandTurn.109=all
LMG_StandTurn.110=all
LMG_StandTurn.111=all
LMG_StandTurn.112=all
LMG_StandTurn.113=all
LMG_StandTurn.114=all
LMG_StandTurn.115=all
LMG_StandTurn.116=all
LMG_StandTurn.117=all
LMG_StandTurn.118=all
LMG_StandTurn.119=all
LMG_StandTurn.120=all
LMG_StandTurn.121=all
LMG_StandTurn.122=all
LMG_StandTurn.123=all
LMG_StandTurn.124=all
LMG_StandTurn.125=all
LMG_StandTurn.126=all
LMG_StandTurn.127=all
LMG_StandTurn.128=all
LMG_StandTurn.129=all
LMG_StandTurn.130=all
LMG_StandTurn.131=all
LMG_StandTurn.132=all
LMG_StandTurn.133=all
LMG_StandTurn.134=all
LMG_StandTurn.135=all
LMG_StandTurn.136=all
LMG_StandTurn.137=all
LMG_StandTurn.138=all
LMG_StandTurn.139=all
LMG_StandTurn.140=all
LMG_StandTurn.141=all
LMG_StandTurn.142=all
LMG_StandTurn.143=all
LMG_StandTurn.144=all
LMG_StandTurn.145=all
LMG_StandTurn.146=all
LMG_StandTurn.147=all
