
[RemoveTracks]
LMG_CrouchIdle.36=all
LMG_CrouchIdle.45=all
LMG_CrouchIdle.46=all
LMG_CrouchIdle.47=all
LMG_CrouchIdle.48=all
LMG_CrouchIdle.49=all
LMG_CrouchIdle.50=all
LMG_CrouchIdle.67=all
LMG_CrouchIdle.68=all
LMG_CrouchIdle.69=all
LMG_CrouchIdle.70=all
LMG_CrouchIdle.71=all
LMG_CrouchIdle.72=all
LMG_CrouchIdle.73=all
LMG_CrouchIdle.74=all
LMG_CrouchIdle.75=all
LMG_CrouchIdle.76=all
LMG_CrouchIdle.77=all
LMG_CrouchIdle.78=all
LMG_CrouchIdle.79=all
LMG_CrouchIdle.80=all
LMG_CrouchIdle.81=all
LMG_CrouchIdle.82=all
LMG_CrouchIdle.83=all
LMG_CrouchIdle.84=all
LMG_CrouchIdle.85=all
LMG_CrouchIdle.86=all
LMG_CrouchIdle.87=all
LMG_CrouchIdle.88=all
LMG_CrouchIdle.89=all
LMG_CrouchIdle.90=all
LMG_CrouchIdle.91=all
LMG_CrouchIdle.92=all
LMG_CrouchIdle.93=all
LMG_CrouchIdle.94=all
LMG_CrouchIdle.95=all
LMG_CrouchIdle.96=all
LMG_CrouchIdle.97=all
LMG_CrouchIdle.98=all
LMG_CrouchIdle.99=all
LMG_CrouchIdle.100=all
LMG_CrouchIdle.101=all
LMG_CrouchIdle.102=all
LMG_CrouchIdle.103=all
LMG_CrouchIdle.104=all
LMG_CrouchIdle.105=all
LMG_CrouchIdle.106=all
LMG_CrouchIdle.107=all
LMG_CrouchIdle.108=all
LMG_CrouchIdle.109=all
LMG_CrouchIdle.110=all
LMG_CrouchIdle.111=all
LMG_CrouchIdle.112=all
LMG_CrouchIdle.113=all
LMG_CrouchIdle.114=all
LMG_CrouchIdle.115=all
LMG_CrouchIdle.116=all
LMG_CrouchIdle.117=all
LMG_CrouchIdle.118=all
LMG_CrouchIdle.119=all
LMG_CrouchIdle.120=all
LMG_CrouchIdle.121=all
LMG_CrouchIdle.122=all
LMG_CrouchIdle.123=all
LMG_CrouchIdle.124=all
LMG_CrouchIdle.125=all
LMG_CrouchIdle.126=all
LMG_CrouchIdle.127=all
LMG_CrouchIdle.128=all
LMG_CrouchIdle.129=all
LMG_CrouchIdle.130=all
LMG_CrouchIdle.131=all
LMG_CrouchIdle.132=all
LMG_CrouchIdle.133=all
LMG_CrouchIdle.134=all
LMG_CrouchIdle.135=all
LMG_CrouchIdle.136=all
LMG_CrouchIdle.137=all
LMG_CrouchIdle.138=all
LMG_CrouchIdle.139=all
LMG_CrouchIdle.140=all
LMG_CrouchIdle.141=all
LMG_CrouchIdle.142=all
LMG_CrouchIdle.143=all
LMG_CrouchIdle.144=all
LMG_CrouchIdle.145=all
LMG_CrouchIdle.146=all
LMG_CrouchIdle.147=all
