[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck_a
C_Neck_b
C_Head_a
C_FaceBase_a
C_Jaw_a
R_Ear_a
L_Ear_a
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_FToe_a
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_FToe_a
C_CrestA_a
C_CrestA_b
C_CrestA_c
C_CrestA_d
C_CrestA_e
C_CrestA_f
C_CrestA_g
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
C_Tail_a
C_CharaA_a

[RemoveTracks]
MO10003_DamageL_1.37=all
