
[RemoveTracks]
AR_CrouchIdle.36=all
AR_CrouchIdle.45=all
AR_CrouchIdle.46=all
AR_CrouchIdle.47=all
AR_CrouchIdle.48=all
AR_CrouchIdle.49=all
AR_CrouchIdle.50=all
AR_CrouchIdle.67=all
AR_CrouchIdle.68=all
AR_CrouchIdle.69=all
AR_CrouchIdle.70=all
AR_CrouchIdle.71=all
AR_CrouchIdle.72=all
AR_CrouchIdle.73=all
AR_CrouchIdle.74=all
AR_CrouchIdle.75=all
AR_CrouchIdle.76=all
AR_CrouchIdle.77=all
AR_CrouchIdle.78=all
AR_CrouchIdle.79=all
AR_CrouchIdle.80=all
AR_CrouchIdle.81=all
AR_CrouchIdle.82=all
AR_CrouchIdle.83=all
AR_CrouchIdle.84=all
AR_CrouchIdle.85=all
AR_CrouchIdle.86=all
AR_CrouchIdle.87=all
AR_CrouchIdle.88=all
AR_CrouchIdle.89=all
AR_CrouchIdle.90=all
AR_CrouchIdle.91=all
AR_CrouchIdle.92=all
AR_CrouchIdle.93=all
AR_CrouchIdle.94=all
AR_CrouchIdle.95=all
AR_CrouchIdle.96=all
AR_CrouchIdle.97=all
AR_CrouchIdle.98=all
AR_CrouchIdle.99=all
AR_CrouchIdle.100=all
AR_CrouchIdle.101=all
AR_CrouchIdle.102=all
AR_CrouchIdle.103=all
AR_CrouchIdle.104=all
AR_CrouchIdle.105=all
AR_CrouchIdle.106=all
AR_CrouchIdle.107=all
AR_CrouchIdle.108=all
AR_CrouchIdle.109=all
AR_CrouchIdle.110=all
AR_CrouchIdle.111=all
AR_CrouchIdle.112=all
AR_CrouchIdle.113=all
AR_CrouchIdle.114=all
AR_CrouchIdle.115=all
AR_CrouchIdle.116=all
AR_CrouchIdle.117=all
AR_CrouchIdle.118=all
AR_CrouchIdle.119=all
AR_CrouchIdle.120=all
AR_CrouchIdle.121=all
AR_CrouchIdle.122=all
AR_CrouchIdle.123=all
AR_CrouchIdle.124=all
AR_CrouchIdle.125=all
AR_CrouchIdle.126=all
AR_CrouchIdle.127=all
AR_CrouchIdle.128=all
AR_CrouchIdle.129=all
AR_CrouchIdle.130=all
AR_CrouchIdle.131=all
AR_CrouchIdle.132=all
AR_CrouchIdle.133=all
AR_CrouchIdle.134=all
AR_CrouchIdle.135=all
AR_CrouchIdle.136=all
AR_CrouchIdle.137=all
AR_CrouchIdle.138=all
AR_CrouchIdle.139=all
AR_CrouchIdle.140=all
AR_CrouchIdle.141=all
AR_CrouchIdle.142=all
AR_CrouchIdle.143=all
AR_CrouchIdle.144=all
AR_CrouchIdle.145=all
AR_CrouchIdle.146=all
AR_CrouchIdle.147=all
