
[RemoveTracks]
AR_CrouchToStand.36=all
AR_CrouchToStand.45=all
AR_CrouchToStand.46=all
AR_CrouchToStand.47=all
AR_CrouchToStand.48=all
AR_CrouchToStand.49=all
AR_CrouchToStand.50=all
AR_CrouchToStand.67=all
AR_CrouchToStand.68=all
AR_CrouchToStand.69=all
AR_CrouchToStand.70=all
AR_CrouchToStand.71=all
AR_CrouchToStand.72=all
AR_CrouchToStand.73=all
AR_CrouchToStand.74=all
AR_CrouchToStand.75=all
AR_CrouchToStand.76=all
AR_CrouchToStand.77=all
AR_CrouchToStand.78=all
AR_CrouchToStand.79=all
AR_CrouchToStand.80=all
AR_CrouchToStand.81=all
AR_CrouchToStand.82=all
AR_CrouchToStand.83=all
AR_CrouchToStand.84=all
AR_CrouchToStand.85=all
AR_CrouchToStand.86=all
AR_CrouchToStand.87=all
AR_CrouchToStand.88=all
AR_CrouchToStand.89=all
AR_CrouchToStand.90=all
AR_CrouchToStand.91=all
AR_CrouchToStand.92=all
AR_CrouchToStand.93=all
AR_CrouchToStand.94=all
AR_CrouchToStand.95=all
AR_CrouchToStand.96=all
AR_CrouchToStand.97=all
AR_CrouchToStand.98=all
AR_CrouchToStand.99=all
AR_CrouchToStand.100=all
AR_CrouchToStand.101=all
AR_CrouchToStand.102=all
AR_CrouchToStand.103=all
AR_CrouchToStand.104=all
AR_CrouchToStand.105=all
AR_CrouchToStand.106=all
AR_CrouchToStand.107=all
AR_CrouchToStand.108=all
AR_CrouchToStand.109=all
AR_CrouchToStand.110=all
AR_CrouchToStand.111=all
AR_CrouchToStand.112=all
AR_CrouchToStand.113=all
AR_CrouchToStand.114=all
AR_CrouchToStand.115=all
AR_CrouchToStand.116=all
AR_CrouchToStand.117=all
AR_CrouchToStand.118=all
AR_CrouchToStand.119=all
AR_CrouchToStand.120=all
AR_CrouchToStand.121=all
AR_CrouchToStand.122=all
AR_CrouchToStand.123=all
AR_CrouchToStand.124=all
AR_CrouchToStand.125=all
AR_CrouchToStand.126=all
AR_CrouchToStand.127=all
AR_CrouchToStand.128=all
AR_CrouchToStand.129=all
AR_CrouchToStand.130=all
AR_CrouchToStand.131=all
AR_CrouchToStand.132=all
AR_CrouchToStand.133=all
AR_CrouchToStand.134=all
AR_CrouchToStand.135=all
AR_CrouchToStand.136=all
AR_CrouchToStand.137=all
AR_CrouchToStand.138=all
AR_CrouchToStand.139=all
AR_CrouchToStand.140=all
AR_CrouchToStand.141=all
AR_CrouchToStand.142=all
AR_CrouchToStand.143=all
AR_CrouchToStand.144=all
AR_CrouchToStand.145=all
AR_CrouchToStand.146=all
AR_CrouchToStand.147=all
