
[RemoveTracks]
AR_CrouchTurn.36=all
AR_CrouchTurn.45=all
AR_CrouchTurn.46=all
AR_CrouchTurn.47=all
AR_CrouchTurn.48=all
AR_CrouchTurn.49=all
AR_CrouchTurn.50=all
AR_CrouchTurn.67=all
AR_CrouchTurn.68=all
AR_CrouchTurn.69=all
AR_CrouchTurn.70=all
AR_CrouchTurn.71=all
AR_CrouchTurn.72=all
AR_CrouchTurn.73=all
AR_CrouchTurn.74=all
AR_CrouchTurn.75=all
AR_CrouchTurn.76=all
AR_CrouchTurn.77=all
AR_CrouchTurn.78=all
AR_CrouchTurn.79=all
AR_CrouchTurn.80=all
AR_CrouchTurn.81=all
AR_CrouchTurn.82=all
AR_CrouchTurn.83=all
AR_CrouchTurn.84=all
AR_CrouchTurn.85=all
AR_CrouchTurn.86=all
AR_CrouchTurn.87=all
AR_CrouchTurn.88=all
AR_CrouchTurn.89=all
AR_CrouchTurn.90=all
AR_CrouchTurn.91=all
AR_CrouchTurn.92=all
AR_CrouchTurn.93=all
AR_CrouchTurn.94=all
AR_CrouchTurn.95=all
AR_CrouchTurn.96=all
AR_CrouchTurn.97=all
AR_CrouchTurn.98=all
AR_CrouchTurn.99=all
AR_CrouchTurn.100=all
AR_CrouchTurn.101=all
AR_CrouchTurn.102=all
AR_CrouchTurn.103=all
AR_CrouchTurn.104=all
AR_CrouchTurn.105=all
AR_CrouchTurn.106=all
AR_CrouchTurn.107=all
AR_CrouchTurn.108=all
AR_CrouchTurn.109=all
AR_CrouchTurn.110=all
AR_CrouchTurn.111=all
AR_CrouchTurn.112=all
AR_CrouchTurn.113=all
AR_CrouchTurn.114=all
AR_CrouchTurn.115=all
AR_CrouchTurn.116=all
AR_CrouchTurn.117=all
AR_CrouchTurn.118=all
AR_CrouchTurn.119=all
AR_CrouchTurn.120=all
AR_CrouchTurn.121=all
AR_CrouchTurn.122=all
AR_CrouchTurn.123=all
AR_CrouchTurn.124=all
AR_CrouchTurn.125=all
AR_CrouchTurn.126=all
AR_CrouchTurn.127=all
AR_CrouchTurn.128=all
AR_CrouchTurn.129=all
AR_CrouchTurn.130=all
AR_CrouchTurn.131=all
AR_CrouchTurn.132=all
AR_CrouchTurn.133=all
AR_CrouchTurn.134=all
AR_CrouchTurn.135=all
AR_CrouchTurn.136=all
AR_CrouchTurn.137=all
AR_CrouchTurn.138=all
AR_CrouchTurn.139=all
AR_CrouchTurn.140=all
AR_CrouchTurn.141=all
AR_CrouchTurn.142=all
AR_CrouchTurn.143=all
AR_CrouchTurn.144=all
AR_CrouchTurn.145=all
AR_CrouchTurn.146=all
AR_CrouchTurn.147=all
