
[RemoveTracks]
AR_FireStand.1=all
AR_FireStand.2=all
AR_FireStand.37=all
AR_FireStand.38=all
AR_FireStand.39=all
AR_FireStand.40=all
AR_FireStand.41=all
AR_FireStand.42=all
AR_FireStand.43=all
AR_FireStand.44=all
AR_FireStand.48=all
AR_FireStand.49=all
AR_FireStand.50=all
AR_FireStand.67=all
AR_FireStand.68=all
AR_FireStand.69=all
AR_FireStand.70=all
AR_FireStand.71=all
AR_FireStand.72=all
AR_FireStand.73=all
AR_FireStand.74=all
AR_FireStand.75=all
AR_FireStand.76=all
AR_FireStand.77=all
AR_FireStand.78=all
AR_FireStand.79=all
AR_FireStand.80=all
AR_FireStand.81=all
AR_FireStand.82=all
AR_FireStand.83=all
AR_FireStand.84=all
AR_FireStand.85=all
AR_FireStand.86=all
AR_FireStand.87=all
AR_FireStand.88=all
AR_FireStand.89=all
AR_FireStand.90=all
AR_FireStand.91=all
AR_FireStand.92=all
AR_FireStand.93=all
AR_FireStand.94=all
AR_FireStand.95=all
AR_FireStand.96=all
AR_FireStand.97=all
AR_FireStand.98=all
AR_FireStand.99=all
AR_FireStand.100=all
AR_FireStand.101=all
AR_FireStand.102=all
AR_FireStand.103=all
AR_FireStand.104=all
AR_FireStand.105=all
AR_FireStand.106=all
AR_FireStand.112=all
AR_FireStand.113=all
AR_FireStand.114=all
AR_FireStand.115=all
AR_FireStand.116=all
AR_FireStand.117=all
AR_FireStand.118=all
AR_FireStand.119=all
AR_FireStand.120=all
AR_FireStand.121=all
AR_FireStand.122=all
AR_FireStand.123=all
AR_FireStand.128=all
AR_FireStand.129=all
AR_FireStand.130=all
AR_FireStand.131=all
AR_FireStand.132=all
AR_FireStand.133=all
AR_FireStand.134=all
AR_FireStand.137=all
AR_FireStand.138=all
AR_FireStand.139=all
AR_FireStand.140=all
AR_FireStand.141=all
AR_FireStand.142=all
AR_FireStand.143=all
AR_FireStand.144=all
AR_FireStand.145=all
AR_FireStand.146=all
AR_FireStand.147=all
