
[RemoveTracks]
AR_ProneDamage_L.37=all
AR_ProneDamage_L.38=all
AR_ProneDamage_L.39=all
AR_ProneDamage_L.40=all
AR_ProneDamage_L.41=all
AR_ProneDamage_L.42=all
AR_ProneDamage_L.43=all
AR_ProneDamage_L.44=all
AR_ProneDamage_L.48=all
AR_ProneDamage_L.49=all
AR_ProneDamage_L.50=all
AR_ProneDamage_L.67=all
AR_ProneDamage_L.68=all
AR_ProneDamage_L.69=all
AR_ProneDamage_L.70=all
AR_ProneDamage_L.71=all
AR_ProneDamage_L.72=all
AR_ProneDamage_L.73=all
AR_ProneDamage_L.74=all
AR_ProneDamage_L.75=all
AR_ProneDamage_L.76=all
AR_ProneDamage_L.77=all
AR_ProneDamage_L.78=all
AR_ProneDamage_L.79=all
AR_ProneDamage_L.80=all
AR_ProneDamage_L.81=all
AR_ProneDamage_L.82=all
AR_ProneDamage_L.83=all
AR_ProneDamage_L.84=all
AR_ProneDamage_L.85=all
AR_ProneDamage_L.86=all
AR_ProneDamage_L.87=all
AR_ProneDamage_L.88=all
AR_ProneDamage_L.89=all
AR_ProneDamage_L.90=all
AR_ProneDamage_L.91=all
AR_ProneDamage_L.92=all
AR_ProneDamage_L.93=all
AR_ProneDamage_L.94=all
AR_ProneDamage_L.95=all
AR_ProneDamage_L.96=all
AR_ProneDamage_L.97=all
AR_ProneDamage_L.98=all
AR_ProneDamage_L.99=all
AR_ProneDamage_L.100=all
AR_ProneDamage_L.101=all
AR_ProneDamage_L.102=all
AR_ProneDamage_L.103=all
AR_ProneDamage_L.104=all
AR_ProneDamage_L.105=all
AR_ProneDamage_L.106=all
AR_ProneDamage_L.112=all
AR_ProneDamage_L.113=all
AR_ProneDamage_L.114=all
AR_ProneDamage_L.115=all
AR_ProneDamage_L.116=all
AR_ProneDamage_L.117=all
AR_ProneDamage_L.118=all
AR_ProneDamage_L.119=all
AR_ProneDamage_L.120=all
AR_ProneDamage_L.121=all
AR_ProneDamage_L.122=all
AR_ProneDamage_L.123=all
AR_ProneDamage_L.128=all
AR_ProneDamage_L.129=all
AR_ProneDamage_L.130=all
AR_ProneDamage_L.131=all
AR_ProneDamage_L.132=all
AR_ProneDamage_L.133=all
AR_ProneDamage_L.134=all
AR_ProneDamage_L.137=all
AR_ProneDamage_L.138=all
AR_ProneDamage_L.139=all
AR_ProneDamage_L.140=all
AR_ProneDamage_L.141=all
AR_ProneDamage_L.142=all
AR_ProneDamage_L.143=all
AR_ProneDamage_L.144=all
AR_ProneDamage_L.145=all
AR_ProneDamage_L.146=all
AR_ProneDamage_L.147=all
