
[RemoveTracks]
AR_ProneTurn.36=all
AR_ProneTurn.45=all
AR_ProneTurn.46=all
AR_ProneTurn.47=all
AR_ProneTurn.48=all
AR_ProneTurn.49=all
AR_ProneTurn.50=all
AR_ProneTurn.67=all
AR_ProneTurn.68=all
AR_ProneTurn.69=all
AR_ProneTurn.70=all
AR_ProneTurn.71=all
AR_ProneTurn.72=all
AR_ProneTurn.73=all
AR_ProneTurn.74=all
AR_ProneTurn.75=all
AR_ProneTurn.76=all
AR_ProneTurn.77=all
AR_ProneTurn.78=all
AR_ProneTurn.79=all
AR_ProneTurn.80=all
AR_ProneTurn.81=all
AR_ProneTurn.82=all
AR_ProneTurn.83=all
AR_ProneTurn.84=all
AR_ProneTurn.85=all
AR_ProneTurn.86=all
AR_ProneTurn.87=all
AR_ProneTurn.88=all
AR_ProneTurn.89=all
AR_ProneTurn.90=all
AR_ProneTurn.91=all
AR_ProneTurn.92=all
AR_ProneTurn.93=all
AR_ProneTurn.94=all
AR_ProneTurn.95=all
AR_ProneTurn.96=all
AR_ProneTurn.97=all
AR_ProneTurn.98=all
AR_ProneTurn.99=all
AR_ProneTurn.100=all
AR_ProneTurn.101=all
AR_ProneTurn.102=all
AR_ProneTurn.103=all
AR_ProneTurn.104=all
AR_ProneTurn.105=all
AR_ProneTurn.106=all
AR_ProneTurn.107=all
AR_ProneTurn.108=all
AR_ProneTurn.109=all
AR_ProneTurn.110=all
AR_ProneTurn.111=all
AR_ProneTurn.112=all
AR_ProneTurn.113=all
AR_ProneTurn.114=all
AR_ProneTurn.115=all
AR_ProneTurn.116=all
AR_ProneTurn.117=all
AR_ProneTurn.118=all
AR_ProneTurn.119=all
AR_ProneTurn.120=all
AR_ProneTurn.121=all
AR_ProneTurn.122=all
AR_ProneTurn.123=all
AR_ProneTurn.124=all
AR_ProneTurn.125=all
AR_ProneTurn.126=all
AR_ProneTurn.127=all
AR_ProneTurn.128=all
AR_ProneTurn.129=all
AR_ProneTurn.130=all
AR_ProneTurn.131=all
AR_ProneTurn.132=all
AR_ProneTurn.133=all
AR_ProneTurn.134=all
AR_ProneTurn.135=all
AR_ProneTurn.136=all
AR_ProneTurn.137=all
AR_ProneTurn.138=all
AR_ProneTurn.139=all
AR_ProneTurn.140=all
AR_ProneTurn.141=all
AR_ProneTurn.142=all
AR_ProneTurn.143=all
AR_ProneTurn.144=all
AR_ProneTurn.145=all
AR_ProneTurn.146=all
AR_ProneTurn.147=all
