
[RemoveTracks]
AR_RunStop.36=all
AR_RunStop.45=all
AR_RunStop.46=all
AR_RunStop.47=all
AR_RunStop.48=all
AR_RunStop.49=all
AR_RunStop.50=all
AR_RunStop.51=all
AR_RunStop.52=all
AR_RunStop.53=all
AR_RunStop.54=all
AR_RunStop.55=all
AR_RunStop.56=all
AR_RunStop.57=all
AR_RunStop.58=all
AR_RunStop.59=all
AR_RunStop.60=all
AR_RunStop.61=all
AR_RunStop.62=all
AR_RunStop.63=all
AR_RunStop.64=all
AR_RunStop.65=all
AR_RunStop.66=all
AR_RunStop.67=all
AR_RunStop.68=all
AR_RunStop.69=all
AR_RunStop.70=all
AR_RunStop.71=all
AR_RunStop.72=all
AR_RunStop.73=all
AR_RunStop.74=all
AR_RunStop.75=all
AR_RunStop.76=all
AR_RunStop.77=all
AR_RunStop.78=all
AR_RunStop.79=all
AR_RunStop.80=all
AR_RunStop.81=all
AR_RunStop.82=all
AR_RunStop.83=all
AR_RunStop.84=all
AR_RunStop.85=all
AR_RunStop.86=all
AR_RunStop.87=all
AR_RunStop.88=all
AR_RunStop.89=all
AR_RunStop.90=all
AR_RunStop.91=all
AR_RunStop.92=all
AR_RunStop.93=all
AR_RunStop.94=all
AR_RunStop.95=all
AR_RunStop.96=all
AR_RunStop.97=all
AR_RunStop.98=all
AR_RunStop.99=all
AR_RunStop.100=all
AR_RunStop.101=all
AR_RunStop.102=all
AR_RunStop.103=all
AR_RunStop.104=all
AR_RunStop.105=all
AR_RunStop.106=all
AR_RunStop.108=all
AR_RunStop.109=all
AR_RunStop.110=all
AR_RunStop.111=all
AR_RunStop.112=all
AR_RunStop.113=all
AR_RunStop.114=all
AR_RunStop.115=all
AR_RunStop.116=all
AR_RunStop.117=all
AR_RunStop.118=all
AR_RunStop.119=all
AR_RunStop.120=all
AR_RunStop.121=all
AR_RunStop.122=all
AR_RunStop.123=all
AR_RunStop.124=all
AR_RunStop.125=all
AR_RunStop.126=all
AR_RunStop.127=all
AR_RunStop.128=all
AR_RunStop.129=all
AR_RunStop.130=all
AR_RunStop.131=all
AR_RunStop.132=all
AR_RunStop.133=all
AR_RunStop.134=all
AR_RunStop.135=all
AR_RunStop.136=all
AR_RunStop.137=all
AR_RunStop.138=all
AR_RunStop.139=all
AR_RunStop.140=all
AR_RunStop.141=all
AR_RunStop.142=all
AR_RunStop.143=all
AR_RunStop.144=all
AR_RunStop.145=all
AR_RunStop.146=all
AR_RunStop.147=all
