
[RemoveTracks]
AR_StandDamage_R.1=all
AR_StandDamage_R.37=all
AR_StandDamage_R.38=all
AR_StandDamage_R.39=all
AR_StandDamage_R.40=all
AR_StandDamage_R.41=all
AR_StandDamage_R.42=all
AR_StandDamage_R.43=all
AR_StandDamage_R.44=all
AR_StandDamage_R.48=all
AR_StandDamage_R.49=all
AR_StandDamage_R.50=all
AR_StandDamage_R.67=all
AR_StandDamage_R.68=all
AR_StandDamage_R.69=all
AR_StandDamage_R.70=all
AR_StandDamage_R.71=all
AR_StandDamage_R.72=all
AR_StandDamage_R.73=all
AR_StandDamage_R.74=all
AR_StandDamage_R.75=all
AR_StandDamage_R.76=all
AR_StandDamage_R.77=all
AR_StandDamage_R.78=all
AR_StandDamage_R.79=all
AR_StandDamage_R.80=all
AR_StandDamage_R.81=all
AR_StandDamage_R.82=all
AR_StandDamage_R.83=all
AR_StandDamage_R.84=all
AR_StandDamage_R.85=all
AR_StandDamage_R.86=all
AR_StandDamage_R.87=all
AR_StandDamage_R.88=all
AR_StandDamage_R.89=all
AR_StandDamage_R.90=all
AR_StandDamage_R.91=all
AR_StandDamage_R.92=all
AR_StandDamage_R.93=all
AR_StandDamage_R.94=all
AR_StandDamage_R.95=all
AR_StandDamage_R.96=all
AR_StandDamage_R.97=all
AR_StandDamage_R.98=all
AR_StandDamage_R.99=all
AR_StandDamage_R.100=all
AR_StandDamage_R.101=all
AR_StandDamage_R.102=all
AR_StandDamage_R.103=all
AR_StandDamage_R.104=all
AR_StandDamage_R.105=all
AR_StandDamage_R.106=all
AR_StandDamage_R.112=all
AR_StandDamage_R.113=all
AR_StandDamage_R.114=all
AR_StandDamage_R.115=all
AR_StandDamage_R.116=all
AR_StandDamage_R.117=all
AR_StandDamage_R.118=all
AR_StandDamage_R.119=all
AR_StandDamage_R.120=all
AR_StandDamage_R.121=all
AR_StandDamage_R.122=all
AR_StandDamage_R.123=all
AR_StandDamage_R.128=all
AR_StandDamage_R.129=all
AR_StandDamage_R.130=all
AR_StandDamage_R.131=all
AR_StandDamage_R.132=all
AR_StandDamage_R.133=all
AR_StandDamage_R.134=all
AR_StandDamage_R.137=all
AR_StandDamage_R.138=all
AR_StandDamage_R.139=all
AR_StandDamage_R.140=all
AR_StandDamage_R.141=all
AR_StandDamage_R.142=all
AR_StandDamage_R.143=all
AR_StandDamage_R.144=all
AR_StandDamage_R.145=all
AR_StandDamage_R.146=all
AR_StandDamage_R.147=all
