
[RemoveTracks]
AR_StandIdle.36=all
AR_StandIdle.45=all
AR_StandIdle.46=all
AR_StandIdle.47=all
AR_StandIdle.48=all
AR_StandIdle.49=all
AR_StandIdle.50=all
AR_StandIdle.51=all
AR_StandIdle.52=all
AR_StandIdle.53=all
AR_StandIdle.54=all
AR_StandIdle.55=all
AR_StandIdle.56=all
AR_StandIdle.57=all
AR_StandIdle.58=all
AR_StandIdle.59=all
AR_StandIdle.60=all
AR_StandIdle.61=all
AR_StandIdle.62=all
AR_StandIdle.63=all
AR_StandIdle.64=all
AR_StandIdle.65=all
AR_StandIdle.66=all
AR_StandIdle.67=all
AR_StandIdle.68=all
AR_StandIdle.69=all
AR_StandIdle.70=all
AR_StandIdle.71=all
AR_StandIdle.72=all
AR_StandIdle.73=all
AR_StandIdle.74=all
AR_StandIdle.75=all
AR_StandIdle.76=all
AR_StandIdle.77=all
AR_StandIdle.78=all
AR_StandIdle.79=all
AR_StandIdle.80=all
AR_StandIdle.81=all
AR_StandIdle.82=all
AR_StandIdle.83=all
AR_StandIdle.84=all
AR_StandIdle.85=all
AR_StandIdle.86=all
AR_StandIdle.87=all
AR_StandIdle.88=all
AR_StandIdle.89=all
AR_StandIdle.90=all
AR_StandIdle.91=all
AR_StandIdle.92=all
AR_StandIdle.93=all
AR_StandIdle.94=all
AR_StandIdle.95=all
AR_StandIdle.96=all
AR_StandIdle.97=all
AR_StandIdle.98=all
AR_StandIdle.99=all
AR_StandIdle.100=all
AR_StandIdle.101=all
AR_StandIdle.102=all
AR_StandIdle.103=all
AR_StandIdle.104=all
AR_StandIdle.105=all
AR_StandIdle.106=all
AR_StandIdle.107=all
AR_StandIdle.108=all
AR_StandIdle.109=all
AR_StandIdle.110=all
AR_StandIdle.111=all
AR_StandIdle.112=all
AR_StandIdle.113=all
AR_StandIdle.114=all
AR_StandIdle.115=all
AR_StandIdle.116=all
AR_StandIdle.117=all
AR_StandIdle.118=all
AR_StandIdle.119=all
AR_StandIdle.120=all
AR_StandIdle.121=all
AR_StandIdle.122=all
AR_StandIdle.123=all
AR_StandIdle.124=all
AR_StandIdle.125=all
AR_StandIdle.126=all
AR_StandIdle.127=all
AR_StandIdle.128=all
AR_StandIdle.129=all
AR_StandIdle.130=all
AR_StandIdle.131=all
AR_StandIdle.132=all
AR_StandIdle.133=all
AR_StandIdle.134=all
AR_StandIdle.135=all
AR_StandIdle.136=all
AR_StandIdle.137=all
AR_StandIdle.138=all
AR_StandIdle.139=all
AR_StandIdle.140=all
AR_StandIdle.141=all
AR_StandIdle.142=all
AR_StandIdle.143=all
AR_StandIdle.144=all
AR_StandIdle.145=all
AR_StandIdle.146=all
AR_StandIdle.147=all
