
[RemoveTracks]
AR_StandTurn.36=all
AR_StandTurn.45=all
AR_StandTurn.46=all
AR_StandTurn.47=all
AR_StandTurn.48=all
AR_StandTurn.49=all
AR_StandTurn.50=all
AR_StandTurn.51=all
AR_StandTurn.52=all
AR_StandTurn.53=all
AR_StandTurn.54=all
AR_StandTurn.55=all
AR_StandTurn.56=all
AR_StandTurn.57=all
AR_StandTurn.58=all
AR_StandTurn.59=all
AR_StandTurn.60=all
AR_StandTurn.61=all
AR_StandTurn.62=all
AR_StandTurn.63=all
AR_StandTurn.64=all
AR_StandTurn.65=all
AR_StandTurn.66=all
AR_StandTurn.67=all
AR_StandTurn.68=all
AR_StandTurn.69=all
AR_StandTurn.70=all
AR_StandTurn.71=all
AR_StandTurn.72=all
AR_StandTurn.73=all
AR_StandTurn.74=all
AR_StandTurn.75=all
AR_StandTurn.76=all
AR_StandTurn.77=all
AR_StandTurn.78=all
AR_StandTurn.79=all
AR_StandTurn.80=all
AR_StandTurn.81=all
AR_StandTurn.82=all
AR_StandTurn.83=all
AR_StandTurn.84=all
AR_StandTurn.85=all
AR_StandTurn.86=all
AR_StandTurn.87=all
AR_StandTurn.88=all
AR_StandTurn.89=all
AR_StandTurn.90=all
AR_StandTurn.91=all
AR_StandTurn.92=all
AR_StandTurn.93=all
AR_StandTurn.94=all
AR_StandTurn.95=all
AR_StandTurn.96=all
AR_StandTurn.97=all
AR_StandTurn.98=all
AR_StandTurn.99=all
AR_StandTurn.100=all
AR_StandTurn.101=all
AR_StandTurn.102=all
AR_StandTurn.103=all
AR_StandTurn.104=all
AR_StandTurn.105=all
AR_StandTurn.106=all
AR_StandTurn.107=all
AR_StandTurn.108=all
AR_StandTurn.109=all
AR_StandTurn.110=all
AR_StandTurn.111=all
AR_StandTurn.112=all
AR_StandTurn.113=all
AR_StandTurn.114=all
AR_StandTurn.115=all
AR_StandTurn.116=all
AR_StandTurn.117=all
AR_StandTurn.118=all
AR_StandTurn.119=all
AR_StandTurn.120=all
AR_StandTurn.121=all
AR_StandTurn.122=all
AR_StandTurn.123=all
AR_StandTurn.124=all
AR_StandTurn.125=all
AR_StandTurn.126=all
AR_StandTurn.127=all
AR_StandTurn.128=all
AR_StandTurn.129=all
AR_StandTurn.130=all
AR_StandTurn.131=all
AR_StandTurn.132=all
AR_StandTurn.133=all
AR_StandTurn.134=all
AR_StandTurn.135=all
AR_StandTurn.136=all
AR_StandTurn.137=all
AR_StandTurn.138=all
AR_StandTurn.139=all
AR_StandTurn.140=all
AR_StandTurn.141=all
AR_StandTurn.142=all
AR_StandTurn.143=all
AR_StandTurn.144=all
AR_StandTurn.145=all
AR_StandTurn.146=all
AR_StandTurn.147=all
