[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Head_a
R_Shoulder_a
R_UpperArm_a
R_Lowerarm_a
R_Hand_a
R_Thumb_a
R_Index_a
R_Middle_a
L_Shoulder_a
L_UpperArm_a
L_Lowerarm_a
L_Hand_a
L_Thumb_a
L_Index_a
L_Middle_a
R_Cover_a
L_Cover_a
C_Tail_a
C_Tail_b
C_Tail_c
C_Tail_d
C_Tail_e
C_Tail_f
C_Tail_g
C_Tail_h
C_TailGimmickA_a
C_TailGimmickB_a
R_TailGimmick_a
L_TailGimmick_a
R_LegA_a
R_LegA_b
R_LegA_c
R_LegA_d
R_LegA_e
R_LegA_f
R_LegA_g
R_LegB_a
R_LegB_b
R_LegB_c
R_LegB_d
R_LegB_e
R_LegB_f
R_LegB_g
R_LegC_a
R_LegC_b
R_LegC_c
R_LegC_d
R_LegC_e
R_LegC_f
R_LegC_g
L_LegA_a
L_LegA_b
L_LegA_c
L_LegA_d
L_LegA_e
L_LegA_f
L_LegA_g
L_LegB_a
L_LegB_b
L_LegB_c
L_LegB_d
L_LegB_e
L_LegB_f
L_LegB_g
L_LegC_a
L_LegC_b
L_LegC_c
L_LegC_d
L_LegC_e
L_LegC_f
L_LegC_g
C_Coa_a
C_Core_a

[RemoveTracks]
MO10009_Walk.75=all
MO10009_Walk.76=all
