[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Neck_a
C_Head_a
hair_h
hair_g
hair_f
hair_e
hair_d
hair_c
hair_b
hair_a
C_FaceBase_a
L_Brow_a
R_Brow_a
L_Brow_b
R_Brow_b
L_cor_a
R_cor_a
L_Ulip_a
R_Ulip_a
L_Ulid_a
R_Ulid_a
L_Eye_a
R_Eye_a
C_Chin_a
L_Dlip_a
R_Dlip_a
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Pinky_a
R_Pinky_b
R_Ring_a
R_Ring_b
R_Middle_a
R_Middle_b
R_Index_a
R_Index_b
R_Thumb_a
R_Thumb_b
R_Weapon_a
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Pinky_a
L_Pinky_b
L_Ring_a
L_Ring_b
L_Middle_a
L_Middle_b
L_Index_a
L_Index_b
L_Thumb_a
L_Thumb_b
L_Weapon_a
L_Shoulderpad_a
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a

[RemoveTracks]
LE10001_MA_CrouchIdle_U.1=all
LE10001_MA_CrouchIdle_U.2=all
LE10001_MA_CrouchIdle_U.3=all
LE10001_MA_CrouchIdle_U.30=all
LE10001_MA_CrouchIdle_U.31=all
LE10001_MA_CrouchIdle_U.32=all
LE10001_MA_CrouchIdle_U.33=all
LE10001_MA_CrouchIdle_U.34=all
LE10001_MA_CrouchIdle_U.35=all
LE10001_MA_CrouchIdle_U.36=all
LE10001_MA_CrouchIdle_U.37=all
LE10001_MA_CrouchIdle_U.38=all
LE10001_MA_CrouchIdle_U.39=all
LE10001_MA_CrouchIdle_U.40=all
LE10001_MA_CrouchIdle_U.41=all
LE10001_MA_CrouchIdle_U.42=all
LE10001_MA_CrouchIdle_U.43=all
LE10001_MA_CrouchIdle_U.44=all
LE10001_MA_CrouchIdle_U.45=all
LE10001_MA_CrouchIdle_U.46=all
LE10001_MA_CrouchIdle_U.47=all
LE10001_MA_CrouchIdle_U.48=all
LE10001_MA_CrouchIdle_U.49=all
LE10001_MA_CrouchIdle_U.50=all
LE10001_MA_CrouchIdle_U.51=all
LE10001_MA_CrouchIdle_U.52=all
LE10001_MA_CrouchIdle_U.53=all
LE10001_MA_CrouchIdle_U.54=all
LE10001_MA_CrouchIdle_U.55=all
LE10001_MA_CrouchIdle_U.56=all
LE10001_MA_CrouchIdle_U.57=all
LE10001_MA_CrouchIdle_U.58=all
LE10001_MA_CrouchIdle_U.59=all
LE10001_MA_CrouchIdle_U.60=all
LE10001_MA_CrouchIdle_U.61=all
LE10001_MA_CrouchIdle_U.62=all
LE10001_MA_CrouchIdle_U.63=all
LE10001_MA_CrouchIdle_U.64=all
LE10001_MA_CrouchIdle_U.65=all
LE10001_MA_CrouchIdle_U.66=all
LE10001_MA_CrouchIdle_U.67=all
LE10001_MA_CrouchIdle_U.68=all
