[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Neck_a
C_Head_a
hair_h
hair_g
hair_f
hair_e
hair_d
hair_c
hair_b
hair_a
C_FaceBase_a
L_Brow_a
R_Brow_a
L_Brow_b
R_Brow_b
L_cor_a
R_cor_a
L_Ulip_a
R_Ulip_a
L_Ulid_a
R_Ulid_a
L_Eye_a
R_Eye_a
C_Chin_a
L_Dlip_a
R_Dlip_a
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Pinky_a
R_Pinky_b
R_Ring_a
R_Ring_b
R_Middle_a
R_Middle_b
R_Index_a
R_Index_b
R_Thumb_a
R_Thumb_b
R_Weapon_a
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Pinky_a
L_Pinky_b
L_Ring_a
L_Ring_b
L_Middle_a
L_Middle_b
L_Index_a
L_Index_b
L_Thumb_a
L_Thumb_b
L_Weapon_a
L_Shoulderpad_a
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a

[RemoveTracks]
LE10001_JumpEnd_Move.6=all
LE10001_JumpEnd_Move.7=all
LE10001_JumpEnd_Move.8=all
LE10001_JumpEnd_Move.9=all
LE10001_JumpEnd_Move.10=all
LE10001_JumpEnd_Move.11=all
LE10001_JumpEnd_Move.12=all
LE10001_JumpEnd_Move.13=all
LE10001_JumpEnd_Move.14=all
LE10001_JumpEnd_Move.15=all
LE10001_JumpEnd_Move.16=all
LE10001_JumpEnd_Move.17=all
LE10001_JumpEnd_Move.18=all
LE10001_JumpEnd_Move.19=all
LE10001_JumpEnd_Move.20=all
LE10001_JumpEnd_Move.21=all
LE10001_JumpEnd_Move.22=all
LE10001_JumpEnd_Move.23=all
LE10001_JumpEnd_Move.24=all
LE10001_JumpEnd_Move.25=all
LE10001_JumpEnd_Move.26=all
LE10001_JumpEnd_Move.27=all
LE10001_JumpEnd_Move.28=all
LE10001_JumpEnd_Move.29=all
LE10001_JumpEnd_Move.60=all
