
[RemoveTracks]
CM_CrouchDownIdle.36=all
CM_CrouchDownIdle.45=all
CM_CrouchDownIdle.46=all
CM_CrouchDownIdle.47=all
CM_CrouchDownIdle.48=all
CM_CrouchDownIdle.49=all
CM_CrouchDownIdle.50=all
CM_CrouchDownIdle.51=all
CM_CrouchDownIdle.52=all
CM_CrouchDownIdle.53=all
CM_CrouchDownIdle.54=all
CM_CrouchDownIdle.55=all
CM_CrouchDownIdle.56=all
CM_CrouchDownIdle.57=all
CM_CrouchDownIdle.58=all
CM_CrouchDownIdle.59=all
CM_CrouchDownIdle.60=all
CM_CrouchDownIdle.61=all
CM_CrouchDownIdle.62=all
CM_CrouchDownIdle.63=all
CM_CrouchDownIdle.64=all
CM_CrouchDownIdle.65=all
CM_CrouchDownIdle.66=all
CM_CrouchDownIdle.67=all
CM_CrouchDownIdle.68=all
CM_CrouchDownIdle.69=all
CM_CrouchDownIdle.70=all
CM_CrouchDownIdle.71=all
CM_CrouchDownIdle.72=all
CM_CrouchDownIdle.73=all
CM_CrouchDownIdle.74=all
CM_CrouchDownIdle.75=all
CM_CrouchDownIdle.76=all
CM_CrouchDownIdle.77=all
CM_CrouchDownIdle.78=all
CM_CrouchDownIdle.79=all
CM_CrouchDownIdle.80=all
CM_CrouchDownIdle.81=all
CM_CrouchDownIdle.82=all
CM_CrouchDownIdle.83=all
CM_CrouchDownIdle.84=all
CM_CrouchDownIdle.85=all
CM_CrouchDownIdle.86=all
CM_CrouchDownIdle.87=all
CM_CrouchDownIdle.88=all
CM_CrouchDownIdle.89=all
CM_CrouchDownIdle.90=all
CM_CrouchDownIdle.91=all
CM_CrouchDownIdle.92=all
CM_CrouchDownIdle.93=all
CM_CrouchDownIdle.94=all
CM_CrouchDownIdle.95=all
CM_CrouchDownIdle.96=all
CM_CrouchDownIdle.97=all
CM_CrouchDownIdle.98=all
CM_CrouchDownIdle.99=all
CM_CrouchDownIdle.100=all
CM_CrouchDownIdle.101=all
CM_CrouchDownIdle.102=all
CM_CrouchDownIdle.103=all
CM_CrouchDownIdle.104=all
CM_CrouchDownIdle.105=all
CM_CrouchDownIdle.106=all
CM_CrouchDownIdle.108=all
CM_CrouchDownIdle.109=all
CM_CrouchDownIdle.110=all
CM_CrouchDownIdle.111=all
CM_CrouchDownIdle.112=all
CM_CrouchDownIdle.113=all
CM_CrouchDownIdle.114=all
CM_CrouchDownIdle.115=all
CM_CrouchDownIdle.116=all
CM_CrouchDownIdle.117=all
CM_CrouchDownIdle.118=all
CM_CrouchDownIdle.119=all
CM_CrouchDownIdle.120=all
CM_CrouchDownIdle.121=all
CM_CrouchDownIdle.122=all
CM_CrouchDownIdle.123=all
CM_CrouchDownIdle.124=all
CM_CrouchDownIdle.125=all
CM_CrouchDownIdle.126=all
CM_CrouchDownIdle.127=all
CM_CrouchDownIdle.128=all
CM_CrouchDownIdle.129=all
CM_CrouchDownIdle.130=all
CM_CrouchDownIdle.131=all
CM_CrouchDownIdle.132=all
CM_CrouchDownIdle.133=all
CM_CrouchDownIdle.134=all
CM_CrouchDownIdle.135=all
CM_CrouchDownIdle.136=all
CM_CrouchDownIdle.137=all
CM_CrouchDownIdle.138=all
CM_CrouchDownIdle.139=all
CM_CrouchDownIdle.140=all
CM_CrouchDownIdle.141=all
CM_CrouchDownIdle.142=all
CM_CrouchDownIdle.143=all
CM_CrouchDownIdle.144=all
CM_CrouchDownIdle.145=all
CM_CrouchDownIdle.146=all
CM_CrouchDownIdle.147=all
