
[RemoveTracks]
CM_CrouchToCrouchDown.36=all
CM_CrouchToCrouchDown.45=all
CM_CrouchToCrouchDown.46=all
CM_CrouchToCrouchDown.47=all
CM_CrouchToCrouchDown.48=all
CM_CrouchToCrouchDown.49=all
CM_CrouchToCrouchDown.50=all
CM_CrouchToCrouchDown.51=all
CM_CrouchToCrouchDown.52=all
CM_CrouchToCrouchDown.53=all
CM_CrouchToCrouchDown.54=all
CM_CrouchToCrouchDown.55=all
CM_CrouchToCrouchDown.56=all
CM_CrouchToCrouchDown.57=all
CM_CrouchToCrouchDown.58=all
CM_CrouchToCrouchDown.59=all
CM_CrouchToCrouchDown.60=all
CM_CrouchToCrouchDown.61=all
CM_CrouchToCrouchDown.62=all
CM_CrouchToCrouchDown.63=all
CM_CrouchToCrouchDown.64=all
CM_CrouchToCrouchDown.65=all
CM_CrouchToCrouchDown.66=all
CM_CrouchToCrouchDown.67=all
CM_CrouchToCrouchDown.68=all
CM_CrouchToCrouchDown.69=all
CM_CrouchToCrouchDown.70=all
CM_CrouchToCrouchDown.71=all
CM_CrouchToCrouchDown.72=all
CM_CrouchToCrouchDown.73=all
CM_CrouchToCrouchDown.74=all
CM_CrouchToCrouchDown.75=all
CM_CrouchToCrouchDown.76=all
CM_CrouchToCrouchDown.77=all
CM_CrouchToCrouchDown.78=all
CM_CrouchToCrouchDown.79=all
CM_CrouchToCrouchDown.80=all
CM_CrouchToCrouchDown.81=all
CM_CrouchToCrouchDown.82=all
CM_CrouchToCrouchDown.83=all
CM_CrouchToCrouchDown.84=all
CM_CrouchToCrouchDown.85=all
CM_CrouchToCrouchDown.86=all
CM_CrouchToCrouchDown.87=all
CM_CrouchToCrouchDown.88=all
CM_CrouchToCrouchDown.89=all
CM_CrouchToCrouchDown.90=all
CM_CrouchToCrouchDown.91=all
CM_CrouchToCrouchDown.92=all
CM_CrouchToCrouchDown.93=all
CM_CrouchToCrouchDown.94=all
CM_CrouchToCrouchDown.95=all
CM_CrouchToCrouchDown.96=all
CM_CrouchToCrouchDown.97=all
CM_CrouchToCrouchDown.98=all
CM_CrouchToCrouchDown.99=all
CM_CrouchToCrouchDown.100=all
CM_CrouchToCrouchDown.101=all
CM_CrouchToCrouchDown.102=all
CM_CrouchToCrouchDown.103=all
CM_CrouchToCrouchDown.104=all
CM_CrouchToCrouchDown.105=all
CM_CrouchToCrouchDown.106=all
CM_CrouchToCrouchDown.108=all
CM_CrouchToCrouchDown.109=all
CM_CrouchToCrouchDown.110=all
CM_CrouchToCrouchDown.111=all
CM_CrouchToCrouchDown.112=all
CM_CrouchToCrouchDown.113=all
CM_CrouchToCrouchDown.114=all
CM_CrouchToCrouchDown.115=all
CM_CrouchToCrouchDown.116=all
CM_CrouchToCrouchDown.117=all
CM_CrouchToCrouchDown.118=all
CM_CrouchToCrouchDown.119=all
CM_CrouchToCrouchDown.120=all
CM_CrouchToCrouchDown.121=all
CM_CrouchToCrouchDown.122=all
CM_CrouchToCrouchDown.123=all
CM_CrouchToCrouchDown.124=all
CM_CrouchToCrouchDown.125=all
CM_CrouchToCrouchDown.126=all
CM_CrouchToCrouchDown.127=all
CM_CrouchToCrouchDown.128=all
CM_CrouchToCrouchDown.129=all
CM_CrouchToCrouchDown.130=all
CM_CrouchToCrouchDown.131=all
CM_CrouchToCrouchDown.132=all
CM_CrouchToCrouchDown.133=all
CM_CrouchToCrouchDown.134=all
CM_CrouchToCrouchDown.135=all
CM_CrouchToCrouchDown.136=all
CM_CrouchToCrouchDown.137=all
CM_CrouchToCrouchDown.138=all
CM_CrouchToCrouchDown.139=all
CM_CrouchToCrouchDown.140=all
CM_CrouchToCrouchDown.141=all
CM_CrouchToCrouchDown.142=all
CM_CrouchToCrouchDown.143=all
CM_CrouchToCrouchDown.144=all
CM_CrouchToCrouchDown.145=all
CM_CrouchToCrouchDown.146=all
CM_CrouchToCrouchDown.147=all
