
[RemoveTracks]
CM_DownIdle.36=all
CM_DownIdle.45=all
CM_DownIdle.46=all
CM_DownIdle.47=all
CM_DownIdle.48=all
CM_DownIdle.49=all
CM_DownIdle.50=all
CM_DownIdle.51=all
CM_DownIdle.52=all
CM_DownIdle.53=all
CM_DownIdle.54=all
CM_DownIdle.55=all
CM_DownIdle.56=all
CM_DownIdle.57=all
CM_DownIdle.58=all
CM_DownIdle.59=all
CM_DownIdle.60=all
CM_DownIdle.61=all
CM_DownIdle.62=all
CM_DownIdle.63=all
CM_DownIdle.64=all
CM_DownIdle.65=all
CM_DownIdle.66=all
CM_DownIdle.67=all
CM_DownIdle.68=all
CM_DownIdle.69=all
CM_DownIdle.70=all
CM_DownIdle.71=all
CM_DownIdle.72=all
CM_DownIdle.73=all
CM_DownIdle.74=all
CM_DownIdle.75=all
CM_DownIdle.76=all
CM_DownIdle.77=all
CM_DownIdle.78=all
CM_DownIdle.79=all
CM_DownIdle.80=all
CM_DownIdle.81=all
CM_DownIdle.82=all
CM_DownIdle.83=all
CM_DownIdle.84=all
CM_DownIdle.85=all
CM_DownIdle.86=all
CM_DownIdle.87=all
CM_DownIdle.88=all
CM_DownIdle.89=all
CM_DownIdle.90=all
CM_DownIdle.91=all
CM_DownIdle.92=all
CM_DownIdle.93=all
CM_DownIdle.94=all
CM_DownIdle.95=all
CM_DownIdle.96=all
CM_DownIdle.97=all
CM_DownIdle.98=all
CM_DownIdle.99=all
CM_DownIdle.100=all
CM_DownIdle.101=all
CM_DownIdle.102=all
CM_DownIdle.103=all
CM_DownIdle.104=all
CM_DownIdle.105=all
CM_DownIdle.106=all
CM_DownIdle.107=all
CM_DownIdle.108=all
CM_DownIdle.109=all
CM_DownIdle.110=all
CM_DownIdle.111=all
CM_DownIdle.112=all
CM_DownIdle.113=all
CM_DownIdle.114=all
CM_DownIdle.115=all
CM_DownIdle.116=all
CM_DownIdle.117=all
CM_DownIdle.118=all
CM_DownIdle.119=all
CM_DownIdle.120=all
CM_DownIdle.121=all
CM_DownIdle.122=all
CM_DownIdle.123=all
CM_DownIdle.124=all
CM_DownIdle.125=all
CM_DownIdle.126=all
CM_DownIdle.127=all
CM_DownIdle.128=all
CM_DownIdle.129=all
CM_DownIdle.130=all
CM_DownIdle.131=all
CM_DownIdle.132=all
CM_DownIdle.133=all
CM_DownIdle.134=all
CM_DownIdle.135=all
CM_DownIdle.136=all
CM_DownIdle.137=all
CM_DownIdle.138=all
CM_DownIdle.139=all
CM_DownIdle.140=all
CM_DownIdle.141=all
CM_DownIdle.142=all
CM_DownIdle.143=all
CM_DownIdle.144=all
CM_DownIdle.145=all
CM_DownIdle.146=all
CM_DownIdle.147=all
