
[RemoveTracks]
CM_DamageDownUp_Burst.36=all
CM_DamageDownUp_Burst.45=all
CM_DamageDownUp_Burst.46=all
CM_DamageDownUp_Burst.47=all
CM_DamageDownUp_Burst.48=all
CM_DamageDownUp_Burst.49=all
CM_DamageDownUp_Burst.50=all
CM_DamageDownUp_Burst.51=all
CM_DamageDownUp_Burst.52=all
CM_DamageDownUp_Burst.53=all
CM_DamageDownUp_Burst.54=all
CM_DamageDownUp_Burst.55=all
CM_DamageDownUp_Burst.56=all
CM_DamageDownUp_Burst.57=all
CM_DamageDownUp_Burst.58=all
CM_DamageDownUp_Burst.59=all
CM_DamageDownUp_Burst.60=all
CM_DamageDownUp_Burst.61=all
CM_DamageDownUp_Burst.62=all
CM_DamageDownUp_Burst.63=all
CM_DamageDownUp_Burst.64=all
CM_DamageDownUp_Burst.65=all
CM_DamageDownUp_Burst.66=all
CM_DamageDownUp_Burst.67=all
CM_DamageDownUp_Burst.68=all
CM_DamageDownUp_Burst.69=all
CM_DamageDownUp_Burst.70=all
CM_DamageDownUp_Burst.71=all
CM_DamageDownUp_Burst.72=all
CM_DamageDownUp_Burst.73=all
CM_DamageDownUp_Burst.74=all
CM_DamageDownUp_Burst.75=all
CM_DamageDownUp_Burst.76=all
CM_DamageDownUp_Burst.77=all
CM_DamageDownUp_Burst.78=all
CM_DamageDownUp_Burst.79=all
CM_DamageDownUp_Burst.80=all
CM_DamageDownUp_Burst.81=all
CM_DamageDownUp_Burst.82=all
CM_DamageDownUp_Burst.83=all
CM_DamageDownUp_Burst.84=all
CM_DamageDownUp_Burst.85=all
CM_DamageDownUp_Burst.86=all
CM_DamageDownUp_Burst.87=all
CM_DamageDownUp_Burst.88=all
CM_DamageDownUp_Burst.89=all
CM_DamageDownUp_Burst.90=all
CM_DamageDownUp_Burst.91=all
CM_DamageDownUp_Burst.92=all
CM_DamageDownUp_Burst.93=all
CM_DamageDownUp_Burst.94=all
CM_DamageDownUp_Burst.95=all
CM_DamageDownUp_Burst.96=all
CM_DamageDownUp_Burst.97=all
CM_DamageDownUp_Burst.98=all
CM_DamageDownUp_Burst.99=all
CM_DamageDownUp_Burst.100=all
CM_DamageDownUp_Burst.101=all
CM_DamageDownUp_Burst.102=all
CM_DamageDownUp_Burst.103=all
CM_DamageDownUp_Burst.104=all
CM_DamageDownUp_Burst.105=all
CM_DamageDownUp_Burst.106=all
CM_DamageDownUp_Burst.108=all
CM_DamageDownUp_Burst.109=all
CM_DamageDownUp_Burst.110=all
CM_DamageDownUp_Burst.111=all
CM_DamageDownUp_Burst.112=all
CM_DamageDownUp_Burst.113=all
CM_DamageDownUp_Burst.114=all
CM_DamageDownUp_Burst.115=all
CM_DamageDownUp_Burst.116=all
CM_DamageDownUp_Burst.117=all
CM_DamageDownUp_Burst.118=all
CM_DamageDownUp_Burst.119=all
CM_DamageDownUp_Burst.120=all
CM_DamageDownUp_Burst.121=all
CM_DamageDownUp_Burst.122=all
CM_DamageDownUp_Burst.123=all
CM_DamageDownUp_Burst.124=all
CM_DamageDownUp_Burst.125=all
CM_DamageDownUp_Burst.126=all
CM_DamageDownUp_Burst.127=all
CM_DamageDownUp_Burst.128=all
CM_DamageDownUp_Burst.129=all
CM_DamageDownUp_Burst.130=all
CM_DamageDownUp_Burst.131=all
CM_DamageDownUp_Burst.132=all
CM_DamageDownUp_Burst.133=all
CM_DamageDownUp_Burst.134=all
CM_DamageDownUp_Burst.135=all
CM_DamageDownUp_Burst.136=all
CM_DamageDownUp_Burst.137=all
CM_DamageDownUp_Burst.138=all
CM_DamageDownUp_Burst.139=all
CM_DamageDownUp_Burst.140=all
CM_DamageDownUp_Burst.141=all
CM_DamageDownUp_Burst.142=all
CM_DamageDownUp_Burst.143=all
CM_DamageDownUp_Burst.144=all
CM_DamageDownUp_Burst.145=all
CM_DamageDownUp_Burst.146=all
CM_DamageDownUp_Burst.147=all
