
[RemoveTracks]
CM_StandDie.36=all
CM_StandDie.45=all
CM_StandDie.46=all
CM_StandDie.47=all
CM_StandDie.48=all
CM_StandDie.49=all
CM_StandDie.50=all
CM_StandDie.51=all
CM_StandDie.52=all
CM_StandDie.53=all
CM_StandDie.54=all
CM_StandDie.55=all
CM_StandDie.56=all
CM_StandDie.57=all
CM_StandDie.58=all
CM_StandDie.59=all
CM_StandDie.60=all
CM_StandDie.61=all
CM_StandDie.62=all
CM_StandDie.63=all
CM_StandDie.64=all
CM_StandDie.65=all
CM_StandDie.66=all
CM_StandDie.67=all
CM_StandDie.68=all
CM_StandDie.69=all
CM_StandDie.70=all
CM_StandDie.71=all
CM_StandDie.72=all
CM_StandDie.73=all
CM_StandDie.74=all
CM_StandDie.75=all
CM_StandDie.76=all
CM_StandDie.77=all
CM_StandDie.78=all
CM_StandDie.79=all
CM_StandDie.80=all
CM_StandDie.81=all
CM_StandDie.82=all
CM_StandDie.83=all
CM_StandDie.84=all
CM_StandDie.85=all
CM_StandDie.86=all
CM_StandDie.87=all
CM_StandDie.88=all
CM_StandDie.89=all
CM_StandDie.90=all
CM_StandDie.91=all
CM_StandDie.92=all
CM_StandDie.93=all
CM_StandDie.94=all
CM_StandDie.95=all
CM_StandDie.96=all
CM_StandDie.97=all
CM_StandDie.98=all
CM_StandDie.99=all
CM_StandDie.100=all
CM_StandDie.101=all
CM_StandDie.102=all
CM_StandDie.103=all
CM_StandDie.104=all
CM_StandDie.105=all
CM_StandDie.106=all
CM_StandDie.107=all
CM_StandDie.108=all
CM_StandDie.109=all
CM_StandDie.110=all
CM_StandDie.111=all
CM_StandDie.112=all
CM_StandDie.113=all
CM_StandDie.114=all
CM_StandDie.115=all
CM_StandDie.116=all
CM_StandDie.117=all
CM_StandDie.118=all
CM_StandDie.119=all
CM_StandDie.120=all
CM_StandDie.121=all
CM_StandDie.122=all
CM_StandDie.123=all
CM_StandDie.124=all
CM_StandDie.125=all
CM_StandDie.126=all
CM_StandDie.127=all
CM_StandDie.128=all
CM_StandDie.129=all
CM_StandDie.130=all
CM_StandDie.131=all
CM_StandDie.132=all
CM_StandDie.133=all
CM_StandDie.134=all
CM_StandDie.135=all
CM_StandDie.136=all
CM_StandDie.137=all
CM_StandDie.138=all
CM_StandDie.139=all
CM_StandDie.140=all
CM_StandDie.141=all
CM_StandDie.142=all
CM_StandDie.143=all
CM_StandDie.144=all
CM_StandDie.145=all
CM_StandDie.146=all
CM_StandDie.147=all
