
[RemoveTracks]
CM_WallRunClimbL.36=all
CM_WallRunClimbL.45=all
CM_WallRunClimbL.46=all
CM_WallRunClimbL.47=all
CM_WallRunClimbL.48=all
CM_WallRunClimbL.49=all
CM_WallRunClimbL.50=all
CM_WallRunClimbL.51=all
CM_WallRunClimbL.52=all
CM_WallRunClimbL.53=all
CM_WallRunClimbL.54=all
CM_WallRunClimbL.55=all
CM_WallRunClimbL.56=all
CM_WallRunClimbL.57=all
CM_WallRunClimbL.58=all
CM_WallRunClimbL.59=all
CM_WallRunClimbL.60=all
CM_WallRunClimbL.61=all
CM_WallRunClimbL.62=all
CM_WallRunClimbL.63=all
CM_WallRunClimbL.64=all
CM_WallRunClimbL.65=all
CM_WallRunClimbL.66=all
CM_WallRunClimbL.67=all
CM_WallRunClimbL.68=all
CM_WallRunClimbL.69=all
CM_WallRunClimbL.70=all
CM_WallRunClimbL.71=all
CM_WallRunClimbL.72=all
CM_WallRunClimbL.73=all
CM_WallRunClimbL.74=all
CM_WallRunClimbL.75=all
CM_WallRunClimbL.76=all
CM_WallRunClimbL.77=all
CM_WallRunClimbL.78=all
CM_WallRunClimbL.79=all
CM_WallRunClimbL.80=all
CM_WallRunClimbL.81=all
CM_WallRunClimbL.82=all
CM_WallRunClimbL.83=all
CM_WallRunClimbL.84=all
CM_WallRunClimbL.85=all
CM_WallRunClimbL.86=all
CM_WallRunClimbL.87=all
CM_WallRunClimbL.88=all
CM_WallRunClimbL.89=all
CM_WallRunClimbL.90=all
CM_WallRunClimbL.91=all
CM_WallRunClimbL.92=all
CM_WallRunClimbL.93=all
CM_WallRunClimbL.94=all
CM_WallRunClimbL.95=all
CM_WallRunClimbL.96=all
CM_WallRunClimbL.97=all
CM_WallRunClimbL.98=all
CM_WallRunClimbL.99=all
CM_WallRunClimbL.100=all
CM_WallRunClimbL.101=all
CM_WallRunClimbL.102=all
CM_WallRunClimbL.103=all
CM_WallRunClimbL.104=all
CM_WallRunClimbL.105=all
CM_WallRunClimbL.106=all
CM_WallRunClimbL.108=all
CM_WallRunClimbL.109=all
CM_WallRunClimbL.110=all
CM_WallRunClimbL.111=all
CM_WallRunClimbL.112=all
CM_WallRunClimbL.113=all
CM_WallRunClimbL.114=all
CM_WallRunClimbL.115=all
CM_WallRunClimbL.116=all
CM_WallRunClimbL.117=all
CM_WallRunClimbL.118=all
CM_WallRunClimbL.119=all
CM_WallRunClimbL.120=all
CM_WallRunClimbL.121=all
CM_WallRunClimbL.122=all
CM_WallRunClimbL.123=all
CM_WallRunClimbL.124=all
CM_WallRunClimbL.125=all
CM_WallRunClimbL.126=all
CM_WallRunClimbL.127=all
CM_WallRunClimbL.128=all
CM_WallRunClimbL.129=all
CM_WallRunClimbL.130=all
CM_WallRunClimbL.131=all
CM_WallRunClimbL.132=all
CM_WallRunClimbL.133=all
CM_WallRunClimbL.134=all
CM_WallRunClimbL.135=all
CM_WallRunClimbL.136=all
CM_WallRunClimbL.137=all
CM_WallRunClimbL.138=all
CM_WallRunClimbL.139=all
CM_WallRunClimbL.140=all
CM_WallRunClimbL.141=all
CM_WallRunClimbL.142=all
CM_WallRunClimbL.143=all
CM_WallRunClimbL.144=all
CM_WallRunClimbL.145=all
CM_WallRunClimbL.146=all
CM_WallRunClimbL.147=all
