
[RemoveTracks]
HG_CrouchIdle.36=all
HG_CrouchIdle.45=all
HG_CrouchIdle.46=all
HG_CrouchIdle.47=all
HG_CrouchIdle.48=all
HG_CrouchIdle.49=all
HG_CrouchIdle.50=all
HG_CrouchIdle.51=all
HG_CrouchIdle.52=all
HG_CrouchIdle.53=all
HG_CrouchIdle.54=all
HG_CrouchIdle.55=all
HG_CrouchIdle.56=all
HG_CrouchIdle.57=all
HG_CrouchIdle.58=all
HG_CrouchIdle.59=all
HG_CrouchIdle.60=all
HG_CrouchIdle.61=all
HG_CrouchIdle.62=all
HG_CrouchIdle.63=all
HG_CrouchIdle.64=all
HG_CrouchIdle.65=all
HG_CrouchIdle.66=all
HG_CrouchIdle.67=all
HG_CrouchIdle.68=all
HG_CrouchIdle.69=all
HG_CrouchIdle.70=all
HG_CrouchIdle.71=all
HG_CrouchIdle.72=all
HG_CrouchIdle.73=all
HG_CrouchIdle.74=all
HG_CrouchIdle.75=all
HG_CrouchIdle.76=all
HG_CrouchIdle.77=all
HG_CrouchIdle.78=all
HG_CrouchIdle.79=all
HG_CrouchIdle.80=all
HG_CrouchIdle.81=all
HG_CrouchIdle.82=all
HG_CrouchIdle.83=all
HG_CrouchIdle.84=all
HG_CrouchIdle.85=all
HG_CrouchIdle.86=all
HG_CrouchIdle.87=all
HG_CrouchIdle.88=all
HG_CrouchIdle.89=all
HG_CrouchIdle.90=all
HG_CrouchIdle.91=all
HG_CrouchIdle.92=all
HG_CrouchIdle.93=all
HG_CrouchIdle.94=all
HG_CrouchIdle.95=all
HG_CrouchIdle.96=all
HG_CrouchIdle.97=all
HG_CrouchIdle.98=all
HG_CrouchIdle.99=all
HG_CrouchIdle.100=all
HG_CrouchIdle.101=all
HG_CrouchIdle.102=all
HG_CrouchIdle.103=all
HG_CrouchIdle.104=all
HG_CrouchIdle.105=all
HG_CrouchIdle.106=all
HG_CrouchIdle.107=all
HG_CrouchIdle.108=all
HG_CrouchIdle.109=all
HG_CrouchIdle.110=all
HG_CrouchIdle.111=all
HG_CrouchIdle.112=all
HG_CrouchIdle.113=all
HG_CrouchIdle.114=all
HG_CrouchIdle.115=all
HG_CrouchIdle.116=all
HG_CrouchIdle.117=all
HG_CrouchIdle.118=all
HG_CrouchIdle.119=all
HG_CrouchIdle.120=all
HG_CrouchIdle.121=all
HG_CrouchIdle.122=all
HG_CrouchIdle.123=all
HG_CrouchIdle.124=all
HG_CrouchIdle.125=all
HG_CrouchIdle.126=all
HG_CrouchIdle.127=all
HG_CrouchIdle.128=all
HG_CrouchIdle.129=all
HG_CrouchIdle.130=all
HG_CrouchIdle.131=all
HG_CrouchIdle.132=all
HG_CrouchIdle.133=all
HG_CrouchIdle.134=all
HG_CrouchIdle.135=all
HG_CrouchIdle.136=all
HG_CrouchIdle.137=all
HG_CrouchIdle.138=all
HG_CrouchIdle.139=all
HG_CrouchIdle.140=all
HG_CrouchIdle.141=all
HG_CrouchIdle.142=all
HG_CrouchIdle.143=all
HG_CrouchIdle.144=all
HG_CrouchIdle.145=all
HG_CrouchIdle.146=all
HG_CrouchIdle.147=all
