
[RemoveTracks]
HG_Free_CrouchToStand.36=all
HG_Free_CrouchToStand.45=all
HG_Free_CrouchToStand.46=all
HG_Free_CrouchToStand.47=all
HG_Free_CrouchToStand.48=all
HG_Free_CrouchToStand.49=all
HG_Free_CrouchToStand.50=all
HG_Free_CrouchToStand.51=all
HG_Free_CrouchToStand.52=all
HG_Free_CrouchToStand.53=all
HG_Free_CrouchToStand.54=all
HG_Free_CrouchToStand.55=all
HG_Free_CrouchToStand.56=all
HG_Free_CrouchToStand.57=all
HG_Free_CrouchToStand.58=all
HG_Free_CrouchToStand.59=all
HG_Free_CrouchToStand.60=all
HG_Free_CrouchToStand.61=all
HG_Free_CrouchToStand.62=all
HG_Free_CrouchToStand.63=all
HG_Free_CrouchToStand.64=all
HG_Free_CrouchToStand.65=all
HG_Free_CrouchToStand.66=all
HG_Free_CrouchToStand.67=all
HG_Free_CrouchToStand.68=all
HG_Free_CrouchToStand.69=all
HG_Free_CrouchToStand.70=all
HG_Free_CrouchToStand.71=all
HG_Free_CrouchToStand.72=all
HG_Free_CrouchToStand.73=all
HG_Free_CrouchToStand.74=all
HG_Free_CrouchToStand.75=all
HG_Free_CrouchToStand.76=all
HG_Free_CrouchToStand.77=all
HG_Free_CrouchToStand.78=all
HG_Free_CrouchToStand.79=all
HG_Free_CrouchToStand.80=all
HG_Free_CrouchToStand.81=all
HG_Free_CrouchToStand.82=all
HG_Free_CrouchToStand.83=all
HG_Free_CrouchToStand.84=all
HG_Free_CrouchToStand.85=all
HG_Free_CrouchToStand.86=all
HG_Free_CrouchToStand.87=all
HG_Free_CrouchToStand.88=all
HG_Free_CrouchToStand.89=all
HG_Free_CrouchToStand.90=all
HG_Free_CrouchToStand.91=all
HG_Free_CrouchToStand.92=all
HG_Free_CrouchToStand.93=all
HG_Free_CrouchToStand.94=all
HG_Free_CrouchToStand.95=all
HG_Free_CrouchToStand.96=all
HG_Free_CrouchToStand.97=all
HG_Free_CrouchToStand.98=all
HG_Free_CrouchToStand.99=all
HG_Free_CrouchToStand.100=all
HG_Free_CrouchToStand.101=all
HG_Free_CrouchToStand.102=all
HG_Free_CrouchToStand.103=all
HG_Free_CrouchToStand.104=all
HG_Free_CrouchToStand.105=all
HG_Free_CrouchToStand.106=all
HG_Free_CrouchToStand.107=all
HG_Free_CrouchToStand.108=all
HG_Free_CrouchToStand.109=all
HG_Free_CrouchToStand.110=all
HG_Free_CrouchToStand.111=all
HG_Free_CrouchToStand.112=all
HG_Free_CrouchToStand.113=all
HG_Free_CrouchToStand.114=all
HG_Free_CrouchToStand.115=all
HG_Free_CrouchToStand.116=all
HG_Free_CrouchToStand.117=all
HG_Free_CrouchToStand.118=all
HG_Free_CrouchToStand.119=all
HG_Free_CrouchToStand.120=all
HG_Free_CrouchToStand.121=all
HG_Free_CrouchToStand.122=all
HG_Free_CrouchToStand.123=all
HG_Free_CrouchToStand.124=all
HG_Free_CrouchToStand.125=all
HG_Free_CrouchToStand.126=all
HG_Free_CrouchToStand.127=all
HG_Free_CrouchToStand.128=all
HG_Free_CrouchToStand.129=all
HG_Free_CrouchToStand.130=all
HG_Free_CrouchToStand.131=all
HG_Free_CrouchToStand.132=all
HG_Free_CrouchToStand.133=all
HG_Free_CrouchToStand.134=all
HG_Free_CrouchToStand.135=all
HG_Free_CrouchToStand.136=all
HG_Free_CrouchToStand.137=all
HG_Free_CrouchToStand.138=all
HG_Free_CrouchToStand.139=all
HG_Free_CrouchToStand.140=all
HG_Free_CrouchToStand.141=all
HG_Free_CrouchToStand.142=all
HG_Free_CrouchToStand.143=all
HG_Free_CrouchToStand.144=all
HG_Free_CrouchToStand.145=all
HG_Free_CrouchToStand.146=all
HG_Free_CrouchToStand.147=all
