
[RemoveTracks]
HG_JumpLoop.36=all
HG_JumpLoop.45=all
HG_JumpLoop.46=all
HG_JumpLoop.47=all
HG_JumpLoop.48=all
HG_JumpLoop.49=all
HG_JumpLoop.50=all
HG_JumpLoop.51=all
HG_JumpLoop.52=all
HG_JumpLoop.53=all
HG_JumpLoop.54=all
HG_JumpLoop.55=all
HG_JumpLoop.56=all
HG_JumpLoop.57=all
HG_JumpLoop.58=all
HG_JumpLoop.59=all
HG_JumpLoop.60=all
HG_JumpLoop.61=all
HG_JumpLoop.62=all
HG_JumpLoop.63=all
HG_JumpLoop.64=all
HG_JumpLoop.65=all
HG_JumpLoop.66=all
HG_JumpLoop.67=all
HG_JumpLoop.68=all
HG_JumpLoop.69=all
HG_JumpLoop.70=all
HG_JumpLoop.71=all
HG_JumpLoop.72=all
HG_JumpLoop.73=all
HG_JumpLoop.74=all
HG_JumpLoop.75=all
HG_JumpLoop.76=all
HG_JumpLoop.77=all
HG_JumpLoop.78=all
HG_JumpLoop.79=all
HG_JumpLoop.80=all
HG_JumpLoop.81=all
HG_JumpLoop.82=all
HG_JumpLoop.83=all
HG_JumpLoop.84=all
HG_JumpLoop.85=all
HG_JumpLoop.86=all
HG_JumpLoop.87=all
HG_JumpLoop.88=all
HG_JumpLoop.89=all
HG_JumpLoop.90=all
HG_JumpLoop.91=all
HG_JumpLoop.92=all
HG_JumpLoop.93=all
HG_JumpLoop.94=all
HG_JumpLoop.95=all
HG_JumpLoop.96=all
HG_JumpLoop.97=all
HG_JumpLoop.98=all
HG_JumpLoop.99=all
HG_JumpLoop.100=all
HG_JumpLoop.101=all
HG_JumpLoop.102=all
HG_JumpLoop.103=all
HG_JumpLoop.104=all
HG_JumpLoop.105=all
HG_JumpLoop.106=all
HG_JumpLoop.107=all
HG_JumpLoop.108=all
HG_JumpLoop.109=all
HG_JumpLoop.110=all
HG_JumpLoop.111=all
HG_JumpLoop.112=all
HG_JumpLoop.113=all
HG_JumpLoop.114=all
HG_JumpLoop.115=all
HG_JumpLoop.116=all
HG_JumpLoop.117=all
HG_JumpLoop.118=all
HG_JumpLoop.119=all
HG_JumpLoop.120=all
HG_JumpLoop.121=all
HG_JumpLoop.122=all
HG_JumpLoop.123=all
HG_JumpLoop.124=all
HG_JumpLoop.125=all
HG_JumpLoop.126=all
HG_JumpLoop.127=all
HG_JumpLoop.128=all
HG_JumpLoop.129=all
HG_JumpLoop.130=all
HG_JumpLoop.131=all
HG_JumpLoop.132=all
HG_JumpLoop.133=all
HG_JumpLoop.134=all
HG_JumpLoop.135=all
HG_JumpLoop.136=all
HG_JumpLoop.137=all
HG_JumpLoop.138=all
HG_JumpLoop.139=all
HG_JumpLoop.140=all
HG_JumpLoop.141=all
HG_JumpLoop.142=all
HG_JumpLoop.143=all
HG_JumpLoop.144=all
HG_JumpLoop.145=all
HG_JumpLoop.146=all
HG_JumpLoop.147=all
