
[RemoveTracks]
HG_ProneTurn.36=all
HG_ProneTurn.45=all
HG_ProneTurn.46=all
HG_ProneTurn.47=all
HG_ProneTurn.48=all
HG_ProneTurn.49=all
HG_ProneTurn.50=all
HG_ProneTurn.67=all
HG_ProneTurn.68=all
HG_ProneTurn.69=all
HG_ProneTurn.70=all
HG_ProneTurn.71=all
HG_ProneTurn.72=all
HG_ProneTurn.73=all
HG_ProneTurn.74=all
HG_ProneTurn.75=all
HG_ProneTurn.76=all
HG_ProneTurn.77=all
HG_ProneTurn.78=all
HG_ProneTurn.79=all
HG_ProneTurn.80=all
HG_ProneTurn.81=all
HG_ProneTurn.82=all
HG_ProneTurn.83=all
HG_ProneTurn.84=all
HG_ProneTurn.85=all
HG_ProneTurn.86=all
HG_ProneTurn.87=all
HG_ProneTurn.88=all
HG_ProneTurn.89=all
HG_ProneTurn.90=all
HG_ProneTurn.91=all
HG_ProneTurn.92=all
HG_ProneTurn.93=all
HG_ProneTurn.94=all
HG_ProneTurn.95=all
HG_ProneTurn.96=all
HG_ProneTurn.97=all
HG_ProneTurn.98=all
HG_ProneTurn.99=all
HG_ProneTurn.100=all
HG_ProneTurn.101=all
HG_ProneTurn.102=all
HG_ProneTurn.103=all
HG_ProneTurn.104=all
HG_ProneTurn.105=all
HG_ProneTurn.106=all
HG_ProneTurn.107=all
HG_ProneTurn.108=all
HG_ProneTurn.109=all
HG_ProneTurn.110=all
HG_ProneTurn.111=all
HG_ProneTurn.112=all
HG_ProneTurn.113=all
HG_ProneTurn.114=all
HG_ProneTurn.115=all
HG_ProneTurn.116=all
HG_ProneTurn.117=all
HG_ProneTurn.118=all
HG_ProneTurn.119=all
HG_ProneTurn.120=all
HG_ProneTurn.121=all
HG_ProneTurn.122=all
HG_ProneTurn.123=all
HG_ProneTurn.124=all
HG_ProneTurn.125=all
HG_ProneTurn.126=all
HG_ProneTurn.127=all
HG_ProneTurn.128=all
HG_ProneTurn.129=all
HG_ProneTurn.130=all
HG_ProneTurn.131=all
HG_ProneTurn.132=all
HG_ProneTurn.133=all
HG_ProneTurn.134=all
HG_ProneTurn.135=all
HG_ProneTurn.136=all
HG_ProneTurn.137=all
HG_ProneTurn.138=all
HG_ProneTurn.139=all
HG_ProneTurn.140=all
HG_ProneTurn.141=all
HG_ProneTurn.142=all
HG_ProneTurn.143=all
HG_ProneTurn.144=all
HG_ProneTurn.145=all
HG_ProneTurn.146=all
HG_ProneTurn.147=all
