
[RemoveTracks]
HG_ProneIdle.36=all
HG_ProneIdle.45=all
HG_ProneIdle.46=all
HG_ProneIdle.47=all
HG_ProneIdle.48=all
HG_ProneIdle.49=all
HG_ProneIdle.50=all
HG_ProneIdle.67=all
HG_ProneIdle.68=all
HG_ProneIdle.69=all
HG_ProneIdle.70=all
HG_ProneIdle.71=all
HG_ProneIdle.72=all
HG_ProneIdle.73=all
HG_ProneIdle.74=all
HG_ProneIdle.75=all
HG_ProneIdle.76=all
HG_ProneIdle.77=all
HG_ProneIdle.78=all
HG_ProneIdle.79=all
HG_ProneIdle.80=all
HG_ProneIdle.81=all
HG_ProneIdle.82=all
HG_ProneIdle.83=all
HG_ProneIdle.84=all
HG_ProneIdle.85=all
HG_ProneIdle.86=all
HG_ProneIdle.87=all
HG_ProneIdle.88=all
HG_ProneIdle.89=all
HG_ProneIdle.90=all
HG_ProneIdle.91=all
HG_ProneIdle.92=all
HG_ProneIdle.93=all
HG_ProneIdle.94=all
HG_ProneIdle.95=all
HG_ProneIdle.96=all
HG_ProneIdle.97=all
HG_ProneIdle.98=all
HG_ProneIdle.99=all
HG_ProneIdle.100=all
HG_ProneIdle.101=all
HG_ProneIdle.102=all
HG_ProneIdle.103=all
HG_ProneIdle.104=all
HG_ProneIdle.105=all
HG_ProneIdle.106=all
HG_ProneIdle.107=all
HG_ProneIdle.108=all
HG_ProneIdle.109=all
HG_ProneIdle.110=all
HG_ProneIdle.111=all
HG_ProneIdle.112=all
HG_ProneIdle.113=all
HG_ProneIdle.114=all
HG_ProneIdle.115=all
HG_ProneIdle.116=all
HG_ProneIdle.117=all
HG_ProneIdle.118=all
HG_ProneIdle.119=all
HG_ProneIdle.120=all
HG_ProneIdle.121=all
HG_ProneIdle.122=all
HG_ProneIdle.123=all
HG_ProneIdle.124=all
HG_ProneIdle.125=all
HG_ProneIdle.126=all
HG_ProneIdle.127=all
HG_ProneIdle.128=all
HG_ProneIdle.129=all
HG_ProneIdle.130=all
HG_ProneIdle.131=all
HG_ProneIdle.132=all
HG_ProneIdle.133=all
HG_ProneIdle.134=all
HG_ProneIdle.135=all
HG_ProneIdle.136=all
HG_ProneIdle.137=all
HG_ProneIdle.138=all
HG_ProneIdle.139=all
HG_ProneIdle.140=all
HG_ProneIdle.141=all
HG_ProneIdle.142=all
HG_ProneIdle.143=all
HG_ProneIdle.144=all
HG_ProneIdle.145=all
HG_ProneIdle.146=all
HG_ProneIdle.147=all
