
[RemoveTracks]
HG_RunStop.36=all
HG_RunStop.45=all
HG_RunStop.46=all
HG_RunStop.47=all
HG_RunStop.48=all
HG_RunStop.49=all
HG_RunStop.50=all
HG_RunStop.51=all
HG_RunStop.52=all
HG_RunStop.53=all
HG_RunStop.54=all
HG_RunStop.55=all
HG_RunStop.56=all
HG_RunStop.57=all
HG_RunStop.58=all
HG_RunStop.59=all
HG_RunStop.60=all
HG_RunStop.61=all
HG_RunStop.62=all
HG_RunStop.63=all
HG_RunStop.64=all
HG_RunStop.65=all
HG_RunStop.66=all
HG_RunStop.67=all
HG_RunStop.68=all
HG_RunStop.69=all
HG_RunStop.70=all
HG_RunStop.71=all
HG_RunStop.72=all
HG_RunStop.73=all
HG_RunStop.74=all
HG_RunStop.75=all
HG_RunStop.76=all
HG_RunStop.77=all
HG_RunStop.78=all
HG_RunStop.79=all
HG_RunStop.80=all
HG_RunStop.81=all
HG_RunStop.82=all
HG_RunStop.83=all
HG_RunStop.84=all
HG_RunStop.85=all
HG_RunStop.86=all
HG_RunStop.87=all
HG_RunStop.88=all
HG_RunStop.89=all
HG_RunStop.90=all
HG_RunStop.91=all
HG_RunStop.92=all
HG_RunStop.93=all
HG_RunStop.94=all
HG_RunStop.95=all
HG_RunStop.96=all
HG_RunStop.97=all
HG_RunStop.98=all
HG_RunStop.99=all
HG_RunStop.100=all
HG_RunStop.101=all
HG_RunStop.102=all
HG_RunStop.103=all
HG_RunStop.104=all
HG_RunStop.105=all
HG_RunStop.106=all
HG_RunStop.108=all
HG_RunStop.109=all
HG_RunStop.110=all
HG_RunStop.111=all
HG_RunStop.112=all
HG_RunStop.113=all
HG_RunStop.114=all
HG_RunStop.115=all
HG_RunStop.116=all
HG_RunStop.117=all
HG_RunStop.118=all
HG_RunStop.119=all
HG_RunStop.120=all
HG_RunStop.121=all
HG_RunStop.122=all
HG_RunStop.123=all
HG_RunStop.124=all
HG_RunStop.125=all
HG_RunStop.126=all
HG_RunStop.127=all
HG_RunStop.128=all
HG_RunStop.129=all
HG_RunStop.130=all
HG_RunStop.131=all
HG_RunStop.132=all
HG_RunStop.133=all
HG_RunStop.134=all
HG_RunStop.135=all
HG_RunStop.136=all
HG_RunStop.137=all
HG_RunStop.138=all
HG_RunStop.139=all
HG_RunStop.140=all
HG_RunStop.141=all
HG_RunStop.142=all
HG_RunStop.143=all
HG_RunStop.144=all
HG_RunStop.145=all
HG_RunStop.146=all
HG_RunStop.147=all
