
[RemoveTracks]
HG_StandTurn.36=all
HG_StandTurn.45=all
HG_StandTurn.46=all
HG_StandTurn.47=all
HG_StandTurn.48=all
HG_StandTurn.49=all
HG_StandTurn.50=all
HG_StandTurn.51=all
HG_StandTurn.52=all
HG_StandTurn.53=all
HG_StandTurn.54=all
HG_StandTurn.55=all
HG_StandTurn.56=all
HG_StandTurn.57=all
HG_StandTurn.58=all
HG_StandTurn.59=all
HG_StandTurn.60=all
HG_StandTurn.61=all
HG_StandTurn.62=all
HG_StandTurn.63=all
HG_StandTurn.64=all
HG_StandTurn.65=all
HG_StandTurn.66=all
HG_StandTurn.67=all
HG_StandTurn.68=all
HG_StandTurn.69=all
HG_StandTurn.70=all
HG_StandTurn.71=all
HG_StandTurn.72=all
HG_StandTurn.73=all
HG_StandTurn.74=all
HG_StandTurn.75=all
HG_StandTurn.76=all
HG_StandTurn.77=all
HG_StandTurn.78=all
HG_StandTurn.79=all
HG_StandTurn.80=all
HG_StandTurn.81=all
HG_StandTurn.82=all
HG_StandTurn.83=all
HG_StandTurn.84=all
HG_StandTurn.85=all
HG_StandTurn.86=all
HG_StandTurn.87=all
HG_StandTurn.88=all
HG_StandTurn.89=all
HG_StandTurn.90=all
HG_StandTurn.91=all
HG_StandTurn.92=all
HG_StandTurn.93=all
HG_StandTurn.94=all
HG_StandTurn.95=all
HG_StandTurn.96=all
HG_StandTurn.97=all
HG_StandTurn.98=all
HG_StandTurn.99=all
HG_StandTurn.100=all
HG_StandTurn.101=all
HG_StandTurn.102=all
HG_StandTurn.103=all
HG_StandTurn.104=all
HG_StandTurn.105=all
HG_StandTurn.106=all
HG_StandTurn.107=all
HG_StandTurn.108=all
HG_StandTurn.109=all
HG_StandTurn.110=all
HG_StandTurn.111=all
HG_StandTurn.112=all
HG_StandTurn.113=all
HG_StandTurn.114=all
HG_StandTurn.115=all
HG_StandTurn.116=all
HG_StandTurn.117=all
HG_StandTurn.118=all
HG_StandTurn.119=all
HG_StandTurn.120=all
HG_StandTurn.121=all
HG_StandTurn.122=all
HG_StandTurn.123=all
HG_StandTurn.124=all
HG_StandTurn.125=all
HG_StandTurn.126=all
HG_StandTurn.127=all
HG_StandTurn.128=all
HG_StandTurn.129=all
HG_StandTurn.130=all
HG_StandTurn.131=all
HG_StandTurn.132=all
HG_StandTurn.133=all
HG_StandTurn.134=all
HG_StandTurn.135=all
HG_StandTurn.136=all
HG_StandTurn.137=all
HG_StandTurn.138=all
HG_StandTurn.139=all
HG_StandTurn.140=all
HG_StandTurn.141=all
HG_StandTurn.142=all
HG_StandTurn.143=all
HG_StandTurn.144=all
HG_StandTurn.145=all
HG_StandTurn.146=all
HG_StandTurn.147=all
