
[RemoveTracks]
J01_AttackNormal_2.36=all
J01_AttackNormal_2.45=all
J01_AttackNormal_2.46=all
J01_AttackNormal_2.47=all
J01_AttackNormal_2.48=all
J01_AttackNormal_2.49=all
J01_AttackNormal_2.50=all
J01_AttackNormal_2.51=all
J01_AttackNormal_2.52=all
J01_AttackNormal_2.53=all
J01_AttackNormal_2.54=all
J01_AttackNormal_2.55=all
J01_AttackNormal_2.56=all
J01_AttackNormal_2.57=all
J01_AttackNormal_2.58=all
J01_AttackNormal_2.59=all
J01_AttackNormal_2.60=all
J01_AttackNormal_2.61=all
J01_AttackNormal_2.62=all
J01_AttackNormal_2.63=all
J01_AttackNormal_2.64=all
J01_AttackNormal_2.65=all
J01_AttackNormal_2.66=all
J01_AttackNormal_2.67=all
J01_AttackNormal_2.68=all
J01_AttackNormal_2.69=all
J01_AttackNormal_2.70=all
J01_AttackNormal_2.71=all
J01_AttackNormal_2.72=all
J01_AttackNormal_2.73=all
J01_AttackNormal_2.74=all
J01_AttackNormal_2.75=all
J01_AttackNormal_2.76=all
J01_AttackNormal_2.77=all
J01_AttackNormal_2.78=all
J01_AttackNormal_2.79=all
J01_AttackNormal_2.80=all
J01_AttackNormal_2.81=all
J01_AttackNormal_2.82=all
J01_AttackNormal_2.83=all
J01_AttackNormal_2.84=all
J01_AttackNormal_2.85=all
J01_AttackNormal_2.86=all
J01_AttackNormal_2.87=all
J01_AttackNormal_2.88=all
J01_AttackNormal_2.89=all
J01_AttackNormal_2.90=all
J01_AttackNormal_2.91=all
J01_AttackNormal_2.92=all
J01_AttackNormal_2.93=all
J01_AttackNormal_2.94=all
J01_AttackNormal_2.95=all
J01_AttackNormal_2.96=all
J01_AttackNormal_2.97=all
J01_AttackNormal_2.98=all
J01_AttackNormal_2.99=all
J01_AttackNormal_2.100=all
J01_AttackNormal_2.101=all
J01_AttackNormal_2.102=all
J01_AttackNormal_2.103=all
J01_AttackNormal_2.104=all
J01_AttackNormal_2.105=all
J01_AttackNormal_2.106=all
J01_AttackNormal_2.108=all
J01_AttackNormal_2.109=all
J01_AttackNormal_2.110=all
J01_AttackNormal_2.111=all
J01_AttackNormal_2.112=all
J01_AttackNormal_2.113=all
J01_AttackNormal_2.114=all
J01_AttackNormal_2.115=all
J01_AttackNormal_2.116=all
J01_AttackNormal_2.117=all
J01_AttackNormal_2.118=all
J01_AttackNormal_2.119=all
J01_AttackNormal_2.120=all
J01_AttackNormal_2.121=all
J01_AttackNormal_2.122=all
J01_AttackNormal_2.123=all
J01_AttackNormal_2.124=all
J01_AttackNormal_2.125=all
J01_AttackNormal_2.126=all
J01_AttackNormal_2.127=all
J01_AttackNormal_2.128=all
J01_AttackNormal_2.129=all
J01_AttackNormal_2.130=all
J01_AttackNormal_2.131=all
J01_AttackNormal_2.132=all
J01_AttackNormal_2.133=all
J01_AttackNormal_2.134=all
J01_AttackNormal_2.135=all
J01_AttackNormal_2.136=all
J01_AttackNormal_2.137=all
J01_AttackNormal_2.138=all
J01_AttackNormal_2.139=all
J01_AttackNormal_2.140=all
J01_AttackNormal_2.141=all
J01_AttackNormal_2.142=all
J01_AttackNormal_2.143=all
J01_AttackNormal_2.144=all
J01_AttackNormal_2.145=all
J01_AttackNormal_2.146=all
J01_AttackNormal_2.147=all
