
[RemoveTracks]
J01_BurstAttack.36=all
J01_BurstAttack.45=all
J01_BurstAttack.46=all
J01_BurstAttack.47=all
J01_BurstAttack.48=all
J01_BurstAttack.49=all
J01_BurstAttack.50=all
J01_BurstAttack.51=all
J01_BurstAttack.52=all
J01_BurstAttack.53=all
J01_BurstAttack.54=all
J01_BurstAttack.55=all
J01_BurstAttack.56=all
J01_BurstAttack.57=all
J01_BurstAttack.58=all
J01_BurstAttack.59=all
J01_BurstAttack.60=all
J01_BurstAttack.61=all
J01_BurstAttack.62=all
J01_BurstAttack.63=all
J01_BurstAttack.64=all
J01_BurstAttack.65=all
J01_BurstAttack.66=all
J01_BurstAttack.67=all
J01_BurstAttack.68=all
J01_BurstAttack.69=all
J01_BurstAttack.70=all
J01_BurstAttack.71=all
J01_BurstAttack.72=all
J01_BurstAttack.73=all
J01_BurstAttack.74=all
J01_BurstAttack.75=all
J01_BurstAttack.76=all
J01_BurstAttack.77=all
J01_BurstAttack.78=all
J01_BurstAttack.79=all
J01_BurstAttack.80=all
J01_BurstAttack.81=all
J01_BurstAttack.82=all
J01_BurstAttack.83=all
J01_BurstAttack.84=all
J01_BurstAttack.85=all
J01_BurstAttack.86=all
J01_BurstAttack.87=all
J01_BurstAttack.88=all
J01_BurstAttack.89=all
J01_BurstAttack.90=all
J01_BurstAttack.91=all
J01_BurstAttack.92=all
J01_BurstAttack.93=all
J01_BurstAttack.94=all
J01_BurstAttack.95=all
J01_BurstAttack.96=all
J01_BurstAttack.97=all
J01_BurstAttack.98=all
J01_BurstAttack.99=all
J01_BurstAttack.100=all
J01_BurstAttack.101=all
J01_BurstAttack.102=all
J01_BurstAttack.103=all
J01_BurstAttack.104=all
J01_BurstAttack.105=all
J01_BurstAttack.106=all
J01_BurstAttack.108=all
J01_BurstAttack.109=all
J01_BurstAttack.110=all
J01_BurstAttack.111=all
J01_BurstAttack.112=all
J01_BurstAttack.113=all
J01_BurstAttack.114=all
J01_BurstAttack.115=all
J01_BurstAttack.116=all
J01_BurstAttack.117=all
J01_BurstAttack.118=all
J01_BurstAttack.119=all
J01_BurstAttack.120=all
J01_BurstAttack.121=all
J01_BurstAttack.122=all
J01_BurstAttack.123=all
J01_BurstAttack.124=all
J01_BurstAttack.125=all
J01_BurstAttack.126=all
J01_BurstAttack.127=all
J01_BurstAttack.128=all
J01_BurstAttack.129=all
J01_BurstAttack.130=all
J01_BurstAttack.131=all
J01_BurstAttack.132=all
J01_BurstAttack.133=all
J01_BurstAttack.134=all
J01_BurstAttack.135=all
J01_BurstAttack.136=all
J01_BurstAttack.137=all
J01_BurstAttack.138=all
J01_BurstAttack.139=all
J01_BurstAttack.140=all
J01_BurstAttack.141=all
J01_BurstAttack.142=all
J01_BurstAttack.143=all
J01_BurstAttack.144=all
J01_BurstAttack.145=all
J01_BurstAttack.146=all
J01_BurstAttack.147=all
