[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck_a
C_Neck_b
C_Neck_c
C_Neck_d
C_Head_a
C_Jaw_a
L_Horn_a
R_Horn_a
R_Eye_a
L_Eye_a
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_WingE_a
L_WingE_b
L_WingE_c
L_WingD_a
L_WingD_b
L_WingD_c
L_WingC_a
L_WingC_b
L_WingC_c
L_WingB_a
L_WingB_b
L_WingB_c
L_WingA_a
L_WingA_b
L_WingA_c
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_WingE_a
R_WingE_b
R_WingE_c
R_WingD_a
R_WingD_b
R_WingD_c
R_WingC_a
R_WingC_b
R_WingC_c
R_WingB_a
R_WingB_b
R_WingB_c
R_WingA_a
R_WingA_b
R_WingA_c
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_ToeMiddle_a
R_ToeMiddle_b
R_ToeMiddle_c
R_ToeThumb_a
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
L_ToeMiddle_a
L_ToeMiddle_b
L_ToeMiddle_c
L_ToeThumb_a
C_Tail_a
C_Tail_b
C_Tail_c
C_Tail_d
