
[RemoveTracks]
STG_CrouchIdle.36=all
STG_CrouchIdle.45=all
STG_CrouchIdle.46=all
STG_CrouchIdle.47=all
STG_CrouchIdle.48=all
STG_CrouchIdle.49=all
STG_CrouchIdle.50=all
STG_CrouchIdle.51=all
STG_CrouchIdle.52=all
STG_CrouchIdle.53=all
STG_CrouchIdle.54=all
STG_CrouchIdle.55=all
STG_CrouchIdle.56=all
STG_CrouchIdle.57=all
STG_CrouchIdle.58=all
STG_CrouchIdle.59=all
STG_CrouchIdle.60=all
STG_CrouchIdle.61=all
STG_CrouchIdle.62=all
STG_CrouchIdle.63=all
STG_CrouchIdle.64=all
STG_CrouchIdle.65=all
STG_CrouchIdle.66=all
STG_CrouchIdle.67=all
STG_CrouchIdle.68=all
STG_CrouchIdle.69=all
STG_CrouchIdle.70=all
STG_CrouchIdle.71=all
STG_CrouchIdle.72=all
STG_CrouchIdle.73=all
STG_CrouchIdle.74=all
STG_CrouchIdle.75=all
STG_CrouchIdle.76=all
STG_CrouchIdle.77=all
STG_CrouchIdle.78=all
STG_CrouchIdle.79=all
STG_CrouchIdle.80=all
STG_CrouchIdle.81=all
STG_CrouchIdle.82=all
STG_CrouchIdle.83=all
STG_CrouchIdle.84=all
STG_CrouchIdle.85=all
STG_CrouchIdle.86=all
STG_CrouchIdle.87=all
STG_CrouchIdle.88=all
STG_CrouchIdle.89=all
STG_CrouchIdle.90=all
STG_CrouchIdle.91=all
STG_CrouchIdle.92=all
STG_CrouchIdle.93=all
STG_CrouchIdle.94=all
STG_CrouchIdle.95=all
STG_CrouchIdle.96=all
STG_CrouchIdle.97=all
STG_CrouchIdle.98=all
STG_CrouchIdle.99=all
STG_CrouchIdle.100=all
STG_CrouchIdle.101=all
STG_CrouchIdle.102=all
STG_CrouchIdle.103=all
STG_CrouchIdle.104=all
STG_CrouchIdle.105=all
STG_CrouchIdle.106=all
STG_CrouchIdle.108=all
STG_CrouchIdle.109=all
STG_CrouchIdle.110=all
STG_CrouchIdle.111=all
STG_CrouchIdle.112=all
STG_CrouchIdle.113=all
STG_CrouchIdle.114=all
STG_CrouchIdle.115=all
STG_CrouchIdle.116=all
STG_CrouchIdle.117=all
STG_CrouchIdle.118=all
STG_CrouchIdle.119=all
STG_CrouchIdle.120=all
STG_CrouchIdle.121=all
STG_CrouchIdle.122=all
STG_CrouchIdle.123=all
STG_CrouchIdle.124=all
STG_CrouchIdle.125=all
STG_CrouchIdle.126=all
STG_CrouchIdle.127=all
STG_CrouchIdle.128=all
STG_CrouchIdle.129=all
STG_CrouchIdle.130=all
STG_CrouchIdle.131=all
STG_CrouchIdle.132=all
STG_CrouchIdle.133=all
STG_CrouchIdle.134=all
STG_CrouchIdle.135=all
STG_CrouchIdle.136=all
STG_CrouchIdle.137=all
STG_CrouchIdle.138=all
STG_CrouchIdle.139=all
STG_CrouchIdle.140=all
STG_CrouchIdle.141=all
STG_CrouchIdle.142=all
STG_CrouchIdle.143=all
STG_CrouchIdle.144=all
STG_CrouchIdle.145=all
STG_CrouchIdle.146=all
STG_CrouchIdle.147=all
