
[RemoveTracks]
STG_CrouchTurn.36=all
STG_CrouchTurn.45=all
STG_CrouchTurn.46=all
STG_CrouchTurn.47=all
STG_CrouchTurn.48=all
STG_CrouchTurn.49=all
STG_CrouchTurn.50=all
STG_CrouchTurn.67=all
STG_CrouchTurn.68=all
STG_CrouchTurn.69=all
STG_CrouchTurn.70=all
STG_CrouchTurn.71=all
STG_CrouchTurn.72=all
STG_CrouchTurn.73=all
STG_CrouchTurn.74=all
STG_CrouchTurn.75=all
STG_CrouchTurn.76=all
STG_CrouchTurn.77=all
STG_CrouchTurn.78=all
STG_CrouchTurn.79=all
STG_CrouchTurn.80=all
STG_CrouchTurn.81=all
STG_CrouchTurn.82=all
STG_CrouchTurn.83=all
STG_CrouchTurn.84=all
STG_CrouchTurn.85=all
STG_CrouchTurn.86=all
STG_CrouchTurn.87=all
STG_CrouchTurn.88=all
STG_CrouchTurn.89=all
STG_CrouchTurn.90=all
STG_CrouchTurn.91=all
STG_CrouchTurn.92=all
STG_CrouchTurn.93=all
STG_CrouchTurn.94=all
STG_CrouchTurn.95=all
STG_CrouchTurn.96=all
STG_CrouchTurn.97=all
STG_CrouchTurn.98=all
STG_CrouchTurn.99=all
STG_CrouchTurn.100=all
STG_CrouchTurn.101=all
STG_CrouchTurn.102=all
STG_CrouchTurn.103=all
STG_CrouchTurn.104=all
STG_CrouchTurn.105=all
STG_CrouchTurn.106=all
STG_CrouchTurn.107=all
STG_CrouchTurn.108=all
STG_CrouchTurn.109=all
STG_CrouchTurn.110=all
STG_CrouchTurn.111=all
STG_CrouchTurn.112=all
STG_CrouchTurn.113=all
STG_CrouchTurn.114=all
STG_CrouchTurn.115=all
STG_CrouchTurn.116=all
STG_CrouchTurn.117=all
STG_CrouchTurn.118=all
STG_CrouchTurn.119=all
STG_CrouchTurn.120=all
STG_CrouchTurn.121=all
STG_CrouchTurn.122=all
STG_CrouchTurn.123=all
STG_CrouchTurn.124=all
STG_CrouchTurn.125=all
STG_CrouchTurn.126=all
STG_CrouchTurn.127=all
STG_CrouchTurn.128=all
STG_CrouchTurn.129=all
STG_CrouchTurn.130=all
STG_CrouchTurn.131=all
STG_CrouchTurn.132=all
STG_CrouchTurn.133=all
STG_CrouchTurn.134=all
STG_CrouchTurn.135=all
STG_CrouchTurn.136=all
STG_CrouchTurn.137=all
STG_CrouchTurn.138=all
STG_CrouchTurn.139=all
STG_CrouchTurn.140=all
STG_CrouchTurn.141=all
STG_CrouchTurn.142=all
STG_CrouchTurn.143=all
STG_CrouchTurn.144=all
STG_CrouchTurn.145=all
STG_CrouchTurn.146=all
STG_CrouchTurn.147=all
