
[RemoveTracks]
STG_JumpTop.36=all
STG_JumpTop.45=all
STG_JumpTop.46=all
STG_JumpTop.47=all
STG_JumpTop.48=all
STG_JumpTop.49=all
STG_JumpTop.50=all
STG_JumpTop.51=all
STG_JumpTop.52=all
STG_JumpTop.53=all
STG_JumpTop.54=all
STG_JumpTop.55=all
STG_JumpTop.56=all
STG_JumpTop.57=all
STG_JumpTop.58=all
STG_JumpTop.59=all
STG_JumpTop.60=all
STG_JumpTop.61=all
STG_JumpTop.62=all
STG_JumpTop.63=all
STG_JumpTop.64=all
STG_JumpTop.65=all
STG_JumpTop.66=all
STG_JumpTop.67=all
STG_JumpTop.68=all
STG_JumpTop.69=all
STG_JumpTop.70=all
STG_JumpTop.71=all
STG_JumpTop.72=all
STG_JumpTop.73=all
STG_JumpTop.74=all
STG_JumpTop.75=all
STG_JumpTop.76=all
STG_JumpTop.77=all
STG_JumpTop.78=all
STG_JumpTop.79=all
STG_JumpTop.80=all
STG_JumpTop.81=all
STG_JumpTop.82=all
STG_JumpTop.83=all
STG_JumpTop.84=all
STG_JumpTop.85=all
STG_JumpTop.86=all
STG_JumpTop.87=all
STG_JumpTop.88=all
STG_JumpTop.89=all
STG_JumpTop.90=all
STG_JumpTop.91=all
STG_JumpTop.92=all
STG_JumpTop.93=all
STG_JumpTop.94=all
STG_JumpTop.95=all
STG_JumpTop.96=all
STG_JumpTop.97=all
STG_JumpTop.98=all
STG_JumpTop.99=all
STG_JumpTop.100=all
STG_JumpTop.101=all
STG_JumpTop.102=all
STG_JumpTop.103=all
STG_JumpTop.104=all
STG_JumpTop.105=all
STG_JumpTop.106=all
STG_JumpTop.108=all
STG_JumpTop.109=all
STG_JumpTop.110=all
STG_JumpTop.111=all
STG_JumpTop.112=all
STG_JumpTop.113=all
STG_JumpTop.114=all
STG_JumpTop.115=all
STG_JumpTop.116=all
STG_JumpTop.117=all
STG_JumpTop.118=all
STG_JumpTop.119=all
STG_JumpTop.120=all
STG_JumpTop.121=all
STG_JumpTop.122=all
STG_JumpTop.123=all
STG_JumpTop.124=all
STG_JumpTop.125=all
STG_JumpTop.126=all
STG_JumpTop.127=all
STG_JumpTop.128=all
STG_JumpTop.129=all
STG_JumpTop.130=all
STG_JumpTop.131=all
STG_JumpTop.132=all
STG_JumpTop.133=all
STG_JumpTop.134=all
STG_JumpTop.135=all
STG_JumpTop.136=all
STG_JumpTop.137=all
STG_JumpTop.138=all
STG_JumpTop.139=all
STG_JumpTop.140=all
STG_JumpTop.141=all
STG_JumpTop.142=all
STG_JumpTop.143=all
STG_JumpTop.144=all
STG_JumpTop.145=all
STG_JumpTop.146=all
STG_JumpTop.147=all
