
[RemoveTracks]
STG_ProneIdle.36=all
STG_ProneIdle.45=all
STG_ProneIdle.46=all
STG_ProneIdle.47=all
STG_ProneIdle.48=all
STG_ProneIdle.49=all
STG_ProneIdle.50=all
STG_ProneIdle.51=all
STG_ProneIdle.52=all
STG_ProneIdle.53=all
STG_ProneIdle.54=all
STG_ProneIdle.55=all
STG_ProneIdle.56=all
STG_ProneIdle.57=all
STG_ProneIdle.58=all
STG_ProneIdle.59=all
STG_ProneIdle.60=all
STG_ProneIdle.61=all
STG_ProneIdle.62=all
STG_ProneIdle.63=all
STG_ProneIdle.64=all
STG_ProneIdle.65=all
STG_ProneIdle.66=all
STG_ProneIdle.67=all
STG_ProneIdle.68=all
STG_ProneIdle.69=all
STG_ProneIdle.70=all
STG_ProneIdle.71=all
STG_ProneIdle.72=all
STG_ProneIdle.73=all
STG_ProneIdle.74=all
STG_ProneIdle.75=all
STG_ProneIdle.76=all
STG_ProneIdle.77=all
STG_ProneIdle.78=all
STG_ProneIdle.79=all
STG_ProneIdle.80=all
STG_ProneIdle.81=all
STG_ProneIdle.82=all
STG_ProneIdle.83=all
STG_ProneIdle.84=all
STG_ProneIdle.85=all
STG_ProneIdle.86=all
STG_ProneIdle.87=all
STG_ProneIdle.88=all
STG_ProneIdle.89=all
STG_ProneIdle.90=all
STG_ProneIdle.91=all
STG_ProneIdle.92=all
STG_ProneIdle.93=all
STG_ProneIdle.94=all
STG_ProneIdle.95=all
STG_ProneIdle.96=all
STG_ProneIdle.97=all
STG_ProneIdle.98=all
STG_ProneIdle.99=all
STG_ProneIdle.100=all
STG_ProneIdle.101=all
STG_ProneIdle.102=all
STG_ProneIdle.103=all
STG_ProneIdle.104=all
STG_ProneIdle.105=all
STG_ProneIdle.106=all
STG_ProneIdle.108=all
STG_ProneIdle.109=all
STG_ProneIdle.110=all
STG_ProneIdle.111=all
STG_ProneIdle.112=all
STG_ProneIdle.113=all
STG_ProneIdle.114=all
STG_ProneIdle.115=all
STG_ProneIdle.116=all
STG_ProneIdle.117=all
STG_ProneIdle.118=all
STG_ProneIdle.119=all
STG_ProneIdle.120=all
STG_ProneIdle.121=all
STG_ProneIdle.122=all
STG_ProneIdle.123=all
STG_ProneIdle.124=all
STG_ProneIdle.125=all
STG_ProneIdle.126=all
STG_ProneIdle.127=all
STG_ProneIdle.128=all
STG_ProneIdle.129=all
STG_ProneIdle.130=all
STG_ProneIdle.131=all
STG_ProneIdle.132=all
STG_ProneIdle.133=all
STG_ProneIdle.134=all
STG_ProneIdle.135=all
STG_ProneIdle.136=all
STG_ProneIdle.137=all
STG_ProneIdle.138=all
STG_ProneIdle.139=all
STG_ProneIdle.140=all
STG_ProneIdle.141=all
STG_ProneIdle.142=all
STG_ProneIdle.143=all
STG_ProneIdle.144=all
STG_ProneIdle.145=all
STG_ProneIdle.146=all
STG_ProneIdle.147=all
