
[RemoveTracks]
STG_JumpFalling.36=all
STG_JumpFalling.45=all
STG_JumpFalling.46=all
STG_JumpFalling.47=all
STG_JumpFalling.48=all
STG_JumpFalling.49=all
STG_JumpFalling.50=all
STG_JumpFalling.51=all
STG_JumpFalling.52=all
STG_JumpFalling.53=all
STG_JumpFalling.54=all
STG_JumpFalling.55=all
STG_JumpFalling.56=all
STG_JumpFalling.57=all
STG_JumpFalling.58=all
STG_JumpFalling.59=all
STG_JumpFalling.60=all
STG_JumpFalling.61=all
STG_JumpFalling.62=all
STG_JumpFalling.63=all
STG_JumpFalling.64=all
STG_JumpFalling.65=all
STG_JumpFalling.66=all
STG_JumpFalling.67=all
STG_JumpFalling.68=all
STG_JumpFalling.69=all
STG_JumpFalling.70=all
STG_JumpFalling.71=all
STG_JumpFalling.72=all
STG_JumpFalling.73=all
STG_JumpFalling.74=all
STG_JumpFalling.75=all
STG_JumpFalling.76=all
STG_JumpFalling.77=all
STG_JumpFalling.78=all
STG_JumpFalling.79=all
STG_JumpFalling.80=all
STG_JumpFalling.81=all
STG_JumpFalling.82=all
STG_JumpFalling.83=all
STG_JumpFalling.84=all
STG_JumpFalling.85=all
STG_JumpFalling.86=all
STG_JumpFalling.87=all
STG_JumpFalling.88=all
STG_JumpFalling.89=all
STG_JumpFalling.90=all
STG_JumpFalling.91=all
STG_JumpFalling.92=all
STG_JumpFalling.93=all
STG_JumpFalling.94=all
STG_JumpFalling.95=all
STG_JumpFalling.96=all
STG_JumpFalling.97=all
STG_JumpFalling.98=all
STG_JumpFalling.99=all
STG_JumpFalling.100=all
STG_JumpFalling.101=all
STG_JumpFalling.102=all
STG_JumpFalling.103=all
STG_JumpFalling.104=all
STG_JumpFalling.105=all
STG_JumpFalling.106=all
STG_JumpFalling.108=all
STG_JumpFalling.109=all
STG_JumpFalling.110=all
STG_JumpFalling.111=all
STG_JumpFalling.112=all
STG_JumpFalling.113=all
STG_JumpFalling.114=all
STG_JumpFalling.115=all
STG_JumpFalling.116=all
STG_JumpFalling.117=all
STG_JumpFalling.118=all
STG_JumpFalling.119=all
STG_JumpFalling.120=all
STG_JumpFalling.121=all
STG_JumpFalling.122=all
STG_JumpFalling.123=all
STG_JumpFalling.124=all
STG_JumpFalling.125=all
STG_JumpFalling.126=all
STG_JumpFalling.127=all
STG_JumpFalling.128=all
STG_JumpFalling.129=all
STG_JumpFalling.130=all
STG_JumpFalling.131=all
STG_JumpFalling.132=all
STG_JumpFalling.133=all
STG_JumpFalling.134=all
STG_JumpFalling.135=all
STG_JumpFalling.136=all
STG_JumpFalling.137=all
STG_JumpFalling.138=all
STG_JumpFalling.139=all
STG_JumpFalling.140=all
STG_JumpFalling.141=all
STG_JumpFalling.142=all
STG_JumpFalling.143=all
STG_JumpFalling.144=all
STG_JumpFalling.145=all
STG_JumpFalling.146=all
STG_JumpFalling.147=all
