
[RemoveTracks]
STG_CrouchToProne.36=all
STG_CrouchToProne.45=all
STG_CrouchToProne.46=all
STG_CrouchToProne.47=all
STG_CrouchToProne.48=all
STG_CrouchToProne.49=all
STG_CrouchToProne.50=all
STG_CrouchToProne.51=all
STG_CrouchToProne.52=all
STG_CrouchToProne.53=all
STG_CrouchToProne.54=all
STG_CrouchToProne.55=all
STG_CrouchToProne.56=all
STG_CrouchToProne.57=all
STG_CrouchToProne.58=all
STG_CrouchToProne.59=all
STG_CrouchToProne.60=all
STG_CrouchToProne.61=all
STG_CrouchToProne.62=all
STG_CrouchToProne.63=all
STG_CrouchToProne.64=all
STG_CrouchToProne.65=all
STG_CrouchToProne.66=all
STG_CrouchToProne.67=all
STG_CrouchToProne.68=all
STG_CrouchToProne.69=all
STG_CrouchToProne.70=all
STG_CrouchToProne.71=all
STG_CrouchToProne.72=all
STG_CrouchToProne.73=all
STG_CrouchToProne.74=all
STG_CrouchToProne.75=all
STG_CrouchToProne.76=all
STG_CrouchToProne.77=all
STG_CrouchToProne.78=all
STG_CrouchToProne.79=all
STG_CrouchToProne.80=all
STG_CrouchToProne.81=all
STG_CrouchToProne.82=all
STG_CrouchToProne.83=all
STG_CrouchToProne.84=all
STG_CrouchToProne.85=all
STG_CrouchToProne.86=all
STG_CrouchToProne.87=all
STG_CrouchToProne.88=all
STG_CrouchToProne.89=all
STG_CrouchToProne.90=all
STG_CrouchToProne.91=all
STG_CrouchToProne.92=all
STG_CrouchToProne.93=all
STG_CrouchToProne.94=all
STG_CrouchToProne.95=all
STG_CrouchToProne.96=all
STG_CrouchToProne.97=all
STG_CrouchToProne.98=all
STG_CrouchToProne.99=all
STG_CrouchToProne.100=all
STG_CrouchToProne.101=all
STG_CrouchToProne.102=all
STG_CrouchToProne.103=all
STG_CrouchToProne.104=all
STG_CrouchToProne.105=all
STG_CrouchToProne.106=all
STG_CrouchToProne.108=all
STG_CrouchToProne.109=all
STG_CrouchToProne.110=all
STG_CrouchToProne.111=all
STG_CrouchToProne.112=all
STG_CrouchToProne.113=all
STG_CrouchToProne.114=all
STG_CrouchToProne.115=all
STG_CrouchToProne.116=all
STG_CrouchToProne.117=all
STG_CrouchToProne.118=all
STG_CrouchToProne.119=all
STG_CrouchToProne.120=all
STG_CrouchToProne.121=all
STG_CrouchToProne.122=all
STG_CrouchToProne.123=all
STG_CrouchToProne.124=all
STG_CrouchToProne.125=all
STG_CrouchToProne.126=all
STG_CrouchToProne.127=all
STG_CrouchToProne.128=all
STG_CrouchToProne.129=all
STG_CrouchToProne.130=all
STG_CrouchToProne.131=all
STG_CrouchToProne.132=all
STG_CrouchToProne.133=all
STG_CrouchToProne.134=all
STG_CrouchToProne.135=all
STG_CrouchToProne.136=all
STG_CrouchToProne.137=all
STG_CrouchToProne.138=all
STG_CrouchToProne.139=all
STG_CrouchToProne.140=all
STG_CrouchToProne.141=all
STG_CrouchToProne.142=all
STG_CrouchToProne.143=all
STG_CrouchToProne.144=all
STG_CrouchToProne.145=all
STG_CrouchToProne.146=all
STG_CrouchToProne.147=all
