
[RemoveTracks]
STG_RunStop.36=all
STG_RunStop.45=all
STG_RunStop.46=all
STG_RunStop.47=all
STG_RunStop.48=all
STG_RunStop.49=all
STG_RunStop.50=all
STG_RunStop.51=all
STG_RunStop.52=all
STG_RunStop.53=all
STG_RunStop.54=all
STG_RunStop.55=all
STG_RunStop.56=all
STG_RunStop.57=all
STG_RunStop.58=all
STG_RunStop.59=all
STG_RunStop.60=all
STG_RunStop.61=all
STG_RunStop.62=all
STG_RunStop.63=all
STG_RunStop.64=all
STG_RunStop.65=all
STG_RunStop.66=all
STG_RunStop.67=all
STG_RunStop.68=all
STG_RunStop.69=all
STG_RunStop.70=all
STG_RunStop.71=all
STG_RunStop.72=all
STG_RunStop.73=all
STG_RunStop.74=all
STG_RunStop.75=all
STG_RunStop.76=all
STG_RunStop.77=all
STG_RunStop.78=all
STG_RunStop.79=all
STG_RunStop.80=all
STG_RunStop.81=all
STG_RunStop.82=all
STG_RunStop.83=all
STG_RunStop.84=all
STG_RunStop.85=all
STG_RunStop.86=all
STG_RunStop.87=all
STG_RunStop.88=all
STG_RunStop.89=all
STG_RunStop.90=all
STG_RunStop.91=all
STG_RunStop.92=all
STG_RunStop.93=all
STG_RunStop.94=all
STG_RunStop.95=all
STG_RunStop.96=all
STG_RunStop.97=all
STG_RunStop.98=all
STG_RunStop.99=all
STG_RunStop.100=all
STG_RunStop.101=all
STG_RunStop.102=all
STG_RunStop.103=all
STG_RunStop.104=all
STG_RunStop.105=all
STG_RunStop.106=all
STG_RunStop.108=all
STG_RunStop.109=all
STG_RunStop.110=all
STG_RunStop.111=all
STG_RunStop.112=all
STG_RunStop.113=all
STG_RunStop.114=all
STG_RunStop.115=all
STG_RunStop.116=all
STG_RunStop.117=all
STG_RunStop.118=all
STG_RunStop.119=all
STG_RunStop.120=all
STG_RunStop.121=all
STG_RunStop.122=all
STG_RunStop.123=all
STG_RunStop.124=all
STG_RunStop.125=all
STG_RunStop.126=all
STG_RunStop.127=all
STG_RunStop.128=all
STG_RunStop.129=all
STG_RunStop.130=all
STG_RunStop.131=all
STG_RunStop.132=all
STG_RunStop.133=all
STG_RunStop.134=all
STG_RunStop.135=all
STG_RunStop.136=all
STG_RunStop.137=all
STG_RunStop.138=all
STG_RunStop.139=all
STG_RunStop.140=all
STG_RunStop.141=all
STG_RunStop.142=all
STG_RunStop.143=all
STG_RunStop.144=all
STG_RunStop.145=all
STG_RunStop.146=all
STG_RunStop.147=all
