
[RemoveTracks]
STG_StandIdle.36=all
STG_StandIdle.45=all
STG_StandIdle.46=all
STG_StandIdle.47=all
STG_StandIdle.48=all
STG_StandIdle.49=all
STG_StandIdle.50=all
STG_StandIdle.51=all
STG_StandIdle.52=all
STG_StandIdle.53=all
STG_StandIdle.54=all
STG_StandIdle.55=all
STG_StandIdle.56=all
STG_StandIdle.57=all
STG_StandIdle.58=all
STG_StandIdle.59=all
STG_StandIdle.60=all
STG_StandIdle.61=all
STG_StandIdle.62=all
STG_StandIdle.63=all
STG_StandIdle.64=all
STG_StandIdle.65=all
STG_StandIdle.66=all
STG_StandIdle.67=all
STG_StandIdle.68=all
STG_StandIdle.69=all
STG_StandIdle.70=all
STG_StandIdle.71=all
STG_StandIdle.72=all
STG_StandIdle.73=all
STG_StandIdle.74=all
STG_StandIdle.75=all
STG_StandIdle.76=all
STG_StandIdle.77=all
STG_StandIdle.78=all
STG_StandIdle.79=all
STG_StandIdle.80=all
STG_StandIdle.81=all
STG_StandIdle.82=all
STG_StandIdle.83=all
STG_StandIdle.84=all
STG_StandIdle.85=all
STG_StandIdle.86=all
STG_StandIdle.87=all
STG_StandIdle.88=all
STG_StandIdle.89=all
STG_StandIdle.90=all
STG_StandIdle.91=all
STG_StandIdle.92=all
STG_StandIdle.93=all
STG_StandIdle.94=all
STG_StandIdle.95=all
STG_StandIdle.96=all
STG_StandIdle.97=all
STG_StandIdle.98=all
STG_StandIdle.99=all
STG_StandIdle.100=all
STG_StandIdle.101=all
STG_StandIdle.102=all
STG_StandIdle.103=all
STG_StandIdle.104=all
STG_StandIdle.105=all
STG_StandIdle.106=all
STG_StandIdle.108=all
STG_StandIdle.109=all
STG_StandIdle.110=all
STG_StandIdle.111=all
STG_StandIdle.112=all
STG_StandIdle.113=all
STG_StandIdle.114=all
STG_StandIdle.115=all
STG_StandIdle.116=all
STG_StandIdle.117=all
STG_StandIdle.118=all
STG_StandIdle.119=all
STG_StandIdle.120=all
STG_StandIdle.121=all
STG_StandIdle.122=all
STG_StandIdle.123=all
STG_StandIdle.124=all
STG_StandIdle.125=all
STG_StandIdle.126=all
STG_StandIdle.127=all
STG_StandIdle.128=all
STG_StandIdle.129=all
STG_StandIdle.130=all
STG_StandIdle.131=all
STG_StandIdle.132=all
STG_StandIdle.133=all
STG_StandIdle.134=all
STG_StandIdle.135=all
STG_StandIdle.136=all
STG_StandIdle.137=all
STG_StandIdle.138=all
STG_StandIdle.139=all
STG_StandIdle.140=all
STG_StandIdle.141=all
STG_StandIdle.142=all
STG_StandIdle.143=all
STG_StandIdle.144=all
STG_StandIdle.145=all
STG_StandIdle.146=all
STG_StandIdle.147=all
