
[RemoveTracks]
STG_PumpProne.36=all
STG_PumpProne.45=all
STG_PumpProne.46=all
STG_PumpProne.47=all
STG_PumpProne.48=all
STG_PumpProne.49=all
STG_PumpProne.50=all
STG_PumpProne.51=all
STG_PumpProne.52=all
STG_PumpProne.53=all
STG_PumpProne.54=all
STG_PumpProne.55=all
STG_PumpProne.56=all
STG_PumpProne.57=all
STG_PumpProne.58=all
STG_PumpProne.59=all
STG_PumpProne.60=all
STG_PumpProne.61=all
STG_PumpProne.62=all
STG_PumpProne.63=all
STG_PumpProne.64=all
STG_PumpProne.65=all
STG_PumpProne.66=all
STG_PumpProne.67=all
STG_PumpProne.68=all
STG_PumpProne.69=all
STG_PumpProne.70=all
STG_PumpProne.71=all
STG_PumpProne.72=all
STG_PumpProne.73=all
STG_PumpProne.74=all
STG_PumpProne.75=all
STG_PumpProne.76=all
STG_PumpProne.77=all
STG_PumpProne.78=all
STG_PumpProne.79=all
STG_PumpProne.80=all
STG_PumpProne.81=all
STG_PumpProne.82=all
STG_PumpProne.83=all
STG_PumpProne.84=all
STG_PumpProne.85=all
STG_PumpProne.86=all
STG_PumpProne.87=all
STG_PumpProne.88=all
STG_PumpProne.89=all
STG_PumpProne.90=all
STG_PumpProne.91=all
STG_PumpProne.92=all
STG_PumpProne.93=all
STG_PumpProne.94=all
STG_PumpProne.95=all
STG_PumpProne.96=all
STG_PumpProne.97=all
STG_PumpProne.98=all
STG_PumpProne.99=all
STG_PumpProne.100=all
STG_PumpProne.101=all
STG_PumpProne.102=all
STG_PumpProne.103=all
STG_PumpProne.104=all
STG_PumpProne.105=all
STG_PumpProne.106=all
STG_PumpProne.108=all
STG_PumpProne.109=all
STG_PumpProne.110=all
STG_PumpProne.111=all
STG_PumpProne.112=all
STG_PumpProne.113=all
STG_PumpProne.114=all
STG_PumpProne.115=all
STG_PumpProne.116=all
STG_PumpProne.117=all
STG_PumpProne.118=all
STG_PumpProne.119=all
STG_PumpProne.120=all
STG_PumpProne.121=all
STG_PumpProne.122=all
STG_PumpProne.123=all
STG_PumpProne.124=all
STG_PumpProne.125=all
STG_PumpProne.126=all
STG_PumpProne.127=all
STG_PumpProne.128=all
STG_PumpProne.129=all
STG_PumpProne.130=all
STG_PumpProne.131=all
STG_PumpProne.132=all
STG_PumpProne.133=all
STG_PumpProne.134=all
STG_PumpProne.135=all
STG_PumpProne.136=all
STG_PumpProne.137=all
STG_PumpProne.138=all
STG_PumpProne.139=all
STG_PumpProne.140=all
STG_PumpProne.141=all
STG_PumpProne.142=all
STG_PumpProne.143=all
STG_PumpProne.144=all
STG_PumpProne.145=all
STG_PumpProne.146=all
STG_PumpProne.147=all
