
[RemoveTracks]
STG_StandWalkA_B.36=all
STG_StandWalkA_B.45=all
STG_StandWalkA_B.46=all
STG_StandWalkA_B.47=all
STG_StandWalkA_B.48=all
STG_StandWalkA_B.49=all
STG_StandWalkA_B.50=all
STG_StandWalkA_B.51=all
STG_StandWalkA_B.52=all
STG_StandWalkA_B.53=all
STG_StandWalkA_B.54=all
STG_StandWalkA_B.55=all
STG_StandWalkA_B.56=all
STG_StandWalkA_B.57=all
STG_StandWalkA_B.58=all
STG_StandWalkA_B.59=all
STG_StandWalkA_B.60=all
STG_StandWalkA_B.61=all
STG_StandWalkA_B.62=all
STG_StandWalkA_B.63=all
STG_StandWalkA_B.64=all
STG_StandWalkA_B.65=all
STG_StandWalkA_B.66=all
STG_StandWalkA_B.67=all
STG_StandWalkA_B.68=all
STG_StandWalkA_B.69=all
STG_StandWalkA_B.70=all
STG_StandWalkA_B.71=all
STG_StandWalkA_B.72=all
STG_StandWalkA_B.73=all
STG_StandWalkA_B.74=all
STG_StandWalkA_B.75=all
STG_StandWalkA_B.76=all
STG_StandWalkA_B.77=all
STG_StandWalkA_B.78=all
STG_StandWalkA_B.79=all
STG_StandWalkA_B.80=all
STG_StandWalkA_B.81=all
STG_StandWalkA_B.82=all
STG_StandWalkA_B.83=all
STG_StandWalkA_B.84=all
STG_StandWalkA_B.85=all
STG_StandWalkA_B.86=all
STG_StandWalkA_B.87=all
STG_StandWalkA_B.88=all
STG_StandWalkA_B.89=all
STG_StandWalkA_B.90=all
STG_StandWalkA_B.91=all
STG_StandWalkA_B.92=all
STG_StandWalkA_B.93=all
STG_StandWalkA_B.94=all
STG_StandWalkA_B.95=all
STG_StandWalkA_B.96=all
STG_StandWalkA_B.97=all
STG_StandWalkA_B.98=all
STG_StandWalkA_B.99=all
STG_StandWalkA_B.100=all
STG_StandWalkA_B.101=all
STG_StandWalkA_B.102=all
STG_StandWalkA_B.103=all
STG_StandWalkA_B.104=all
STG_StandWalkA_B.105=all
STG_StandWalkA_B.106=all
STG_StandWalkA_B.108=all
STG_StandWalkA_B.109=all
STG_StandWalkA_B.110=all
STG_StandWalkA_B.111=all
STG_StandWalkA_B.112=all
STG_StandWalkA_B.113=all
STG_StandWalkA_B.114=all
STG_StandWalkA_B.115=all
STG_StandWalkA_B.116=all
STG_StandWalkA_B.117=all
STG_StandWalkA_B.118=all
STG_StandWalkA_B.119=all
STG_StandWalkA_B.120=all
STG_StandWalkA_B.121=all
STG_StandWalkA_B.122=all
STG_StandWalkA_B.123=all
STG_StandWalkA_B.124=all
STG_StandWalkA_B.125=all
STG_StandWalkA_B.126=all
STG_StandWalkA_B.127=all
STG_StandWalkA_B.128=all
STG_StandWalkA_B.129=all
STG_StandWalkA_B.130=all
STG_StandWalkA_B.131=all
STG_StandWalkA_B.132=all
STG_StandWalkA_B.133=all
STG_StandWalkA_B.134=all
STG_StandWalkA_B.135=all
STG_StandWalkA_B.136=all
STG_StandWalkA_B.137=all
STG_StandWalkA_B.138=all
STG_StandWalkA_B.139=all
STG_StandWalkA_B.140=all
STG_StandWalkA_B.141=all
STG_StandWalkA_B.142=all
STG_StandWalkA_B.143=all
STG_StandWalkA_B.144=all
STG_StandWalkA_B.145=all
STG_StandWalkA_B.146=all
STG_StandWalkA_B.147=all
