
[RemoveTracks]
STG_ProneToCrouch.36=all
STG_ProneToCrouch.45=all
STG_ProneToCrouch.46=all
STG_ProneToCrouch.47=all
STG_ProneToCrouch.48=all
STG_ProneToCrouch.49=all
STG_ProneToCrouch.50=all
STG_ProneToCrouch.51=all
STG_ProneToCrouch.52=all
STG_ProneToCrouch.53=all
STG_ProneToCrouch.54=all
STG_ProneToCrouch.55=all
STG_ProneToCrouch.56=all
STG_ProneToCrouch.57=all
STG_ProneToCrouch.58=all
STG_ProneToCrouch.59=all
STG_ProneToCrouch.60=all
STG_ProneToCrouch.61=all
STG_ProneToCrouch.62=all
STG_ProneToCrouch.63=all
STG_ProneToCrouch.64=all
STG_ProneToCrouch.65=all
STG_ProneToCrouch.66=all
STG_ProneToCrouch.67=all
STG_ProneToCrouch.68=all
STG_ProneToCrouch.69=all
STG_ProneToCrouch.70=all
STG_ProneToCrouch.71=all
STG_ProneToCrouch.72=all
STG_ProneToCrouch.73=all
STG_ProneToCrouch.74=all
STG_ProneToCrouch.75=all
STG_ProneToCrouch.76=all
STG_ProneToCrouch.77=all
STG_ProneToCrouch.78=all
STG_ProneToCrouch.79=all
STG_ProneToCrouch.80=all
STG_ProneToCrouch.81=all
STG_ProneToCrouch.82=all
STG_ProneToCrouch.83=all
STG_ProneToCrouch.84=all
STG_ProneToCrouch.85=all
STG_ProneToCrouch.86=all
STG_ProneToCrouch.87=all
STG_ProneToCrouch.88=all
STG_ProneToCrouch.89=all
STG_ProneToCrouch.90=all
STG_ProneToCrouch.91=all
STG_ProneToCrouch.92=all
STG_ProneToCrouch.93=all
STG_ProneToCrouch.94=all
STG_ProneToCrouch.95=all
STG_ProneToCrouch.96=all
STG_ProneToCrouch.97=all
STG_ProneToCrouch.98=all
STG_ProneToCrouch.99=all
STG_ProneToCrouch.100=all
STG_ProneToCrouch.101=all
STG_ProneToCrouch.102=all
STG_ProneToCrouch.103=all
STG_ProneToCrouch.104=all
STG_ProneToCrouch.105=all
STG_ProneToCrouch.106=all
STG_ProneToCrouch.108=all
STG_ProneToCrouch.109=all
STG_ProneToCrouch.110=all
STG_ProneToCrouch.111=all
STG_ProneToCrouch.112=all
STG_ProneToCrouch.113=all
STG_ProneToCrouch.114=all
STG_ProneToCrouch.115=all
STG_ProneToCrouch.116=all
STG_ProneToCrouch.117=all
STG_ProneToCrouch.118=all
STG_ProneToCrouch.119=all
STG_ProneToCrouch.120=all
STG_ProneToCrouch.121=all
STG_ProneToCrouch.122=all
STG_ProneToCrouch.123=all
STG_ProneToCrouch.124=all
STG_ProneToCrouch.125=all
STG_ProneToCrouch.126=all
STG_ProneToCrouch.127=all
STG_ProneToCrouch.128=all
STG_ProneToCrouch.129=all
STG_ProneToCrouch.130=all
STG_ProneToCrouch.131=all
STG_ProneToCrouch.132=all
STG_ProneToCrouch.133=all
STG_ProneToCrouch.134=all
STG_ProneToCrouch.135=all
STG_ProneToCrouch.136=all
STG_ProneToCrouch.137=all
STG_ProneToCrouch.138=all
STG_ProneToCrouch.139=all
STG_ProneToCrouch.140=all
STG_ProneToCrouch.141=all
STG_ProneToCrouch.142=all
STG_ProneToCrouch.143=all
STG_ProneToCrouch.144=all
STG_ProneToCrouch.145=all
STG_ProneToCrouch.146=all
STG_ProneToCrouch.147=all
