
[RemoveTracks]
STG_PumpProneAdditive.2=all
STG_PumpProneAdditive.39=all
STG_PumpProneAdditive.40=all
STG_PumpProneAdditive.41=all
STG_PumpProneAdditive.42=all
STG_PumpProneAdditive.43=all
STG_PumpProneAdditive.44=all
STG_PumpProneAdditive.48=all
STG_PumpProneAdditive.49=all
STG_PumpProneAdditive.50=all
STG_PumpProneAdditive.69=all
STG_PumpProneAdditive.70=all
STG_PumpProneAdditive.71=all
STG_PumpProneAdditive.72=all
STG_PumpProneAdditive.73=all
STG_PumpProneAdditive.74=all
STG_PumpProneAdditive.75=all
STG_PumpProneAdditive.76=all
STG_PumpProneAdditive.77=all
STG_PumpProneAdditive.78=all
STG_PumpProneAdditive.79=all
STG_PumpProneAdditive.80=all
STG_PumpProneAdditive.81=all
STG_PumpProneAdditive.82=all
STG_PumpProneAdditive.83=all
STG_PumpProneAdditive.84=all
STG_PumpProneAdditive.85=all
STG_PumpProneAdditive.86=all
STG_PumpProneAdditive.87=all
STG_PumpProneAdditive.88=all
STG_PumpProneAdditive.91=all
STG_PumpProneAdditive.92=all
STG_PumpProneAdditive.93=all
STG_PumpProneAdditive.94=all
STG_PumpProneAdditive.95=all
STG_PumpProneAdditive.96=all
STG_PumpProneAdditive.98=all
STG_PumpProneAdditive.101=all
STG_PumpProneAdditive.102=all
STG_PumpProneAdditive.103=all
STG_PumpProneAdditive.104=all
STG_PumpProneAdditive.105=all
STG_PumpProneAdditive.106=all
STG_PumpProneAdditive.112=all
STG_PumpProneAdditive.113=all
STG_PumpProneAdditive.120=all
STG_PumpProneAdditive.121=all
STG_PumpProneAdditive.122=all
STG_PumpProneAdditive.123=all
STG_PumpProneAdditive.130=all
STG_PumpProneAdditive.131=all
STG_PumpProneAdditive.132=all
STG_PumpProneAdditive.133=all
STG_PumpProneAdditive.134=all
STG_PumpProneAdditive.137=all
STG_PumpProneAdditive.138=all
STG_PumpProneAdditive.139=all
STG_PumpProneAdditive.140=all
STG_PumpProneAdditive.141=all
STG_PumpProneAdditive.142=all
STG_PumpProneAdditive.143=all
STG_PumpProneAdditive.146=all
STG_PumpProneAdditive.147=all
