
[RemoveTracks]
STG_PumpStand.36=all
STG_PumpStand.45=all
STG_PumpStand.46=all
STG_PumpStand.47=all
STG_PumpStand.48=all
STG_PumpStand.49=all
STG_PumpStand.50=all
STG_PumpStand.51=all
STG_PumpStand.52=all
STG_PumpStand.53=all
STG_PumpStand.54=all
STG_PumpStand.55=all
STG_PumpStand.56=all
STG_PumpStand.57=all
STG_PumpStand.58=all
STG_PumpStand.59=all
STG_PumpStand.60=all
STG_PumpStand.61=all
STG_PumpStand.62=all
STG_PumpStand.63=all
STG_PumpStand.64=all
STG_PumpStand.65=all
STG_PumpStand.66=all
STG_PumpStand.67=all
STG_PumpStand.68=all
STG_PumpStand.69=all
STG_PumpStand.70=all
STG_PumpStand.71=all
STG_PumpStand.72=all
STG_PumpStand.73=all
STG_PumpStand.74=all
STG_PumpStand.75=all
STG_PumpStand.76=all
STG_PumpStand.77=all
STG_PumpStand.78=all
STG_PumpStand.79=all
STG_PumpStand.80=all
STG_PumpStand.81=all
STG_PumpStand.82=all
STG_PumpStand.83=all
STG_PumpStand.84=all
STG_PumpStand.85=all
STG_PumpStand.86=all
STG_PumpStand.87=all
STG_PumpStand.88=all
STG_PumpStand.89=all
STG_PumpStand.90=all
STG_PumpStand.91=all
STG_PumpStand.92=all
STG_PumpStand.93=all
STG_PumpStand.94=all
STG_PumpStand.95=all
STG_PumpStand.96=all
STG_PumpStand.97=all
STG_PumpStand.98=all
STG_PumpStand.99=all
STG_PumpStand.100=all
STG_PumpStand.101=all
STG_PumpStand.102=all
STG_PumpStand.103=all
STG_PumpStand.104=all
STG_PumpStand.105=all
STG_PumpStand.106=all
STG_PumpStand.108=all
STG_PumpStand.109=all
STG_PumpStand.110=all
STG_PumpStand.111=all
STG_PumpStand.112=all
STG_PumpStand.113=all
STG_PumpStand.114=all
STG_PumpStand.115=all
STG_PumpStand.116=all
STG_PumpStand.117=all
STG_PumpStand.118=all
STG_PumpStand.119=all
STG_PumpStand.120=all
STG_PumpStand.121=all
STG_PumpStand.122=all
STG_PumpStand.123=all
STG_PumpStand.124=all
STG_PumpStand.125=all
STG_PumpStand.126=all
STG_PumpStand.127=all
STG_PumpStand.128=all
STG_PumpStand.129=all
STG_PumpStand.130=all
STG_PumpStand.131=all
STG_PumpStand.132=all
STG_PumpStand.133=all
STG_PumpStand.134=all
STG_PumpStand.135=all
STG_PumpStand.136=all
STG_PumpStand.137=all
STG_PumpStand.138=all
STG_PumpStand.139=all
STG_PumpStand.140=all
STG_PumpStand.141=all
STG_PumpStand.142=all
STG_PumpStand.143=all
STG_PumpStand.144=all
STG_PumpStand.145=all
STG_PumpStand.146=all
STG_PumpStand.147=all
