
[RemoveTracks]
STG_ProneIdle_D.1=all
STG_ProneIdle_D.2=all
STG_ProneIdle_D.3=all
STG_ProneIdle_D.4=all
STG_ProneIdle_D.5=all
STG_ProneIdle_D.6=all
STG_ProneIdle_D.7=all
STG_ProneIdle_D.8=all
STG_ProneIdle_D.9=all
STG_ProneIdle_D.10=all
STG_ProneIdle_D.11=all
STG_ProneIdle_D.12=all
STG_ProneIdle_D.13=all
STG_ProneIdle_D.14=all
STG_ProneIdle_D.15=all
STG_ProneIdle_D.16=all
STG_ProneIdle_D.17=all
STG_ProneIdle_D.18=all
STG_ProneIdle_D.19=all
STG_ProneIdle_D.20=all
STG_ProneIdle_D.21=all
STG_ProneIdle_D.22=all
STG_ProneIdle_D.23=all
STG_ProneIdle_D.24=all
STG_ProneIdle_D.25=all
STG_ProneIdle_D.26=all
STG_ProneIdle_D.27=all
STG_ProneIdle_D.28=all
STG_ProneIdle_D.29=all
STG_ProneIdle_D.30=all
STG_ProneIdle_D.31=all
STG_ProneIdle_D.32=all
STG_ProneIdle_D.33=all
STG_ProneIdle_D.34=all
STG_ProneIdle_D.35=all
STG_ProneIdle_D.36=all
STG_ProneIdle_D.37=all
STG_ProneIdle_D.38=all
STG_ProneIdle_D.39=all
STG_ProneIdle_D.40=all
STG_ProneIdle_D.41=all
STG_ProneIdle_D.42=all
STG_ProneIdle_D.43=all
STG_ProneIdle_D.44=all
STG_ProneIdle_D.45=all
STG_ProneIdle_D.46=all
STG_ProneIdle_D.47=all
STG_ProneIdle_D.48=all
STG_ProneIdle_D.49=all
STG_ProneIdle_D.50=all
STG_ProneIdle_D.51=all
STG_ProneIdle_D.52=all
STG_ProneIdle_D.53=all
STG_ProneIdle_D.54=all
STG_ProneIdle_D.55=all
STG_ProneIdle_D.56=all
STG_ProneIdle_D.57=all
STG_ProneIdle_D.58=all
STG_ProneIdle_D.59=all
STG_ProneIdle_D.60=all
STG_ProneIdle_D.61=all
STG_ProneIdle_D.62=all
STG_ProneIdle_D.63=all
STG_ProneIdle_D.64=all
STG_ProneIdle_D.65=all
STG_ProneIdle_D.66=all
STG_ProneIdle_D.67=all
STG_ProneIdle_D.68=all
STG_ProneIdle_D.69=all
STG_ProneIdle_D.70=all
STG_ProneIdle_D.71=all
STG_ProneIdle_D.72=all
STG_ProneIdle_D.73=all
STG_ProneIdle_D.74=all
STG_ProneIdle_D.75=all
STG_ProneIdle_D.76=all
STG_ProneIdle_D.77=all
STG_ProneIdle_D.78=all
STG_ProneIdle_D.79=all
STG_ProneIdle_D.80=all
STG_ProneIdle_D.81=all
STG_ProneIdle_D.82=all
STG_ProneIdle_D.83=all
STG_ProneIdle_D.84=all
STG_ProneIdle_D.85=all
STG_ProneIdle_D.86=all
STG_ProneIdle_D.87=all
STG_ProneIdle_D.88=all
STG_ProneIdle_D.89=all
STG_ProneIdle_D.90=all
STG_ProneIdle_D.91=all
STG_ProneIdle_D.92=all
STG_ProneIdle_D.93=all
STG_ProneIdle_D.94=all
STG_ProneIdle_D.95=all
STG_ProneIdle_D.96=all
STG_ProneIdle_D.97=all
STG_ProneIdle_D.98=all
STG_ProneIdle_D.99=all
STG_ProneIdle_D.100=all
STG_ProneIdle_D.101=all
STG_ProneIdle_D.102=all
STG_ProneIdle_D.103=all
STG_ProneIdle_D.104=all
STG_ProneIdle_D.105=all
STG_ProneIdle_D.106=all
STG_ProneIdle_D.107=all
STG_ProneIdle_D.108=all
STG_ProneIdle_D.109=all
STG_ProneIdle_D.110=all
STG_ProneIdle_D.111=all
STG_ProneIdle_D.112=all
STG_ProneIdle_D.113=all
STG_ProneIdle_D.114=all
STG_ProneIdle_D.115=all
STG_ProneIdle_D.116=all
STG_ProneIdle_D.117=all
STG_ProneIdle_D.118=all
STG_ProneIdle_D.119=all
STG_ProneIdle_D.120=all
STG_ProneIdle_D.121=all
STG_ProneIdle_D.122=all
STG_ProneIdle_D.123=all
STG_ProneIdle_D.124=all
STG_ProneIdle_D.125=all
STG_ProneIdle_D.126=all
STG_ProneIdle_D.127=all
STG_ProneIdle_D.128=all
STG_ProneIdle_D.129=all
STG_ProneIdle_D.130=all
STG_ProneIdle_D.131=all
STG_ProneIdle_D.132=all
STG_ProneIdle_D.133=all
STG_ProneIdle_D.134=all
STG_ProneIdle_D.135=all
STG_ProneIdle_D.136=all
STG_ProneIdle_D.137=all
STG_ProneIdle_D.138=all
STG_ProneIdle_D.139=all
STG_ProneIdle_D.140=all
STG_ProneIdle_D.141=all
STG_ProneIdle_D.142=all
STG_ProneIdle_D.143=all
STG_ProneIdle_D.144=all
STG_ProneIdle_D.145=all
STG_ProneIdle_D.146=all
STG_ProneIdle_D.147=all
