
[RemoveTracks]
STG_FireStand.1=all
STG_FireStand.2=all
STG_FireStand.37=all
STG_FireStand.38=all
STG_FireStand.39=all
STG_FireStand.40=all
STG_FireStand.41=all
STG_FireStand.42=all
STG_FireStand.43=all
STG_FireStand.44=all
STG_FireStand.48=all
STG_FireStand.49=all
STG_FireStand.50=all
STG_FireStand.67=all
STG_FireStand.68=all
STG_FireStand.69=all
STG_FireStand.70=all
STG_FireStand.71=all
STG_FireStand.72=all
STG_FireStand.73=all
STG_FireStand.74=all
STG_FireStand.75=all
STG_FireStand.76=all
STG_FireStand.77=all
STG_FireStand.78=all
STG_FireStand.79=all
STG_FireStand.80=all
STG_FireStand.81=all
STG_FireStand.82=all
STG_FireStand.83=all
STG_FireStand.84=all
STG_FireStand.85=all
STG_FireStand.86=all
STG_FireStand.87=all
STG_FireStand.88=all
STG_FireStand.89=all
STG_FireStand.90=all
STG_FireStand.91=all
STG_FireStand.92=all
STG_FireStand.93=all
STG_FireStand.94=all
STG_FireStand.95=all
STG_FireStand.96=all
STG_FireStand.97=all
STG_FireStand.98=all
STG_FireStand.99=all
STG_FireStand.100=all
STG_FireStand.101=all
STG_FireStand.102=all
STG_FireStand.103=all
STG_FireStand.104=all
STG_FireStand.105=all
STG_FireStand.106=all
STG_FireStand.112=all
STG_FireStand.113=all
STG_FireStand.114=all
STG_FireStand.115=all
STG_FireStand.116=all
STG_FireStand.117=all
STG_FireStand.118=all
STG_FireStand.119=all
STG_FireStand.120=all
STG_FireStand.121=all
STG_FireStand.122=all
STG_FireStand.123=all
STG_FireStand.128=all
STG_FireStand.129=all
STG_FireStand.130=all
STG_FireStand.131=all
STG_FireStand.132=all
STG_FireStand.133=all
STG_FireStand.134=all
STG_FireStand.137=all
STG_FireStand.138=all
STG_FireStand.139=all
STG_FireStand.140=all
STG_FireStand.141=all
STG_FireStand.142=all
STG_FireStand.143=all
STG_FireStand.144=all
STG_FireStand.145=all
STG_FireStand.146=all
STG_FireStand.147=all
