
[RemoveTracks]
STG_StandWalkA_F.36=all
STG_StandWalkA_F.45=all
STG_StandWalkA_F.46=all
STG_StandWalkA_F.47=all
STG_StandWalkA_F.48=all
STG_StandWalkA_F.49=all
STG_StandWalkA_F.50=all
STG_StandWalkA_F.51=all
STG_StandWalkA_F.52=all
STG_StandWalkA_F.53=all
STG_StandWalkA_F.54=all
STG_StandWalkA_F.55=all
STG_StandWalkA_F.56=all
STG_StandWalkA_F.57=all
STG_StandWalkA_F.58=all
STG_StandWalkA_F.59=all
STG_StandWalkA_F.60=all
STG_StandWalkA_F.61=all
STG_StandWalkA_F.62=all
STG_StandWalkA_F.63=all
STG_StandWalkA_F.64=all
STG_StandWalkA_F.65=all
STG_StandWalkA_F.66=all
STG_StandWalkA_F.67=all
STG_StandWalkA_F.68=all
STG_StandWalkA_F.69=all
STG_StandWalkA_F.70=all
STG_StandWalkA_F.71=all
STG_StandWalkA_F.72=all
STG_StandWalkA_F.73=all
STG_StandWalkA_F.74=all
STG_StandWalkA_F.75=all
STG_StandWalkA_F.76=all
STG_StandWalkA_F.77=all
STG_StandWalkA_F.78=all
STG_StandWalkA_F.79=all
STG_StandWalkA_F.80=all
STG_StandWalkA_F.81=all
STG_StandWalkA_F.82=all
STG_StandWalkA_F.83=all
STG_StandWalkA_F.84=all
STG_StandWalkA_F.85=all
STG_StandWalkA_F.86=all
STG_StandWalkA_F.87=all
STG_StandWalkA_F.88=all
STG_StandWalkA_F.89=all
STG_StandWalkA_F.90=all
STG_StandWalkA_F.91=all
STG_StandWalkA_F.92=all
STG_StandWalkA_F.93=all
STG_StandWalkA_F.94=all
STG_StandWalkA_F.95=all
STG_StandWalkA_F.96=all
STG_StandWalkA_F.97=all
STG_StandWalkA_F.98=all
STG_StandWalkA_F.99=all
STG_StandWalkA_F.100=all
STG_StandWalkA_F.101=all
STG_StandWalkA_F.102=all
STG_StandWalkA_F.103=all
STG_StandWalkA_F.104=all
STG_StandWalkA_F.105=all
STG_StandWalkA_F.106=all
STG_StandWalkA_F.108=all
STG_StandWalkA_F.109=all
STG_StandWalkA_F.110=all
STG_StandWalkA_F.111=all
STG_StandWalkA_F.112=all
STG_StandWalkA_F.113=all
STG_StandWalkA_F.114=all
STG_StandWalkA_F.115=all
STG_StandWalkA_F.116=all
STG_StandWalkA_F.117=all
STG_StandWalkA_F.118=all
STG_StandWalkA_F.119=all
STG_StandWalkA_F.120=all
STG_StandWalkA_F.121=all
STG_StandWalkA_F.122=all
STG_StandWalkA_F.123=all
STG_StandWalkA_F.124=all
STG_StandWalkA_F.125=all
STG_StandWalkA_F.126=all
STG_StandWalkA_F.127=all
STG_StandWalkA_F.128=all
STG_StandWalkA_F.129=all
STG_StandWalkA_F.130=all
STG_StandWalkA_F.131=all
STG_StandWalkA_F.132=all
STG_StandWalkA_F.133=all
STG_StandWalkA_F.134=all
STG_StandWalkA_F.135=all
STG_StandWalkA_F.136=all
STG_StandWalkA_F.137=all
STG_StandWalkA_F.138=all
STG_StandWalkA_F.139=all
STG_StandWalkA_F.140=all
STG_StandWalkA_F.141=all
STG_StandWalkA_F.142=all
STG_StandWalkA_F.143=all
STG_StandWalkA_F.144=all
STG_StandWalkA_F.145=all
STG_StandWalkA_F.146=all
STG_StandWalkA_F.147=all
