
[RemoveTracks]
STG_CrouchIdle_U.1=all
STG_CrouchIdle_U.2=all
STG_CrouchIdle_U.3=all
STG_CrouchIdle_U.4=all
STG_CrouchIdle_U.5=all
STG_CrouchIdle_U.37=all
STG_CrouchIdle_U.38=all
STG_CrouchIdle_U.39=all
STG_CrouchIdle_U.40=all
STG_CrouchIdle_U.41=all
STG_CrouchIdle_U.42=all
STG_CrouchIdle_U.43=all
STG_CrouchIdle_U.44=all
STG_CrouchIdle_U.45=all
STG_CrouchIdle_U.46=all
STG_CrouchIdle_U.47=all
STG_CrouchIdle_U.48=all
STG_CrouchIdle_U.49=all
STG_CrouchIdle_U.50=all
STG_CrouchIdle_U.51=all
STG_CrouchIdle_U.52=all
STG_CrouchIdle_U.53=all
STG_CrouchIdle_U.54=all
STG_CrouchIdle_U.55=all
STG_CrouchIdle_U.56=all
STG_CrouchIdle_U.57=all
STG_CrouchIdle_U.58=all
STG_CrouchIdle_U.59=all
STG_CrouchIdle_U.60=all
STG_CrouchIdle_U.61=all
STG_CrouchIdle_U.62=all
STG_CrouchIdle_U.63=all
STG_CrouchIdle_U.64=all
STG_CrouchIdle_U.65=all
STG_CrouchIdle_U.66=all
STG_CrouchIdle_U.67=all
STG_CrouchIdle_U.68=all
STG_CrouchIdle_U.69=all
STG_CrouchIdle_U.70=all
STG_CrouchIdle_U.71=all
STG_CrouchIdle_U.72=all
STG_CrouchIdle_U.73=all
STG_CrouchIdle_U.74=all
STG_CrouchIdle_U.75=all
STG_CrouchIdle_U.76=all
STG_CrouchIdle_U.77=all
STG_CrouchIdle_U.78=all
STG_CrouchIdle_U.79=all
STG_CrouchIdle_U.80=all
STG_CrouchIdle_U.81=all
STG_CrouchIdle_U.82=all
STG_CrouchIdle_U.83=all
STG_CrouchIdle_U.84=all
STG_CrouchIdle_U.85=all
STG_CrouchIdle_U.86=all
STG_CrouchIdle_U.87=all
STG_CrouchIdle_U.88=all
STG_CrouchIdle_U.89=all
STG_CrouchIdle_U.90=all
STG_CrouchIdle_U.91=all
STG_CrouchIdle_U.92=all
STG_CrouchIdle_U.93=all
STG_CrouchIdle_U.94=all
STG_CrouchIdle_U.95=all
STG_CrouchIdle_U.96=all
STG_CrouchIdle_U.97=all
STG_CrouchIdle_U.98=all
STG_CrouchIdle_U.99=all
STG_CrouchIdle_U.100=all
STG_CrouchIdle_U.101=all
STG_CrouchIdle_U.102=all
STG_CrouchIdle_U.103=all
STG_CrouchIdle_U.104=all
STG_CrouchIdle_U.105=all
STG_CrouchIdle_U.106=all
STG_CrouchIdle_U.107=all
STG_CrouchIdle_U.108=all
STG_CrouchIdle_U.109=all
STG_CrouchIdle_U.110=all
STG_CrouchIdle_U.111=all
STG_CrouchIdle_U.112=all
STG_CrouchIdle_U.113=all
STG_CrouchIdle_U.114=all
STG_CrouchIdle_U.115=all
STG_CrouchIdle_U.116=all
STG_CrouchIdle_U.117=all
STG_CrouchIdle_U.118=all
STG_CrouchIdle_U.119=all
STG_CrouchIdle_U.120=all
STG_CrouchIdle_U.121=all
STG_CrouchIdle_U.122=all
STG_CrouchIdle_U.123=all
STG_CrouchIdle_U.124=all
STG_CrouchIdle_U.125=all
STG_CrouchIdle_U.126=all
STG_CrouchIdle_U.127=all
STG_CrouchIdle_U.128=all
STG_CrouchIdle_U.129=all
STG_CrouchIdle_U.130=all
STG_CrouchIdle_U.131=all
STG_CrouchIdle_U.132=all
STG_CrouchIdle_U.133=all
STG_CrouchIdle_U.134=all
STG_CrouchIdle_U.135=all
STG_CrouchIdle_U.136=all
STG_CrouchIdle_U.137=all
STG_CrouchIdle_U.138=all
STG_CrouchIdle_U.139=all
STG_CrouchIdle_U.140=all
STG_CrouchIdle_U.141=all
STG_CrouchIdle_U.142=all
STG_CrouchIdle_U.143=all
STG_CrouchIdle_U.144=all
STG_CrouchIdle_U.145=all
STG_CrouchIdle_U.146=all
STG_CrouchIdle_U.147=all
