
[RemoveTracks]
STG_ProneWalk_L.36=all
STG_ProneWalk_L.45=all
STG_ProneWalk_L.46=all
STG_ProneWalk_L.47=all
STG_ProneWalk_L.48=all
STG_ProneWalk_L.49=all
STG_ProneWalk_L.50=all
STG_ProneWalk_L.51=all
STG_ProneWalk_L.52=all
STG_ProneWalk_L.53=all
STG_ProneWalk_L.54=all
STG_ProneWalk_L.55=all
STG_ProneWalk_L.56=all
STG_ProneWalk_L.57=all
STG_ProneWalk_L.58=all
STG_ProneWalk_L.59=all
STG_ProneWalk_L.60=all
STG_ProneWalk_L.61=all
STG_ProneWalk_L.62=all
STG_ProneWalk_L.63=all
STG_ProneWalk_L.64=all
STG_ProneWalk_L.65=all
STG_ProneWalk_L.66=all
STG_ProneWalk_L.67=all
STG_ProneWalk_L.68=all
STG_ProneWalk_L.69=all
STG_ProneWalk_L.70=all
STG_ProneWalk_L.71=all
STG_ProneWalk_L.72=all
STG_ProneWalk_L.73=all
STG_ProneWalk_L.74=all
STG_ProneWalk_L.75=all
STG_ProneWalk_L.76=all
STG_ProneWalk_L.77=all
STG_ProneWalk_L.78=all
STG_ProneWalk_L.79=all
STG_ProneWalk_L.80=all
STG_ProneWalk_L.81=all
STG_ProneWalk_L.82=all
STG_ProneWalk_L.83=all
STG_ProneWalk_L.84=all
STG_ProneWalk_L.85=all
STG_ProneWalk_L.86=all
STG_ProneWalk_L.87=all
STG_ProneWalk_L.88=all
STG_ProneWalk_L.89=all
STG_ProneWalk_L.90=all
STG_ProneWalk_L.91=all
STG_ProneWalk_L.92=all
STG_ProneWalk_L.93=all
STG_ProneWalk_L.94=all
STG_ProneWalk_L.95=all
STG_ProneWalk_L.96=all
STG_ProneWalk_L.97=all
STG_ProneWalk_L.98=all
STG_ProneWalk_L.99=all
STG_ProneWalk_L.100=all
STG_ProneWalk_L.101=all
STG_ProneWalk_L.102=all
STG_ProneWalk_L.103=all
STG_ProneWalk_L.104=all
STG_ProneWalk_L.105=all
STG_ProneWalk_L.106=all
STG_ProneWalk_L.108=all
STG_ProneWalk_L.109=all
STG_ProneWalk_L.110=all
STG_ProneWalk_L.111=all
STG_ProneWalk_L.112=all
STG_ProneWalk_L.113=all
STG_ProneWalk_L.114=all
STG_ProneWalk_L.115=all
STG_ProneWalk_L.116=all
STG_ProneWalk_L.117=all
STG_ProneWalk_L.118=all
STG_ProneWalk_L.119=all
STG_ProneWalk_L.120=all
STG_ProneWalk_L.121=all
STG_ProneWalk_L.122=all
STG_ProneWalk_L.123=all
STG_ProneWalk_L.124=all
STG_ProneWalk_L.125=all
STG_ProneWalk_L.126=all
STG_ProneWalk_L.127=all
STG_ProneWalk_L.128=all
STG_ProneWalk_L.129=all
STG_ProneWalk_L.130=all
STG_ProneWalk_L.131=all
STG_ProneWalk_L.132=all
STG_ProneWalk_L.133=all
STG_ProneWalk_L.134=all
STG_ProneWalk_L.135=all
STG_ProneWalk_L.136=all
STG_ProneWalk_L.137=all
STG_ProneWalk_L.138=all
STG_ProneWalk_L.139=all
STG_ProneWalk_L.140=all
STG_ProneWalk_L.141=all
STG_ProneWalk_L.142=all
STG_ProneWalk_L.143=all
STG_ProneWalk_L.144=all
STG_ProneWalk_L.145=all
STG_ProneWalk_L.146=all
STG_ProneWalk_L.147=all
