
[RemoveTracks]
STG_StandToProne.36=all
STG_StandToProne.45=all
STG_StandToProne.46=all
STG_StandToProne.47=all
STG_StandToProne.48=all
STG_StandToProne.49=all
STG_StandToProne.50=all
STG_StandToProne.51=all
STG_StandToProne.52=all
STG_StandToProne.53=all
STG_StandToProne.54=all
STG_StandToProne.55=all
STG_StandToProne.56=all
STG_StandToProne.57=all
STG_StandToProne.58=all
STG_StandToProne.59=all
STG_StandToProne.60=all
STG_StandToProne.61=all
STG_StandToProne.62=all
STG_StandToProne.63=all
STG_StandToProne.64=all
STG_StandToProne.65=all
STG_StandToProne.66=all
STG_StandToProne.67=all
STG_StandToProne.68=all
STG_StandToProne.69=all
STG_StandToProne.70=all
STG_StandToProne.71=all
STG_StandToProne.72=all
STG_StandToProne.73=all
STG_StandToProne.74=all
STG_StandToProne.75=all
STG_StandToProne.76=all
STG_StandToProne.77=all
STG_StandToProne.78=all
STG_StandToProne.79=all
STG_StandToProne.80=all
STG_StandToProne.81=all
STG_StandToProne.82=all
STG_StandToProne.83=all
STG_StandToProne.84=all
STG_StandToProne.85=all
STG_StandToProne.86=all
STG_StandToProne.87=all
STG_StandToProne.88=all
STG_StandToProne.89=all
STG_StandToProne.90=all
STG_StandToProne.91=all
STG_StandToProne.92=all
STG_StandToProne.93=all
STG_StandToProne.94=all
STG_StandToProne.95=all
STG_StandToProne.96=all
STG_StandToProne.97=all
STG_StandToProne.98=all
STG_StandToProne.99=all
STG_StandToProne.100=all
STG_StandToProne.101=all
STG_StandToProne.102=all
STG_StandToProne.103=all
STG_StandToProne.104=all
STG_StandToProne.105=all
STG_StandToProne.106=all
STG_StandToProne.108=all
STG_StandToProne.109=all
STG_StandToProne.110=all
STG_StandToProne.111=all
STG_StandToProne.112=all
STG_StandToProne.113=all
STG_StandToProne.114=all
STG_StandToProne.115=all
STG_StandToProne.116=all
STG_StandToProne.117=all
STG_StandToProne.118=all
STG_StandToProne.119=all
STG_StandToProne.120=all
STG_StandToProne.121=all
STG_StandToProne.122=all
STG_StandToProne.123=all
STG_StandToProne.124=all
STG_StandToProne.125=all
STG_StandToProne.126=all
STG_StandToProne.127=all
STG_StandToProne.128=all
STG_StandToProne.129=all
STG_StandToProne.130=all
STG_StandToProne.131=all
STG_StandToProne.132=all
STG_StandToProne.133=all
STG_StandToProne.134=all
STG_StandToProne.135=all
STG_StandToProne.136=all
STG_StandToProne.137=all
STG_StandToProne.138=all
STG_StandToProne.139=all
STG_StandToProne.140=all
STG_StandToProne.141=all
STG_StandToProne.142=all
STG_StandToProne.143=all
STG_StandToProne.144=all
STG_StandToProne.145=all
STG_StandToProne.146=all
STG_StandToProne.147=all
