
[RemoveTracks]
J06_StandIdle_Outgame.36=all
J06_StandIdle_Outgame.45=all
J06_StandIdle_Outgame.46=all
J06_StandIdle_Outgame.47=all
J06_StandIdle_Outgame.48=all
J06_StandIdle_Outgame.49=all
J06_StandIdle_Outgame.50=all
J06_StandIdle_Outgame.51=all
J06_StandIdle_Outgame.52=all
J06_StandIdle_Outgame.53=all
J06_StandIdle_Outgame.54=all
J06_StandIdle_Outgame.55=all
J06_StandIdle_Outgame.56=all
J06_StandIdle_Outgame.57=all
J06_StandIdle_Outgame.58=all
J06_StandIdle_Outgame.59=all
J06_StandIdle_Outgame.60=all
J06_StandIdle_Outgame.61=all
J06_StandIdle_Outgame.62=all
J06_StandIdle_Outgame.63=all
J06_StandIdle_Outgame.64=all
J06_StandIdle_Outgame.65=all
J06_StandIdle_Outgame.66=all
J06_StandIdle_Outgame.67=all
J06_StandIdle_Outgame.68=all
J06_StandIdle_Outgame.69=all
J06_StandIdle_Outgame.70=all
J06_StandIdle_Outgame.71=all
J06_StandIdle_Outgame.72=all
J06_StandIdle_Outgame.73=all
J06_StandIdle_Outgame.74=all
J06_StandIdle_Outgame.75=all
J06_StandIdle_Outgame.76=all
J06_StandIdle_Outgame.77=all
J06_StandIdle_Outgame.78=all
J06_StandIdle_Outgame.79=all
J06_StandIdle_Outgame.80=all
J06_StandIdle_Outgame.81=all
J06_StandIdle_Outgame.82=all
J06_StandIdle_Outgame.83=all
J06_StandIdle_Outgame.84=all
J06_StandIdle_Outgame.85=all
J06_StandIdle_Outgame.86=all
J06_StandIdle_Outgame.87=all
J06_StandIdle_Outgame.88=all
J06_StandIdle_Outgame.89=all
J06_StandIdle_Outgame.90=all
J06_StandIdle_Outgame.91=all
J06_StandIdle_Outgame.92=all
J06_StandIdle_Outgame.93=all
J06_StandIdle_Outgame.94=all
J06_StandIdle_Outgame.95=all
J06_StandIdle_Outgame.96=all
J06_StandIdle_Outgame.97=all
J06_StandIdle_Outgame.98=all
J06_StandIdle_Outgame.99=all
J06_StandIdle_Outgame.100=all
J06_StandIdle_Outgame.101=all
J06_StandIdle_Outgame.102=all
J06_StandIdle_Outgame.103=all
J06_StandIdle_Outgame.104=all
J06_StandIdle_Outgame.105=all
J06_StandIdle_Outgame.106=all
J06_StandIdle_Outgame.108=all
J06_StandIdle_Outgame.109=all
J06_StandIdle_Outgame.110=all
J06_StandIdle_Outgame.111=all
J06_StandIdle_Outgame.112=all
J06_StandIdle_Outgame.113=all
J06_StandIdle_Outgame.114=all
J06_StandIdle_Outgame.115=all
J06_StandIdle_Outgame.116=all
J06_StandIdle_Outgame.117=all
J06_StandIdle_Outgame.118=all
J06_StandIdle_Outgame.119=all
J06_StandIdle_Outgame.120=all
J06_StandIdle_Outgame.121=all
J06_StandIdle_Outgame.122=all
J06_StandIdle_Outgame.123=all
J06_StandIdle_Outgame.124=all
J06_StandIdle_Outgame.125=all
J06_StandIdle_Outgame.126=all
J06_StandIdle_Outgame.127=all
J06_StandIdle_Outgame.128=all
J06_StandIdle_Outgame.129=all
J06_StandIdle_Outgame.130=all
J06_StandIdle_Outgame.131=all
J06_StandIdle_Outgame.132=all
J06_StandIdle_Outgame.133=all
J06_StandIdle_Outgame.134=all
J06_StandIdle_Outgame.135=all
J06_StandIdle_Outgame.136=all
J06_StandIdle_Outgame.137=all
J06_StandIdle_Outgame.138=all
J06_StandIdle_Outgame.139=all
J06_StandIdle_Outgame.140=all
J06_StandIdle_Outgame.141=all
J06_StandIdle_Outgame.142=all
J06_StandIdle_Outgame.143=all
J06_StandIdle_Outgame.144=all
J06_StandIdle_Outgame.145=all
J06_StandIdle_Outgame.146=all
J06_StandIdle_Outgame.147=all
