
[RemoveTracks]
SR_BoltStand.1=all
SR_BoltStand.2=all
SR_BoltStand.25=all
SR_BoltStand.26=all
SR_BoltStand.27=all
SR_BoltStand.28=all
SR_BoltStand.29=all
SR_BoltStand.30=all
SR_BoltStand.31=all
SR_BoltStand.32=all
SR_BoltStand.33=all
SR_BoltStand.34=all
SR_BoltStand.35=all
SR_BoltStand.36=all
SR_BoltStand.37=all
SR_BoltStand.38=all
SR_BoltStand.39=all
SR_BoltStand.40=all
SR_BoltStand.41=all
SR_BoltStand.42=all
SR_BoltStand.43=all
SR_BoltStand.44=all
SR_BoltStand.45=all
SR_BoltStand.46=all
SR_BoltStand.47=all
SR_BoltStand.48=all
SR_BoltStand.49=all
SR_BoltStand.50=all
SR_BoltStand.51=all
SR_BoltStand.52=all
SR_BoltStand.53=all
SR_BoltStand.54=all
SR_BoltStand.55=all
SR_BoltStand.56=all
SR_BoltStand.57=all
SR_BoltStand.58=all
SR_BoltStand.59=all
SR_BoltStand.60=all
SR_BoltStand.61=all
SR_BoltStand.62=all
SR_BoltStand.63=all
SR_BoltStand.64=all
SR_BoltStand.65=all
SR_BoltStand.66=all
SR_BoltStand.67=all
SR_BoltStand.68=all
SR_BoltStand.69=all
SR_BoltStand.70=all
SR_BoltStand.71=all
SR_BoltStand.72=all
SR_BoltStand.73=all
SR_BoltStand.74=all
SR_BoltStand.75=all
SR_BoltStand.76=all
SR_BoltStand.77=all
SR_BoltStand.78=all
SR_BoltStand.79=all
SR_BoltStand.80=all
SR_BoltStand.81=all
SR_BoltStand.82=all
SR_BoltStand.83=all
SR_BoltStand.84=all
SR_BoltStand.85=all
SR_BoltStand.86=all
SR_BoltStand.87=all
SR_BoltStand.88=all
SR_BoltStand.89=all
SR_BoltStand.90=all
SR_BoltStand.91=all
SR_BoltStand.92=all
SR_BoltStand.93=all
SR_BoltStand.94=all
SR_BoltStand.95=all
SR_BoltStand.96=all
SR_BoltStand.97=all
SR_BoltStand.98=all
SR_BoltStand.99=all
SR_BoltStand.100=all
SR_BoltStand.101=all
SR_BoltStand.102=all
SR_BoltStand.103=all
SR_BoltStand.104=all
SR_BoltStand.105=all
SR_BoltStand.106=all
SR_BoltStand.107=all
SR_BoltStand.108=all
SR_BoltStand.109=all
SR_BoltStand.110=all
SR_BoltStand.111=all
SR_BoltStand.112=all
SR_BoltStand.113=all
SR_BoltStand.114=all
SR_BoltStand.115=all
SR_BoltStand.116=all
SR_BoltStand.117=all
SR_BoltStand.118=all
SR_BoltStand.119=all
SR_BoltStand.120=all
SR_BoltStand.121=all
SR_BoltStand.122=all
SR_BoltStand.123=all
SR_BoltStand.124=all
SR_BoltStand.125=all
SR_BoltStand.126=all
SR_BoltStand.127=all
SR_BoltStand.128=all
SR_BoltStand.129=all
SR_BoltStand.130=all
SR_BoltStand.131=all
SR_BoltStand.132=all
SR_BoltStand.133=all
SR_BoltStand.134=all
SR_BoltStand.135=all
SR_BoltStand.136=all
SR_BoltStand.137=all
SR_BoltStand.138=all
SR_BoltStand.139=all
SR_BoltStand.140=all
SR_BoltStand.141=all
SR_BoltStand.142=all
SR_BoltStand.143=all
SR_BoltStand.144=all
SR_BoltStand.145=all
SR_BoltStand.146=all
SR_BoltStand.147=all
