
[RemoveTracks]
SR_CarPassengerIdle_L_U.36=all
SR_CarPassengerIdle_L_U.45=all
SR_CarPassengerIdle_L_U.46=all
SR_CarPassengerIdle_L_U.47=all
SR_CarPassengerIdle_L_U.48=all
SR_CarPassengerIdle_L_U.49=all
SR_CarPassengerIdle_L_U.50=all
SR_CarPassengerIdle_L_U.51=all
SR_CarPassengerIdle_L_U.52=all
SR_CarPassengerIdle_L_U.53=all
SR_CarPassengerIdle_L_U.54=all
SR_CarPassengerIdle_L_U.55=all
SR_CarPassengerIdle_L_U.56=all
SR_CarPassengerIdle_L_U.57=all
SR_CarPassengerIdle_L_U.58=all
SR_CarPassengerIdle_L_U.59=all
SR_CarPassengerIdle_L_U.60=all
SR_CarPassengerIdle_L_U.61=all
SR_CarPassengerIdle_L_U.62=all
SR_CarPassengerIdle_L_U.63=all
SR_CarPassengerIdle_L_U.64=all
SR_CarPassengerIdle_L_U.65=all
SR_CarPassengerIdle_L_U.66=all
SR_CarPassengerIdle_L_U.67=all
SR_CarPassengerIdle_L_U.68=all
SR_CarPassengerIdle_L_U.69=all
SR_CarPassengerIdle_L_U.70=all
SR_CarPassengerIdle_L_U.71=all
SR_CarPassengerIdle_L_U.72=all
SR_CarPassengerIdle_L_U.73=all
SR_CarPassengerIdle_L_U.74=all
SR_CarPassengerIdle_L_U.75=all
SR_CarPassengerIdle_L_U.76=all
SR_CarPassengerIdle_L_U.77=all
SR_CarPassengerIdle_L_U.78=all
SR_CarPassengerIdle_L_U.79=all
SR_CarPassengerIdle_L_U.80=all
SR_CarPassengerIdle_L_U.81=all
SR_CarPassengerIdle_L_U.82=all
SR_CarPassengerIdle_L_U.83=all
SR_CarPassengerIdle_L_U.84=all
SR_CarPassengerIdle_L_U.85=all
SR_CarPassengerIdle_L_U.86=all
SR_CarPassengerIdle_L_U.87=all
SR_CarPassengerIdle_L_U.88=all
SR_CarPassengerIdle_L_U.89=all
SR_CarPassengerIdle_L_U.90=all
SR_CarPassengerIdle_L_U.91=all
SR_CarPassengerIdle_L_U.92=all
SR_CarPassengerIdle_L_U.93=all
SR_CarPassengerIdle_L_U.94=all
SR_CarPassengerIdle_L_U.95=all
SR_CarPassengerIdle_L_U.96=all
SR_CarPassengerIdle_L_U.97=all
SR_CarPassengerIdle_L_U.98=all
SR_CarPassengerIdle_L_U.99=all
SR_CarPassengerIdle_L_U.100=all
SR_CarPassengerIdle_L_U.101=all
SR_CarPassengerIdle_L_U.102=all
SR_CarPassengerIdle_L_U.103=all
SR_CarPassengerIdle_L_U.104=all
SR_CarPassengerIdle_L_U.105=all
SR_CarPassengerIdle_L_U.106=all
SR_CarPassengerIdle_L_U.108=all
SR_CarPassengerIdle_L_U.109=all
SR_CarPassengerIdle_L_U.110=all
SR_CarPassengerIdle_L_U.111=all
SR_CarPassengerIdle_L_U.112=all
SR_CarPassengerIdle_L_U.113=all
SR_CarPassengerIdle_L_U.114=all
SR_CarPassengerIdle_L_U.115=all
SR_CarPassengerIdle_L_U.116=all
SR_CarPassengerIdle_L_U.117=all
SR_CarPassengerIdle_L_U.118=all
SR_CarPassengerIdle_L_U.119=all
SR_CarPassengerIdle_L_U.120=all
SR_CarPassengerIdle_L_U.121=all
SR_CarPassengerIdle_L_U.122=all
SR_CarPassengerIdle_L_U.123=all
SR_CarPassengerIdle_L_U.124=all
SR_CarPassengerIdle_L_U.125=all
SR_CarPassengerIdle_L_U.126=all
SR_CarPassengerIdle_L_U.127=all
SR_CarPassengerIdle_L_U.128=all
SR_CarPassengerIdle_L_U.129=all
SR_CarPassengerIdle_L_U.130=all
SR_CarPassengerIdle_L_U.131=all
SR_CarPassengerIdle_L_U.132=all
SR_CarPassengerIdle_L_U.133=all
SR_CarPassengerIdle_L_U.134=all
SR_CarPassengerIdle_L_U.135=all
SR_CarPassengerIdle_L_U.136=all
SR_CarPassengerIdle_L_U.137=all
SR_CarPassengerIdle_L_U.138=all
SR_CarPassengerIdle_L_U.139=all
SR_CarPassengerIdle_L_U.140=all
SR_CarPassengerIdle_L_U.141=all
SR_CarPassengerIdle_L_U.142=all
SR_CarPassengerIdle_L_U.143=all
SR_CarPassengerIdle_L_U.144=all
SR_CarPassengerIdle_L_U.145=all
SR_CarPassengerIdle_L_U.146=all
SR_CarPassengerIdle_L_U.147=all
