
[RemoveTracks]
SR_CrouchIdle.36=all
SR_CrouchIdle.45=all
SR_CrouchIdle.46=all
SR_CrouchIdle.47=all
SR_CrouchIdle.48=all
SR_CrouchIdle.49=all
SR_CrouchIdle.50=all
SR_CrouchIdle.67=all
SR_CrouchIdle.68=all
SR_CrouchIdle.69=all
SR_CrouchIdle.70=all
SR_CrouchIdle.71=all
SR_CrouchIdle.72=all
SR_CrouchIdle.73=all
SR_CrouchIdle.74=all
SR_CrouchIdle.75=all
SR_CrouchIdle.76=all
SR_CrouchIdle.77=all
SR_CrouchIdle.78=all
SR_CrouchIdle.79=all
SR_CrouchIdle.80=all
SR_CrouchIdle.81=all
SR_CrouchIdle.82=all
SR_CrouchIdle.83=all
SR_CrouchIdle.84=all
SR_CrouchIdle.85=all
SR_CrouchIdle.86=all
SR_CrouchIdle.87=all
SR_CrouchIdle.88=all
SR_CrouchIdle.89=all
SR_CrouchIdle.90=all
SR_CrouchIdle.91=all
SR_CrouchIdle.92=all
SR_CrouchIdle.93=all
SR_CrouchIdle.94=all
SR_CrouchIdle.95=all
SR_CrouchIdle.96=all
SR_CrouchIdle.97=all
SR_CrouchIdle.98=all
SR_CrouchIdle.99=all
SR_CrouchIdle.100=all
SR_CrouchIdle.101=all
SR_CrouchIdle.102=all
SR_CrouchIdle.103=all
SR_CrouchIdle.104=all
SR_CrouchIdle.105=all
SR_CrouchIdle.106=all
SR_CrouchIdle.107=all
SR_CrouchIdle.108=all
SR_CrouchIdle.109=all
SR_CrouchIdle.110=all
SR_CrouchIdle.111=all
SR_CrouchIdle.112=all
SR_CrouchIdle.113=all
SR_CrouchIdle.114=all
SR_CrouchIdle.115=all
SR_CrouchIdle.116=all
SR_CrouchIdle.117=all
SR_CrouchIdle.118=all
SR_CrouchIdle.119=all
SR_CrouchIdle.120=all
SR_CrouchIdle.121=all
SR_CrouchIdle.122=all
SR_CrouchIdle.123=all
SR_CrouchIdle.124=all
SR_CrouchIdle.125=all
SR_CrouchIdle.126=all
SR_CrouchIdle.127=all
SR_CrouchIdle.128=all
SR_CrouchIdle.129=all
SR_CrouchIdle.130=all
SR_CrouchIdle.131=all
SR_CrouchIdle.132=all
SR_CrouchIdle.133=all
SR_CrouchIdle.134=all
SR_CrouchIdle.135=all
SR_CrouchIdle.136=all
SR_CrouchIdle.137=all
SR_CrouchIdle.138=all
SR_CrouchIdle.139=all
SR_CrouchIdle.140=all
SR_CrouchIdle.141=all
SR_CrouchIdle.142=all
SR_CrouchIdle.143=all
SR_CrouchIdle.144=all
SR_CrouchIdle.145=all
SR_CrouchIdle.146=all
SR_CrouchIdle.147=all
