
[RemoveTracks]
SR_CrouchSprint_F.36=all
SR_CrouchSprint_F.45=all
SR_CrouchSprint_F.46=all
SR_CrouchSprint_F.47=all
SR_CrouchSprint_F.48=all
SR_CrouchSprint_F.49=all
SR_CrouchSprint_F.50=all
SR_CrouchSprint_F.67=all
SR_CrouchSprint_F.68=all
SR_CrouchSprint_F.69=all
SR_CrouchSprint_F.70=all
SR_CrouchSprint_F.71=all
SR_CrouchSprint_F.72=all
SR_CrouchSprint_F.73=all
SR_CrouchSprint_F.74=all
SR_CrouchSprint_F.75=all
SR_CrouchSprint_F.76=all
SR_CrouchSprint_F.77=all
SR_CrouchSprint_F.78=all
SR_CrouchSprint_F.79=all
SR_CrouchSprint_F.80=all
SR_CrouchSprint_F.81=all
SR_CrouchSprint_F.82=all
SR_CrouchSprint_F.83=all
SR_CrouchSprint_F.84=all
SR_CrouchSprint_F.85=all
SR_CrouchSprint_F.86=all
SR_CrouchSprint_F.87=all
SR_CrouchSprint_F.88=all
SR_CrouchSprint_F.89=all
SR_CrouchSprint_F.90=all
SR_CrouchSprint_F.91=all
SR_CrouchSprint_F.92=all
SR_CrouchSprint_F.93=all
SR_CrouchSprint_F.94=all
SR_CrouchSprint_F.95=all
SR_CrouchSprint_F.96=all
SR_CrouchSprint_F.97=all
SR_CrouchSprint_F.98=all
SR_CrouchSprint_F.99=all
SR_CrouchSprint_F.100=all
SR_CrouchSprint_F.101=all
SR_CrouchSprint_F.102=all
SR_CrouchSprint_F.103=all
SR_CrouchSprint_F.104=all
SR_CrouchSprint_F.105=all
SR_CrouchSprint_F.106=all
SR_CrouchSprint_F.107=all
SR_CrouchSprint_F.108=all
SR_CrouchSprint_F.109=all
SR_CrouchSprint_F.110=all
SR_CrouchSprint_F.111=all
SR_CrouchSprint_F.112=all
SR_CrouchSprint_F.113=all
SR_CrouchSprint_F.114=all
SR_CrouchSprint_F.115=all
SR_CrouchSprint_F.116=all
SR_CrouchSprint_F.117=all
SR_CrouchSprint_F.118=all
SR_CrouchSprint_F.119=all
SR_CrouchSprint_F.120=all
SR_CrouchSprint_F.121=all
SR_CrouchSprint_F.122=all
SR_CrouchSprint_F.123=all
SR_CrouchSprint_F.124=all
SR_CrouchSprint_F.125=all
SR_CrouchSprint_F.126=all
SR_CrouchSprint_F.127=all
SR_CrouchSprint_F.128=all
SR_CrouchSprint_F.129=all
SR_CrouchSprint_F.130=all
SR_CrouchSprint_F.131=all
SR_CrouchSprint_F.132=all
SR_CrouchSprint_F.133=all
SR_CrouchSprint_F.134=all
SR_CrouchSprint_F.135=all
SR_CrouchSprint_F.136=all
SR_CrouchSprint_F.137=all
SR_CrouchSprint_F.138=all
SR_CrouchSprint_F.139=all
SR_CrouchSprint_F.140=all
SR_CrouchSprint_F.141=all
SR_CrouchSprint_F.142=all
SR_CrouchSprint_F.143=all
SR_CrouchSprint_F.144=all
SR_CrouchSprint_F.145=all
SR_CrouchSprint_F.146=all
SR_CrouchSprint_F.147=all
