
[RemoveTracks]
SR_CarPassengerIdle_B_D.36=all
SR_CarPassengerIdle_B_D.45=all
SR_CarPassengerIdle_B_D.46=all
SR_CarPassengerIdle_B_D.47=all
SR_CarPassengerIdle_B_D.48=all
SR_CarPassengerIdle_B_D.49=all
SR_CarPassengerIdle_B_D.50=all
SR_CarPassengerIdle_B_D.51=all
SR_CarPassengerIdle_B_D.52=all
SR_CarPassengerIdle_B_D.53=all
SR_CarPassengerIdle_B_D.54=all
SR_CarPassengerIdle_B_D.55=all
SR_CarPassengerIdle_B_D.56=all
SR_CarPassengerIdle_B_D.57=all
SR_CarPassengerIdle_B_D.58=all
SR_CarPassengerIdle_B_D.59=all
SR_CarPassengerIdle_B_D.60=all
SR_CarPassengerIdle_B_D.61=all
SR_CarPassengerIdle_B_D.62=all
SR_CarPassengerIdle_B_D.63=all
SR_CarPassengerIdle_B_D.64=all
SR_CarPassengerIdle_B_D.65=all
SR_CarPassengerIdle_B_D.66=all
SR_CarPassengerIdle_B_D.67=all
SR_CarPassengerIdle_B_D.68=all
SR_CarPassengerIdle_B_D.69=all
SR_CarPassengerIdle_B_D.70=all
SR_CarPassengerIdle_B_D.71=all
SR_CarPassengerIdle_B_D.72=all
SR_CarPassengerIdle_B_D.73=all
SR_CarPassengerIdle_B_D.74=all
SR_CarPassengerIdle_B_D.75=all
SR_CarPassengerIdle_B_D.76=all
SR_CarPassengerIdle_B_D.77=all
SR_CarPassengerIdle_B_D.78=all
SR_CarPassengerIdle_B_D.79=all
SR_CarPassengerIdle_B_D.80=all
SR_CarPassengerIdle_B_D.81=all
SR_CarPassengerIdle_B_D.82=all
SR_CarPassengerIdle_B_D.83=all
SR_CarPassengerIdle_B_D.84=all
SR_CarPassengerIdle_B_D.85=all
SR_CarPassengerIdle_B_D.86=all
SR_CarPassengerIdle_B_D.87=all
SR_CarPassengerIdle_B_D.88=all
SR_CarPassengerIdle_B_D.89=all
SR_CarPassengerIdle_B_D.90=all
SR_CarPassengerIdle_B_D.91=all
SR_CarPassengerIdle_B_D.92=all
SR_CarPassengerIdle_B_D.93=all
SR_CarPassengerIdle_B_D.94=all
SR_CarPassengerIdle_B_D.95=all
SR_CarPassengerIdle_B_D.96=all
SR_CarPassengerIdle_B_D.97=all
SR_CarPassengerIdle_B_D.98=all
SR_CarPassengerIdle_B_D.99=all
SR_CarPassengerIdle_B_D.100=all
SR_CarPassengerIdle_B_D.101=all
SR_CarPassengerIdle_B_D.102=all
SR_CarPassengerIdle_B_D.103=all
SR_CarPassengerIdle_B_D.104=all
SR_CarPassengerIdle_B_D.105=all
SR_CarPassengerIdle_B_D.106=all
SR_CarPassengerIdle_B_D.108=all
SR_CarPassengerIdle_B_D.109=all
SR_CarPassengerIdle_B_D.110=all
SR_CarPassengerIdle_B_D.111=all
SR_CarPassengerIdle_B_D.112=all
SR_CarPassengerIdle_B_D.113=all
SR_CarPassengerIdle_B_D.114=all
SR_CarPassengerIdle_B_D.115=all
SR_CarPassengerIdle_B_D.116=all
SR_CarPassengerIdle_B_D.117=all
SR_CarPassengerIdle_B_D.118=all
SR_CarPassengerIdle_B_D.119=all
SR_CarPassengerIdle_B_D.120=all
SR_CarPassengerIdle_B_D.121=all
SR_CarPassengerIdle_B_D.122=all
SR_CarPassengerIdle_B_D.123=all
SR_CarPassengerIdle_B_D.124=all
SR_CarPassengerIdle_B_D.125=all
SR_CarPassengerIdle_B_D.126=all
SR_CarPassengerIdle_B_D.127=all
SR_CarPassengerIdle_B_D.128=all
SR_CarPassengerIdle_B_D.129=all
SR_CarPassengerIdle_B_D.130=all
SR_CarPassengerIdle_B_D.131=all
SR_CarPassengerIdle_B_D.132=all
SR_CarPassengerIdle_B_D.133=all
SR_CarPassengerIdle_B_D.134=all
SR_CarPassengerIdle_B_D.135=all
SR_CarPassengerIdle_B_D.136=all
SR_CarPassengerIdle_B_D.137=all
SR_CarPassengerIdle_B_D.138=all
SR_CarPassengerIdle_B_D.139=all
SR_CarPassengerIdle_B_D.140=all
SR_CarPassengerIdle_B_D.141=all
SR_CarPassengerIdle_B_D.142=all
SR_CarPassengerIdle_B_D.143=all
SR_CarPassengerIdle_B_D.144=all
SR_CarPassengerIdle_B_D.145=all
SR_CarPassengerIdle_B_D.146=all
SR_CarPassengerIdle_B_D.147=all
