
[RemoveTracks]
SR_CrouchToProne.36=all
SR_CrouchToProne.45=all
SR_CrouchToProne.46=all
SR_CrouchToProne.47=all
SR_CrouchToProne.48=all
SR_CrouchToProne.49=all
SR_CrouchToProne.50=all
SR_CrouchToProne.67=all
SR_CrouchToProne.68=all
SR_CrouchToProne.69=all
SR_CrouchToProne.70=all
SR_CrouchToProne.71=all
SR_CrouchToProne.72=all
SR_CrouchToProne.73=all
SR_CrouchToProne.74=all
SR_CrouchToProne.75=all
SR_CrouchToProne.76=all
SR_CrouchToProne.77=all
SR_CrouchToProne.78=all
SR_CrouchToProne.79=all
SR_CrouchToProne.80=all
SR_CrouchToProne.81=all
SR_CrouchToProne.82=all
SR_CrouchToProne.83=all
SR_CrouchToProne.84=all
SR_CrouchToProne.85=all
SR_CrouchToProne.86=all
SR_CrouchToProne.87=all
SR_CrouchToProne.88=all
SR_CrouchToProne.89=all
SR_CrouchToProne.90=all
SR_CrouchToProne.91=all
SR_CrouchToProne.92=all
SR_CrouchToProne.93=all
SR_CrouchToProne.94=all
SR_CrouchToProne.95=all
SR_CrouchToProne.96=all
SR_CrouchToProne.97=all
SR_CrouchToProne.98=all
SR_CrouchToProne.99=all
SR_CrouchToProne.100=all
SR_CrouchToProne.101=all
SR_CrouchToProne.102=all
SR_CrouchToProne.103=all
SR_CrouchToProne.104=all
SR_CrouchToProne.105=all
SR_CrouchToProne.106=all
SR_CrouchToProne.107=all
SR_CrouchToProne.108=all
SR_CrouchToProne.109=all
SR_CrouchToProne.110=all
SR_CrouchToProne.111=all
SR_CrouchToProne.112=all
SR_CrouchToProne.113=all
SR_CrouchToProne.114=all
SR_CrouchToProne.115=all
SR_CrouchToProne.116=all
SR_CrouchToProne.117=all
SR_CrouchToProne.118=all
SR_CrouchToProne.119=all
SR_CrouchToProne.120=all
SR_CrouchToProne.121=all
SR_CrouchToProne.122=all
SR_CrouchToProne.123=all
SR_CrouchToProne.124=all
SR_CrouchToProne.125=all
SR_CrouchToProne.126=all
SR_CrouchToProne.127=all
SR_CrouchToProne.128=all
SR_CrouchToProne.129=all
SR_CrouchToProne.130=all
SR_CrouchToProne.131=all
SR_CrouchToProne.132=all
SR_CrouchToProne.133=all
SR_CrouchToProne.134=all
SR_CrouchToProne.135=all
SR_CrouchToProne.136=all
SR_CrouchToProne.137=all
SR_CrouchToProne.138=all
SR_CrouchToProne.139=all
SR_CrouchToProne.140=all
SR_CrouchToProne.141=all
SR_CrouchToProne.142=all
SR_CrouchToProne.143=all
SR_CrouchToProne.144=all
SR_CrouchToProne.145=all
SR_CrouchToProne.146=all
SR_CrouchToProne.147=all
