
[RemoveTracks]
SR_Free_CrouchToStand.36=all
SR_Free_CrouchToStand.45=all
SR_Free_CrouchToStand.46=all
SR_Free_CrouchToStand.47=all
SR_Free_CrouchToStand.48=all
SR_Free_CrouchToStand.49=all
SR_Free_CrouchToStand.50=all
SR_Free_CrouchToStand.51=all
SR_Free_CrouchToStand.52=all
SR_Free_CrouchToStand.53=all
SR_Free_CrouchToStand.54=all
SR_Free_CrouchToStand.55=all
SR_Free_CrouchToStand.56=all
SR_Free_CrouchToStand.57=all
SR_Free_CrouchToStand.58=all
SR_Free_CrouchToStand.59=all
SR_Free_CrouchToStand.60=all
SR_Free_CrouchToStand.61=all
SR_Free_CrouchToStand.62=all
SR_Free_CrouchToStand.63=all
SR_Free_CrouchToStand.64=all
SR_Free_CrouchToStand.65=all
SR_Free_CrouchToStand.66=all
SR_Free_CrouchToStand.67=all
SR_Free_CrouchToStand.68=all
SR_Free_CrouchToStand.69=all
SR_Free_CrouchToStand.70=all
SR_Free_CrouchToStand.71=all
SR_Free_CrouchToStand.72=all
SR_Free_CrouchToStand.73=all
SR_Free_CrouchToStand.74=all
SR_Free_CrouchToStand.75=all
SR_Free_CrouchToStand.76=all
SR_Free_CrouchToStand.77=all
SR_Free_CrouchToStand.78=all
SR_Free_CrouchToStand.79=all
SR_Free_CrouchToStand.80=all
SR_Free_CrouchToStand.81=all
SR_Free_CrouchToStand.82=all
SR_Free_CrouchToStand.83=all
SR_Free_CrouchToStand.84=all
SR_Free_CrouchToStand.85=all
SR_Free_CrouchToStand.86=all
SR_Free_CrouchToStand.87=all
SR_Free_CrouchToStand.88=all
SR_Free_CrouchToStand.89=all
SR_Free_CrouchToStand.90=all
SR_Free_CrouchToStand.91=all
SR_Free_CrouchToStand.92=all
SR_Free_CrouchToStand.93=all
SR_Free_CrouchToStand.94=all
SR_Free_CrouchToStand.95=all
SR_Free_CrouchToStand.96=all
SR_Free_CrouchToStand.97=all
SR_Free_CrouchToStand.98=all
SR_Free_CrouchToStand.99=all
SR_Free_CrouchToStand.100=all
SR_Free_CrouchToStand.101=all
SR_Free_CrouchToStand.102=all
SR_Free_CrouchToStand.103=all
SR_Free_CrouchToStand.104=all
SR_Free_CrouchToStand.105=all
SR_Free_CrouchToStand.106=all
SR_Free_CrouchToStand.107=all
SR_Free_CrouchToStand.108=all
SR_Free_CrouchToStand.109=all
SR_Free_CrouchToStand.110=all
SR_Free_CrouchToStand.111=all
SR_Free_CrouchToStand.112=all
SR_Free_CrouchToStand.113=all
SR_Free_CrouchToStand.114=all
SR_Free_CrouchToStand.115=all
SR_Free_CrouchToStand.116=all
SR_Free_CrouchToStand.117=all
SR_Free_CrouchToStand.118=all
SR_Free_CrouchToStand.119=all
SR_Free_CrouchToStand.120=all
SR_Free_CrouchToStand.121=all
SR_Free_CrouchToStand.122=all
SR_Free_CrouchToStand.123=all
SR_Free_CrouchToStand.124=all
SR_Free_CrouchToStand.125=all
SR_Free_CrouchToStand.126=all
SR_Free_CrouchToStand.127=all
SR_Free_CrouchToStand.128=all
SR_Free_CrouchToStand.129=all
SR_Free_CrouchToStand.130=all
SR_Free_CrouchToStand.131=all
SR_Free_CrouchToStand.132=all
SR_Free_CrouchToStand.133=all
SR_Free_CrouchToStand.134=all
SR_Free_CrouchToStand.135=all
SR_Free_CrouchToStand.136=all
SR_Free_CrouchToStand.137=all
SR_Free_CrouchToStand.138=all
SR_Free_CrouchToStand.139=all
SR_Free_CrouchToStand.140=all
SR_Free_CrouchToStand.141=all
SR_Free_CrouchToStand.142=all
SR_Free_CrouchToStand.143=all
SR_Free_CrouchToStand.144=all
SR_Free_CrouchToStand.145=all
SR_Free_CrouchToStand.146=all
SR_Free_CrouchToStand.147=all
