
[RemoveTracks]
SR_FireStand.1=all
SR_FireStand.2=all
SR_FireStand.37=all
SR_FireStand.38=all
SR_FireStand.39=all
SR_FireStand.40=all
SR_FireStand.41=all
SR_FireStand.42=all
SR_FireStand.43=all
SR_FireStand.44=all
SR_FireStand.48=all
SR_FireStand.49=all
SR_FireStand.50=all
SR_FireStand.67=all
SR_FireStand.68=all
SR_FireStand.69=all
SR_FireStand.70=all
SR_FireStand.71=all
SR_FireStand.72=all
SR_FireStand.73=all
SR_FireStand.74=all
SR_FireStand.75=all
SR_FireStand.76=all
SR_FireStand.77=all
SR_FireStand.78=all
SR_FireStand.79=all
SR_FireStand.80=all
SR_FireStand.81=all
SR_FireStand.82=all
SR_FireStand.83=all
SR_FireStand.84=all
SR_FireStand.85=all
SR_FireStand.86=all
SR_FireStand.87=all
SR_FireStand.88=all
SR_FireStand.89=all
SR_FireStand.90=all
SR_FireStand.91=all
SR_FireStand.92=all
SR_FireStand.93=all
SR_FireStand.94=all
SR_FireStand.95=all
SR_FireStand.96=all
SR_FireStand.97=all
SR_FireStand.98=all
SR_FireStand.99=all
SR_FireStand.100=all
SR_FireStand.101=all
SR_FireStand.102=all
SR_FireStand.103=all
SR_FireStand.104=all
SR_FireStand.105=all
SR_FireStand.106=all
SR_FireStand.112=all
SR_FireStand.113=all
SR_FireStand.114=all
SR_FireStand.115=all
SR_FireStand.116=all
SR_FireStand.117=all
SR_FireStand.118=all
SR_FireStand.119=all
SR_FireStand.120=all
SR_FireStand.121=all
SR_FireStand.122=all
SR_FireStand.123=all
SR_FireStand.128=all
SR_FireStand.129=all
SR_FireStand.130=all
SR_FireStand.131=all
SR_FireStand.132=all
SR_FireStand.133=all
SR_FireStand.134=all
SR_FireStand.137=all
SR_FireStand.138=all
SR_FireStand.139=all
SR_FireStand.140=all
SR_FireStand.141=all
SR_FireStand.142=all
SR_FireStand.143=all
SR_FireStand.144=all
SR_FireStand.145=all
SR_FireStand.146=all
SR_FireStand.147=all
