
[RemoveTracks]
SR_JumpFalling.36=all
SR_JumpFalling.45=all
SR_JumpFalling.46=all
SR_JumpFalling.47=all
SR_JumpFalling.48=all
SR_JumpFalling.49=all
SR_JumpFalling.50=all
SR_JumpFalling.51=all
SR_JumpFalling.52=all
SR_JumpFalling.53=all
SR_JumpFalling.54=all
SR_JumpFalling.55=all
SR_JumpFalling.56=all
SR_JumpFalling.57=all
SR_JumpFalling.58=all
SR_JumpFalling.59=all
SR_JumpFalling.60=all
SR_JumpFalling.61=all
SR_JumpFalling.62=all
SR_JumpFalling.63=all
SR_JumpFalling.64=all
SR_JumpFalling.65=all
SR_JumpFalling.66=all
SR_JumpFalling.67=all
SR_JumpFalling.68=all
SR_JumpFalling.69=all
SR_JumpFalling.70=all
SR_JumpFalling.71=all
SR_JumpFalling.72=all
SR_JumpFalling.73=all
SR_JumpFalling.74=all
SR_JumpFalling.75=all
SR_JumpFalling.76=all
SR_JumpFalling.77=all
SR_JumpFalling.78=all
SR_JumpFalling.79=all
SR_JumpFalling.80=all
SR_JumpFalling.81=all
SR_JumpFalling.82=all
SR_JumpFalling.83=all
SR_JumpFalling.84=all
SR_JumpFalling.85=all
SR_JumpFalling.86=all
SR_JumpFalling.87=all
SR_JumpFalling.88=all
SR_JumpFalling.89=all
SR_JumpFalling.90=all
SR_JumpFalling.91=all
SR_JumpFalling.92=all
SR_JumpFalling.93=all
SR_JumpFalling.94=all
SR_JumpFalling.95=all
SR_JumpFalling.96=all
SR_JumpFalling.97=all
SR_JumpFalling.98=all
SR_JumpFalling.99=all
SR_JumpFalling.100=all
SR_JumpFalling.101=all
SR_JumpFalling.102=all
SR_JumpFalling.103=all
SR_JumpFalling.104=all
SR_JumpFalling.105=all
SR_JumpFalling.106=all
SR_JumpFalling.108=all
SR_JumpFalling.109=all
SR_JumpFalling.110=all
SR_JumpFalling.111=all
SR_JumpFalling.112=all
SR_JumpFalling.113=all
SR_JumpFalling.114=all
SR_JumpFalling.115=all
SR_JumpFalling.116=all
SR_JumpFalling.117=all
SR_JumpFalling.118=all
SR_JumpFalling.119=all
SR_JumpFalling.120=all
SR_JumpFalling.121=all
SR_JumpFalling.122=all
SR_JumpFalling.123=all
SR_JumpFalling.124=all
SR_JumpFalling.125=all
SR_JumpFalling.126=all
SR_JumpFalling.127=all
SR_JumpFalling.128=all
SR_JumpFalling.129=all
SR_JumpFalling.130=all
SR_JumpFalling.131=all
SR_JumpFalling.132=all
SR_JumpFalling.133=all
SR_JumpFalling.134=all
SR_JumpFalling.135=all
SR_JumpFalling.136=all
SR_JumpFalling.137=all
SR_JumpFalling.138=all
SR_JumpFalling.139=all
SR_JumpFalling.140=all
SR_JumpFalling.141=all
SR_JumpFalling.142=all
SR_JumpFalling.143=all
SR_JumpFalling.144=all
SR_JumpFalling.145=all
SR_JumpFalling.146=all
SR_JumpFalling.147=all
