
[RemoveTracks]
SR_JumpLoop.36=all
SR_JumpLoop.45=all
SR_JumpLoop.46=all
SR_JumpLoop.47=all
SR_JumpLoop.48=all
SR_JumpLoop.49=all
SR_JumpLoop.50=all
SR_JumpLoop.51=all
SR_JumpLoop.52=all
SR_JumpLoop.53=all
SR_JumpLoop.54=all
SR_JumpLoop.55=all
SR_JumpLoop.56=all
SR_JumpLoop.57=all
SR_JumpLoop.58=all
SR_JumpLoop.59=all
SR_JumpLoop.60=all
SR_JumpLoop.61=all
SR_JumpLoop.62=all
SR_JumpLoop.63=all
SR_JumpLoop.64=all
SR_JumpLoop.65=all
SR_JumpLoop.66=all
SR_JumpLoop.67=all
SR_JumpLoop.68=all
SR_JumpLoop.69=all
SR_JumpLoop.70=all
SR_JumpLoop.71=all
SR_JumpLoop.72=all
SR_JumpLoop.73=all
SR_JumpLoop.74=all
SR_JumpLoop.75=all
SR_JumpLoop.76=all
SR_JumpLoop.77=all
SR_JumpLoop.78=all
SR_JumpLoop.79=all
SR_JumpLoop.80=all
SR_JumpLoop.81=all
SR_JumpLoop.82=all
SR_JumpLoop.83=all
SR_JumpLoop.84=all
SR_JumpLoop.85=all
SR_JumpLoop.86=all
SR_JumpLoop.87=all
SR_JumpLoop.88=all
SR_JumpLoop.89=all
SR_JumpLoop.90=all
SR_JumpLoop.91=all
SR_JumpLoop.92=all
SR_JumpLoop.93=all
SR_JumpLoop.94=all
SR_JumpLoop.95=all
SR_JumpLoop.96=all
SR_JumpLoop.97=all
SR_JumpLoop.98=all
SR_JumpLoop.99=all
SR_JumpLoop.100=all
SR_JumpLoop.101=all
SR_JumpLoop.102=all
SR_JumpLoop.103=all
SR_JumpLoop.104=all
SR_JumpLoop.105=all
SR_JumpLoop.106=all
SR_JumpLoop.107=all
SR_JumpLoop.108=all
SR_JumpLoop.109=all
SR_JumpLoop.110=all
SR_JumpLoop.111=all
SR_JumpLoop.112=all
SR_JumpLoop.113=all
SR_JumpLoop.114=all
SR_JumpLoop.115=all
SR_JumpLoop.116=all
SR_JumpLoop.117=all
SR_JumpLoop.118=all
SR_JumpLoop.119=all
SR_JumpLoop.120=all
SR_JumpLoop.121=all
SR_JumpLoop.122=all
SR_JumpLoop.123=all
SR_JumpLoop.124=all
SR_JumpLoop.125=all
SR_JumpLoop.126=all
SR_JumpLoop.127=all
SR_JumpLoop.128=all
SR_JumpLoop.129=all
SR_JumpLoop.130=all
SR_JumpLoop.131=all
SR_JumpLoop.132=all
SR_JumpLoop.133=all
SR_JumpLoop.134=all
SR_JumpLoop.135=all
SR_JumpLoop.136=all
SR_JumpLoop.137=all
SR_JumpLoop.138=all
SR_JumpLoop.139=all
SR_JumpLoop.140=all
SR_JumpLoop.141=all
SR_JumpLoop.142=all
SR_JumpLoop.143=all
SR_JumpLoop.144=all
SR_JumpLoop.145=all
SR_JumpLoop.146=all
SR_JumpLoop.147=all
