
[RemoveTracks]
SR_JumpRising.36=all
SR_JumpRising.45=all
SR_JumpRising.46=all
SR_JumpRising.47=all
SR_JumpRising.48=all
SR_JumpRising.49=all
SR_JumpRising.50=all
SR_JumpRising.51=all
SR_JumpRising.52=all
SR_JumpRising.53=all
SR_JumpRising.54=all
SR_JumpRising.55=all
SR_JumpRising.56=all
SR_JumpRising.57=all
SR_JumpRising.58=all
SR_JumpRising.59=all
SR_JumpRising.60=all
SR_JumpRising.61=all
SR_JumpRising.62=all
SR_JumpRising.63=all
SR_JumpRising.64=all
SR_JumpRising.65=all
SR_JumpRising.66=all
SR_JumpRising.67=all
SR_JumpRising.68=all
SR_JumpRising.69=all
SR_JumpRising.70=all
SR_JumpRising.71=all
SR_JumpRising.72=all
SR_JumpRising.73=all
SR_JumpRising.74=all
SR_JumpRising.75=all
SR_JumpRising.76=all
SR_JumpRising.77=all
SR_JumpRising.78=all
SR_JumpRising.79=all
SR_JumpRising.80=all
SR_JumpRising.81=all
SR_JumpRising.82=all
SR_JumpRising.83=all
SR_JumpRising.84=all
SR_JumpRising.85=all
SR_JumpRising.86=all
SR_JumpRising.87=all
SR_JumpRising.88=all
SR_JumpRising.89=all
SR_JumpRising.90=all
SR_JumpRising.91=all
SR_JumpRising.92=all
SR_JumpRising.93=all
SR_JumpRising.94=all
SR_JumpRising.95=all
SR_JumpRising.96=all
SR_JumpRising.97=all
SR_JumpRising.98=all
SR_JumpRising.99=all
SR_JumpRising.100=all
SR_JumpRising.101=all
SR_JumpRising.102=all
SR_JumpRising.103=all
SR_JumpRising.104=all
SR_JumpRising.105=all
SR_JumpRising.106=all
SR_JumpRising.108=all
SR_JumpRising.109=all
SR_JumpRising.110=all
SR_JumpRising.111=all
SR_JumpRising.112=all
SR_JumpRising.113=all
SR_JumpRising.114=all
SR_JumpRising.115=all
SR_JumpRising.116=all
SR_JumpRising.117=all
SR_JumpRising.118=all
SR_JumpRising.119=all
SR_JumpRising.120=all
SR_JumpRising.121=all
SR_JumpRising.122=all
SR_JumpRising.123=all
SR_JumpRising.124=all
SR_JumpRising.125=all
SR_JumpRising.126=all
SR_JumpRising.127=all
SR_JumpRising.128=all
SR_JumpRising.129=all
SR_JumpRising.130=all
SR_JumpRising.131=all
SR_JumpRising.132=all
SR_JumpRising.133=all
SR_JumpRising.134=all
SR_JumpRising.135=all
SR_JumpRising.136=all
SR_JumpRising.137=all
SR_JumpRising.138=all
SR_JumpRising.139=all
SR_JumpRising.140=all
SR_JumpRising.141=all
SR_JumpRising.142=all
SR_JumpRising.143=all
SR_JumpRising.144=all
SR_JumpRising.145=all
SR_JumpRising.146=all
SR_JumpRising.147=all
