
[RemoveTracks]
SR_ProneTurn.36=all
SR_ProneTurn.45=all
SR_ProneTurn.46=all
SR_ProneTurn.47=all
SR_ProneTurn.48=all
SR_ProneTurn.49=all
SR_ProneTurn.50=all
SR_ProneTurn.67=all
SR_ProneTurn.68=all
SR_ProneTurn.69=all
SR_ProneTurn.70=all
SR_ProneTurn.71=all
SR_ProneTurn.72=all
SR_ProneTurn.73=all
SR_ProneTurn.74=all
SR_ProneTurn.75=all
SR_ProneTurn.76=all
SR_ProneTurn.77=all
SR_ProneTurn.78=all
SR_ProneTurn.79=all
SR_ProneTurn.80=all
SR_ProneTurn.81=all
SR_ProneTurn.82=all
SR_ProneTurn.83=all
SR_ProneTurn.84=all
SR_ProneTurn.85=all
SR_ProneTurn.86=all
SR_ProneTurn.87=all
SR_ProneTurn.88=all
SR_ProneTurn.89=all
SR_ProneTurn.90=all
SR_ProneTurn.91=all
SR_ProneTurn.92=all
SR_ProneTurn.93=all
SR_ProneTurn.94=all
SR_ProneTurn.95=all
SR_ProneTurn.96=all
SR_ProneTurn.97=all
SR_ProneTurn.98=all
SR_ProneTurn.99=all
SR_ProneTurn.100=all
SR_ProneTurn.101=all
SR_ProneTurn.102=all
SR_ProneTurn.103=all
SR_ProneTurn.104=all
SR_ProneTurn.105=all
SR_ProneTurn.106=all
SR_ProneTurn.107=all
SR_ProneTurn.108=all
SR_ProneTurn.109=all
SR_ProneTurn.110=all
SR_ProneTurn.111=all
SR_ProneTurn.112=all
SR_ProneTurn.113=all
SR_ProneTurn.114=all
SR_ProneTurn.115=all
SR_ProneTurn.116=all
SR_ProneTurn.117=all
SR_ProneTurn.118=all
SR_ProneTurn.119=all
SR_ProneTurn.120=all
SR_ProneTurn.121=all
SR_ProneTurn.122=all
SR_ProneTurn.123=all
SR_ProneTurn.124=all
SR_ProneTurn.125=all
SR_ProneTurn.126=all
SR_ProneTurn.127=all
SR_ProneTurn.128=all
SR_ProneTurn.129=all
SR_ProneTurn.130=all
SR_ProneTurn.131=all
SR_ProneTurn.132=all
SR_ProneTurn.133=all
SR_ProneTurn.134=all
SR_ProneTurn.135=all
SR_ProneTurn.136=all
SR_ProneTurn.137=all
SR_ProneTurn.138=all
SR_ProneTurn.139=all
SR_ProneTurn.140=all
SR_ProneTurn.141=all
SR_ProneTurn.142=all
SR_ProneTurn.143=all
SR_ProneTurn.144=all
SR_ProneTurn.145=all
SR_ProneTurn.146=all
SR_ProneTurn.147=all
