
[RemoveTracks]
SR_ProneIdle_F.1=all
SR_ProneIdle_F.2=all
SR_ProneIdle_F.3=all
SR_ProneIdle_F.4=all
SR_ProneIdle_F.5=all
SR_ProneIdle_F.6=all
SR_ProneIdle_F.7=all
SR_ProneIdle_F.8=all
SR_ProneIdle_F.9=all
SR_ProneIdle_F.10=all
SR_ProneIdle_F.11=all
SR_ProneIdle_F.12=all
SR_ProneIdle_F.13=all
SR_ProneIdle_F.14=all
SR_ProneIdle_F.15=all
SR_ProneIdle_F.16=all
SR_ProneIdle_F.17=all
SR_ProneIdle_F.18=all
SR_ProneIdle_F.19=all
SR_ProneIdle_F.20=all
SR_ProneIdle_F.21=all
SR_ProneIdle_F.22=all
SR_ProneIdle_F.23=all
SR_ProneIdle_F.24=all
SR_ProneIdle_F.25=all
SR_ProneIdle_F.26=all
SR_ProneIdle_F.27=all
SR_ProneIdle_F.28=all
SR_ProneIdle_F.29=all
SR_ProneIdle_F.30=all
SR_ProneIdle_F.31=all
SR_ProneIdle_F.32=all
SR_ProneIdle_F.33=all
SR_ProneIdle_F.34=all
SR_ProneIdle_F.35=all
SR_ProneIdle_F.36=all
SR_ProneIdle_F.37=all
SR_ProneIdle_F.38=all
SR_ProneIdle_F.39=all
SR_ProneIdle_F.40=all
SR_ProneIdle_F.41=all
SR_ProneIdle_F.42=all
SR_ProneIdle_F.43=all
SR_ProneIdle_F.44=all
SR_ProneIdle_F.45=all
SR_ProneIdle_F.46=all
SR_ProneIdle_F.47=all
SR_ProneIdle_F.48=all
SR_ProneIdle_F.49=all
SR_ProneIdle_F.50=all
SR_ProneIdle_F.51=all
SR_ProneIdle_F.52=all
SR_ProneIdle_F.53=all
SR_ProneIdle_F.54=all
SR_ProneIdle_F.55=all
SR_ProneIdle_F.56=all
SR_ProneIdle_F.57=all
SR_ProneIdle_F.58=all
SR_ProneIdle_F.59=all
SR_ProneIdle_F.60=all
SR_ProneIdle_F.61=all
SR_ProneIdle_F.62=all
SR_ProneIdle_F.63=all
SR_ProneIdle_F.64=all
SR_ProneIdle_F.65=all
SR_ProneIdle_F.66=all
SR_ProneIdle_F.67=all
SR_ProneIdle_F.68=all
SR_ProneIdle_F.69=all
SR_ProneIdle_F.70=all
SR_ProneIdle_F.71=all
SR_ProneIdle_F.72=all
SR_ProneIdle_F.73=all
SR_ProneIdle_F.74=all
SR_ProneIdle_F.75=all
SR_ProneIdle_F.76=all
SR_ProneIdle_F.77=all
SR_ProneIdle_F.78=all
SR_ProneIdle_F.79=all
SR_ProneIdle_F.80=all
SR_ProneIdle_F.81=all
SR_ProneIdle_F.82=all
SR_ProneIdle_F.83=all
SR_ProneIdle_F.84=all
SR_ProneIdle_F.85=all
SR_ProneIdle_F.86=all
SR_ProneIdle_F.87=all
SR_ProneIdle_F.88=all
SR_ProneIdle_F.89=all
SR_ProneIdle_F.90=all
SR_ProneIdle_F.91=all
SR_ProneIdle_F.92=all
SR_ProneIdle_F.93=all
SR_ProneIdle_F.94=all
SR_ProneIdle_F.95=all
SR_ProneIdle_F.96=all
SR_ProneIdle_F.97=all
SR_ProneIdle_F.98=all
SR_ProneIdle_F.99=all
SR_ProneIdle_F.100=all
SR_ProneIdle_F.101=all
SR_ProneIdle_F.102=all
SR_ProneIdle_F.103=all
SR_ProneIdle_F.104=all
SR_ProneIdle_F.105=all
SR_ProneIdle_F.106=all
SR_ProneIdle_F.107=all
SR_ProneIdle_F.108=all
SR_ProneIdle_F.109=all
SR_ProneIdle_F.110=all
SR_ProneIdle_F.111=all
SR_ProneIdle_F.112=all
SR_ProneIdle_F.113=all
SR_ProneIdle_F.114=all
SR_ProneIdle_F.115=all
SR_ProneIdle_F.116=all
SR_ProneIdle_F.117=all
SR_ProneIdle_F.118=all
SR_ProneIdle_F.119=all
SR_ProneIdle_F.120=all
SR_ProneIdle_F.121=all
SR_ProneIdle_F.122=all
SR_ProneIdle_F.123=all
SR_ProneIdle_F.124=all
SR_ProneIdle_F.125=all
SR_ProneIdle_F.126=all
SR_ProneIdle_F.127=all
SR_ProneIdle_F.128=all
SR_ProneIdle_F.129=all
SR_ProneIdle_F.130=all
SR_ProneIdle_F.131=all
SR_ProneIdle_F.132=all
SR_ProneIdle_F.133=all
SR_ProneIdle_F.134=all
SR_ProneIdle_F.135=all
SR_ProneIdle_F.136=all
SR_ProneIdle_F.137=all
SR_ProneIdle_F.138=all
SR_ProneIdle_F.139=all
SR_ProneIdle_F.140=all
SR_ProneIdle_F.141=all
SR_ProneIdle_F.142=all
SR_ProneIdle_F.143=all
SR_ProneIdle_F.144=all
SR_ProneIdle_F.145=all
SR_ProneIdle_F.146=all
SR_ProneIdle_F.147=all
