
[RemoveTracks]
SR_RunStop.36=all
SR_RunStop.45=all
SR_RunStop.46=all
SR_RunStop.47=all
SR_RunStop.48=all
SR_RunStop.49=all
SR_RunStop.50=all
SR_RunStop.51=all
SR_RunStop.52=all
SR_RunStop.53=all
SR_RunStop.54=all
SR_RunStop.55=all
SR_RunStop.56=all
SR_RunStop.57=all
SR_RunStop.58=all
SR_RunStop.59=all
SR_RunStop.60=all
SR_RunStop.61=all
SR_RunStop.62=all
SR_RunStop.63=all
SR_RunStop.64=all
SR_RunStop.65=all
SR_RunStop.66=all
SR_RunStop.67=all
SR_RunStop.68=all
SR_RunStop.69=all
SR_RunStop.70=all
SR_RunStop.71=all
SR_RunStop.72=all
SR_RunStop.73=all
SR_RunStop.74=all
SR_RunStop.75=all
SR_RunStop.76=all
SR_RunStop.77=all
SR_RunStop.78=all
SR_RunStop.79=all
SR_RunStop.80=all
SR_RunStop.81=all
SR_RunStop.82=all
SR_RunStop.83=all
SR_RunStop.84=all
SR_RunStop.85=all
SR_RunStop.86=all
SR_RunStop.87=all
SR_RunStop.88=all
SR_RunStop.89=all
SR_RunStop.90=all
SR_RunStop.91=all
SR_RunStop.92=all
SR_RunStop.93=all
SR_RunStop.94=all
SR_RunStop.95=all
SR_RunStop.96=all
SR_RunStop.97=all
SR_RunStop.98=all
SR_RunStop.99=all
SR_RunStop.100=all
SR_RunStop.101=all
SR_RunStop.102=all
SR_RunStop.103=all
SR_RunStop.104=all
SR_RunStop.105=all
SR_RunStop.106=all
SR_RunStop.108=all
SR_RunStop.109=all
SR_RunStop.110=all
SR_RunStop.111=all
SR_RunStop.112=all
SR_RunStop.113=all
SR_RunStop.114=all
SR_RunStop.115=all
SR_RunStop.116=all
SR_RunStop.117=all
SR_RunStop.118=all
SR_RunStop.119=all
SR_RunStop.120=all
SR_RunStop.121=all
SR_RunStop.122=all
SR_RunStop.123=all
SR_RunStop.124=all
SR_RunStop.125=all
SR_RunStop.126=all
SR_RunStop.127=all
SR_RunStop.128=all
SR_RunStop.129=all
SR_RunStop.130=all
SR_RunStop.131=all
SR_RunStop.132=all
SR_RunStop.133=all
SR_RunStop.134=all
SR_RunStop.135=all
SR_RunStop.136=all
SR_RunStop.137=all
SR_RunStop.138=all
SR_RunStop.139=all
SR_RunStop.140=all
SR_RunStop.141=all
SR_RunStop.142=all
SR_RunStop.143=all
SR_RunStop.144=all
SR_RunStop.145=all
SR_RunStop.146=all
SR_RunStop.147=all
