
[RemoveTracks]
SR_ReloadStand_F.36=all
SR_ReloadStand_F.45=all
SR_ReloadStand_F.46=all
SR_ReloadStand_F.47=all
SR_ReloadStand_F.48=all
SR_ReloadStand_F.49=all
SR_ReloadStand_F.50=all
SR_ReloadStand_F.51=all
SR_ReloadStand_F.52=all
SR_ReloadStand_F.53=all
SR_ReloadStand_F.54=all
SR_ReloadStand_F.55=all
SR_ReloadStand_F.56=all
SR_ReloadStand_F.57=all
SR_ReloadStand_F.58=all
SR_ReloadStand_F.59=all
SR_ReloadStand_F.60=all
SR_ReloadStand_F.61=all
SR_ReloadStand_F.62=all
SR_ReloadStand_F.63=all
SR_ReloadStand_F.64=all
SR_ReloadStand_F.65=all
SR_ReloadStand_F.66=all
SR_ReloadStand_F.67=all
SR_ReloadStand_F.68=all
SR_ReloadStand_F.69=all
SR_ReloadStand_F.70=all
SR_ReloadStand_F.71=all
SR_ReloadStand_F.72=all
SR_ReloadStand_F.73=all
SR_ReloadStand_F.74=all
SR_ReloadStand_F.75=all
SR_ReloadStand_F.76=all
SR_ReloadStand_F.77=all
SR_ReloadStand_F.78=all
SR_ReloadStand_F.79=all
SR_ReloadStand_F.80=all
SR_ReloadStand_F.81=all
SR_ReloadStand_F.82=all
SR_ReloadStand_F.83=all
SR_ReloadStand_F.84=all
SR_ReloadStand_F.85=all
SR_ReloadStand_F.86=all
SR_ReloadStand_F.87=all
SR_ReloadStand_F.88=all
SR_ReloadStand_F.89=all
SR_ReloadStand_F.90=all
SR_ReloadStand_F.91=all
SR_ReloadStand_F.92=all
SR_ReloadStand_F.93=all
SR_ReloadStand_F.94=all
SR_ReloadStand_F.95=all
SR_ReloadStand_F.96=all
SR_ReloadStand_F.97=all
SR_ReloadStand_F.98=all
SR_ReloadStand_F.99=all
SR_ReloadStand_F.100=all
SR_ReloadStand_F.101=all
SR_ReloadStand_F.102=all
SR_ReloadStand_F.103=all
SR_ReloadStand_F.104=all
SR_ReloadStand_F.105=all
SR_ReloadStand_F.106=all
SR_ReloadStand_F.107=all
SR_ReloadStand_F.108=all
SR_ReloadStand_F.109=all
SR_ReloadStand_F.110=all
SR_ReloadStand_F.111=all
SR_ReloadStand_F.112=all
SR_ReloadStand_F.113=all
SR_ReloadStand_F.114=all
SR_ReloadStand_F.115=all
SR_ReloadStand_F.116=all
SR_ReloadStand_F.117=all
SR_ReloadStand_F.118=all
SR_ReloadStand_F.119=all
SR_ReloadStand_F.120=all
SR_ReloadStand_F.121=all
SR_ReloadStand_F.122=all
SR_ReloadStand_F.123=all
SR_ReloadStand_F.124=all
SR_ReloadStand_F.125=all
SR_ReloadStand_F.126=all
SR_ReloadStand_F.127=all
SR_ReloadStand_F.128=all
SR_ReloadStand_F.129=all
SR_ReloadStand_F.130=all
SR_ReloadStand_F.131=all
SR_ReloadStand_F.132=all
SR_ReloadStand_F.133=all
SR_ReloadStand_F.134=all
SR_ReloadStand_F.135=all
SR_ReloadStand_F.136=all
SR_ReloadStand_F.137=all
SR_ReloadStand_F.138=all
SR_ReloadStand_F.139=all
SR_ReloadStand_F.140=all
SR_ReloadStand_F.141=all
SR_ReloadStand_F.142=all
SR_ReloadStand_F.143=all
SR_ReloadStand_F.144=all
SR_ReloadStand_F.145=all
SR_ReloadStand_F.146=all
SR_ReloadStand_F.147=all
