
[RemoveTracks]
SR_ReloadStand_P.36=all
SR_ReloadStand_P.45=all
SR_ReloadStand_P.46=all
SR_ReloadStand_P.47=all
SR_ReloadStand_P.48=all
SR_ReloadStand_P.49=all
SR_ReloadStand_P.50=all
SR_ReloadStand_P.51=all
SR_ReloadStand_P.52=all
SR_ReloadStand_P.53=all
SR_ReloadStand_P.54=all
SR_ReloadStand_P.55=all
SR_ReloadStand_P.56=all
SR_ReloadStand_P.57=all
SR_ReloadStand_P.58=all
SR_ReloadStand_P.59=all
SR_ReloadStand_P.60=all
SR_ReloadStand_P.61=all
SR_ReloadStand_P.62=all
SR_ReloadStand_P.63=all
SR_ReloadStand_P.64=all
SR_ReloadStand_P.65=all
SR_ReloadStand_P.66=all
SR_ReloadStand_P.67=all
SR_ReloadStand_P.68=all
SR_ReloadStand_P.69=all
SR_ReloadStand_P.70=all
SR_ReloadStand_P.71=all
SR_ReloadStand_P.72=all
SR_ReloadStand_P.73=all
SR_ReloadStand_P.74=all
SR_ReloadStand_P.75=all
SR_ReloadStand_P.76=all
SR_ReloadStand_P.77=all
SR_ReloadStand_P.78=all
SR_ReloadStand_P.79=all
SR_ReloadStand_P.80=all
SR_ReloadStand_P.81=all
SR_ReloadStand_P.82=all
SR_ReloadStand_P.83=all
SR_ReloadStand_P.84=all
SR_ReloadStand_P.85=all
SR_ReloadStand_P.86=all
SR_ReloadStand_P.87=all
SR_ReloadStand_P.88=all
SR_ReloadStand_P.89=all
SR_ReloadStand_P.90=all
SR_ReloadStand_P.91=all
SR_ReloadStand_P.92=all
SR_ReloadStand_P.93=all
SR_ReloadStand_P.94=all
SR_ReloadStand_P.95=all
SR_ReloadStand_P.96=all
SR_ReloadStand_P.97=all
SR_ReloadStand_P.98=all
SR_ReloadStand_P.99=all
SR_ReloadStand_P.100=all
SR_ReloadStand_P.101=all
SR_ReloadStand_P.102=all
SR_ReloadStand_P.103=all
SR_ReloadStand_P.104=all
SR_ReloadStand_P.105=all
SR_ReloadStand_P.106=all
SR_ReloadStand_P.108=all
SR_ReloadStand_P.109=all
SR_ReloadStand_P.110=all
SR_ReloadStand_P.111=all
SR_ReloadStand_P.112=all
SR_ReloadStand_P.113=all
SR_ReloadStand_P.114=all
SR_ReloadStand_P.115=all
SR_ReloadStand_P.116=all
SR_ReloadStand_P.117=all
SR_ReloadStand_P.118=all
SR_ReloadStand_P.119=all
SR_ReloadStand_P.120=all
SR_ReloadStand_P.121=all
SR_ReloadStand_P.122=all
SR_ReloadStand_P.123=all
SR_ReloadStand_P.124=all
SR_ReloadStand_P.125=all
SR_ReloadStand_P.126=all
SR_ReloadStand_P.127=all
SR_ReloadStand_P.128=all
SR_ReloadStand_P.129=all
SR_ReloadStand_P.130=all
SR_ReloadStand_P.131=all
SR_ReloadStand_P.132=all
SR_ReloadStand_P.133=all
SR_ReloadStand_P.134=all
SR_ReloadStand_P.135=all
SR_ReloadStand_P.136=all
SR_ReloadStand_P.137=all
SR_ReloadStand_P.138=all
SR_ReloadStand_P.139=all
SR_ReloadStand_P.140=all
SR_ReloadStand_P.141=all
SR_ReloadStand_P.142=all
SR_ReloadStand_P.143=all
SR_ReloadStand_P.144=all
SR_ReloadStand_P.145=all
SR_ReloadStand_P.146=all
SR_ReloadStand_P.147=all
