
[RemoveTracks]
SR_StandTurn_R.36=all
SR_StandTurn_R.45=all
SR_StandTurn_R.46=all
SR_StandTurn_R.47=all
SR_StandTurn_R.48=all
SR_StandTurn_R.49=all
SR_StandTurn_R.50=all
SR_StandTurn_R.51=all
SR_StandTurn_R.52=all
SR_StandTurn_R.53=all
SR_StandTurn_R.54=all
SR_StandTurn_R.55=all
SR_StandTurn_R.56=all
SR_StandTurn_R.57=all
SR_StandTurn_R.58=all
SR_StandTurn_R.59=all
SR_StandTurn_R.60=all
SR_StandTurn_R.61=all
SR_StandTurn_R.62=all
SR_StandTurn_R.63=all
SR_StandTurn_R.64=all
SR_StandTurn_R.65=all
SR_StandTurn_R.66=all
SR_StandTurn_R.67=all
SR_StandTurn_R.68=all
SR_StandTurn_R.69=all
SR_StandTurn_R.70=all
SR_StandTurn_R.71=all
SR_StandTurn_R.72=all
SR_StandTurn_R.73=all
SR_StandTurn_R.74=all
SR_StandTurn_R.75=all
SR_StandTurn_R.76=all
SR_StandTurn_R.77=all
SR_StandTurn_R.78=all
SR_StandTurn_R.79=all
SR_StandTurn_R.80=all
SR_StandTurn_R.81=all
SR_StandTurn_R.82=all
SR_StandTurn_R.83=all
SR_StandTurn_R.84=all
SR_StandTurn_R.85=all
SR_StandTurn_R.86=all
SR_StandTurn_R.87=all
SR_StandTurn_R.88=all
SR_StandTurn_R.89=all
SR_StandTurn_R.90=all
SR_StandTurn_R.91=all
SR_StandTurn_R.92=all
SR_StandTurn_R.93=all
SR_StandTurn_R.94=all
SR_StandTurn_R.95=all
SR_StandTurn_R.96=all
SR_StandTurn_R.97=all
SR_StandTurn_R.98=all
SR_StandTurn_R.99=all
SR_StandTurn_R.100=all
SR_StandTurn_R.101=all
SR_StandTurn_R.102=all
SR_StandTurn_R.103=all
SR_StandTurn_R.104=all
SR_StandTurn_R.105=all
SR_StandTurn_R.106=all
SR_StandTurn_R.108=all
SR_StandTurn_R.109=all
SR_StandTurn_R.110=all
SR_StandTurn_R.111=all
SR_StandTurn_R.112=all
SR_StandTurn_R.113=all
SR_StandTurn_R.114=all
SR_StandTurn_R.115=all
SR_StandTurn_R.116=all
SR_StandTurn_R.117=all
SR_StandTurn_R.118=all
SR_StandTurn_R.119=all
SR_StandTurn_R.120=all
SR_StandTurn_R.121=all
SR_StandTurn_R.122=all
SR_StandTurn_R.123=all
SR_StandTurn_R.124=all
SR_StandTurn_R.125=all
SR_StandTurn_R.126=all
SR_StandTurn_R.127=all
SR_StandTurn_R.128=all
SR_StandTurn_R.129=all
SR_StandTurn_R.130=all
SR_StandTurn_R.131=all
SR_StandTurn_R.132=all
SR_StandTurn_R.133=all
SR_StandTurn_R.134=all
SR_StandTurn_R.135=all
SR_StandTurn_R.136=all
SR_StandTurn_R.137=all
SR_StandTurn_R.138=all
SR_StandTurn_R.139=all
SR_StandTurn_R.140=all
SR_StandTurn_R.141=all
SR_StandTurn_R.142=all
SR_StandTurn_R.143=all
SR_StandTurn_R.144=all
SR_StandTurn_R.145=all
SR_StandTurn_R.146=all
SR_StandTurn_R.147=all
