
[RemoveTracks]
SR_StandToProne.36=all
SR_StandToProne.45=all
SR_StandToProne.46=all
SR_StandToProne.47=all
SR_StandToProne.48=all
SR_StandToProne.49=all
SR_StandToProne.50=all
SR_StandToProne.67=all
SR_StandToProne.68=all
SR_StandToProne.69=all
SR_StandToProne.70=all
SR_StandToProne.71=all
SR_StandToProne.72=all
SR_StandToProne.73=all
SR_StandToProne.74=all
SR_StandToProne.75=all
SR_StandToProne.76=all
SR_StandToProne.77=all
SR_StandToProne.78=all
SR_StandToProne.79=all
SR_StandToProne.80=all
SR_StandToProne.81=all
SR_StandToProne.82=all
SR_StandToProne.83=all
SR_StandToProne.84=all
SR_StandToProne.85=all
SR_StandToProne.86=all
SR_StandToProne.87=all
SR_StandToProne.88=all
SR_StandToProne.89=all
SR_StandToProne.90=all
SR_StandToProne.91=all
SR_StandToProne.92=all
SR_StandToProne.93=all
SR_StandToProne.94=all
SR_StandToProne.95=all
SR_StandToProne.96=all
SR_StandToProne.97=all
SR_StandToProne.98=all
SR_StandToProne.99=all
SR_StandToProne.100=all
SR_StandToProne.101=all
SR_StandToProne.102=all
SR_StandToProne.103=all
SR_StandToProne.104=all
SR_StandToProne.105=all
SR_StandToProne.106=all
SR_StandToProne.107=all
SR_StandToProne.108=all
SR_StandToProne.109=all
SR_StandToProne.110=all
SR_StandToProne.111=all
SR_StandToProne.112=all
SR_StandToProne.113=all
SR_StandToProne.114=all
SR_StandToProne.115=all
SR_StandToProne.116=all
SR_StandToProne.117=all
SR_StandToProne.118=all
SR_StandToProne.119=all
SR_StandToProne.120=all
SR_StandToProne.121=all
SR_StandToProne.122=all
SR_StandToProne.123=all
SR_StandToProne.124=all
SR_StandToProne.125=all
SR_StandToProne.126=all
SR_StandToProne.127=all
SR_StandToProne.128=all
SR_StandToProne.129=all
SR_StandToProne.130=all
SR_StandToProne.131=all
SR_StandToProne.132=all
SR_StandToProne.133=all
SR_StandToProne.134=all
SR_StandToProne.135=all
SR_StandToProne.136=all
SR_StandToProne.137=all
SR_StandToProne.138=all
SR_StandToProne.139=all
SR_StandToProne.140=all
SR_StandToProne.141=all
SR_StandToProne.142=all
SR_StandToProne.143=all
SR_StandToProne.144=all
SR_StandToProne.145=all
SR_StandToProne.146=all
SR_StandToProne.147=all
