
[RemoveTracks]
SR_StandTurn_L.36=all
SR_StandTurn_L.45=all
SR_StandTurn_L.46=all
SR_StandTurn_L.47=all
SR_StandTurn_L.48=all
SR_StandTurn_L.49=all
SR_StandTurn_L.50=all
SR_StandTurn_L.51=all
SR_StandTurn_L.52=all
SR_StandTurn_L.53=all
SR_StandTurn_L.54=all
SR_StandTurn_L.55=all
SR_StandTurn_L.56=all
SR_StandTurn_L.57=all
SR_StandTurn_L.58=all
SR_StandTurn_L.59=all
SR_StandTurn_L.60=all
SR_StandTurn_L.61=all
SR_StandTurn_L.62=all
SR_StandTurn_L.63=all
SR_StandTurn_L.64=all
SR_StandTurn_L.65=all
SR_StandTurn_L.66=all
SR_StandTurn_L.67=all
SR_StandTurn_L.68=all
SR_StandTurn_L.69=all
SR_StandTurn_L.70=all
SR_StandTurn_L.71=all
SR_StandTurn_L.72=all
SR_StandTurn_L.73=all
SR_StandTurn_L.74=all
SR_StandTurn_L.75=all
SR_StandTurn_L.76=all
SR_StandTurn_L.77=all
SR_StandTurn_L.78=all
SR_StandTurn_L.79=all
SR_StandTurn_L.80=all
SR_StandTurn_L.81=all
SR_StandTurn_L.82=all
SR_StandTurn_L.83=all
SR_StandTurn_L.84=all
SR_StandTurn_L.85=all
SR_StandTurn_L.86=all
SR_StandTurn_L.87=all
SR_StandTurn_L.88=all
SR_StandTurn_L.89=all
SR_StandTurn_L.90=all
SR_StandTurn_L.91=all
SR_StandTurn_L.92=all
SR_StandTurn_L.93=all
SR_StandTurn_L.94=all
SR_StandTurn_L.95=all
SR_StandTurn_L.96=all
SR_StandTurn_L.97=all
SR_StandTurn_L.98=all
SR_StandTurn_L.99=all
SR_StandTurn_L.100=all
SR_StandTurn_L.101=all
SR_StandTurn_L.102=all
SR_StandTurn_L.103=all
SR_StandTurn_L.104=all
SR_StandTurn_L.105=all
SR_StandTurn_L.106=all
SR_StandTurn_L.108=all
SR_StandTurn_L.109=all
SR_StandTurn_L.110=all
SR_StandTurn_L.111=all
SR_StandTurn_L.112=all
SR_StandTurn_L.113=all
SR_StandTurn_L.114=all
SR_StandTurn_L.115=all
SR_StandTurn_L.116=all
SR_StandTurn_L.117=all
SR_StandTurn_L.118=all
SR_StandTurn_L.119=all
SR_StandTurn_L.120=all
SR_StandTurn_L.121=all
SR_StandTurn_L.122=all
SR_StandTurn_L.123=all
SR_StandTurn_L.124=all
SR_StandTurn_L.125=all
SR_StandTurn_L.126=all
SR_StandTurn_L.127=all
SR_StandTurn_L.128=all
SR_StandTurn_L.129=all
SR_StandTurn_L.130=all
SR_StandTurn_L.131=all
SR_StandTurn_L.132=all
SR_StandTurn_L.133=all
SR_StandTurn_L.134=all
SR_StandTurn_L.135=all
SR_StandTurn_L.136=all
SR_StandTurn_L.137=all
SR_StandTurn_L.138=all
SR_StandTurn_L.139=all
SR_StandTurn_L.140=all
SR_StandTurn_L.141=all
SR_StandTurn_L.142=all
SR_StandTurn_L.143=all
SR_StandTurn_L.144=all
SR_StandTurn_L.145=all
SR_StandTurn_L.146=all
SR_StandTurn_L.147=all
