
[RemoveTracks]
SR_StandTurn.36=all
SR_StandTurn.45=all
SR_StandTurn.46=all
SR_StandTurn.47=all
SR_StandTurn.48=all
SR_StandTurn.49=all
SR_StandTurn.50=all
SR_StandTurn.67=all
SR_StandTurn.68=all
SR_StandTurn.69=all
SR_StandTurn.70=all
SR_StandTurn.71=all
SR_StandTurn.72=all
SR_StandTurn.73=all
SR_StandTurn.74=all
SR_StandTurn.75=all
SR_StandTurn.76=all
SR_StandTurn.77=all
SR_StandTurn.78=all
SR_StandTurn.79=all
SR_StandTurn.80=all
SR_StandTurn.81=all
SR_StandTurn.82=all
SR_StandTurn.83=all
SR_StandTurn.84=all
SR_StandTurn.85=all
SR_StandTurn.86=all
SR_StandTurn.87=all
SR_StandTurn.88=all
SR_StandTurn.89=all
SR_StandTurn.90=all
SR_StandTurn.91=all
SR_StandTurn.92=all
SR_StandTurn.93=all
SR_StandTurn.94=all
SR_StandTurn.95=all
SR_StandTurn.96=all
SR_StandTurn.97=all
SR_StandTurn.98=all
SR_StandTurn.99=all
SR_StandTurn.100=all
SR_StandTurn.101=all
SR_StandTurn.102=all
SR_StandTurn.103=all
SR_StandTurn.104=all
SR_StandTurn.105=all
SR_StandTurn.106=all
SR_StandTurn.107=all
SR_StandTurn.108=all
SR_StandTurn.109=all
SR_StandTurn.110=all
SR_StandTurn.111=all
SR_StandTurn.112=all
SR_StandTurn.113=all
SR_StandTurn.114=all
SR_StandTurn.115=all
SR_StandTurn.116=all
SR_StandTurn.117=all
SR_StandTurn.118=all
SR_StandTurn.119=all
SR_StandTurn.120=all
SR_StandTurn.121=all
SR_StandTurn.122=all
SR_StandTurn.123=all
SR_StandTurn.124=all
SR_StandTurn.125=all
SR_StandTurn.126=all
SR_StandTurn.127=all
SR_StandTurn.128=all
SR_StandTurn.129=all
SR_StandTurn.130=all
SR_StandTurn.131=all
SR_StandTurn.132=all
SR_StandTurn.133=all
SR_StandTurn.134=all
SR_StandTurn.135=all
SR_StandTurn.136=all
SR_StandTurn.137=all
SR_StandTurn.138=all
SR_StandTurn.139=all
SR_StandTurn.140=all
SR_StandTurn.141=all
SR_StandTurn.142=all
SR_StandTurn.143=all
SR_StandTurn.144=all
SR_StandTurn.145=all
SR_StandTurn.146=all
SR_StandTurn.147=all
