
[RemoveTracks]
SR_StandToCrouch.36=all
SR_StandToCrouch.45=all
SR_StandToCrouch.46=all
SR_StandToCrouch.47=all
SR_StandToCrouch.48=all
SR_StandToCrouch.49=all
SR_StandToCrouch.50=all
SR_StandToCrouch.67=all
SR_StandToCrouch.68=all
SR_StandToCrouch.69=all
SR_StandToCrouch.70=all
SR_StandToCrouch.71=all
SR_StandToCrouch.72=all
SR_StandToCrouch.73=all
SR_StandToCrouch.74=all
SR_StandToCrouch.75=all
SR_StandToCrouch.76=all
SR_StandToCrouch.77=all
SR_StandToCrouch.78=all
SR_StandToCrouch.79=all
SR_StandToCrouch.80=all
SR_StandToCrouch.81=all
SR_StandToCrouch.82=all
SR_StandToCrouch.83=all
SR_StandToCrouch.84=all
SR_StandToCrouch.85=all
SR_StandToCrouch.86=all
SR_StandToCrouch.87=all
SR_StandToCrouch.88=all
SR_StandToCrouch.89=all
SR_StandToCrouch.90=all
SR_StandToCrouch.91=all
SR_StandToCrouch.92=all
SR_StandToCrouch.93=all
SR_StandToCrouch.94=all
SR_StandToCrouch.95=all
SR_StandToCrouch.96=all
SR_StandToCrouch.97=all
SR_StandToCrouch.98=all
SR_StandToCrouch.99=all
SR_StandToCrouch.100=all
SR_StandToCrouch.101=all
SR_StandToCrouch.102=all
SR_StandToCrouch.103=all
SR_StandToCrouch.104=all
SR_StandToCrouch.105=all
SR_StandToCrouch.106=all
SR_StandToCrouch.107=all
SR_StandToCrouch.108=all
SR_StandToCrouch.109=all
SR_StandToCrouch.110=all
SR_StandToCrouch.111=all
SR_StandToCrouch.112=all
SR_StandToCrouch.113=all
SR_StandToCrouch.114=all
SR_StandToCrouch.115=all
SR_StandToCrouch.116=all
SR_StandToCrouch.117=all
SR_StandToCrouch.118=all
SR_StandToCrouch.119=all
SR_StandToCrouch.120=all
SR_StandToCrouch.121=all
SR_StandToCrouch.122=all
SR_StandToCrouch.123=all
SR_StandToCrouch.124=all
SR_StandToCrouch.125=all
SR_StandToCrouch.126=all
SR_StandToCrouch.127=all
SR_StandToCrouch.128=all
SR_StandToCrouch.129=all
SR_StandToCrouch.130=all
SR_StandToCrouch.131=all
SR_StandToCrouch.132=all
SR_StandToCrouch.133=all
SR_StandToCrouch.134=all
SR_StandToCrouch.135=all
SR_StandToCrouch.136=all
SR_StandToCrouch.137=all
SR_StandToCrouch.138=all
SR_StandToCrouch.139=all
SR_StandToCrouch.140=all
SR_StandToCrouch.141=all
SR_StandToCrouch.142=all
SR_StandToCrouch.143=all
SR_StandToCrouch.144=all
SR_StandToCrouch.145=all
SR_StandToCrouch.146=all
SR_StandToCrouch.147=all
