
[RemoveTracks]
SMG_CrouchToStand.36=all
SMG_CrouchToStand.45=all
SMG_CrouchToStand.46=all
SMG_CrouchToStand.47=all
SMG_CrouchToStand.48=all
SMG_CrouchToStand.49=all
SMG_CrouchToStand.50=all
SMG_CrouchToStand.51=all
SMG_CrouchToStand.52=all
SMG_CrouchToStand.53=all
SMG_CrouchToStand.54=all
SMG_CrouchToStand.55=all
SMG_CrouchToStand.56=all
SMG_CrouchToStand.57=all
SMG_CrouchToStand.58=all
SMG_CrouchToStand.59=all
SMG_CrouchToStand.60=all
SMG_CrouchToStand.61=all
SMG_CrouchToStand.62=all
SMG_CrouchToStand.63=all
SMG_CrouchToStand.64=all
SMG_CrouchToStand.65=all
SMG_CrouchToStand.66=all
SMG_CrouchToStand.67=all
SMG_CrouchToStand.68=all
SMG_CrouchToStand.69=all
SMG_CrouchToStand.70=all
SMG_CrouchToStand.71=all
SMG_CrouchToStand.72=all
SMG_CrouchToStand.73=all
SMG_CrouchToStand.74=all
SMG_CrouchToStand.75=all
SMG_CrouchToStand.76=all
SMG_CrouchToStand.77=all
SMG_CrouchToStand.78=all
SMG_CrouchToStand.79=all
SMG_CrouchToStand.80=all
SMG_CrouchToStand.81=all
SMG_CrouchToStand.82=all
SMG_CrouchToStand.83=all
SMG_CrouchToStand.84=all
SMG_CrouchToStand.85=all
SMG_CrouchToStand.86=all
SMG_CrouchToStand.87=all
SMG_CrouchToStand.88=all
SMG_CrouchToStand.89=all
SMG_CrouchToStand.90=all
SMG_CrouchToStand.91=all
SMG_CrouchToStand.92=all
SMG_CrouchToStand.93=all
SMG_CrouchToStand.94=all
SMG_CrouchToStand.95=all
SMG_CrouchToStand.96=all
SMG_CrouchToStand.97=all
SMG_CrouchToStand.98=all
SMG_CrouchToStand.99=all
SMG_CrouchToStand.100=all
SMG_CrouchToStand.101=all
SMG_CrouchToStand.102=all
SMG_CrouchToStand.103=all
SMG_CrouchToStand.104=all
SMG_CrouchToStand.105=all
SMG_CrouchToStand.106=all
SMG_CrouchToStand.107=all
SMG_CrouchToStand.108=all
SMG_CrouchToStand.109=all
SMG_CrouchToStand.110=all
SMG_CrouchToStand.111=all
SMG_CrouchToStand.112=all
SMG_CrouchToStand.113=all
SMG_CrouchToStand.114=all
SMG_CrouchToStand.115=all
SMG_CrouchToStand.116=all
SMG_CrouchToStand.117=all
SMG_CrouchToStand.118=all
SMG_CrouchToStand.119=all
SMG_CrouchToStand.120=all
SMG_CrouchToStand.121=all
SMG_CrouchToStand.122=all
SMG_CrouchToStand.123=all
SMG_CrouchToStand.124=all
SMG_CrouchToStand.125=all
SMG_CrouchToStand.126=all
SMG_CrouchToStand.127=all
SMG_CrouchToStand.128=all
SMG_CrouchToStand.129=all
SMG_CrouchToStand.130=all
SMG_CrouchToStand.131=all
SMG_CrouchToStand.132=all
SMG_CrouchToStand.133=all
SMG_CrouchToStand.134=all
SMG_CrouchToStand.135=all
SMG_CrouchToStand.136=all
SMG_CrouchToStand.137=all
SMG_CrouchToStand.138=all
SMG_CrouchToStand.139=all
SMG_CrouchToStand.140=all
SMG_CrouchToStand.141=all
SMG_CrouchToStand.142=all
SMG_CrouchToStand.143=all
SMG_CrouchToStand.144=all
SMG_CrouchToStand.145=all
SMG_CrouchToStand.146=all
SMG_CrouchToStand.147=all
