
[RemoveTracks]
SMG_StandIdle.36=all
SMG_StandIdle.45=all
SMG_StandIdle.46=all
SMG_StandIdle.47=all
SMG_StandIdle.48=all
SMG_StandIdle.49=all
SMG_StandIdle.50=all
SMG_StandIdle.51=all
SMG_StandIdle.52=all
SMG_StandIdle.53=all
SMG_StandIdle.54=all
SMG_StandIdle.55=all
SMG_StandIdle.56=all
SMG_StandIdle.57=all
SMG_StandIdle.58=all
SMG_StandIdle.59=all
SMG_StandIdle.60=all
SMG_StandIdle.61=all
SMG_StandIdle.62=all
SMG_StandIdle.63=all
SMG_StandIdle.64=all
SMG_StandIdle.65=all
SMG_StandIdle.66=all
SMG_StandIdle.67=all
SMG_StandIdle.68=all
SMG_StandIdle.69=all
SMG_StandIdle.70=all
SMG_StandIdle.71=all
SMG_StandIdle.72=all
SMG_StandIdle.73=all
SMG_StandIdle.74=all
SMG_StandIdle.75=all
SMG_StandIdle.76=all
SMG_StandIdle.77=all
SMG_StandIdle.78=all
SMG_StandIdle.79=all
SMG_StandIdle.80=all
SMG_StandIdle.81=all
SMG_StandIdle.82=all
SMG_StandIdle.83=all
SMG_StandIdle.84=all
SMG_StandIdle.85=all
SMG_StandIdle.86=all
SMG_StandIdle.87=all
SMG_StandIdle.88=all
SMG_StandIdle.89=all
SMG_StandIdle.90=all
SMG_StandIdle.91=all
SMG_StandIdle.92=all
SMG_StandIdle.93=all
SMG_StandIdle.94=all
SMG_StandIdle.95=all
SMG_StandIdle.96=all
SMG_StandIdle.97=all
SMG_StandIdle.98=all
SMG_StandIdle.99=all
SMG_StandIdle.100=all
SMG_StandIdle.101=all
SMG_StandIdle.102=all
SMG_StandIdle.103=all
SMG_StandIdle.104=all
SMG_StandIdle.105=all
SMG_StandIdle.106=all
SMG_StandIdle.107=all
SMG_StandIdle.108=all
SMG_StandIdle.109=all
SMG_StandIdle.110=all
SMG_StandIdle.111=all
SMG_StandIdle.112=all
SMG_StandIdle.113=all
SMG_StandIdle.114=all
SMG_StandIdle.115=all
SMG_StandIdle.116=all
SMG_StandIdle.117=all
SMG_StandIdle.118=all
SMG_StandIdle.119=all
SMG_StandIdle.120=all
SMG_StandIdle.121=all
SMG_StandIdle.122=all
SMG_StandIdle.123=all
SMG_StandIdle.124=all
SMG_StandIdle.125=all
SMG_StandIdle.126=all
SMG_StandIdle.127=all
SMG_StandIdle.128=all
SMG_StandIdle.129=all
SMG_StandIdle.130=all
SMG_StandIdle.131=all
SMG_StandIdle.132=all
SMG_StandIdle.133=all
SMG_StandIdle.134=all
SMG_StandIdle.135=all
SMG_StandIdle.136=all
SMG_StandIdle.137=all
SMG_StandIdle.138=all
SMG_StandIdle.139=all
SMG_StandIdle.140=all
SMG_StandIdle.141=all
SMG_StandIdle.142=all
SMG_StandIdle.143=all
SMG_StandIdle.144=all
SMG_StandIdle.145=all
SMG_StandIdle.146=all
SMG_StandIdle.147=all
