
[RemoveTracks]
SMG_ProneTurn.36=all
SMG_ProneTurn.45=all
SMG_ProneTurn.46=all
SMG_ProneTurn.47=all
SMG_ProneTurn.48=all
SMG_ProneTurn.49=all
SMG_ProneTurn.50=all
SMG_ProneTurn.51=all
SMG_ProneTurn.52=all
SMG_ProneTurn.53=all
SMG_ProneTurn.54=all
SMG_ProneTurn.55=all
SMG_ProneTurn.56=all
SMG_ProneTurn.57=all
SMG_ProneTurn.58=all
SMG_ProneTurn.59=all
SMG_ProneTurn.60=all
SMG_ProneTurn.61=all
SMG_ProneTurn.62=all
SMG_ProneTurn.63=all
SMG_ProneTurn.64=all
SMG_ProneTurn.65=all
SMG_ProneTurn.66=all
SMG_ProneTurn.67=all
SMG_ProneTurn.68=all
SMG_ProneTurn.69=all
SMG_ProneTurn.70=all
SMG_ProneTurn.71=all
SMG_ProneTurn.72=all
SMG_ProneTurn.73=all
SMG_ProneTurn.74=all
SMG_ProneTurn.75=all
SMG_ProneTurn.76=all
SMG_ProneTurn.77=all
SMG_ProneTurn.78=all
SMG_ProneTurn.79=all
SMG_ProneTurn.80=all
SMG_ProneTurn.81=all
SMG_ProneTurn.82=all
SMG_ProneTurn.83=all
SMG_ProneTurn.84=all
SMG_ProneTurn.85=all
SMG_ProneTurn.86=all
SMG_ProneTurn.87=all
SMG_ProneTurn.88=all
SMG_ProneTurn.89=all
SMG_ProneTurn.90=all
SMG_ProneTurn.91=all
SMG_ProneTurn.92=all
SMG_ProneTurn.93=all
SMG_ProneTurn.94=all
SMG_ProneTurn.95=all
SMG_ProneTurn.96=all
SMG_ProneTurn.97=all
SMG_ProneTurn.98=all
SMG_ProneTurn.99=all
SMG_ProneTurn.100=all
SMG_ProneTurn.101=all
SMG_ProneTurn.102=all
SMG_ProneTurn.103=all
SMG_ProneTurn.104=all
SMG_ProneTurn.105=all
SMG_ProneTurn.106=all
SMG_ProneTurn.107=all
SMG_ProneTurn.108=all
SMG_ProneTurn.109=all
SMG_ProneTurn.110=all
SMG_ProneTurn.111=all
SMG_ProneTurn.112=all
SMG_ProneTurn.113=all
SMG_ProneTurn.114=all
SMG_ProneTurn.115=all
SMG_ProneTurn.116=all
SMG_ProneTurn.117=all
SMG_ProneTurn.118=all
SMG_ProneTurn.119=all
SMG_ProneTurn.120=all
SMG_ProneTurn.121=all
SMG_ProneTurn.122=all
SMG_ProneTurn.123=all
SMG_ProneTurn.124=all
SMG_ProneTurn.125=all
SMG_ProneTurn.126=all
SMG_ProneTurn.127=all
SMG_ProneTurn.128=all
SMG_ProneTurn.129=all
SMG_ProneTurn.130=all
SMG_ProneTurn.131=all
SMG_ProneTurn.132=all
SMG_ProneTurn.133=all
SMG_ProneTurn.134=all
SMG_ProneTurn.135=all
SMG_ProneTurn.136=all
SMG_ProneTurn.137=all
SMG_ProneTurn.138=all
SMG_ProneTurn.139=all
SMG_ProneTurn.140=all
SMG_ProneTurn.141=all
SMG_ProneTurn.142=all
SMG_ProneTurn.143=all
SMG_ProneTurn.144=all
SMG_ProneTurn.145=all
SMG_ProneTurn.146=all
SMG_ProneTurn.147=all
