
[RemoveTracks]
SMG_FireStand.1=all
SMG_FireStand.2=all
SMG_FireStand.37=all
SMG_FireStand.38=all
SMG_FireStand.39=all
SMG_FireStand.40=all
SMG_FireStand.41=all
SMG_FireStand.42=all
SMG_FireStand.43=all
SMG_FireStand.44=all
SMG_FireStand.48=all
SMG_FireStand.49=all
SMG_FireStand.50=all
SMG_FireStand.67=all
SMG_FireStand.68=all
SMG_FireStand.69=all
SMG_FireStand.70=all
SMG_FireStand.71=all
SMG_FireStand.72=all
SMG_FireStand.73=all
SMG_FireStand.74=all
SMG_FireStand.75=all
SMG_FireStand.76=all
SMG_FireStand.77=all
SMG_FireStand.78=all
SMG_FireStand.79=all
SMG_FireStand.80=all
SMG_FireStand.81=all
SMG_FireStand.82=all
SMG_FireStand.83=all
SMG_FireStand.84=all
SMG_FireStand.85=all
SMG_FireStand.86=all
SMG_FireStand.87=all
SMG_FireStand.88=all
SMG_FireStand.89=all
SMG_FireStand.90=all
SMG_FireStand.91=all
SMG_FireStand.92=all
SMG_FireStand.93=all
SMG_FireStand.94=all
SMG_FireStand.95=all
SMG_FireStand.96=all
SMG_FireStand.97=all
SMG_FireStand.98=all
SMG_FireStand.99=all
SMG_FireStand.100=all
SMG_FireStand.101=all
SMG_FireStand.102=all
SMG_FireStand.103=all
SMG_FireStand.104=all
SMG_FireStand.105=all
SMG_FireStand.106=all
SMG_FireStand.112=all
SMG_FireStand.113=all
SMG_FireStand.114=all
SMG_FireStand.115=all
SMG_FireStand.116=all
SMG_FireStand.117=all
SMG_FireStand.118=all
SMG_FireStand.119=all
SMG_FireStand.120=all
SMG_FireStand.121=all
SMG_FireStand.122=all
SMG_FireStand.123=all
SMG_FireStand.128=all
SMG_FireStand.129=all
SMG_FireStand.130=all
SMG_FireStand.131=all
SMG_FireStand.132=all
SMG_FireStand.133=all
SMG_FireStand.134=all
SMG_FireStand.137=all
SMG_FireStand.138=all
SMG_FireStand.139=all
SMG_FireStand.140=all
SMG_FireStand.141=all
SMG_FireStand.142=all
SMG_FireStand.143=all
SMG_FireStand.144=all
SMG_FireStand.145=all
SMG_FireStand.146=all
SMG_FireStand.147=all
