
[RemoveTracks]
SMG_ProneTurn_R.36=all
SMG_ProneTurn_R.45=all
SMG_ProneTurn_R.46=all
SMG_ProneTurn_R.47=all
SMG_ProneTurn_R.48=all
SMG_ProneTurn_R.49=all
SMG_ProneTurn_R.50=all
SMG_ProneTurn_R.51=all
SMG_ProneTurn_R.52=all
SMG_ProneTurn_R.53=all
SMG_ProneTurn_R.54=all
SMG_ProneTurn_R.55=all
SMG_ProneTurn_R.56=all
SMG_ProneTurn_R.57=all
SMG_ProneTurn_R.58=all
SMG_ProneTurn_R.59=all
SMG_ProneTurn_R.60=all
SMG_ProneTurn_R.61=all
SMG_ProneTurn_R.62=all
SMG_ProneTurn_R.63=all
SMG_ProneTurn_R.64=all
SMG_ProneTurn_R.65=all
SMG_ProneTurn_R.66=all
SMG_ProneTurn_R.67=all
SMG_ProneTurn_R.68=all
SMG_ProneTurn_R.69=all
SMG_ProneTurn_R.70=all
SMG_ProneTurn_R.71=all
SMG_ProneTurn_R.72=all
SMG_ProneTurn_R.73=all
SMG_ProneTurn_R.74=all
SMG_ProneTurn_R.75=all
SMG_ProneTurn_R.76=all
SMG_ProneTurn_R.77=all
SMG_ProneTurn_R.78=all
SMG_ProneTurn_R.79=all
SMG_ProneTurn_R.80=all
SMG_ProneTurn_R.81=all
SMG_ProneTurn_R.82=all
SMG_ProneTurn_R.83=all
SMG_ProneTurn_R.84=all
SMG_ProneTurn_R.85=all
SMG_ProneTurn_R.86=all
SMG_ProneTurn_R.87=all
SMG_ProneTurn_R.88=all
SMG_ProneTurn_R.89=all
SMG_ProneTurn_R.90=all
SMG_ProneTurn_R.91=all
SMG_ProneTurn_R.92=all
SMG_ProneTurn_R.93=all
SMG_ProneTurn_R.94=all
SMG_ProneTurn_R.95=all
SMG_ProneTurn_R.96=all
SMG_ProneTurn_R.97=all
SMG_ProneTurn_R.98=all
SMG_ProneTurn_R.99=all
SMG_ProneTurn_R.100=all
SMG_ProneTurn_R.101=all
SMG_ProneTurn_R.102=all
SMG_ProneTurn_R.103=all
SMG_ProneTurn_R.104=all
SMG_ProneTurn_R.105=all
SMG_ProneTurn_R.106=all
SMG_ProneTurn_R.108=all
SMG_ProneTurn_R.109=all
SMG_ProneTurn_R.110=all
SMG_ProneTurn_R.111=all
SMG_ProneTurn_R.112=all
SMG_ProneTurn_R.113=all
SMG_ProneTurn_R.114=all
SMG_ProneTurn_R.115=all
SMG_ProneTurn_R.116=all
SMG_ProneTurn_R.117=all
SMG_ProneTurn_R.118=all
SMG_ProneTurn_R.119=all
SMG_ProneTurn_R.120=all
SMG_ProneTurn_R.121=all
SMG_ProneTurn_R.122=all
SMG_ProneTurn_R.123=all
SMG_ProneTurn_R.124=all
SMG_ProneTurn_R.125=all
SMG_ProneTurn_R.126=all
SMG_ProneTurn_R.127=all
SMG_ProneTurn_R.128=all
SMG_ProneTurn_R.129=all
SMG_ProneTurn_R.130=all
SMG_ProneTurn_R.131=all
SMG_ProneTurn_R.132=all
SMG_ProneTurn_R.133=all
SMG_ProneTurn_R.134=all
SMG_ProneTurn_R.135=all
SMG_ProneTurn_R.136=all
SMG_ProneTurn_R.137=all
SMG_ProneTurn_R.138=all
SMG_ProneTurn_R.139=all
SMG_ProneTurn_R.140=all
SMG_ProneTurn_R.141=all
SMG_ProneTurn_R.142=all
SMG_ProneTurn_R.143=all
SMG_ProneTurn_R.144=all
SMG_ProneTurn_R.145=all
SMG_ProneTurn_R.146=all
SMG_ProneTurn_R.147=all
