
[RemoveTracks]
SMG_CrouchTurn.36=all
SMG_CrouchTurn.45=all
SMG_CrouchTurn.46=all
SMG_CrouchTurn.47=all
SMG_CrouchTurn.48=all
SMG_CrouchTurn.49=all
SMG_CrouchTurn.50=all
SMG_CrouchTurn.51=all
SMG_CrouchTurn.52=all
SMG_CrouchTurn.53=all
SMG_CrouchTurn.54=all
SMG_CrouchTurn.55=all
SMG_CrouchTurn.56=all
SMG_CrouchTurn.57=all
SMG_CrouchTurn.58=all
SMG_CrouchTurn.59=all
SMG_CrouchTurn.60=all
SMG_CrouchTurn.61=all
SMG_CrouchTurn.62=all
SMG_CrouchTurn.63=all
SMG_CrouchTurn.64=all
SMG_CrouchTurn.65=all
SMG_CrouchTurn.66=all
SMG_CrouchTurn.67=all
SMG_CrouchTurn.68=all
SMG_CrouchTurn.69=all
SMG_CrouchTurn.70=all
SMG_CrouchTurn.71=all
SMG_CrouchTurn.72=all
SMG_CrouchTurn.73=all
SMG_CrouchTurn.74=all
SMG_CrouchTurn.75=all
SMG_CrouchTurn.76=all
SMG_CrouchTurn.77=all
SMG_CrouchTurn.78=all
SMG_CrouchTurn.79=all
SMG_CrouchTurn.80=all
SMG_CrouchTurn.81=all
SMG_CrouchTurn.82=all
SMG_CrouchTurn.83=all
SMG_CrouchTurn.84=all
SMG_CrouchTurn.85=all
SMG_CrouchTurn.86=all
SMG_CrouchTurn.87=all
SMG_CrouchTurn.88=all
SMG_CrouchTurn.89=all
SMG_CrouchTurn.90=all
SMG_CrouchTurn.91=all
SMG_CrouchTurn.92=all
SMG_CrouchTurn.93=all
SMG_CrouchTurn.94=all
SMG_CrouchTurn.95=all
SMG_CrouchTurn.96=all
SMG_CrouchTurn.97=all
SMG_CrouchTurn.98=all
SMG_CrouchTurn.99=all
SMG_CrouchTurn.100=all
SMG_CrouchTurn.101=all
SMG_CrouchTurn.102=all
SMG_CrouchTurn.103=all
SMG_CrouchTurn.104=all
SMG_CrouchTurn.105=all
SMG_CrouchTurn.106=all
SMG_CrouchTurn.107=all
SMG_CrouchTurn.108=all
SMG_CrouchTurn.109=all
SMG_CrouchTurn.110=all
SMG_CrouchTurn.111=all
SMG_CrouchTurn.112=all
SMG_CrouchTurn.113=all
SMG_CrouchTurn.114=all
SMG_CrouchTurn.115=all
SMG_CrouchTurn.116=all
SMG_CrouchTurn.117=all
SMG_CrouchTurn.118=all
SMG_CrouchTurn.119=all
SMG_CrouchTurn.120=all
SMG_CrouchTurn.121=all
SMG_CrouchTurn.122=all
SMG_CrouchTurn.123=all
SMG_CrouchTurn.124=all
SMG_CrouchTurn.125=all
SMG_CrouchTurn.126=all
SMG_CrouchTurn.127=all
SMG_CrouchTurn.128=all
SMG_CrouchTurn.129=all
SMG_CrouchTurn.130=all
SMG_CrouchTurn.131=all
SMG_CrouchTurn.132=all
SMG_CrouchTurn.133=all
SMG_CrouchTurn.134=all
SMG_CrouchTurn.135=all
SMG_CrouchTurn.136=all
SMG_CrouchTurn.137=all
SMG_CrouchTurn.138=all
SMG_CrouchTurn.139=all
SMG_CrouchTurn.140=all
SMG_CrouchTurn.141=all
SMG_CrouchTurn.142=all
SMG_CrouchTurn.143=all
SMG_CrouchTurn.144=all
SMG_CrouchTurn.145=all
SMG_CrouchTurn.146=all
SMG_CrouchTurn.147=all
