
[RemoveTracks]
SMG_StandTurn_L.36=all
SMG_StandTurn_L.45=all
SMG_StandTurn_L.46=all
SMG_StandTurn_L.47=all
SMG_StandTurn_L.48=all
SMG_StandTurn_L.49=all
SMG_StandTurn_L.50=all
SMG_StandTurn_L.51=all
SMG_StandTurn_L.52=all
SMG_StandTurn_L.53=all
SMG_StandTurn_L.54=all
SMG_StandTurn_L.55=all
SMG_StandTurn_L.56=all
SMG_StandTurn_L.57=all
SMG_StandTurn_L.58=all
SMG_StandTurn_L.59=all
SMG_StandTurn_L.60=all
SMG_StandTurn_L.61=all
SMG_StandTurn_L.62=all
SMG_StandTurn_L.63=all
SMG_StandTurn_L.64=all
SMG_StandTurn_L.65=all
SMG_StandTurn_L.66=all
SMG_StandTurn_L.67=all
SMG_StandTurn_L.68=all
SMG_StandTurn_L.69=all
SMG_StandTurn_L.70=all
SMG_StandTurn_L.71=all
SMG_StandTurn_L.72=all
SMG_StandTurn_L.73=all
SMG_StandTurn_L.74=all
SMG_StandTurn_L.75=all
SMG_StandTurn_L.76=all
SMG_StandTurn_L.77=all
SMG_StandTurn_L.78=all
SMG_StandTurn_L.79=all
SMG_StandTurn_L.80=all
SMG_StandTurn_L.81=all
SMG_StandTurn_L.82=all
SMG_StandTurn_L.83=all
SMG_StandTurn_L.84=all
SMG_StandTurn_L.85=all
SMG_StandTurn_L.86=all
SMG_StandTurn_L.87=all
SMG_StandTurn_L.88=all
SMG_StandTurn_L.89=all
SMG_StandTurn_L.90=all
SMG_StandTurn_L.91=all
SMG_StandTurn_L.92=all
SMG_StandTurn_L.93=all
SMG_StandTurn_L.94=all
SMG_StandTurn_L.95=all
SMG_StandTurn_L.96=all
SMG_StandTurn_L.97=all
SMG_StandTurn_L.98=all
SMG_StandTurn_L.99=all
SMG_StandTurn_L.100=all
SMG_StandTurn_L.101=all
SMG_StandTurn_L.102=all
SMG_StandTurn_L.103=all
SMG_StandTurn_L.104=all
SMG_StandTurn_L.105=all
SMG_StandTurn_L.106=all
SMG_StandTurn_L.108=all
SMG_StandTurn_L.109=all
SMG_StandTurn_L.110=all
SMG_StandTurn_L.111=all
SMG_StandTurn_L.112=all
SMG_StandTurn_L.113=all
SMG_StandTurn_L.114=all
SMG_StandTurn_L.115=all
SMG_StandTurn_L.116=all
SMG_StandTurn_L.117=all
SMG_StandTurn_L.118=all
SMG_StandTurn_L.119=all
SMG_StandTurn_L.120=all
SMG_StandTurn_L.121=all
SMG_StandTurn_L.122=all
SMG_StandTurn_L.123=all
SMG_StandTurn_L.124=all
SMG_StandTurn_L.125=all
SMG_StandTurn_L.126=all
SMG_StandTurn_L.127=all
SMG_StandTurn_L.128=all
SMG_StandTurn_L.129=all
SMG_StandTurn_L.130=all
SMG_StandTurn_L.131=all
SMG_StandTurn_L.132=all
SMG_StandTurn_L.133=all
SMG_StandTurn_L.134=all
SMG_StandTurn_L.135=all
SMG_StandTurn_L.136=all
SMG_StandTurn_L.137=all
SMG_StandTurn_L.138=all
SMG_StandTurn_L.139=all
SMG_StandTurn_L.140=all
SMG_StandTurn_L.141=all
SMG_StandTurn_L.142=all
SMG_StandTurn_L.143=all
SMG_StandTurn_L.144=all
SMG_StandTurn_L.145=all
SMG_StandTurn_L.146=all
SMG_StandTurn_L.147=all
