
[RemoveTracks]
SMG_ProneIdle_U.1=all
SMG_ProneIdle_U.2=all
SMG_ProneIdle_U.3=all
SMG_ProneIdle_U.4=all
SMG_ProneIdle_U.5=all
SMG_ProneIdle_U.37=all
SMG_ProneIdle_U.38=all
SMG_ProneIdle_U.39=all
SMG_ProneIdle_U.40=all
SMG_ProneIdle_U.41=all
SMG_ProneIdle_U.42=all
SMG_ProneIdle_U.43=all
SMG_ProneIdle_U.44=all
SMG_ProneIdle_U.45=all
SMG_ProneIdle_U.46=all
SMG_ProneIdle_U.47=all
SMG_ProneIdle_U.48=all
SMG_ProneIdle_U.49=all
SMG_ProneIdle_U.50=all
SMG_ProneIdle_U.51=all
SMG_ProneIdle_U.52=all
SMG_ProneIdle_U.53=all
SMG_ProneIdle_U.54=all
SMG_ProneIdle_U.55=all
SMG_ProneIdle_U.56=all
SMG_ProneIdle_U.57=all
SMG_ProneIdle_U.58=all
SMG_ProneIdle_U.59=all
SMG_ProneIdle_U.60=all
SMG_ProneIdle_U.61=all
SMG_ProneIdle_U.62=all
SMG_ProneIdle_U.63=all
SMG_ProneIdle_U.64=all
SMG_ProneIdle_U.65=all
SMG_ProneIdle_U.66=all
SMG_ProneIdle_U.67=all
SMG_ProneIdle_U.68=all
SMG_ProneIdle_U.69=all
SMG_ProneIdle_U.70=all
SMG_ProneIdle_U.71=all
SMG_ProneIdle_U.72=all
SMG_ProneIdle_U.73=all
SMG_ProneIdle_U.74=all
SMG_ProneIdle_U.75=all
SMG_ProneIdle_U.76=all
SMG_ProneIdle_U.77=all
SMG_ProneIdle_U.78=all
SMG_ProneIdle_U.79=all
SMG_ProneIdle_U.80=all
SMG_ProneIdle_U.81=all
SMG_ProneIdle_U.82=all
SMG_ProneIdle_U.83=all
SMG_ProneIdle_U.84=all
SMG_ProneIdle_U.85=all
SMG_ProneIdle_U.86=all
SMG_ProneIdle_U.87=all
SMG_ProneIdle_U.88=all
SMG_ProneIdle_U.89=all
SMG_ProneIdle_U.90=all
SMG_ProneIdle_U.91=all
SMG_ProneIdle_U.92=all
SMG_ProneIdle_U.93=all
SMG_ProneIdle_U.94=all
SMG_ProneIdle_U.95=all
SMG_ProneIdle_U.96=all
SMG_ProneIdle_U.97=all
SMG_ProneIdle_U.98=all
SMG_ProneIdle_U.99=all
SMG_ProneIdle_U.100=all
SMG_ProneIdle_U.101=all
SMG_ProneIdle_U.102=all
SMG_ProneIdle_U.103=all
SMG_ProneIdle_U.104=all
SMG_ProneIdle_U.105=all
SMG_ProneIdle_U.106=all
SMG_ProneIdle_U.107=all
SMG_ProneIdle_U.108=all
SMG_ProneIdle_U.109=all
SMG_ProneIdle_U.110=all
SMG_ProneIdle_U.111=all
SMG_ProneIdle_U.112=all
SMG_ProneIdle_U.113=all
SMG_ProneIdle_U.114=all
SMG_ProneIdle_U.115=all
SMG_ProneIdle_U.116=all
SMG_ProneIdle_U.117=all
SMG_ProneIdle_U.118=all
SMG_ProneIdle_U.119=all
SMG_ProneIdle_U.120=all
SMG_ProneIdle_U.121=all
SMG_ProneIdle_U.122=all
SMG_ProneIdle_U.123=all
SMG_ProneIdle_U.124=all
SMG_ProneIdle_U.125=all
SMG_ProneIdle_U.126=all
SMG_ProneIdle_U.127=all
SMG_ProneIdle_U.128=all
SMG_ProneIdle_U.129=all
SMG_ProneIdle_U.130=all
SMG_ProneIdle_U.131=all
SMG_ProneIdle_U.132=all
SMG_ProneIdle_U.133=all
SMG_ProneIdle_U.134=all
SMG_ProneIdle_U.135=all
SMG_ProneIdle_U.136=all
SMG_ProneIdle_U.137=all
SMG_ProneIdle_U.138=all
SMG_ProneIdle_U.139=all
SMG_ProneIdle_U.140=all
SMG_ProneIdle_U.141=all
SMG_ProneIdle_U.142=all
SMG_ProneIdle_U.143=all
SMG_ProneIdle_U.144=all
SMG_ProneIdle_U.145=all
SMG_ProneIdle_U.146=all
SMG_ProneIdle_U.147=all
