
[RemoveTracks]
SMG_ProneIdle_D.1=all
SMG_ProneIdle_D.2=all
SMG_ProneIdle_D.3=all
SMG_ProneIdle_D.4=all
SMG_ProneIdle_D.5=all
SMG_ProneIdle_D.6=all
SMG_ProneIdle_D.7=all
SMG_ProneIdle_D.8=all
SMG_ProneIdle_D.9=all
SMG_ProneIdle_D.10=all
SMG_ProneIdle_D.11=all
SMG_ProneIdle_D.12=all
SMG_ProneIdle_D.13=all
SMG_ProneIdle_D.14=all
SMG_ProneIdle_D.15=all
SMG_ProneIdle_D.16=all
SMG_ProneIdle_D.17=all
SMG_ProneIdle_D.18=all
SMG_ProneIdle_D.19=all
SMG_ProneIdle_D.20=all
SMG_ProneIdle_D.24=all
SMG_ProneIdle_D.25=all
SMG_ProneIdle_D.26=all
SMG_ProneIdle_D.27=all
SMG_ProneIdle_D.28=all
SMG_ProneIdle_D.29=all
SMG_ProneIdle_D.30=all
SMG_ProneIdle_D.31=all
SMG_ProneIdle_D.32=all
SMG_ProneIdle_D.33=all
SMG_ProneIdle_D.34=all
SMG_ProneIdle_D.35=all
SMG_ProneIdle_D.37=all
SMG_ProneIdle_D.38=all
SMG_ProneIdle_D.39=all
SMG_ProneIdle_D.40=all
SMG_ProneIdle_D.41=all
SMG_ProneIdle_D.42=all
SMG_ProneIdle_D.43=all
SMG_ProneIdle_D.44=all
SMG_ProneIdle_D.45=all
SMG_ProneIdle_D.46=all
SMG_ProneIdle_D.47=all
SMG_ProneIdle_D.48=all
SMG_ProneIdle_D.49=all
SMG_ProneIdle_D.50=all
SMG_ProneIdle_D.51=all
SMG_ProneIdle_D.52=all
SMG_ProneIdle_D.53=all
SMG_ProneIdle_D.54=all
SMG_ProneIdle_D.55=all
SMG_ProneIdle_D.56=all
SMG_ProneIdle_D.57=all
SMG_ProneIdle_D.58=all
SMG_ProneIdle_D.59=all
SMG_ProneIdle_D.60=all
SMG_ProneIdle_D.61=all
SMG_ProneIdle_D.62=all
SMG_ProneIdle_D.63=all
SMG_ProneIdle_D.64=all
SMG_ProneIdle_D.65=all
SMG_ProneIdle_D.66=all
SMG_ProneIdle_D.67=all
SMG_ProneIdle_D.68=all
SMG_ProneIdle_D.69=all
SMG_ProneIdle_D.70=all
SMG_ProneIdle_D.71=all
SMG_ProneIdle_D.72=all
SMG_ProneIdle_D.73=all
SMG_ProneIdle_D.74=all
SMG_ProneIdle_D.75=all
SMG_ProneIdle_D.76=all
SMG_ProneIdle_D.77=all
SMG_ProneIdle_D.78=all
SMG_ProneIdle_D.79=all
SMG_ProneIdle_D.80=all
SMG_ProneIdle_D.81=all
SMG_ProneIdle_D.82=all
SMG_ProneIdle_D.83=all
SMG_ProneIdle_D.84=all
SMG_ProneIdle_D.85=all
SMG_ProneIdle_D.86=all
SMG_ProneIdle_D.87=all
SMG_ProneIdle_D.88=all
SMG_ProneIdle_D.89=all
SMG_ProneIdle_D.90=all
SMG_ProneIdle_D.91=all
SMG_ProneIdle_D.92=all
SMG_ProneIdle_D.93=all
SMG_ProneIdle_D.94=all
SMG_ProneIdle_D.95=all
SMG_ProneIdle_D.96=all
SMG_ProneIdle_D.97=all
SMG_ProneIdle_D.98=all
SMG_ProneIdle_D.99=all
SMG_ProneIdle_D.100=all
SMG_ProneIdle_D.101=all
SMG_ProneIdle_D.102=all
SMG_ProneIdle_D.103=all
SMG_ProneIdle_D.104=all
SMG_ProneIdle_D.105=all
SMG_ProneIdle_D.106=all
SMG_ProneIdle_D.107=all
SMG_ProneIdle_D.108=all
SMG_ProneIdle_D.109=all
SMG_ProneIdle_D.110=all
SMG_ProneIdle_D.111=all
SMG_ProneIdle_D.112=all
SMG_ProneIdle_D.113=all
SMG_ProneIdle_D.114=all
SMG_ProneIdle_D.115=all
SMG_ProneIdle_D.116=all
SMG_ProneIdle_D.117=all
SMG_ProneIdle_D.118=all
SMG_ProneIdle_D.119=all
SMG_ProneIdle_D.120=all
SMG_ProneIdle_D.121=all
SMG_ProneIdle_D.122=all
SMG_ProneIdle_D.123=all
SMG_ProneIdle_D.124=all
SMG_ProneIdle_D.125=all
SMG_ProneIdle_D.126=all
SMG_ProneIdle_D.127=all
SMG_ProneIdle_D.128=all
SMG_ProneIdle_D.129=all
SMG_ProneIdle_D.130=all
SMG_ProneIdle_D.131=all
SMG_ProneIdle_D.132=all
SMG_ProneIdle_D.133=all
SMG_ProneIdle_D.134=all
SMG_ProneIdle_D.135=all
SMG_ProneIdle_D.136=all
SMG_ProneIdle_D.137=all
SMG_ProneIdle_D.138=all
SMG_ProneIdle_D.139=all
SMG_ProneIdle_D.140=all
SMG_ProneIdle_D.141=all
SMG_ProneIdle_D.142=all
SMG_ProneIdle_D.143=all
SMG_ProneIdle_D.144=all
SMG_ProneIdle_D.145=all
SMG_ProneIdle_D.146=all
SMG_ProneIdle_D.147=all
