[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Neck_a
C_Neck_b
C_Neck_c
C_Head_a
C_FaceBase_a
C_Jaw_a
L_Ulid_B
R_Ulid_B
C_HeadFeatherBase_a
C_HeadFeather_a_Phy
R_HeadFeatherA_a_Phy
L_HeadFeatherA_a_Phy
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Feather_a
L_Feather_b
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Feather_a
R_Feather_b
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_ToeA_a
R_ToeB_a
R_ToeC_a
R_ToeC_b
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
L_ToeA_a
L_ToeB_a
L_ToeC_a
L_ToeC_b
C_TailFeather_a_Phy
C_TailFeather_b_Phy
C_TailFeather_c_Phy
R_TailFeatherB_a_Phy
R_TailFeatherB_b_Phy
L_TailFeatherB_a_Phy
L_TailFeatherB_b_Phy
