[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_FaceBase_a
L_Eyeball_a
L_Eyeball
R_Eyeball_a
R_Eyeball
L_MouthCorner_a
R_MouthCorner_a
L_Cheek_a
R_Cheek_a
C_Jaw_a
L_eyelid_a
L_eyelidU_a
L_eyelidD_a
R_eyelid_a
R_eyelidU_a
R_eyelidD_a
C_Hair_a
C_Hair_b
C_Hair_c
C_FrontExp_a
C_FrontExp_b
L_FrontExp_a
R_FrontExp_a
C_BackExp_a
C_BackExp_b
L_BackExp_a
R_BackExp_a
L_Arm_a
L_Wrist_a
L_Hand_a
L_Thumb_a
L_Thumb_b
L_Index_a
L_Index_b
L_Middle_a
L_Middle_b
L_Ring_a
L_Ring_b
R_Arm_a
R_Wrist_a
R_Hand_a
R_Thumb_a
R_Thumb_b
R_Index_a
R_Index_b
R_Middle_a
R_Middle_b
R_Ring_a
R_Ring_b
C_CharaA_a

[RemoveTracks]
MO10002_DamageBlow_4.52=all
