
[RemoveTracks]
EM_ClapB.36=all
EM_ClapB.45=all
EM_ClapB.46=all
EM_ClapB.47=all
EM_ClapB.48=all
EM_ClapB.49=all
EM_ClapB.50=all
EM_ClapB.51=all
EM_ClapB.52=all
EM_ClapB.53=all
EM_ClapB.54=all
EM_ClapB.55=all
EM_ClapB.56=all
EM_ClapB.57=all
EM_ClapB.58=all
EM_ClapB.59=all
EM_ClapB.60=all
EM_ClapB.61=all
EM_ClapB.62=all
EM_ClapB.63=all
EM_ClapB.64=all
EM_ClapB.65=all
EM_ClapB.66=all
EM_ClapB.67=all
EM_ClapB.68=all
EM_ClapB.69=all
EM_ClapB.70=all
EM_ClapB.71=all
EM_ClapB.72=all
EM_ClapB.73=all
EM_ClapB.74=all
EM_ClapB.75=all
EM_ClapB.76=all
EM_ClapB.77=all
EM_ClapB.78=all
EM_ClapB.79=all
EM_ClapB.80=all
EM_ClapB.81=all
EM_ClapB.82=all
EM_ClapB.83=all
EM_ClapB.84=all
EM_ClapB.85=all
EM_ClapB.86=all
EM_ClapB.87=all
EM_ClapB.88=all
EM_ClapB.89=all
EM_ClapB.90=all
EM_ClapB.91=all
EM_ClapB.92=all
EM_ClapB.93=all
EM_ClapB.94=all
EM_ClapB.95=all
EM_ClapB.96=all
EM_ClapB.97=all
EM_ClapB.98=all
EM_ClapB.99=all
EM_ClapB.100=all
EM_ClapB.101=all
EM_ClapB.102=all
EM_ClapB.103=all
EM_ClapB.104=all
EM_ClapB.105=all
EM_ClapB.106=all
EM_ClapB.108=all
EM_ClapB.109=all
EM_ClapB.110=all
EM_ClapB.111=all
EM_ClapB.112=all
EM_ClapB.113=all
EM_ClapB.114=all
EM_ClapB.115=all
EM_ClapB.116=all
EM_ClapB.117=all
EM_ClapB.118=all
EM_ClapB.119=all
EM_ClapB.120=all
EM_ClapB.121=all
EM_ClapB.122=all
EM_ClapB.123=all
EM_ClapB.124=all
EM_ClapB.125=all
EM_ClapB.126=all
EM_ClapB.127=all
EM_ClapB.128=all
EM_ClapB.129=all
EM_ClapB.130=all
EM_ClapB.131=all
EM_ClapB.132=all
EM_ClapB.133=all
EM_ClapB.134=all
EM_ClapB.135=all
EM_ClapB.136=all
EM_ClapB.137=all
EM_ClapB.138=all
EM_ClapB.139=all
EM_ClapB.140=all
EM_ClapB.141=all
EM_ClapB.142=all
EM_ClapB.143=all
EM_ClapB.144=all
EM_ClapB.145=all
EM_ClapB.146=all
EM_ClapB.147=all
