
[RemoveTracks]
EM_HandUp.36=all
EM_HandUp.45=all
EM_HandUp.46=all
EM_HandUp.47=all
EM_HandUp.48=all
EM_HandUp.49=all
EM_HandUp.50=all
EM_HandUp.51=all
EM_HandUp.52=all
EM_HandUp.53=all
EM_HandUp.54=all
EM_HandUp.55=all
EM_HandUp.56=all
EM_HandUp.57=all
EM_HandUp.58=all
EM_HandUp.59=all
EM_HandUp.60=all
EM_HandUp.61=all
EM_HandUp.62=all
EM_HandUp.63=all
EM_HandUp.64=all
EM_HandUp.65=all
EM_HandUp.66=all
EM_HandUp.67=all
EM_HandUp.68=all
EM_HandUp.69=all
EM_HandUp.70=all
EM_HandUp.71=all
EM_HandUp.72=all
EM_HandUp.73=all
EM_HandUp.74=all
EM_HandUp.75=all
EM_HandUp.76=all
EM_HandUp.77=all
EM_HandUp.78=all
EM_HandUp.79=all
EM_HandUp.80=all
EM_HandUp.81=all
EM_HandUp.82=all
EM_HandUp.83=all
EM_HandUp.84=all
EM_HandUp.85=all
EM_HandUp.86=all
EM_HandUp.87=all
EM_HandUp.88=all
EM_HandUp.89=all
EM_HandUp.90=all
EM_HandUp.91=all
EM_HandUp.92=all
EM_HandUp.93=all
EM_HandUp.94=all
EM_HandUp.95=all
EM_HandUp.96=all
EM_HandUp.97=all
EM_HandUp.98=all
EM_HandUp.99=all
EM_HandUp.100=all
EM_HandUp.101=all
EM_HandUp.102=all
EM_HandUp.103=all
EM_HandUp.104=all
EM_HandUp.105=all
EM_HandUp.106=all
EM_HandUp.108=all
EM_HandUp.109=all
EM_HandUp.110=all
EM_HandUp.111=all
EM_HandUp.112=all
EM_HandUp.113=all
EM_HandUp.114=all
EM_HandUp.115=all
EM_HandUp.116=all
EM_HandUp.117=all
EM_HandUp.118=all
EM_HandUp.119=all
EM_HandUp.120=all
EM_HandUp.121=all
EM_HandUp.122=all
EM_HandUp.123=all
EM_HandUp.124=all
EM_HandUp.125=all
EM_HandUp.126=all
EM_HandUp.127=all
EM_HandUp.128=all
EM_HandUp.129=all
EM_HandUp.130=all
EM_HandUp.131=all
EM_HandUp.132=all
EM_HandUp.133=all
EM_HandUp.134=all
EM_HandUp.135=all
EM_HandUp.136=all
EM_HandUp.137=all
EM_HandUp.138=all
EM_HandUp.139=all
EM_HandUp.140=all
EM_HandUp.141=all
EM_HandUp.142=all
EM_HandUp.143=all
EM_HandUp.144=all
EM_HandUp.145=all
EM_HandUp.146=all
EM_HandUp.147=all
