
[RemoveTracks]
EM_Pose_Circle.36=all
EM_Pose_Circle.45=all
EM_Pose_Circle.46=all
EM_Pose_Circle.47=all
EM_Pose_Circle.48=all
EM_Pose_Circle.49=all
EM_Pose_Circle.50=all
EM_Pose_Circle.51=all
EM_Pose_Circle.52=all
EM_Pose_Circle.53=all
EM_Pose_Circle.54=all
EM_Pose_Circle.55=all
EM_Pose_Circle.56=all
EM_Pose_Circle.57=all
EM_Pose_Circle.58=all
EM_Pose_Circle.59=all
EM_Pose_Circle.60=all
EM_Pose_Circle.61=all
EM_Pose_Circle.62=all
EM_Pose_Circle.63=all
EM_Pose_Circle.64=all
EM_Pose_Circle.65=all
EM_Pose_Circle.66=all
EM_Pose_Circle.67=all
EM_Pose_Circle.68=all
EM_Pose_Circle.69=all
EM_Pose_Circle.70=all
EM_Pose_Circle.71=all
EM_Pose_Circle.72=all
EM_Pose_Circle.73=all
EM_Pose_Circle.74=all
EM_Pose_Circle.75=all
EM_Pose_Circle.76=all
EM_Pose_Circle.77=all
EM_Pose_Circle.78=all
EM_Pose_Circle.79=all
EM_Pose_Circle.80=all
EM_Pose_Circle.81=all
EM_Pose_Circle.82=all
EM_Pose_Circle.83=all
EM_Pose_Circle.84=all
EM_Pose_Circle.85=all
EM_Pose_Circle.86=all
EM_Pose_Circle.87=all
EM_Pose_Circle.88=all
EM_Pose_Circle.89=all
EM_Pose_Circle.90=all
EM_Pose_Circle.91=all
EM_Pose_Circle.92=all
EM_Pose_Circle.93=all
EM_Pose_Circle.94=all
EM_Pose_Circle.95=all
EM_Pose_Circle.96=all
EM_Pose_Circle.97=all
EM_Pose_Circle.98=all
EM_Pose_Circle.99=all
EM_Pose_Circle.100=all
EM_Pose_Circle.101=all
EM_Pose_Circle.102=all
EM_Pose_Circle.103=all
EM_Pose_Circle.104=all
EM_Pose_Circle.105=all
EM_Pose_Circle.106=all
EM_Pose_Circle.108=all
EM_Pose_Circle.109=all
EM_Pose_Circle.110=all
EM_Pose_Circle.111=all
EM_Pose_Circle.112=all
EM_Pose_Circle.113=all
EM_Pose_Circle.114=all
EM_Pose_Circle.115=all
EM_Pose_Circle.116=all
EM_Pose_Circle.117=all
EM_Pose_Circle.118=all
EM_Pose_Circle.119=all
EM_Pose_Circle.120=all
EM_Pose_Circle.121=all
EM_Pose_Circle.122=all
EM_Pose_Circle.123=all
EM_Pose_Circle.124=all
EM_Pose_Circle.125=all
EM_Pose_Circle.126=all
EM_Pose_Circle.127=all
EM_Pose_Circle.128=all
EM_Pose_Circle.129=all
EM_Pose_Circle.130=all
EM_Pose_Circle.131=all
EM_Pose_Circle.132=all
EM_Pose_Circle.133=all
EM_Pose_Circle.134=all
EM_Pose_Circle.135=all
EM_Pose_Circle.136=all
EM_Pose_Circle.137=all
EM_Pose_Circle.138=all
EM_Pose_Circle.139=all
EM_Pose_Circle.140=all
EM_Pose_Circle.141=all
EM_Pose_Circle.142=all
EM_Pose_Circle.143=all
EM_Pose_Circle.144=all
EM_Pose_Circle.145=all
EM_Pose_Circle.146=all
EM_Pose_Circle.147=all
