
[RemoveTracks]
EM_TurnArm.36=all
EM_TurnArm.45=all
EM_TurnArm.46=all
EM_TurnArm.47=all
EM_TurnArm.48=all
EM_TurnArm.49=all
EM_TurnArm.50=all
EM_TurnArm.51=all
EM_TurnArm.52=all
EM_TurnArm.53=all
EM_TurnArm.54=all
EM_TurnArm.55=all
EM_TurnArm.56=all
EM_TurnArm.57=all
EM_TurnArm.58=all
EM_TurnArm.59=all
EM_TurnArm.60=all
EM_TurnArm.61=all
EM_TurnArm.62=all
EM_TurnArm.63=all
EM_TurnArm.64=all
EM_TurnArm.65=all
EM_TurnArm.66=all
EM_TurnArm.67=all
EM_TurnArm.68=all
EM_TurnArm.69=all
EM_TurnArm.70=all
EM_TurnArm.71=all
EM_TurnArm.72=all
EM_TurnArm.73=all
EM_TurnArm.74=all
EM_TurnArm.75=all
EM_TurnArm.76=all
EM_TurnArm.77=all
EM_TurnArm.78=all
EM_TurnArm.79=all
EM_TurnArm.80=all
EM_TurnArm.81=all
EM_TurnArm.82=all
EM_TurnArm.83=all
EM_TurnArm.84=all
EM_TurnArm.85=all
EM_TurnArm.86=all
EM_TurnArm.87=all
EM_TurnArm.88=all
EM_TurnArm.89=all
EM_TurnArm.90=all
EM_TurnArm.91=all
EM_TurnArm.92=all
EM_TurnArm.93=all
EM_TurnArm.94=all
EM_TurnArm.95=all
EM_TurnArm.96=all
EM_TurnArm.97=all
EM_TurnArm.98=all
EM_TurnArm.99=all
EM_TurnArm.100=all
EM_TurnArm.101=all
EM_TurnArm.102=all
EM_TurnArm.103=all
EM_TurnArm.104=all
EM_TurnArm.105=all
EM_TurnArm.106=all
EM_TurnArm.108=all
EM_TurnArm.109=all
EM_TurnArm.110=all
EM_TurnArm.111=all
EM_TurnArm.112=all
EM_TurnArm.113=all
EM_TurnArm.114=all
EM_TurnArm.115=all
EM_TurnArm.116=all
EM_TurnArm.117=all
EM_TurnArm.118=all
EM_TurnArm.119=all
EM_TurnArm.120=all
EM_TurnArm.121=all
EM_TurnArm.122=all
EM_TurnArm.123=all
EM_TurnArm.124=all
EM_TurnArm.125=all
EM_TurnArm.126=all
EM_TurnArm.127=all
EM_TurnArm.128=all
EM_TurnArm.129=all
EM_TurnArm.130=all
EM_TurnArm.131=all
EM_TurnArm.132=all
EM_TurnArm.133=all
EM_TurnArm.134=all
EM_TurnArm.135=all
EM_TurnArm.136=all
EM_TurnArm.137=all
EM_TurnArm.138=all
EM_TurnArm.139=all
EM_TurnArm.140=all
EM_TurnArm.141=all
EM_TurnArm.142=all
EM_TurnArm.143=all
EM_TurnArm.144=all
EM_TurnArm.145=all
EM_TurnArm.146=all
EM_TurnArm.147=all
