
[RemoveTracks]
EM_TauntA.36=all
EM_TauntA.45=all
EM_TauntA.46=all
EM_TauntA.47=all
EM_TauntA.48=all
EM_TauntA.49=all
EM_TauntA.50=all
EM_TauntA.51=all
EM_TauntA.52=all
EM_TauntA.53=all
EM_TauntA.54=all
EM_TauntA.55=all
EM_TauntA.56=all
EM_TauntA.57=all
EM_TauntA.58=all
EM_TauntA.59=all
EM_TauntA.60=all
EM_TauntA.61=all
EM_TauntA.62=all
EM_TauntA.63=all
EM_TauntA.64=all
EM_TauntA.65=all
EM_TauntA.66=all
EM_TauntA.67=all
EM_TauntA.68=all
EM_TauntA.69=all
EM_TauntA.70=all
EM_TauntA.71=all
EM_TauntA.72=all
EM_TauntA.73=all
EM_TauntA.74=all
EM_TauntA.75=all
EM_TauntA.76=all
EM_TauntA.77=all
EM_TauntA.78=all
EM_TauntA.79=all
EM_TauntA.80=all
EM_TauntA.81=all
EM_TauntA.82=all
EM_TauntA.83=all
EM_TauntA.84=all
EM_TauntA.85=all
EM_TauntA.86=all
EM_TauntA.87=all
EM_TauntA.88=all
EM_TauntA.89=all
EM_TauntA.90=all
EM_TauntA.91=all
EM_TauntA.92=all
EM_TauntA.93=all
EM_TauntA.94=all
EM_TauntA.95=all
EM_TauntA.96=all
EM_TauntA.97=all
EM_TauntA.98=all
EM_TauntA.99=all
EM_TauntA.100=all
EM_TauntA.101=all
EM_TauntA.102=all
EM_TauntA.103=all
EM_TauntA.104=all
EM_TauntA.105=all
EM_TauntA.106=all
EM_TauntA.108=all
EM_TauntA.109=all
EM_TauntA.110=all
EM_TauntA.111=all
EM_TauntA.112=all
EM_TauntA.113=all
EM_TauntA.114=all
EM_TauntA.115=all
EM_TauntA.116=all
EM_TauntA.117=all
EM_TauntA.118=all
EM_TauntA.119=all
EM_TauntA.120=all
EM_TauntA.121=all
EM_TauntA.122=all
EM_TauntA.123=all
EM_TauntA.124=all
EM_TauntA.125=all
EM_TauntA.126=all
EM_TauntA.127=all
EM_TauntA.128=all
EM_TauntA.129=all
EM_TauntA.130=all
EM_TauntA.131=all
EM_TauntA.132=all
EM_TauntA.133=all
EM_TauntA.134=all
EM_TauntA.135=all
EM_TauntA.136=all
EM_TauntA.137=all
EM_TauntA.138=all
EM_TauntA.139=all
EM_TauntA.140=all
EM_TauntA.141=all
EM_TauntA.142=all
EM_TauntA.143=all
EM_TauntA.144=all
EM_TauntA.145=all
EM_TauntA.146=all
EM_TauntA.147=all
