
[RemoveTracks]
EM_Yawn.36=all
EM_Yawn.45=all
EM_Yawn.46=all
EM_Yawn.47=all
EM_Yawn.48=all
EM_Yawn.49=all
EM_Yawn.50=all
EM_Yawn.51=all
EM_Yawn.52=all
EM_Yawn.53=all
EM_Yawn.54=all
EM_Yawn.55=all
EM_Yawn.56=all
EM_Yawn.57=all
EM_Yawn.58=all
EM_Yawn.59=all
EM_Yawn.60=all
EM_Yawn.61=all
EM_Yawn.62=all
EM_Yawn.63=all
EM_Yawn.64=all
EM_Yawn.65=all
EM_Yawn.66=all
EM_Yawn.67=all
EM_Yawn.68=all
EM_Yawn.69=all
EM_Yawn.70=all
EM_Yawn.71=all
EM_Yawn.72=all
EM_Yawn.73=all
EM_Yawn.74=all
EM_Yawn.75=all
EM_Yawn.76=all
EM_Yawn.77=all
EM_Yawn.78=all
EM_Yawn.79=all
EM_Yawn.80=all
EM_Yawn.81=all
EM_Yawn.82=all
EM_Yawn.83=all
EM_Yawn.84=all
EM_Yawn.85=all
EM_Yawn.86=all
EM_Yawn.87=all
EM_Yawn.88=all
EM_Yawn.89=all
EM_Yawn.90=all
EM_Yawn.91=all
EM_Yawn.92=all
EM_Yawn.93=all
EM_Yawn.94=all
EM_Yawn.95=all
EM_Yawn.96=all
EM_Yawn.97=all
EM_Yawn.98=all
EM_Yawn.99=all
EM_Yawn.100=all
EM_Yawn.101=all
EM_Yawn.102=all
EM_Yawn.103=all
EM_Yawn.104=all
EM_Yawn.105=all
EM_Yawn.106=all
EM_Yawn.108=all
EM_Yawn.109=all
EM_Yawn.110=all
EM_Yawn.111=all
EM_Yawn.112=all
EM_Yawn.113=all
EM_Yawn.114=all
EM_Yawn.115=all
EM_Yawn.116=all
EM_Yawn.117=all
EM_Yawn.118=all
EM_Yawn.119=all
EM_Yawn.120=all
EM_Yawn.121=all
EM_Yawn.122=all
EM_Yawn.123=all
EM_Yawn.124=all
EM_Yawn.125=all
EM_Yawn.126=all
EM_Yawn.127=all
EM_Yawn.128=all
EM_Yawn.129=all
EM_Yawn.130=all
EM_Yawn.131=all
EM_Yawn.132=all
EM_Yawn.133=all
EM_Yawn.134=all
EM_Yawn.135=all
EM_Yawn.136=all
EM_Yawn.137=all
EM_Yawn.138=all
EM_Yawn.139=all
EM_Yawn.140=all
EM_Yawn.141=all
EM_Yawn.142=all
EM_Yawn.143=all
EM_Yawn.144=all
EM_Yawn.145=all
EM_Yawn.146=all
EM_Yawn.147=all
