
[RemoveTracks]
SP1_CrouchTurn.36=all
SP1_CrouchTurn.45=all
SP1_CrouchTurn.46=all
SP1_CrouchTurn.47=all
SP1_CrouchTurn.48=all
SP1_CrouchTurn.49=all
SP1_CrouchTurn.50=all
SP1_CrouchTurn.51=all
SP1_CrouchTurn.52=all
SP1_CrouchTurn.53=all
SP1_CrouchTurn.54=all
SP1_CrouchTurn.55=all
SP1_CrouchTurn.56=all
SP1_CrouchTurn.57=all
SP1_CrouchTurn.58=all
SP1_CrouchTurn.59=all
SP1_CrouchTurn.60=all
SP1_CrouchTurn.61=all
SP1_CrouchTurn.62=all
SP1_CrouchTurn.63=all
SP1_CrouchTurn.64=all
SP1_CrouchTurn.65=all
SP1_CrouchTurn.66=all
SP1_CrouchTurn.67=all
SP1_CrouchTurn.68=all
SP1_CrouchTurn.69=all
SP1_CrouchTurn.70=all
SP1_CrouchTurn.71=all
SP1_CrouchTurn.72=all
SP1_CrouchTurn.73=all
SP1_CrouchTurn.74=all
SP1_CrouchTurn.75=all
SP1_CrouchTurn.76=all
SP1_CrouchTurn.77=all
SP1_CrouchTurn.78=all
SP1_CrouchTurn.79=all
SP1_CrouchTurn.80=all
SP1_CrouchTurn.81=all
SP1_CrouchTurn.82=all
SP1_CrouchTurn.83=all
SP1_CrouchTurn.84=all
SP1_CrouchTurn.85=all
SP1_CrouchTurn.86=all
SP1_CrouchTurn.87=all
SP1_CrouchTurn.88=all
SP1_CrouchTurn.89=all
SP1_CrouchTurn.90=all
SP1_CrouchTurn.91=all
SP1_CrouchTurn.92=all
SP1_CrouchTurn.93=all
SP1_CrouchTurn.94=all
SP1_CrouchTurn.95=all
SP1_CrouchTurn.96=all
SP1_CrouchTurn.97=all
SP1_CrouchTurn.98=all
SP1_CrouchTurn.99=all
SP1_CrouchTurn.100=all
SP1_CrouchTurn.101=all
SP1_CrouchTurn.102=all
SP1_CrouchTurn.103=all
SP1_CrouchTurn.104=all
SP1_CrouchTurn.105=all
SP1_CrouchTurn.106=all
SP1_CrouchTurn.107=all
SP1_CrouchTurn.108=all
SP1_CrouchTurn.109=all
SP1_CrouchTurn.110=all
SP1_CrouchTurn.111=all
SP1_CrouchTurn.112=all
SP1_CrouchTurn.113=all
SP1_CrouchTurn.114=all
SP1_CrouchTurn.115=all
SP1_CrouchTurn.116=all
SP1_CrouchTurn.117=all
SP1_CrouchTurn.118=all
SP1_CrouchTurn.119=all
SP1_CrouchTurn.120=all
SP1_CrouchTurn.121=all
SP1_CrouchTurn.122=all
SP1_CrouchTurn.123=all
SP1_CrouchTurn.124=all
SP1_CrouchTurn.125=all
SP1_CrouchTurn.126=all
SP1_CrouchTurn.127=all
SP1_CrouchTurn.128=all
SP1_CrouchTurn.129=all
SP1_CrouchTurn.130=all
SP1_CrouchTurn.131=all
SP1_CrouchTurn.132=all
SP1_CrouchTurn.133=all
SP1_CrouchTurn.134=all
SP1_CrouchTurn.135=all
SP1_CrouchTurn.136=all
SP1_CrouchTurn.137=all
SP1_CrouchTurn.138=all
SP1_CrouchTurn.139=all
SP1_CrouchTurn.140=all
SP1_CrouchTurn.141=all
SP1_CrouchTurn.142=all
SP1_CrouchTurn.143=all
SP1_CrouchTurn.144=all
SP1_CrouchTurn.145=all
SP1_CrouchTurn.146=all
SP1_CrouchTurn.147=all
