
[RemoveTracks]
SP1_ReloadStand.36=all
SP1_ReloadStand.45=all
SP1_ReloadStand.46=all
SP1_ReloadStand.47=all
SP1_ReloadStand.48=all
SP1_ReloadStand.49=all
SP1_ReloadStand.50=all
SP1_ReloadStand.51=all
SP1_ReloadStand.52=all
SP1_ReloadStand.53=all
SP1_ReloadStand.54=all
SP1_ReloadStand.55=all
SP1_ReloadStand.56=all
SP1_ReloadStand.57=all
SP1_ReloadStand.58=all
SP1_ReloadStand.59=all
SP1_ReloadStand.60=all
SP1_ReloadStand.61=all
SP1_ReloadStand.62=all
SP1_ReloadStand.63=all
SP1_ReloadStand.64=all
SP1_ReloadStand.65=all
SP1_ReloadStand.66=all
SP1_ReloadStand.67=all
SP1_ReloadStand.68=all
SP1_ReloadStand.69=all
SP1_ReloadStand.70=all
SP1_ReloadStand.71=all
SP1_ReloadStand.72=all
SP1_ReloadStand.73=all
SP1_ReloadStand.74=all
SP1_ReloadStand.75=all
SP1_ReloadStand.76=all
SP1_ReloadStand.77=all
SP1_ReloadStand.78=all
SP1_ReloadStand.79=all
SP1_ReloadStand.80=all
SP1_ReloadStand.81=all
SP1_ReloadStand.82=all
SP1_ReloadStand.83=all
SP1_ReloadStand.84=all
SP1_ReloadStand.85=all
SP1_ReloadStand.86=all
SP1_ReloadStand.87=all
SP1_ReloadStand.88=all
SP1_ReloadStand.89=all
SP1_ReloadStand.90=all
SP1_ReloadStand.91=all
SP1_ReloadStand.92=all
SP1_ReloadStand.93=all
SP1_ReloadStand.94=all
SP1_ReloadStand.95=all
SP1_ReloadStand.96=all
SP1_ReloadStand.97=all
SP1_ReloadStand.98=all
SP1_ReloadStand.99=all
SP1_ReloadStand.100=all
SP1_ReloadStand.101=all
SP1_ReloadStand.102=all
SP1_ReloadStand.103=all
SP1_ReloadStand.104=all
SP1_ReloadStand.105=all
SP1_ReloadStand.106=all
SP1_ReloadStand.107=all
SP1_ReloadStand.108=all
SP1_ReloadStand.109=all
SP1_ReloadStand.110=all
SP1_ReloadStand.111=all
SP1_ReloadStand.112=all
SP1_ReloadStand.113=all
SP1_ReloadStand.114=all
SP1_ReloadStand.115=all
SP1_ReloadStand.116=all
SP1_ReloadStand.117=all
SP1_ReloadStand.118=all
SP1_ReloadStand.119=all
SP1_ReloadStand.120=all
SP1_ReloadStand.121=all
SP1_ReloadStand.122=all
SP1_ReloadStand.123=all
SP1_ReloadStand.124=all
SP1_ReloadStand.125=all
SP1_ReloadStand.126=all
SP1_ReloadStand.127=all
SP1_ReloadStand.128=all
SP1_ReloadStand.129=all
SP1_ReloadStand.130=all
SP1_ReloadStand.131=all
SP1_ReloadStand.132=all
SP1_ReloadStand.133=all
SP1_ReloadStand.134=all
SP1_ReloadStand.135=all
SP1_ReloadStand.136=all
SP1_ReloadStand.137=all
SP1_ReloadStand.138=all
SP1_ReloadStand.139=all
SP1_ReloadStand.140=all
SP1_ReloadStand.141=all
SP1_ReloadStand.142=all
SP1_ReloadStand.143=all
SP1_ReloadStand.144=all
SP1_ReloadStand.145=all
SP1_ReloadStand.146=all
SP1_ReloadStand.147=all
