
[RemoveTracks]
SP1_StandRun_R.36=all
SP1_StandRun_R.45=all
SP1_StandRun_R.46=all
SP1_StandRun_R.47=all
SP1_StandRun_R.48=all
SP1_StandRun_R.49=all
SP1_StandRun_R.50=all
SP1_StandRun_R.51=all
SP1_StandRun_R.52=all
SP1_StandRun_R.53=all
SP1_StandRun_R.54=all
SP1_StandRun_R.55=all
SP1_StandRun_R.56=all
SP1_StandRun_R.57=all
SP1_StandRun_R.58=all
SP1_StandRun_R.59=all
SP1_StandRun_R.60=all
SP1_StandRun_R.61=all
SP1_StandRun_R.62=all
SP1_StandRun_R.63=all
SP1_StandRun_R.64=all
SP1_StandRun_R.65=all
SP1_StandRun_R.66=all
SP1_StandRun_R.67=all
SP1_StandRun_R.68=all
SP1_StandRun_R.69=all
SP1_StandRun_R.70=all
SP1_StandRun_R.71=all
SP1_StandRun_R.72=all
SP1_StandRun_R.73=all
SP1_StandRun_R.74=all
SP1_StandRun_R.75=all
SP1_StandRun_R.76=all
SP1_StandRun_R.77=all
SP1_StandRun_R.78=all
SP1_StandRun_R.79=all
SP1_StandRun_R.80=all
SP1_StandRun_R.81=all
SP1_StandRun_R.82=all
SP1_StandRun_R.83=all
SP1_StandRun_R.84=all
SP1_StandRun_R.85=all
SP1_StandRun_R.86=all
SP1_StandRun_R.87=all
SP1_StandRun_R.88=all
SP1_StandRun_R.89=all
SP1_StandRun_R.90=all
SP1_StandRun_R.91=all
SP1_StandRun_R.92=all
SP1_StandRun_R.93=all
SP1_StandRun_R.94=all
SP1_StandRun_R.95=all
SP1_StandRun_R.96=all
SP1_StandRun_R.97=all
SP1_StandRun_R.98=all
SP1_StandRun_R.99=all
SP1_StandRun_R.100=all
SP1_StandRun_R.101=all
SP1_StandRun_R.102=all
SP1_StandRun_R.103=all
SP1_StandRun_R.104=all
SP1_StandRun_R.105=all
SP1_StandRun_R.106=all
SP1_StandRun_R.107=all
SP1_StandRun_R.108=all
SP1_StandRun_R.109=all
SP1_StandRun_R.110=all
SP1_StandRun_R.111=all
SP1_StandRun_R.112=all
SP1_StandRun_R.113=all
SP1_StandRun_R.114=all
SP1_StandRun_R.115=all
SP1_StandRun_R.116=all
SP1_StandRun_R.117=all
SP1_StandRun_R.118=all
SP1_StandRun_R.119=all
SP1_StandRun_R.120=all
SP1_StandRun_R.121=all
SP1_StandRun_R.122=all
SP1_StandRun_R.123=all
SP1_StandRun_R.124=all
SP1_StandRun_R.125=all
SP1_StandRun_R.126=all
SP1_StandRun_R.127=all
SP1_StandRun_R.128=all
SP1_StandRun_R.129=all
SP1_StandRun_R.130=all
SP1_StandRun_R.131=all
SP1_StandRun_R.132=all
SP1_StandRun_R.133=all
SP1_StandRun_R.134=all
SP1_StandRun_R.135=all
SP1_StandRun_R.136=all
SP1_StandRun_R.137=all
SP1_StandRun_R.138=all
SP1_StandRun_R.139=all
SP1_StandRun_R.140=all
SP1_StandRun_R.141=all
SP1_StandRun_R.142=all
SP1_StandRun_R.143=all
SP1_StandRun_R.144=all
SP1_StandRun_R.145=all
SP1_StandRun_R.146=all
SP1_StandRun_R.147=all
