
[RemoveTracks]
SP1_CrouchIdle.36=all
SP1_CrouchIdle.45=all
SP1_CrouchIdle.46=all
SP1_CrouchIdle.47=all
SP1_CrouchIdle.48=all
SP1_CrouchIdle.49=all
SP1_CrouchIdle.50=all
SP1_CrouchIdle.51=all
SP1_CrouchIdle.52=all
SP1_CrouchIdle.53=all
SP1_CrouchIdle.54=all
SP1_CrouchIdle.55=all
SP1_CrouchIdle.56=all
SP1_CrouchIdle.57=all
SP1_CrouchIdle.58=all
SP1_CrouchIdle.59=all
SP1_CrouchIdle.60=all
SP1_CrouchIdle.61=all
SP1_CrouchIdle.62=all
SP1_CrouchIdle.63=all
SP1_CrouchIdle.64=all
SP1_CrouchIdle.65=all
SP1_CrouchIdle.66=all
SP1_CrouchIdle.67=all
SP1_CrouchIdle.68=all
SP1_CrouchIdle.69=all
SP1_CrouchIdle.70=all
SP1_CrouchIdle.71=all
SP1_CrouchIdle.72=all
SP1_CrouchIdle.73=all
SP1_CrouchIdle.74=all
SP1_CrouchIdle.75=all
SP1_CrouchIdle.76=all
SP1_CrouchIdle.77=all
SP1_CrouchIdle.78=all
SP1_CrouchIdle.79=all
SP1_CrouchIdle.80=all
SP1_CrouchIdle.81=all
SP1_CrouchIdle.82=all
SP1_CrouchIdle.83=all
SP1_CrouchIdle.84=all
SP1_CrouchIdle.85=all
SP1_CrouchIdle.86=all
SP1_CrouchIdle.87=all
SP1_CrouchIdle.88=all
SP1_CrouchIdle.89=all
SP1_CrouchIdle.90=all
SP1_CrouchIdle.91=all
SP1_CrouchIdle.92=all
SP1_CrouchIdle.93=all
SP1_CrouchIdle.94=all
SP1_CrouchIdle.95=all
SP1_CrouchIdle.96=all
SP1_CrouchIdle.97=all
SP1_CrouchIdle.98=all
SP1_CrouchIdle.99=all
SP1_CrouchIdle.100=all
SP1_CrouchIdle.101=all
SP1_CrouchIdle.102=all
SP1_CrouchIdle.103=all
SP1_CrouchIdle.104=all
SP1_CrouchIdle.105=all
SP1_CrouchIdle.106=all
SP1_CrouchIdle.107=all
SP1_CrouchIdle.108=all
SP1_CrouchIdle.109=all
SP1_CrouchIdle.110=all
SP1_CrouchIdle.111=all
SP1_CrouchIdle.112=all
SP1_CrouchIdle.113=all
SP1_CrouchIdle.114=all
SP1_CrouchIdle.115=all
SP1_CrouchIdle.116=all
SP1_CrouchIdle.117=all
SP1_CrouchIdle.118=all
SP1_CrouchIdle.119=all
SP1_CrouchIdle.120=all
SP1_CrouchIdle.121=all
SP1_CrouchIdle.122=all
SP1_CrouchIdle.123=all
SP1_CrouchIdle.124=all
SP1_CrouchIdle.125=all
SP1_CrouchIdle.126=all
SP1_CrouchIdle.127=all
SP1_CrouchIdle.128=all
SP1_CrouchIdle.129=all
SP1_CrouchIdle.130=all
SP1_CrouchIdle.131=all
SP1_CrouchIdle.132=all
SP1_CrouchIdle.133=all
SP1_CrouchIdle.134=all
SP1_CrouchIdle.135=all
SP1_CrouchIdle.136=all
SP1_CrouchIdle.137=all
SP1_CrouchIdle.138=all
SP1_CrouchIdle.139=all
SP1_CrouchIdle.140=all
SP1_CrouchIdle.141=all
SP1_CrouchIdle.142=all
SP1_CrouchIdle.143=all
SP1_CrouchIdle.144=all
SP1_CrouchIdle.145=all
SP1_CrouchIdle.146=all
SP1_CrouchIdle.147=all
