
[RemoveTracks]
SP1_JumpRising.36=all
SP1_JumpRising.45=all
SP1_JumpRising.46=all
SP1_JumpRising.47=all
SP1_JumpRising.48=all
SP1_JumpRising.49=all
SP1_JumpRising.50=all
SP1_JumpRising.51=all
SP1_JumpRising.52=all
SP1_JumpRising.53=all
SP1_JumpRising.54=all
SP1_JumpRising.55=all
SP1_JumpRising.56=all
SP1_JumpRising.57=all
SP1_JumpRising.58=all
SP1_JumpRising.59=all
SP1_JumpRising.60=all
SP1_JumpRising.61=all
SP1_JumpRising.62=all
SP1_JumpRising.63=all
SP1_JumpRising.64=all
SP1_JumpRising.65=all
SP1_JumpRising.66=all
SP1_JumpRising.67=all
SP1_JumpRising.68=all
SP1_JumpRising.69=all
SP1_JumpRising.70=all
SP1_JumpRising.71=all
SP1_JumpRising.72=all
SP1_JumpRising.73=all
SP1_JumpRising.74=all
SP1_JumpRising.75=all
SP1_JumpRising.76=all
SP1_JumpRising.77=all
SP1_JumpRising.78=all
SP1_JumpRising.79=all
SP1_JumpRising.80=all
SP1_JumpRising.81=all
SP1_JumpRising.82=all
SP1_JumpRising.83=all
SP1_JumpRising.84=all
SP1_JumpRising.85=all
SP1_JumpRising.86=all
SP1_JumpRising.87=all
SP1_JumpRising.88=all
SP1_JumpRising.89=all
SP1_JumpRising.90=all
SP1_JumpRising.91=all
SP1_JumpRising.92=all
SP1_JumpRising.93=all
SP1_JumpRising.94=all
SP1_JumpRising.95=all
SP1_JumpRising.96=all
SP1_JumpRising.97=all
SP1_JumpRising.98=all
SP1_JumpRising.99=all
SP1_JumpRising.100=all
SP1_JumpRising.101=all
SP1_JumpRising.102=all
SP1_JumpRising.103=all
SP1_JumpRising.104=all
SP1_JumpRising.105=all
SP1_JumpRising.106=all
SP1_JumpRising.108=all
SP1_JumpRising.109=all
SP1_JumpRising.110=all
SP1_JumpRising.111=all
SP1_JumpRising.112=all
SP1_JumpRising.113=all
SP1_JumpRising.114=all
SP1_JumpRising.115=all
SP1_JumpRising.116=all
SP1_JumpRising.117=all
SP1_JumpRising.118=all
SP1_JumpRising.119=all
SP1_JumpRising.120=all
SP1_JumpRising.121=all
SP1_JumpRising.122=all
SP1_JumpRising.123=all
SP1_JumpRising.124=all
SP1_JumpRising.125=all
SP1_JumpRising.126=all
SP1_JumpRising.127=all
SP1_JumpRising.128=all
SP1_JumpRising.129=all
SP1_JumpRising.130=all
SP1_JumpRising.131=all
SP1_JumpRising.132=all
SP1_JumpRising.133=all
SP1_JumpRising.134=all
SP1_JumpRising.135=all
SP1_JumpRising.136=all
SP1_JumpRising.137=all
SP1_JumpRising.138=all
SP1_JumpRising.139=all
SP1_JumpRising.140=all
SP1_JumpRising.141=all
SP1_JumpRising.142=all
SP1_JumpRising.143=all
SP1_JumpRising.144=all
SP1_JumpRising.145=all
SP1_JumpRising.146=all
SP1_JumpRising.147=all
