
[RemoveTracks]
SP1_ProneToStand.36=all
SP1_ProneToStand.45=all
SP1_ProneToStand.46=all
SP1_ProneToStand.47=all
SP1_ProneToStand.48=all
SP1_ProneToStand.49=all
SP1_ProneToStand.50=all
SP1_ProneToStand.51=all
SP1_ProneToStand.52=all
SP1_ProneToStand.53=all
SP1_ProneToStand.54=all
SP1_ProneToStand.55=all
SP1_ProneToStand.56=all
SP1_ProneToStand.57=all
SP1_ProneToStand.58=all
SP1_ProneToStand.59=all
SP1_ProneToStand.60=all
SP1_ProneToStand.61=all
SP1_ProneToStand.62=all
SP1_ProneToStand.63=all
SP1_ProneToStand.64=all
SP1_ProneToStand.65=all
SP1_ProneToStand.66=all
SP1_ProneToStand.67=all
SP1_ProneToStand.68=all
SP1_ProneToStand.69=all
SP1_ProneToStand.70=all
SP1_ProneToStand.71=all
SP1_ProneToStand.72=all
SP1_ProneToStand.73=all
SP1_ProneToStand.74=all
SP1_ProneToStand.75=all
SP1_ProneToStand.76=all
SP1_ProneToStand.77=all
SP1_ProneToStand.78=all
SP1_ProneToStand.79=all
SP1_ProneToStand.80=all
SP1_ProneToStand.81=all
SP1_ProneToStand.82=all
SP1_ProneToStand.83=all
SP1_ProneToStand.84=all
SP1_ProneToStand.85=all
SP1_ProneToStand.86=all
SP1_ProneToStand.87=all
SP1_ProneToStand.88=all
SP1_ProneToStand.89=all
SP1_ProneToStand.90=all
SP1_ProneToStand.91=all
SP1_ProneToStand.92=all
SP1_ProneToStand.93=all
SP1_ProneToStand.94=all
SP1_ProneToStand.95=all
SP1_ProneToStand.96=all
SP1_ProneToStand.97=all
SP1_ProneToStand.98=all
SP1_ProneToStand.99=all
SP1_ProneToStand.100=all
SP1_ProneToStand.101=all
SP1_ProneToStand.102=all
SP1_ProneToStand.103=all
SP1_ProneToStand.104=all
SP1_ProneToStand.105=all
SP1_ProneToStand.106=all
SP1_ProneToStand.107=all
SP1_ProneToStand.108=all
SP1_ProneToStand.109=all
SP1_ProneToStand.110=all
SP1_ProneToStand.111=all
SP1_ProneToStand.112=all
SP1_ProneToStand.113=all
SP1_ProneToStand.114=all
SP1_ProneToStand.115=all
SP1_ProneToStand.116=all
SP1_ProneToStand.117=all
SP1_ProneToStand.118=all
SP1_ProneToStand.119=all
SP1_ProneToStand.120=all
SP1_ProneToStand.121=all
SP1_ProneToStand.122=all
SP1_ProneToStand.123=all
SP1_ProneToStand.124=all
SP1_ProneToStand.125=all
SP1_ProneToStand.126=all
SP1_ProneToStand.127=all
SP1_ProneToStand.128=all
SP1_ProneToStand.129=all
SP1_ProneToStand.130=all
SP1_ProneToStand.131=all
SP1_ProneToStand.132=all
SP1_ProneToStand.133=all
SP1_ProneToStand.134=all
SP1_ProneToStand.135=all
SP1_ProneToStand.136=all
SP1_ProneToStand.137=all
SP1_ProneToStand.138=all
SP1_ProneToStand.139=all
SP1_ProneToStand.140=all
SP1_ProneToStand.141=all
SP1_ProneToStand.142=all
SP1_ProneToStand.143=all
SP1_ProneToStand.144=all
SP1_ProneToStand.145=all
SP1_ProneToStand.146=all
SP1_ProneToStand.147=all
