
[RemoveTracks]
SP1_CrouchWalkC_R135.36=all
SP1_CrouchWalkC_R135.45=all
SP1_CrouchWalkC_R135.46=all
SP1_CrouchWalkC_R135.47=all
SP1_CrouchWalkC_R135.48=all
SP1_CrouchWalkC_R135.49=all
SP1_CrouchWalkC_R135.50=all
SP1_CrouchWalkC_R135.51=all
SP1_CrouchWalkC_R135.52=all
SP1_CrouchWalkC_R135.53=all
SP1_CrouchWalkC_R135.54=all
SP1_CrouchWalkC_R135.55=all
SP1_CrouchWalkC_R135.56=all
SP1_CrouchWalkC_R135.57=all
SP1_CrouchWalkC_R135.58=all
SP1_CrouchWalkC_R135.59=all
SP1_CrouchWalkC_R135.60=all
SP1_CrouchWalkC_R135.61=all
SP1_CrouchWalkC_R135.62=all
SP1_CrouchWalkC_R135.63=all
SP1_CrouchWalkC_R135.64=all
SP1_CrouchWalkC_R135.65=all
SP1_CrouchWalkC_R135.66=all
SP1_CrouchWalkC_R135.67=all
SP1_CrouchWalkC_R135.68=all
SP1_CrouchWalkC_R135.69=all
SP1_CrouchWalkC_R135.70=all
SP1_CrouchWalkC_R135.71=all
SP1_CrouchWalkC_R135.72=all
SP1_CrouchWalkC_R135.73=all
SP1_CrouchWalkC_R135.74=all
SP1_CrouchWalkC_R135.75=all
SP1_CrouchWalkC_R135.76=all
SP1_CrouchWalkC_R135.77=all
SP1_CrouchWalkC_R135.78=all
SP1_CrouchWalkC_R135.79=all
SP1_CrouchWalkC_R135.80=all
SP1_CrouchWalkC_R135.81=all
SP1_CrouchWalkC_R135.82=all
SP1_CrouchWalkC_R135.83=all
SP1_CrouchWalkC_R135.84=all
SP1_CrouchWalkC_R135.85=all
SP1_CrouchWalkC_R135.86=all
SP1_CrouchWalkC_R135.87=all
SP1_CrouchWalkC_R135.88=all
SP1_CrouchWalkC_R135.89=all
SP1_CrouchWalkC_R135.90=all
SP1_CrouchWalkC_R135.91=all
SP1_CrouchWalkC_R135.92=all
SP1_CrouchWalkC_R135.93=all
SP1_CrouchWalkC_R135.94=all
SP1_CrouchWalkC_R135.95=all
SP1_CrouchWalkC_R135.96=all
SP1_CrouchWalkC_R135.97=all
SP1_CrouchWalkC_R135.98=all
SP1_CrouchWalkC_R135.99=all
SP1_CrouchWalkC_R135.100=all
SP1_CrouchWalkC_R135.101=all
SP1_CrouchWalkC_R135.102=all
SP1_CrouchWalkC_R135.103=all
SP1_CrouchWalkC_R135.104=all
SP1_CrouchWalkC_R135.105=all
SP1_CrouchWalkC_R135.106=all
SP1_CrouchWalkC_R135.107=all
SP1_CrouchWalkC_R135.108=all
SP1_CrouchWalkC_R135.109=all
SP1_CrouchWalkC_R135.110=all
SP1_CrouchWalkC_R135.111=all
SP1_CrouchWalkC_R135.112=all
SP1_CrouchWalkC_R135.113=all
SP1_CrouchWalkC_R135.114=all
SP1_CrouchWalkC_R135.115=all
SP1_CrouchWalkC_R135.116=all
SP1_CrouchWalkC_R135.117=all
SP1_CrouchWalkC_R135.118=all
SP1_CrouchWalkC_R135.119=all
SP1_CrouchWalkC_R135.120=all
SP1_CrouchWalkC_R135.121=all
SP1_CrouchWalkC_R135.122=all
SP1_CrouchWalkC_R135.123=all
SP1_CrouchWalkC_R135.124=all
SP1_CrouchWalkC_R135.125=all
SP1_CrouchWalkC_R135.126=all
SP1_CrouchWalkC_R135.127=all
SP1_CrouchWalkC_R135.128=all
SP1_CrouchWalkC_R135.129=all
SP1_CrouchWalkC_R135.130=all
SP1_CrouchWalkC_R135.131=all
SP1_CrouchWalkC_R135.132=all
SP1_CrouchWalkC_R135.133=all
SP1_CrouchWalkC_R135.134=all
SP1_CrouchWalkC_R135.135=all
SP1_CrouchWalkC_R135.136=all
SP1_CrouchWalkC_R135.137=all
SP1_CrouchWalkC_R135.138=all
SP1_CrouchWalkC_R135.139=all
SP1_CrouchWalkC_R135.140=all
SP1_CrouchWalkC_R135.141=all
SP1_CrouchWalkC_R135.142=all
SP1_CrouchWalkC_R135.143=all
SP1_CrouchWalkC_R135.144=all
SP1_CrouchWalkC_R135.145=all
SP1_CrouchWalkC_R135.146=all
SP1_CrouchWalkC_R135.147=all
