
[RemoveTracks]
SP1_ProneIdle_D.1=all
SP1_ProneIdle_D.2=all
SP1_ProneIdle_D.3=all
SP1_ProneIdle_D.4=all
SP1_ProneIdle_D.5=all
SP1_ProneIdle_D.6=all
SP1_ProneIdle_D.7=all
SP1_ProneIdle_D.8=all
SP1_ProneIdle_D.9=all
SP1_ProneIdle_D.10=all
SP1_ProneIdle_D.11=all
SP1_ProneIdle_D.12=all
SP1_ProneIdle_D.13=all
SP1_ProneIdle_D.14=all
SP1_ProneIdle_D.15=all
SP1_ProneIdle_D.16=all
SP1_ProneIdle_D.17=all
SP1_ProneIdle_D.18=all
SP1_ProneIdle_D.19=all
SP1_ProneIdle_D.20=all
SP1_ProneIdle_D.21=all
SP1_ProneIdle_D.22=all
SP1_ProneIdle_D.23=all
SP1_ProneIdle_D.24=all
SP1_ProneIdle_D.25=all
SP1_ProneIdle_D.26=all
SP1_ProneIdle_D.27=all
SP1_ProneIdle_D.28=all
SP1_ProneIdle_D.29=all
SP1_ProneIdle_D.30=all
SP1_ProneIdle_D.31=all
SP1_ProneIdle_D.32=all
SP1_ProneIdle_D.33=all
SP1_ProneIdle_D.34=all
SP1_ProneIdle_D.35=all
SP1_ProneIdle_D.36=all
SP1_ProneIdle_D.37=all
SP1_ProneIdle_D.38=all
SP1_ProneIdle_D.39=all
SP1_ProneIdle_D.40=all
SP1_ProneIdle_D.41=all
SP1_ProneIdle_D.42=all
SP1_ProneIdle_D.43=all
SP1_ProneIdle_D.44=all
SP1_ProneIdle_D.45=all
SP1_ProneIdle_D.46=all
SP1_ProneIdle_D.47=all
SP1_ProneIdle_D.48=all
SP1_ProneIdle_D.49=all
SP1_ProneIdle_D.50=all
SP1_ProneIdle_D.51=all
SP1_ProneIdle_D.52=all
SP1_ProneIdle_D.53=all
SP1_ProneIdle_D.54=all
SP1_ProneIdle_D.55=all
SP1_ProneIdle_D.56=all
SP1_ProneIdle_D.57=all
SP1_ProneIdle_D.58=all
SP1_ProneIdle_D.59=all
SP1_ProneIdle_D.60=all
SP1_ProneIdle_D.61=all
SP1_ProneIdle_D.62=all
SP1_ProneIdle_D.63=all
SP1_ProneIdle_D.64=all
SP1_ProneIdle_D.65=all
SP1_ProneIdle_D.66=all
SP1_ProneIdle_D.67=all
SP1_ProneIdle_D.68=all
SP1_ProneIdle_D.69=all
SP1_ProneIdle_D.70=all
SP1_ProneIdle_D.71=all
SP1_ProneIdle_D.72=all
SP1_ProneIdle_D.73=all
SP1_ProneIdle_D.74=all
SP1_ProneIdle_D.75=all
SP1_ProneIdle_D.76=all
SP1_ProneIdle_D.77=all
SP1_ProneIdle_D.78=all
SP1_ProneIdle_D.79=all
SP1_ProneIdle_D.80=all
SP1_ProneIdle_D.81=all
SP1_ProneIdle_D.82=all
SP1_ProneIdle_D.83=all
SP1_ProneIdle_D.84=all
SP1_ProneIdle_D.85=all
SP1_ProneIdle_D.86=all
SP1_ProneIdle_D.87=all
SP1_ProneIdle_D.88=all
SP1_ProneIdle_D.89=all
SP1_ProneIdle_D.90=all
SP1_ProneIdle_D.91=all
SP1_ProneIdle_D.92=all
SP1_ProneIdle_D.93=all
SP1_ProneIdle_D.94=all
SP1_ProneIdle_D.95=all
SP1_ProneIdle_D.96=all
SP1_ProneIdle_D.97=all
SP1_ProneIdle_D.98=all
SP1_ProneIdle_D.99=all
SP1_ProneIdle_D.100=all
SP1_ProneIdle_D.101=all
SP1_ProneIdle_D.102=all
SP1_ProneIdle_D.103=all
SP1_ProneIdle_D.104=all
SP1_ProneIdle_D.105=all
SP1_ProneIdle_D.106=all
SP1_ProneIdle_D.107=all
SP1_ProneIdle_D.108=all
SP1_ProneIdle_D.109=all
SP1_ProneIdle_D.110=all
SP1_ProneIdle_D.111=all
SP1_ProneIdle_D.112=all
SP1_ProneIdle_D.113=all
SP1_ProneIdle_D.114=all
SP1_ProneIdle_D.115=all
SP1_ProneIdle_D.116=all
SP1_ProneIdle_D.117=all
SP1_ProneIdle_D.118=all
SP1_ProneIdle_D.119=all
SP1_ProneIdle_D.120=all
SP1_ProneIdle_D.121=all
SP1_ProneIdle_D.122=all
SP1_ProneIdle_D.123=all
SP1_ProneIdle_D.124=all
SP1_ProneIdle_D.125=all
SP1_ProneIdle_D.126=all
SP1_ProneIdle_D.127=all
SP1_ProneIdle_D.128=all
SP1_ProneIdle_D.129=all
SP1_ProneIdle_D.130=all
SP1_ProneIdle_D.131=all
SP1_ProneIdle_D.132=all
SP1_ProneIdle_D.133=all
SP1_ProneIdle_D.134=all
SP1_ProneIdle_D.135=all
SP1_ProneIdle_D.136=all
SP1_ProneIdle_D.137=all
SP1_ProneIdle_D.138=all
SP1_ProneIdle_D.139=all
SP1_ProneIdle_D.140=all
SP1_ProneIdle_D.141=all
SP1_ProneIdle_D.142=all
SP1_ProneIdle_D.143=all
SP1_ProneIdle_D.144=all
SP1_ProneIdle_D.145=all
SP1_ProneIdle_D.146=all
SP1_ProneIdle_D.147=all
