
[RemoveTracks]
SP1_StandIdle.36=all
SP1_StandIdle.45=all
SP1_StandIdle.46=all
SP1_StandIdle.47=all
SP1_StandIdle.48=all
SP1_StandIdle.49=all
SP1_StandIdle.50=all
SP1_StandIdle.51=all
SP1_StandIdle.52=all
SP1_StandIdle.53=all
SP1_StandIdle.54=all
SP1_StandIdle.55=all
SP1_StandIdle.56=all
SP1_StandIdle.57=all
SP1_StandIdle.58=all
SP1_StandIdle.59=all
SP1_StandIdle.60=all
SP1_StandIdle.61=all
SP1_StandIdle.62=all
SP1_StandIdle.63=all
SP1_StandIdle.64=all
SP1_StandIdle.65=all
SP1_StandIdle.66=all
SP1_StandIdle.67=all
SP1_StandIdle.68=all
SP1_StandIdle.69=all
SP1_StandIdle.70=all
SP1_StandIdle.71=all
SP1_StandIdle.72=all
SP1_StandIdle.73=all
SP1_StandIdle.74=all
SP1_StandIdle.75=all
SP1_StandIdle.76=all
SP1_StandIdle.77=all
SP1_StandIdle.78=all
SP1_StandIdle.79=all
SP1_StandIdle.80=all
SP1_StandIdle.81=all
SP1_StandIdle.82=all
SP1_StandIdle.83=all
SP1_StandIdle.84=all
SP1_StandIdle.85=all
SP1_StandIdle.86=all
SP1_StandIdle.87=all
SP1_StandIdle.88=all
SP1_StandIdle.89=all
SP1_StandIdle.90=all
SP1_StandIdle.91=all
SP1_StandIdle.92=all
SP1_StandIdle.93=all
SP1_StandIdle.94=all
SP1_StandIdle.95=all
SP1_StandIdle.96=all
SP1_StandIdle.97=all
SP1_StandIdle.98=all
SP1_StandIdle.99=all
SP1_StandIdle.100=all
SP1_StandIdle.101=all
SP1_StandIdle.102=all
SP1_StandIdle.103=all
SP1_StandIdle.104=all
SP1_StandIdle.105=all
SP1_StandIdle.106=all
SP1_StandIdle.107=all
SP1_StandIdle.108=all
SP1_StandIdle.109=all
SP1_StandIdle.110=all
SP1_StandIdle.111=all
SP1_StandIdle.112=all
SP1_StandIdle.113=all
SP1_StandIdle.114=all
SP1_StandIdle.115=all
SP1_StandIdle.116=all
SP1_StandIdle.117=all
SP1_StandIdle.118=all
SP1_StandIdle.119=all
SP1_StandIdle.120=all
SP1_StandIdle.121=all
SP1_StandIdle.122=all
SP1_StandIdle.123=all
SP1_StandIdle.124=all
SP1_StandIdle.125=all
SP1_StandIdle.126=all
SP1_StandIdle.127=all
SP1_StandIdle.128=all
SP1_StandIdle.129=all
SP1_StandIdle.130=all
SP1_StandIdle.131=all
SP1_StandIdle.132=all
SP1_StandIdle.133=all
SP1_StandIdle.134=all
SP1_StandIdle.135=all
SP1_StandIdle.136=all
SP1_StandIdle.137=all
SP1_StandIdle.138=all
SP1_StandIdle.139=all
SP1_StandIdle.140=all
SP1_StandIdle.141=all
SP1_StandIdle.142=all
SP1_StandIdle.143=all
SP1_StandIdle.144=all
SP1_StandIdle.145=all
SP1_StandIdle.146=all
SP1_StandIdle.147=all
