
[RemoveTracks]
SP1_StandSprint_FR.36=all
SP1_StandSprint_FR.45=all
SP1_StandSprint_FR.46=all
SP1_StandSprint_FR.47=all
SP1_StandSprint_FR.48=all
SP1_StandSprint_FR.49=all
SP1_StandSprint_FR.50=all
SP1_StandSprint_FR.51=all
SP1_StandSprint_FR.52=all
SP1_StandSprint_FR.53=all
SP1_StandSprint_FR.54=all
SP1_StandSprint_FR.55=all
SP1_StandSprint_FR.56=all
SP1_StandSprint_FR.57=all
SP1_StandSprint_FR.58=all
SP1_StandSprint_FR.59=all
SP1_StandSprint_FR.60=all
SP1_StandSprint_FR.61=all
SP1_StandSprint_FR.62=all
SP1_StandSprint_FR.63=all
SP1_StandSprint_FR.64=all
SP1_StandSprint_FR.65=all
SP1_StandSprint_FR.66=all
SP1_StandSprint_FR.67=all
SP1_StandSprint_FR.68=all
SP1_StandSprint_FR.69=all
SP1_StandSprint_FR.70=all
SP1_StandSprint_FR.71=all
SP1_StandSprint_FR.72=all
SP1_StandSprint_FR.73=all
SP1_StandSprint_FR.74=all
SP1_StandSprint_FR.75=all
SP1_StandSprint_FR.76=all
SP1_StandSprint_FR.77=all
SP1_StandSprint_FR.78=all
SP1_StandSprint_FR.79=all
SP1_StandSprint_FR.80=all
SP1_StandSprint_FR.81=all
SP1_StandSprint_FR.82=all
SP1_StandSprint_FR.83=all
SP1_StandSprint_FR.84=all
SP1_StandSprint_FR.85=all
SP1_StandSprint_FR.86=all
SP1_StandSprint_FR.87=all
SP1_StandSprint_FR.88=all
SP1_StandSprint_FR.89=all
SP1_StandSprint_FR.90=all
SP1_StandSprint_FR.91=all
SP1_StandSprint_FR.92=all
SP1_StandSprint_FR.93=all
SP1_StandSprint_FR.94=all
SP1_StandSprint_FR.95=all
SP1_StandSprint_FR.96=all
SP1_StandSprint_FR.97=all
SP1_StandSprint_FR.98=all
SP1_StandSprint_FR.99=all
SP1_StandSprint_FR.100=all
SP1_StandSprint_FR.101=all
SP1_StandSprint_FR.102=all
SP1_StandSprint_FR.103=all
SP1_StandSprint_FR.104=all
SP1_StandSprint_FR.105=all
SP1_StandSprint_FR.106=all
SP1_StandSprint_FR.107=all
SP1_StandSprint_FR.108=all
SP1_StandSprint_FR.109=all
SP1_StandSprint_FR.110=all
SP1_StandSprint_FR.111=all
SP1_StandSprint_FR.112=all
SP1_StandSprint_FR.113=all
SP1_StandSprint_FR.114=all
SP1_StandSprint_FR.115=all
SP1_StandSprint_FR.116=all
SP1_StandSprint_FR.117=all
SP1_StandSprint_FR.118=all
SP1_StandSprint_FR.119=all
SP1_StandSprint_FR.120=all
SP1_StandSprint_FR.121=all
SP1_StandSprint_FR.122=all
SP1_StandSprint_FR.123=all
SP1_StandSprint_FR.124=all
SP1_StandSprint_FR.125=all
SP1_StandSprint_FR.126=all
SP1_StandSprint_FR.127=all
SP1_StandSprint_FR.128=all
SP1_StandSprint_FR.129=all
SP1_StandSprint_FR.130=all
SP1_StandSprint_FR.131=all
SP1_StandSprint_FR.132=all
SP1_StandSprint_FR.133=all
SP1_StandSprint_FR.134=all
SP1_StandSprint_FR.135=all
SP1_StandSprint_FR.136=all
SP1_StandSprint_FR.137=all
SP1_StandSprint_FR.138=all
SP1_StandSprint_FR.139=all
SP1_StandSprint_FR.140=all
SP1_StandSprint_FR.141=all
SP1_StandSprint_FR.142=all
SP1_StandSprint_FR.143=all
SP1_StandSprint_FR.144=all
SP1_StandSprint_FR.145=all
SP1_StandSprint_FR.146=all
SP1_StandSprint_FR.147=all
