
[RemoveTracks]
SP1_CarPassengerIdle_R_F.36=all
SP1_CarPassengerIdle_R_F.45=all
SP1_CarPassengerIdle_R_F.46=all
SP1_CarPassengerIdle_R_F.47=all
SP1_CarPassengerIdle_R_F.48=all
SP1_CarPassengerIdle_R_F.49=all
SP1_CarPassengerIdle_R_F.50=all
SP1_CarPassengerIdle_R_F.51=all
SP1_CarPassengerIdle_R_F.52=all
SP1_CarPassengerIdle_R_F.53=all
SP1_CarPassengerIdle_R_F.54=all
SP1_CarPassengerIdle_R_F.55=all
SP1_CarPassengerIdle_R_F.56=all
SP1_CarPassengerIdle_R_F.57=all
SP1_CarPassengerIdle_R_F.58=all
SP1_CarPassengerIdle_R_F.59=all
SP1_CarPassengerIdle_R_F.60=all
SP1_CarPassengerIdle_R_F.61=all
SP1_CarPassengerIdle_R_F.62=all
SP1_CarPassengerIdle_R_F.63=all
SP1_CarPassengerIdle_R_F.64=all
SP1_CarPassengerIdle_R_F.65=all
SP1_CarPassengerIdle_R_F.66=all
SP1_CarPassengerIdle_R_F.67=all
SP1_CarPassengerIdle_R_F.68=all
SP1_CarPassengerIdle_R_F.69=all
SP1_CarPassengerIdle_R_F.70=all
SP1_CarPassengerIdle_R_F.71=all
SP1_CarPassengerIdle_R_F.72=all
SP1_CarPassengerIdle_R_F.73=all
SP1_CarPassengerIdle_R_F.74=all
SP1_CarPassengerIdle_R_F.75=all
SP1_CarPassengerIdle_R_F.76=all
SP1_CarPassengerIdle_R_F.77=all
SP1_CarPassengerIdle_R_F.78=all
SP1_CarPassengerIdle_R_F.79=all
SP1_CarPassengerIdle_R_F.80=all
SP1_CarPassengerIdle_R_F.81=all
SP1_CarPassengerIdle_R_F.82=all
SP1_CarPassengerIdle_R_F.83=all
SP1_CarPassengerIdle_R_F.84=all
SP1_CarPassengerIdle_R_F.85=all
SP1_CarPassengerIdle_R_F.86=all
SP1_CarPassengerIdle_R_F.87=all
SP1_CarPassengerIdle_R_F.88=all
SP1_CarPassengerIdle_R_F.89=all
SP1_CarPassengerIdle_R_F.90=all
SP1_CarPassengerIdle_R_F.91=all
SP1_CarPassengerIdle_R_F.92=all
SP1_CarPassengerIdle_R_F.93=all
SP1_CarPassengerIdle_R_F.94=all
SP1_CarPassengerIdle_R_F.95=all
SP1_CarPassengerIdle_R_F.96=all
SP1_CarPassengerIdle_R_F.97=all
SP1_CarPassengerIdle_R_F.98=all
SP1_CarPassengerIdle_R_F.99=all
SP1_CarPassengerIdle_R_F.100=all
SP1_CarPassengerIdle_R_F.101=all
SP1_CarPassengerIdle_R_F.102=all
SP1_CarPassengerIdle_R_F.103=all
SP1_CarPassengerIdle_R_F.104=all
SP1_CarPassengerIdle_R_F.105=all
SP1_CarPassengerIdle_R_F.106=all
SP1_CarPassengerIdle_R_F.108=all
SP1_CarPassengerIdle_R_F.109=all
SP1_CarPassengerIdle_R_F.110=all
SP1_CarPassengerIdle_R_F.111=all
SP1_CarPassengerIdle_R_F.112=all
SP1_CarPassengerIdle_R_F.113=all
SP1_CarPassengerIdle_R_F.114=all
SP1_CarPassengerIdle_R_F.115=all
SP1_CarPassengerIdle_R_F.116=all
SP1_CarPassengerIdle_R_F.117=all
SP1_CarPassengerIdle_R_F.118=all
SP1_CarPassengerIdle_R_F.119=all
SP1_CarPassengerIdle_R_F.120=all
SP1_CarPassengerIdle_R_F.121=all
SP1_CarPassengerIdle_R_F.122=all
SP1_CarPassengerIdle_R_F.123=all
SP1_CarPassengerIdle_R_F.124=all
SP1_CarPassengerIdle_R_F.125=all
SP1_CarPassengerIdle_R_F.126=all
SP1_CarPassengerIdle_R_F.127=all
SP1_CarPassengerIdle_R_F.128=all
SP1_CarPassengerIdle_R_F.129=all
SP1_CarPassengerIdle_R_F.130=all
SP1_CarPassengerIdle_R_F.131=all
SP1_CarPassengerIdle_R_F.132=all
SP1_CarPassengerIdle_R_F.133=all
SP1_CarPassengerIdle_R_F.134=all
SP1_CarPassengerIdle_R_F.135=all
SP1_CarPassengerIdle_R_F.136=all
SP1_CarPassengerIdle_R_F.137=all
SP1_CarPassengerIdle_R_F.138=all
SP1_CarPassengerIdle_R_F.139=all
SP1_CarPassengerIdle_R_F.140=all
SP1_CarPassengerIdle_R_F.141=all
SP1_CarPassengerIdle_R_F.142=all
SP1_CarPassengerIdle_R_F.143=all
SP1_CarPassengerIdle_R_F.144=all
SP1_CarPassengerIdle_R_F.145=all
SP1_CarPassengerIdle_R_F.146=all
SP1_CarPassengerIdle_R_F.147=all
