
[RemoveTracks]
SP1_ProneToCrouch.36=all
SP1_ProneToCrouch.45=all
SP1_ProneToCrouch.46=all
SP1_ProneToCrouch.47=all
SP1_ProneToCrouch.48=all
SP1_ProneToCrouch.49=all
SP1_ProneToCrouch.50=all
SP1_ProneToCrouch.51=all
SP1_ProneToCrouch.52=all
SP1_ProneToCrouch.53=all
SP1_ProneToCrouch.54=all
SP1_ProneToCrouch.55=all
SP1_ProneToCrouch.56=all
SP1_ProneToCrouch.57=all
SP1_ProneToCrouch.58=all
SP1_ProneToCrouch.59=all
SP1_ProneToCrouch.60=all
SP1_ProneToCrouch.61=all
SP1_ProneToCrouch.62=all
SP1_ProneToCrouch.63=all
SP1_ProneToCrouch.64=all
SP1_ProneToCrouch.65=all
SP1_ProneToCrouch.66=all
SP1_ProneToCrouch.67=all
SP1_ProneToCrouch.68=all
SP1_ProneToCrouch.69=all
SP1_ProneToCrouch.70=all
SP1_ProneToCrouch.71=all
SP1_ProneToCrouch.72=all
SP1_ProneToCrouch.73=all
SP1_ProneToCrouch.74=all
SP1_ProneToCrouch.75=all
SP1_ProneToCrouch.76=all
SP1_ProneToCrouch.77=all
SP1_ProneToCrouch.78=all
SP1_ProneToCrouch.79=all
SP1_ProneToCrouch.80=all
SP1_ProneToCrouch.81=all
SP1_ProneToCrouch.82=all
SP1_ProneToCrouch.83=all
SP1_ProneToCrouch.84=all
SP1_ProneToCrouch.85=all
SP1_ProneToCrouch.86=all
SP1_ProneToCrouch.87=all
SP1_ProneToCrouch.88=all
SP1_ProneToCrouch.89=all
SP1_ProneToCrouch.90=all
SP1_ProneToCrouch.91=all
SP1_ProneToCrouch.92=all
SP1_ProneToCrouch.93=all
SP1_ProneToCrouch.94=all
SP1_ProneToCrouch.95=all
SP1_ProneToCrouch.96=all
SP1_ProneToCrouch.97=all
SP1_ProneToCrouch.98=all
SP1_ProneToCrouch.99=all
SP1_ProneToCrouch.100=all
SP1_ProneToCrouch.101=all
SP1_ProneToCrouch.102=all
SP1_ProneToCrouch.103=all
SP1_ProneToCrouch.104=all
SP1_ProneToCrouch.105=all
SP1_ProneToCrouch.106=all
SP1_ProneToCrouch.107=all
SP1_ProneToCrouch.108=all
SP1_ProneToCrouch.109=all
SP1_ProneToCrouch.110=all
SP1_ProneToCrouch.111=all
SP1_ProneToCrouch.112=all
SP1_ProneToCrouch.113=all
SP1_ProneToCrouch.114=all
SP1_ProneToCrouch.115=all
SP1_ProneToCrouch.116=all
SP1_ProneToCrouch.117=all
SP1_ProneToCrouch.118=all
SP1_ProneToCrouch.119=all
SP1_ProneToCrouch.120=all
SP1_ProneToCrouch.121=all
SP1_ProneToCrouch.122=all
SP1_ProneToCrouch.123=all
SP1_ProneToCrouch.124=all
SP1_ProneToCrouch.125=all
SP1_ProneToCrouch.126=all
SP1_ProneToCrouch.127=all
SP1_ProneToCrouch.128=all
SP1_ProneToCrouch.129=all
SP1_ProneToCrouch.130=all
SP1_ProneToCrouch.131=all
SP1_ProneToCrouch.132=all
SP1_ProneToCrouch.133=all
SP1_ProneToCrouch.134=all
SP1_ProneToCrouch.135=all
SP1_ProneToCrouch.136=all
SP1_ProneToCrouch.137=all
SP1_ProneToCrouch.138=all
SP1_ProneToCrouch.139=all
SP1_ProneToCrouch.140=all
SP1_ProneToCrouch.141=all
SP1_ProneToCrouch.142=all
SP1_ProneToCrouch.143=all
SP1_ProneToCrouch.144=all
SP1_ProneToCrouch.145=all
SP1_ProneToCrouch.146=all
SP1_ProneToCrouch.147=all
