
[RemoveTracks]
SP1_ProneWalk_B.36=all
SP1_ProneWalk_B.45=all
SP1_ProneWalk_B.46=all
SP1_ProneWalk_B.47=all
SP1_ProneWalk_B.48=all
SP1_ProneWalk_B.49=all
SP1_ProneWalk_B.50=all
SP1_ProneWalk_B.51=all
SP1_ProneWalk_B.52=all
SP1_ProneWalk_B.53=all
SP1_ProneWalk_B.54=all
SP1_ProneWalk_B.55=all
SP1_ProneWalk_B.56=all
SP1_ProneWalk_B.57=all
SP1_ProneWalk_B.58=all
SP1_ProneWalk_B.59=all
SP1_ProneWalk_B.60=all
SP1_ProneWalk_B.61=all
SP1_ProneWalk_B.62=all
SP1_ProneWalk_B.63=all
SP1_ProneWalk_B.64=all
SP1_ProneWalk_B.65=all
SP1_ProneWalk_B.66=all
SP1_ProneWalk_B.67=all
SP1_ProneWalk_B.68=all
SP1_ProneWalk_B.69=all
SP1_ProneWalk_B.70=all
SP1_ProneWalk_B.71=all
SP1_ProneWalk_B.72=all
SP1_ProneWalk_B.73=all
SP1_ProneWalk_B.74=all
SP1_ProneWalk_B.75=all
SP1_ProneWalk_B.76=all
SP1_ProneWalk_B.77=all
SP1_ProneWalk_B.78=all
SP1_ProneWalk_B.79=all
SP1_ProneWalk_B.80=all
SP1_ProneWalk_B.81=all
SP1_ProneWalk_B.82=all
SP1_ProneWalk_B.83=all
SP1_ProneWalk_B.84=all
SP1_ProneWalk_B.85=all
SP1_ProneWalk_B.86=all
SP1_ProneWalk_B.87=all
SP1_ProneWalk_B.88=all
SP1_ProneWalk_B.89=all
SP1_ProneWalk_B.90=all
SP1_ProneWalk_B.91=all
SP1_ProneWalk_B.92=all
SP1_ProneWalk_B.93=all
SP1_ProneWalk_B.94=all
SP1_ProneWalk_B.95=all
SP1_ProneWalk_B.96=all
SP1_ProneWalk_B.97=all
SP1_ProneWalk_B.98=all
SP1_ProneWalk_B.99=all
SP1_ProneWalk_B.100=all
SP1_ProneWalk_B.101=all
SP1_ProneWalk_B.102=all
SP1_ProneWalk_B.103=all
SP1_ProneWalk_B.104=all
SP1_ProneWalk_B.105=all
SP1_ProneWalk_B.106=all
SP1_ProneWalk_B.107=all
SP1_ProneWalk_B.108=all
SP1_ProneWalk_B.109=all
SP1_ProneWalk_B.110=all
SP1_ProneWalk_B.111=all
SP1_ProneWalk_B.112=all
SP1_ProneWalk_B.113=all
SP1_ProneWalk_B.114=all
SP1_ProneWalk_B.115=all
SP1_ProneWalk_B.116=all
SP1_ProneWalk_B.117=all
SP1_ProneWalk_B.118=all
SP1_ProneWalk_B.119=all
SP1_ProneWalk_B.120=all
SP1_ProneWalk_B.121=all
SP1_ProneWalk_B.122=all
SP1_ProneWalk_B.123=all
SP1_ProneWalk_B.124=all
SP1_ProneWalk_B.125=all
SP1_ProneWalk_B.126=all
SP1_ProneWalk_B.127=all
SP1_ProneWalk_B.128=all
SP1_ProneWalk_B.129=all
SP1_ProneWalk_B.130=all
SP1_ProneWalk_B.131=all
SP1_ProneWalk_B.132=all
SP1_ProneWalk_B.133=all
SP1_ProneWalk_B.134=all
SP1_ProneWalk_B.135=all
SP1_ProneWalk_B.136=all
SP1_ProneWalk_B.137=all
SP1_ProneWalk_B.138=all
SP1_ProneWalk_B.139=all
SP1_ProneWalk_B.140=all
SP1_ProneWalk_B.141=all
SP1_ProneWalk_B.142=all
SP1_ProneWalk_B.143=all
SP1_ProneWalk_B.144=all
SP1_ProneWalk_B.145=all
SP1_ProneWalk_B.146=all
SP1_ProneWalk_B.147=all
