
[RemoveTracks]
SP1_StandToCrouch.36=all
SP1_StandToCrouch.45=all
SP1_StandToCrouch.46=all
SP1_StandToCrouch.47=all
SP1_StandToCrouch.48=all
SP1_StandToCrouch.49=all
SP1_StandToCrouch.50=all
SP1_StandToCrouch.51=all
SP1_StandToCrouch.52=all
SP1_StandToCrouch.53=all
SP1_StandToCrouch.54=all
SP1_StandToCrouch.55=all
SP1_StandToCrouch.56=all
SP1_StandToCrouch.57=all
SP1_StandToCrouch.58=all
SP1_StandToCrouch.59=all
SP1_StandToCrouch.60=all
SP1_StandToCrouch.61=all
SP1_StandToCrouch.62=all
SP1_StandToCrouch.63=all
SP1_StandToCrouch.64=all
SP1_StandToCrouch.65=all
SP1_StandToCrouch.66=all
SP1_StandToCrouch.67=all
SP1_StandToCrouch.68=all
SP1_StandToCrouch.69=all
SP1_StandToCrouch.70=all
SP1_StandToCrouch.71=all
SP1_StandToCrouch.72=all
SP1_StandToCrouch.73=all
SP1_StandToCrouch.74=all
SP1_StandToCrouch.75=all
SP1_StandToCrouch.76=all
SP1_StandToCrouch.77=all
SP1_StandToCrouch.78=all
SP1_StandToCrouch.79=all
SP1_StandToCrouch.80=all
SP1_StandToCrouch.81=all
SP1_StandToCrouch.82=all
SP1_StandToCrouch.83=all
SP1_StandToCrouch.84=all
SP1_StandToCrouch.85=all
SP1_StandToCrouch.86=all
SP1_StandToCrouch.87=all
SP1_StandToCrouch.88=all
SP1_StandToCrouch.89=all
SP1_StandToCrouch.90=all
SP1_StandToCrouch.91=all
SP1_StandToCrouch.92=all
SP1_StandToCrouch.93=all
SP1_StandToCrouch.94=all
SP1_StandToCrouch.95=all
SP1_StandToCrouch.96=all
SP1_StandToCrouch.97=all
SP1_StandToCrouch.98=all
SP1_StandToCrouch.99=all
SP1_StandToCrouch.100=all
SP1_StandToCrouch.101=all
SP1_StandToCrouch.102=all
SP1_StandToCrouch.103=all
SP1_StandToCrouch.104=all
SP1_StandToCrouch.105=all
SP1_StandToCrouch.106=all
SP1_StandToCrouch.107=all
SP1_StandToCrouch.108=all
SP1_StandToCrouch.109=all
SP1_StandToCrouch.110=all
SP1_StandToCrouch.111=all
SP1_StandToCrouch.112=all
SP1_StandToCrouch.113=all
SP1_StandToCrouch.114=all
SP1_StandToCrouch.115=all
SP1_StandToCrouch.116=all
SP1_StandToCrouch.117=all
SP1_StandToCrouch.118=all
SP1_StandToCrouch.119=all
SP1_StandToCrouch.120=all
SP1_StandToCrouch.121=all
SP1_StandToCrouch.122=all
SP1_StandToCrouch.123=all
SP1_StandToCrouch.124=all
SP1_StandToCrouch.125=all
SP1_StandToCrouch.126=all
SP1_StandToCrouch.127=all
SP1_StandToCrouch.128=all
SP1_StandToCrouch.129=all
SP1_StandToCrouch.130=all
SP1_StandToCrouch.131=all
SP1_StandToCrouch.132=all
SP1_StandToCrouch.133=all
SP1_StandToCrouch.134=all
SP1_StandToCrouch.135=all
SP1_StandToCrouch.136=all
SP1_StandToCrouch.137=all
SP1_StandToCrouch.138=all
SP1_StandToCrouch.139=all
SP1_StandToCrouch.140=all
SP1_StandToCrouch.141=all
SP1_StandToCrouch.142=all
SP1_StandToCrouch.143=all
SP1_StandToCrouch.144=all
SP1_StandToCrouch.145=all
SP1_StandToCrouch.146=all
SP1_StandToCrouch.147=all
