
[RemoveTracks]
SP2_CrouchIdle_D60.1=all
SP2_CrouchIdle_D60.2=all
SP2_CrouchIdle_D60.3=all
SP2_CrouchIdle_D60.4=all
SP2_CrouchIdle_D60.5=all
SP2_CrouchIdle_D60.37=all
SP2_CrouchIdle_D60.38=all
SP2_CrouchIdle_D60.39=all
SP2_CrouchIdle_D60.40=all
SP2_CrouchIdle_D60.41=all
SP2_CrouchIdle_D60.42=all
SP2_CrouchIdle_D60.43=all
SP2_CrouchIdle_D60.44=all
SP2_CrouchIdle_D60.45=all
SP2_CrouchIdle_D60.46=all
SP2_CrouchIdle_D60.47=all
SP2_CrouchIdle_D60.48=all
SP2_CrouchIdle_D60.49=all
SP2_CrouchIdle_D60.50=all
SP2_CrouchIdle_D60.51=all
SP2_CrouchIdle_D60.52=all
SP2_CrouchIdle_D60.53=all
SP2_CrouchIdle_D60.54=all
SP2_CrouchIdle_D60.55=all
SP2_CrouchIdle_D60.56=all
SP2_CrouchIdle_D60.57=all
SP2_CrouchIdle_D60.58=all
SP2_CrouchIdle_D60.59=all
SP2_CrouchIdle_D60.60=all
SP2_CrouchIdle_D60.61=all
SP2_CrouchIdle_D60.62=all
SP2_CrouchIdle_D60.63=all
SP2_CrouchIdle_D60.64=all
SP2_CrouchIdle_D60.65=all
SP2_CrouchIdle_D60.66=all
SP2_CrouchIdle_D60.67=all
SP2_CrouchIdle_D60.68=all
SP2_CrouchIdle_D60.69=all
SP2_CrouchIdle_D60.70=all
SP2_CrouchIdle_D60.71=all
SP2_CrouchIdle_D60.72=all
SP2_CrouchIdle_D60.73=all
SP2_CrouchIdle_D60.74=all
SP2_CrouchIdle_D60.75=all
SP2_CrouchIdle_D60.76=all
SP2_CrouchIdle_D60.77=all
SP2_CrouchIdle_D60.78=all
SP2_CrouchIdle_D60.79=all
SP2_CrouchIdle_D60.80=all
SP2_CrouchIdle_D60.81=all
SP2_CrouchIdle_D60.82=all
SP2_CrouchIdle_D60.83=all
SP2_CrouchIdle_D60.84=all
SP2_CrouchIdle_D60.85=all
SP2_CrouchIdle_D60.86=all
SP2_CrouchIdle_D60.87=all
SP2_CrouchIdle_D60.88=all
SP2_CrouchIdle_D60.89=all
SP2_CrouchIdle_D60.90=all
SP2_CrouchIdle_D60.91=all
SP2_CrouchIdle_D60.92=all
SP2_CrouchIdle_D60.93=all
SP2_CrouchIdle_D60.94=all
SP2_CrouchIdle_D60.95=all
SP2_CrouchIdle_D60.96=all
SP2_CrouchIdle_D60.97=all
SP2_CrouchIdle_D60.98=all
SP2_CrouchIdle_D60.99=all
SP2_CrouchIdle_D60.100=all
SP2_CrouchIdle_D60.101=all
SP2_CrouchIdle_D60.102=all
SP2_CrouchIdle_D60.103=all
SP2_CrouchIdle_D60.104=all
SP2_CrouchIdle_D60.105=all
SP2_CrouchIdle_D60.106=all
SP2_CrouchIdle_D60.107=all
SP2_CrouchIdle_D60.108=all
SP2_CrouchIdle_D60.109=all
SP2_CrouchIdle_D60.110=all
SP2_CrouchIdle_D60.111=all
SP2_CrouchIdle_D60.112=all
SP2_CrouchIdle_D60.113=all
SP2_CrouchIdle_D60.114=all
SP2_CrouchIdle_D60.115=all
SP2_CrouchIdle_D60.116=all
SP2_CrouchIdle_D60.117=all
SP2_CrouchIdle_D60.118=all
SP2_CrouchIdle_D60.119=all
SP2_CrouchIdle_D60.120=all
SP2_CrouchIdle_D60.121=all
SP2_CrouchIdle_D60.122=all
SP2_CrouchIdle_D60.123=all
SP2_CrouchIdle_D60.124=all
SP2_CrouchIdle_D60.125=all
SP2_CrouchIdle_D60.126=all
SP2_CrouchIdle_D60.127=all
SP2_CrouchIdle_D60.128=all
SP2_CrouchIdle_D60.129=all
SP2_CrouchIdle_D60.130=all
SP2_CrouchIdle_D60.131=all
SP2_CrouchIdle_D60.132=all
SP2_CrouchIdle_D60.133=all
SP2_CrouchIdle_D60.134=all
SP2_CrouchIdle_D60.135=all
SP2_CrouchIdle_D60.136=all
SP2_CrouchIdle_D60.137=all
SP2_CrouchIdle_D60.138=all
SP2_CrouchIdle_D60.139=all
SP2_CrouchIdle_D60.140=all
SP2_CrouchIdle_D60.141=all
SP2_CrouchIdle_D60.142=all
SP2_CrouchIdle_D60.143=all
SP2_CrouchIdle_D60.144=all
SP2_CrouchIdle_D60.145=all
SP2_CrouchIdle_D60.146=all
SP2_CrouchIdle_D60.147=all
