
[RemoveTracks]
SP2_Absorption.1=all
SP2_Absorption.2=all
SP2_Absorption.3=all
SP2_Absorption.5=all
SP2_Absorption.21=all
SP2_Absorption.36=all
SP2_Absorption.40=all
SP2_Absorption.45=all
SP2_Absorption.46=all
SP2_Absorption.47=all
SP2_Absorption.48=all
SP2_Absorption.49=all
SP2_Absorption.50=all
SP2_Absorption.51=all
SP2_Absorption.52=all
SP2_Absorption.53=all
SP2_Absorption.54=all
SP2_Absorption.55=all
SP2_Absorption.56=all
SP2_Absorption.57=all
SP2_Absorption.58=all
SP2_Absorption.59=all
SP2_Absorption.60=all
SP2_Absorption.61=all
SP2_Absorption.62=all
SP2_Absorption.63=all
SP2_Absorption.64=all
SP2_Absorption.65=all
SP2_Absorption.66=all
SP2_Absorption.71=all
SP2_Absorption.72=all
SP2_Absorption.73=all
SP2_Absorption.74=all
SP2_Absorption.75=all
SP2_Absorption.76=all
SP2_Absorption.77=all
SP2_Absorption.78=all
SP2_Absorption.79=all
SP2_Absorption.80=all
SP2_Absorption.81=all
SP2_Absorption.82=all
SP2_Absorption.83=all
SP2_Absorption.84=all
SP2_Absorption.85=all
SP2_Absorption.86=all
SP2_Absorption.87=all
SP2_Absorption.88=all
SP2_Absorption.93=all
SP2_Absorption.94=all
SP2_Absorption.95=all
SP2_Absorption.96=all
SP2_Absorption.103=all
SP2_Absorption.104=all
SP2_Absorption.105=all
SP2_Absorption.106=all
SP2_Absorption.107=all
SP2_Absorption.108=all
SP2_Absorption.109=all
SP2_Absorption.110=all
SP2_Absorption.111=all
SP2_Absorption.124=all
SP2_Absorption.125=all
SP2_Absorption.126=all
SP2_Absorption.127=all
SP2_Absorption.132=all
SP2_Absorption.133=all
SP2_Absorption.134=all
SP2_Absorption.135=all
SP2_Absorption.136=all
SP2_Absorption.140=all
SP2_Absorption.141=all
SP2_Absorption.142=all
SP2_Absorption.143=all
