
[RemoveTracks]
SP2_StandIdle_D30.1=all
SP2_StandIdle_D30.2=all
SP2_StandIdle_D30.3=all
SP2_StandIdle_D30.4=all
SP2_StandIdle_D30.5=all
SP2_StandIdle_D30.37=all
SP2_StandIdle_D30.38=all
SP2_StandIdle_D30.39=all
SP2_StandIdle_D30.40=all
SP2_StandIdle_D30.41=all
SP2_StandIdle_D30.42=all
SP2_StandIdle_D30.43=all
SP2_StandIdle_D30.44=all
SP2_StandIdle_D30.45=all
SP2_StandIdle_D30.46=all
SP2_StandIdle_D30.47=all
SP2_StandIdle_D30.48=all
SP2_StandIdle_D30.49=all
SP2_StandIdle_D30.50=all
SP2_StandIdle_D30.51=all
SP2_StandIdle_D30.52=all
SP2_StandIdle_D30.53=all
SP2_StandIdle_D30.54=all
SP2_StandIdle_D30.55=all
SP2_StandIdle_D30.56=all
SP2_StandIdle_D30.57=all
SP2_StandIdle_D30.58=all
SP2_StandIdle_D30.59=all
SP2_StandIdle_D30.60=all
SP2_StandIdle_D30.61=all
SP2_StandIdle_D30.62=all
SP2_StandIdle_D30.63=all
SP2_StandIdle_D30.64=all
SP2_StandIdle_D30.65=all
SP2_StandIdle_D30.66=all
SP2_StandIdle_D30.67=all
SP2_StandIdle_D30.68=all
SP2_StandIdle_D30.69=all
SP2_StandIdle_D30.70=all
SP2_StandIdle_D30.71=all
SP2_StandIdle_D30.72=all
SP2_StandIdle_D30.73=all
SP2_StandIdle_D30.74=all
SP2_StandIdle_D30.75=all
SP2_StandIdle_D30.76=all
SP2_StandIdle_D30.77=all
SP2_StandIdle_D30.78=all
SP2_StandIdle_D30.79=all
SP2_StandIdle_D30.80=all
SP2_StandIdle_D30.81=all
SP2_StandIdle_D30.82=all
SP2_StandIdle_D30.83=all
SP2_StandIdle_D30.84=all
SP2_StandIdle_D30.85=all
SP2_StandIdle_D30.86=all
SP2_StandIdle_D30.87=all
SP2_StandIdle_D30.88=all
SP2_StandIdle_D30.89=all
SP2_StandIdle_D30.90=all
SP2_StandIdle_D30.91=all
SP2_StandIdle_D30.92=all
SP2_StandIdle_D30.93=all
SP2_StandIdle_D30.94=all
SP2_StandIdle_D30.95=all
SP2_StandIdle_D30.96=all
SP2_StandIdle_D30.97=all
SP2_StandIdle_D30.98=all
SP2_StandIdle_D30.99=all
SP2_StandIdle_D30.100=all
SP2_StandIdle_D30.101=all
SP2_StandIdle_D30.102=all
SP2_StandIdle_D30.103=all
SP2_StandIdle_D30.104=all
SP2_StandIdle_D30.105=all
SP2_StandIdle_D30.106=all
SP2_StandIdle_D30.107=all
SP2_StandIdle_D30.108=all
SP2_StandIdle_D30.109=all
SP2_StandIdle_D30.110=all
SP2_StandIdle_D30.111=all
SP2_StandIdle_D30.112=all
SP2_StandIdle_D30.113=all
SP2_StandIdle_D30.114=all
SP2_StandIdle_D30.115=all
SP2_StandIdle_D30.116=all
SP2_StandIdle_D30.117=all
SP2_StandIdle_D30.118=all
SP2_StandIdle_D30.119=all
SP2_StandIdle_D30.120=all
SP2_StandIdle_D30.121=all
SP2_StandIdle_D30.122=all
SP2_StandIdle_D30.123=all
SP2_StandIdle_D30.124=all
SP2_StandIdle_D30.125=all
SP2_StandIdle_D30.126=all
SP2_StandIdle_D30.127=all
SP2_StandIdle_D30.128=all
SP2_StandIdle_D30.129=all
SP2_StandIdle_D30.130=all
SP2_StandIdle_D30.131=all
SP2_StandIdle_D30.132=all
SP2_StandIdle_D30.133=all
SP2_StandIdle_D30.134=all
SP2_StandIdle_D30.135=all
SP2_StandIdle_D30.136=all
SP2_StandIdle_D30.137=all
SP2_StandIdle_D30.138=all
SP2_StandIdle_D30.139=all
SP2_StandIdle_D30.140=all
SP2_StandIdle_D30.141=all
SP2_StandIdle_D30.142=all
SP2_StandIdle_D30.143=all
SP2_StandIdle_D30.144=all
SP2_StandIdle_D30.145=all
SP2_StandIdle_D30.146=all
SP2_StandIdle_D30.147=all
