
[RemoveTracks]
SP2_StandIdle2.36=all
SP2_StandIdle2.45=all
SP2_StandIdle2.46=all
SP2_StandIdle2.47=all
SP2_StandIdle2.48=all
SP2_StandIdle2.49=all
SP2_StandIdle2.50=all
SP2_StandIdle2.51=all
SP2_StandIdle2.52=all
SP2_StandIdle2.53=all
SP2_StandIdle2.54=all
SP2_StandIdle2.55=all
SP2_StandIdle2.56=all
SP2_StandIdle2.57=all
SP2_StandIdle2.58=all
SP2_StandIdle2.59=all
SP2_StandIdle2.60=all
SP2_StandIdle2.61=all
SP2_StandIdle2.62=all
SP2_StandIdle2.63=all
SP2_StandIdle2.64=all
SP2_StandIdle2.65=all
SP2_StandIdle2.66=all
SP2_StandIdle2.67=all
SP2_StandIdle2.68=all
SP2_StandIdle2.69=all
SP2_StandIdle2.70=all
SP2_StandIdle2.71=all
SP2_StandIdle2.72=all
SP2_StandIdle2.73=all
SP2_StandIdle2.74=all
SP2_StandIdle2.75=all
SP2_StandIdle2.76=all
SP2_StandIdle2.77=all
SP2_StandIdle2.78=all
SP2_StandIdle2.79=all
SP2_StandIdle2.80=all
SP2_StandIdle2.81=all
SP2_StandIdle2.82=all
SP2_StandIdle2.83=all
SP2_StandIdle2.84=all
SP2_StandIdle2.85=all
SP2_StandIdle2.86=all
SP2_StandIdle2.87=all
SP2_StandIdle2.88=all
SP2_StandIdle2.89=all
SP2_StandIdle2.90=all
SP2_StandIdle2.91=all
SP2_StandIdle2.92=all
SP2_StandIdle2.93=all
SP2_StandIdle2.94=all
SP2_StandIdle2.95=all
SP2_StandIdle2.96=all
SP2_StandIdle2.97=all
SP2_StandIdle2.98=all
SP2_StandIdle2.99=all
SP2_StandIdle2.100=all
SP2_StandIdle2.101=all
SP2_StandIdle2.102=all
SP2_StandIdle2.103=all
SP2_StandIdle2.104=all
SP2_StandIdle2.105=all
SP2_StandIdle2.106=all
SP2_StandIdle2.108=all
SP2_StandIdle2.109=all
SP2_StandIdle2.110=all
SP2_StandIdle2.111=all
SP2_StandIdle2.112=all
SP2_StandIdle2.113=all
SP2_StandIdle2.114=all
SP2_StandIdle2.115=all
SP2_StandIdle2.116=all
SP2_StandIdle2.117=all
SP2_StandIdle2.118=all
SP2_StandIdle2.119=all
SP2_StandIdle2.120=all
SP2_StandIdle2.121=all
SP2_StandIdle2.122=all
SP2_StandIdle2.123=all
SP2_StandIdle2.124=all
SP2_StandIdle2.125=all
SP2_StandIdle2.126=all
SP2_StandIdle2.127=all
SP2_StandIdle2.128=all
SP2_StandIdle2.129=all
SP2_StandIdle2.130=all
SP2_StandIdle2.131=all
SP2_StandIdle2.132=all
SP2_StandIdle2.133=all
SP2_StandIdle2.134=all
SP2_StandIdle2.135=all
SP2_StandIdle2.136=all
SP2_StandIdle2.137=all
SP2_StandIdle2.138=all
SP2_StandIdle2.139=all
SP2_StandIdle2.140=all
SP2_StandIdle2.141=all
SP2_StandIdle2.142=all
SP2_StandIdle2.143=all
SP2_StandIdle2.144=all
SP2_StandIdle2.145=all
SP2_StandIdle2.146=all
SP2_StandIdle2.147=all
