
[RemoveTracks]
SP2_RunStop.36=all
SP2_RunStop.45=all
SP2_RunStop.46=all
SP2_RunStop.47=all
SP2_RunStop.48=all
SP2_RunStop.49=all
SP2_RunStop.50=all
SP2_RunStop.51=all
SP2_RunStop.52=all
SP2_RunStop.53=all
SP2_RunStop.54=all
SP2_RunStop.55=all
SP2_RunStop.56=all
SP2_RunStop.57=all
SP2_RunStop.58=all
SP2_RunStop.59=all
SP2_RunStop.60=all
SP2_RunStop.61=all
SP2_RunStop.62=all
SP2_RunStop.63=all
SP2_RunStop.64=all
SP2_RunStop.65=all
SP2_RunStop.66=all
SP2_RunStop.67=all
SP2_RunStop.68=all
SP2_RunStop.69=all
SP2_RunStop.70=all
SP2_RunStop.71=all
SP2_RunStop.72=all
SP2_RunStop.73=all
SP2_RunStop.74=all
SP2_RunStop.75=all
SP2_RunStop.76=all
SP2_RunStop.77=all
SP2_RunStop.78=all
SP2_RunStop.79=all
SP2_RunStop.80=all
SP2_RunStop.81=all
SP2_RunStop.82=all
SP2_RunStop.83=all
SP2_RunStop.84=all
SP2_RunStop.85=all
SP2_RunStop.86=all
SP2_RunStop.87=all
SP2_RunStop.88=all
SP2_RunStop.89=all
SP2_RunStop.90=all
SP2_RunStop.91=all
SP2_RunStop.92=all
SP2_RunStop.93=all
SP2_RunStop.94=all
SP2_RunStop.95=all
SP2_RunStop.96=all
SP2_RunStop.97=all
SP2_RunStop.98=all
SP2_RunStop.99=all
SP2_RunStop.100=all
SP2_RunStop.101=all
SP2_RunStop.102=all
SP2_RunStop.103=all
SP2_RunStop.104=all
SP2_RunStop.105=all
SP2_RunStop.106=all
SP2_RunStop.108=all
SP2_RunStop.109=all
SP2_RunStop.110=all
SP2_RunStop.111=all
SP2_RunStop.112=all
SP2_RunStop.113=all
SP2_RunStop.114=all
SP2_RunStop.115=all
SP2_RunStop.116=all
SP2_RunStop.117=all
SP2_RunStop.118=all
SP2_RunStop.119=all
SP2_RunStop.120=all
SP2_RunStop.121=all
SP2_RunStop.122=all
SP2_RunStop.123=all
SP2_RunStop.124=all
SP2_RunStop.125=all
SP2_RunStop.126=all
SP2_RunStop.127=all
SP2_RunStop.128=all
SP2_RunStop.129=all
SP2_RunStop.130=all
SP2_RunStop.131=all
SP2_RunStop.132=all
SP2_RunStop.133=all
SP2_RunStop.134=all
SP2_RunStop.135=all
SP2_RunStop.136=all
SP2_RunStop.137=all
SP2_RunStop.138=all
SP2_RunStop.139=all
SP2_RunStop.140=all
SP2_RunStop.141=all
SP2_RunStop.142=all
SP2_RunStop.143=all
SP2_RunStop.144=all
SP2_RunStop.145=all
SP2_RunStop.146=all
SP2_RunStop.147=all
