
[RemoveTracks]
SP2_StandIdle_D.1=all
SP2_StandIdle_D.2=all
SP2_StandIdle_D.3=all
SP2_StandIdle_D.4=all
SP2_StandIdle_D.5=all
SP2_StandIdle_D.37=all
SP2_StandIdle_D.38=all
SP2_StandIdle_D.39=all
SP2_StandIdle_D.40=all
SP2_StandIdle_D.41=all
SP2_StandIdle_D.42=all
SP2_StandIdle_D.43=all
SP2_StandIdle_D.44=all
SP2_StandIdle_D.45=all
SP2_StandIdle_D.46=all
SP2_StandIdle_D.47=all
SP2_StandIdle_D.48=all
SP2_StandIdle_D.49=all
SP2_StandIdle_D.50=all
SP2_StandIdle_D.51=all
SP2_StandIdle_D.52=all
SP2_StandIdle_D.53=all
SP2_StandIdle_D.54=all
SP2_StandIdle_D.55=all
SP2_StandIdle_D.56=all
SP2_StandIdle_D.57=all
SP2_StandIdle_D.58=all
SP2_StandIdle_D.59=all
SP2_StandIdle_D.60=all
SP2_StandIdle_D.61=all
SP2_StandIdle_D.62=all
SP2_StandIdle_D.63=all
SP2_StandIdle_D.64=all
SP2_StandIdle_D.65=all
SP2_StandIdle_D.66=all
SP2_StandIdle_D.67=all
SP2_StandIdle_D.68=all
SP2_StandIdle_D.69=all
SP2_StandIdle_D.70=all
SP2_StandIdle_D.71=all
SP2_StandIdle_D.72=all
SP2_StandIdle_D.73=all
SP2_StandIdle_D.74=all
SP2_StandIdle_D.75=all
SP2_StandIdle_D.76=all
SP2_StandIdle_D.77=all
SP2_StandIdle_D.78=all
SP2_StandIdle_D.79=all
SP2_StandIdle_D.80=all
SP2_StandIdle_D.81=all
SP2_StandIdle_D.82=all
SP2_StandIdle_D.83=all
SP2_StandIdle_D.84=all
SP2_StandIdle_D.85=all
SP2_StandIdle_D.86=all
SP2_StandIdle_D.87=all
SP2_StandIdle_D.88=all
SP2_StandIdle_D.89=all
SP2_StandIdle_D.90=all
SP2_StandIdle_D.91=all
SP2_StandIdle_D.92=all
SP2_StandIdle_D.93=all
SP2_StandIdle_D.94=all
SP2_StandIdle_D.95=all
SP2_StandIdle_D.96=all
SP2_StandIdle_D.97=all
SP2_StandIdle_D.98=all
SP2_StandIdle_D.99=all
SP2_StandIdle_D.100=all
SP2_StandIdle_D.101=all
SP2_StandIdle_D.102=all
SP2_StandIdle_D.103=all
SP2_StandIdle_D.104=all
SP2_StandIdle_D.105=all
SP2_StandIdle_D.106=all
SP2_StandIdle_D.107=all
SP2_StandIdle_D.108=all
SP2_StandIdle_D.109=all
SP2_StandIdle_D.110=all
SP2_StandIdle_D.111=all
SP2_StandIdle_D.112=all
SP2_StandIdle_D.113=all
SP2_StandIdle_D.114=all
SP2_StandIdle_D.115=all
SP2_StandIdle_D.116=all
SP2_StandIdle_D.117=all
SP2_StandIdle_D.118=all
SP2_StandIdle_D.119=all
SP2_StandIdle_D.120=all
SP2_StandIdle_D.121=all
SP2_StandIdle_D.122=all
SP2_StandIdle_D.123=all
SP2_StandIdle_D.124=all
SP2_StandIdle_D.125=all
SP2_StandIdle_D.126=all
SP2_StandIdle_D.127=all
SP2_StandIdle_D.128=all
SP2_StandIdle_D.129=all
SP2_StandIdle_D.130=all
SP2_StandIdle_D.131=all
SP2_StandIdle_D.132=all
SP2_StandIdle_D.133=all
SP2_StandIdle_D.134=all
SP2_StandIdle_D.135=all
SP2_StandIdle_D.136=all
SP2_StandIdle_D.137=all
SP2_StandIdle_D.138=all
SP2_StandIdle_D.139=all
SP2_StandIdle_D.140=all
SP2_StandIdle_D.141=all
SP2_StandIdle_D.142=all
SP2_StandIdle_D.143=all
SP2_StandIdle_D.144=all
SP2_StandIdle_D.145=all
SP2_StandIdle_D.146=all
SP2_StandIdle_D.147=all
