
[RemoveTracks]
SP2_CrouchRun_L45.36=all
SP2_CrouchRun_L45.45=all
SP2_CrouchRun_L45.46=all
SP2_CrouchRun_L45.47=all
SP2_CrouchRun_L45.48=all
SP2_CrouchRun_L45.49=all
SP2_CrouchRun_L45.50=all
SP2_CrouchRun_L45.51=all
SP2_CrouchRun_L45.52=all
SP2_CrouchRun_L45.53=all
SP2_CrouchRun_L45.54=all
SP2_CrouchRun_L45.55=all
SP2_CrouchRun_L45.56=all
SP2_CrouchRun_L45.57=all
SP2_CrouchRun_L45.58=all
SP2_CrouchRun_L45.59=all
SP2_CrouchRun_L45.60=all
SP2_CrouchRun_L45.61=all
SP2_CrouchRun_L45.62=all
SP2_CrouchRun_L45.63=all
SP2_CrouchRun_L45.64=all
SP2_CrouchRun_L45.65=all
SP2_CrouchRun_L45.66=all
SP2_CrouchRun_L45.67=all
SP2_CrouchRun_L45.68=all
SP2_CrouchRun_L45.69=all
SP2_CrouchRun_L45.70=all
SP2_CrouchRun_L45.71=all
SP2_CrouchRun_L45.72=all
SP2_CrouchRun_L45.73=all
SP2_CrouchRun_L45.74=all
SP2_CrouchRun_L45.75=all
SP2_CrouchRun_L45.76=all
SP2_CrouchRun_L45.77=all
SP2_CrouchRun_L45.78=all
SP2_CrouchRun_L45.79=all
SP2_CrouchRun_L45.80=all
SP2_CrouchRun_L45.81=all
SP2_CrouchRun_L45.82=all
SP2_CrouchRun_L45.83=all
SP2_CrouchRun_L45.84=all
SP2_CrouchRun_L45.85=all
SP2_CrouchRun_L45.86=all
SP2_CrouchRun_L45.87=all
SP2_CrouchRun_L45.88=all
SP2_CrouchRun_L45.89=all
SP2_CrouchRun_L45.90=all
SP2_CrouchRun_L45.91=all
SP2_CrouchRun_L45.92=all
SP2_CrouchRun_L45.93=all
SP2_CrouchRun_L45.94=all
SP2_CrouchRun_L45.95=all
SP2_CrouchRun_L45.96=all
SP2_CrouchRun_L45.97=all
SP2_CrouchRun_L45.98=all
SP2_CrouchRun_L45.99=all
SP2_CrouchRun_L45.100=all
SP2_CrouchRun_L45.101=all
SP2_CrouchRun_L45.102=all
SP2_CrouchRun_L45.103=all
SP2_CrouchRun_L45.104=all
SP2_CrouchRun_L45.105=all
SP2_CrouchRun_L45.106=all
SP2_CrouchRun_L45.108=all
SP2_CrouchRun_L45.109=all
SP2_CrouchRun_L45.110=all
SP2_CrouchRun_L45.111=all
SP2_CrouchRun_L45.112=all
SP2_CrouchRun_L45.113=all
SP2_CrouchRun_L45.114=all
SP2_CrouchRun_L45.115=all
SP2_CrouchRun_L45.116=all
SP2_CrouchRun_L45.117=all
SP2_CrouchRun_L45.118=all
SP2_CrouchRun_L45.119=all
SP2_CrouchRun_L45.120=all
SP2_CrouchRun_L45.121=all
SP2_CrouchRun_L45.122=all
SP2_CrouchRun_L45.123=all
SP2_CrouchRun_L45.124=all
SP2_CrouchRun_L45.125=all
SP2_CrouchRun_L45.126=all
SP2_CrouchRun_L45.127=all
SP2_CrouchRun_L45.128=all
SP2_CrouchRun_L45.129=all
SP2_CrouchRun_L45.130=all
SP2_CrouchRun_L45.131=all
SP2_CrouchRun_L45.132=all
SP2_CrouchRun_L45.133=all
SP2_CrouchRun_L45.134=all
SP2_CrouchRun_L45.135=all
SP2_CrouchRun_L45.136=all
SP2_CrouchRun_L45.137=all
SP2_CrouchRun_L45.138=all
SP2_CrouchRun_L45.139=all
SP2_CrouchRun_L45.140=all
SP2_CrouchRun_L45.141=all
SP2_CrouchRun_L45.142=all
SP2_CrouchRun_L45.143=all
SP2_CrouchRun_L45.144=all
SP2_CrouchRun_L45.145=all
SP2_CrouchRun_L45.146=all
SP2_CrouchRun_L45.147=all
