
[RemoveTracks]
SP2_StandIdle2_D.1=all
SP2_StandIdle2_D.37=all
SP2_StandIdle2_D.38=all
SP2_StandIdle2_D.43=all
SP2_StandIdle2_D.44=all
SP2_StandIdle2_D.48=all
SP2_StandIdle2_D.49=all
SP2_StandIdle2_D.50=all
SP2_StandIdle2_D.67=all
SP2_StandIdle2_D.68=all
SP2_StandIdle2_D.71=all
SP2_StandIdle2_D.72=all
SP2_StandIdle2_D.73=all
SP2_StandIdle2_D.74=all
SP2_StandIdle2_D.75=all
SP2_StandIdle2_D.76=all
SP2_StandIdle2_D.77=all
SP2_StandIdle2_D.78=all
SP2_StandIdle2_D.79=all
SP2_StandIdle2_D.80=all
SP2_StandIdle2_D.81=all
SP2_StandIdle2_D.82=all
SP2_StandIdle2_D.83=all
SP2_StandIdle2_D.84=all
SP2_StandIdle2_D.85=all
SP2_StandIdle2_D.86=all
SP2_StandIdle2_D.87=all
SP2_StandIdle2_D.88=all
SP2_StandIdle2_D.89=all
SP2_StandIdle2_D.90=all
SP2_StandIdle2_D.93=all
SP2_StandIdle2_D.94=all
SP2_StandIdle2_D.95=all
SP2_StandIdle2_D.96=all
SP2_StandIdle2_D.97=all
SP2_StandIdle2_D.99=all
SP2_StandIdle2_D.100=all
SP2_StandIdle2_D.103=all
SP2_StandIdle2_D.104=all
SP2_StandIdle2_D.105=all
SP2_StandIdle2_D.106=all
SP2_StandIdle2_D.114=all
SP2_StandIdle2_D.115=all
SP2_StandIdle2_D.116=all
SP2_StandIdle2_D.117=all
SP2_StandIdle2_D.118=all
SP2_StandIdle2_D.119=all
SP2_StandIdle2_D.128=all
SP2_StandIdle2_D.129=all
SP2_StandIdle2_D.132=all
SP2_StandIdle2_D.133=all
SP2_StandIdle2_D.134=all
SP2_StandIdle2_D.140=all
SP2_StandIdle2_D.141=all
SP2_StandIdle2_D.142=all
SP2_StandIdle2_D.143=all
SP2_StandIdle2_D.144=all
SP2_StandIdle2_D.145=all
