
[RemoveTracks]
SP2_FireStand.1=all
SP2_FireStand.2=all
SP2_FireStand.37=all
SP2_FireStand.38=all
SP2_FireStand.39=all
SP2_FireStand.40=all
SP2_FireStand.41=all
SP2_FireStand.42=all
SP2_FireStand.43=all
SP2_FireStand.44=all
SP2_FireStand.48=all
SP2_FireStand.49=all
SP2_FireStand.50=all
SP2_FireStand.67=all
SP2_FireStand.68=all
SP2_FireStand.69=all
SP2_FireStand.70=all
SP2_FireStand.71=all
SP2_FireStand.72=all
SP2_FireStand.73=all
SP2_FireStand.74=all
SP2_FireStand.75=all
SP2_FireStand.76=all
SP2_FireStand.77=all
SP2_FireStand.78=all
SP2_FireStand.79=all
SP2_FireStand.80=all
SP2_FireStand.81=all
SP2_FireStand.82=all
SP2_FireStand.83=all
SP2_FireStand.84=all
SP2_FireStand.85=all
SP2_FireStand.86=all
SP2_FireStand.87=all
SP2_FireStand.88=all
SP2_FireStand.89=all
SP2_FireStand.90=all
SP2_FireStand.91=all
SP2_FireStand.92=all
SP2_FireStand.93=all
SP2_FireStand.94=all
SP2_FireStand.95=all
SP2_FireStand.96=all
SP2_FireStand.97=all
SP2_FireStand.98=all
SP2_FireStand.99=all
SP2_FireStand.100=all
SP2_FireStand.101=all
SP2_FireStand.102=all
SP2_FireStand.103=all
SP2_FireStand.104=all
SP2_FireStand.105=all
SP2_FireStand.106=all
SP2_FireStand.112=all
SP2_FireStand.113=all
SP2_FireStand.114=all
SP2_FireStand.115=all
SP2_FireStand.116=all
SP2_FireStand.117=all
SP2_FireStand.118=all
SP2_FireStand.119=all
SP2_FireStand.120=all
SP2_FireStand.121=all
SP2_FireStand.122=all
SP2_FireStand.123=all
SP2_FireStand.128=all
SP2_FireStand.129=all
SP2_FireStand.130=all
SP2_FireStand.131=all
SP2_FireStand.132=all
SP2_FireStand.133=all
SP2_FireStand.134=all
SP2_FireStand.137=all
SP2_FireStand.138=all
SP2_FireStand.139=all
SP2_FireStand.140=all
SP2_FireStand.141=all
SP2_FireStand.142=all
SP2_FireStand.143=all
SP2_FireStand.144=all
SP2_FireStand.145=all
SP2_FireStand.146=all
SP2_FireStand.147=all
