
[RemoveTracks]
SP2_Free_CrouchToStand.36=all
SP2_Free_CrouchToStand.45=all
SP2_Free_CrouchToStand.46=all
SP2_Free_CrouchToStand.47=all
SP2_Free_CrouchToStand.48=all
SP2_Free_CrouchToStand.49=all
SP2_Free_CrouchToStand.50=all
SP2_Free_CrouchToStand.51=all
SP2_Free_CrouchToStand.52=all
SP2_Free_CrouchToStand.53=all
SP2_Free_CrouchToStand.54=all
SP2_Free_CrouchToStand.55=all
SP2_Free_CrouchToStand.56=all
SP2_Free_CrouchToStand.57=all
SP2_Free_CrouchToStand.58=all
SP2_Free_CrouchToStand.59=all
SP2_Free_CrouchToStand.60=all
SP2_Free_CrouchToStand.61=all
SP2_Free_CrouchToStand.62=all
SP2_Free_CrouchToStand.63=all
SP2_Free_CrouchToStand.64=all
SP2_Free_CrouchToStand.65=all
SP2_Free_CrouchToStand.66=all
SP2_Free_CrouchToStand.67=all
SP2_Free_CrouchToStand.68=all
SP2_Free_CrouchToStand.69=all
SP2_Free_CrouchToStand.70=all
SP2_Free_CrouchToStand.71=all
SP2_Free_CrouchToStand.72=all
SP2_Free_CrouchToStand.73=all
SP2_Free_CrouchToStand.74=all
SP2_Free_CrouchToStand.75=all
SP2_Free_CrouchToStand.76=all
SP2_Free_CrouchToStand.77=all
SP2_Free_CrouchToStand.78=all
SP2_Free_CrouchToStand.79=all
SP2_Free_CrouchToStand.80=all
SP2_Free_CrouchToStand.81=all
SP2_Free_CrouchToStand.82=all
SP2_Free_CrouchToStand.83=all
SP2_Free_CrouchToStand.84=all
SP2_Free_CrouchToStand.85=all
SP2_Free_CrouchToStand.86=all
SP2_Free_CrouchToStand.87=all
SP2_Free_CrouchToStand.88=all
SP2_Free_CrouchToStand.89=all
SP2_Free_CrouchToStand.90=all
SP2_Free_CrouchToStand.91=all
SP2_Free_CrouchToStand.92=all
SP2_Free_CrouchToStand.93=all
SP2_Free_CrouchToStand.94=all
SP2_Free_CrouchToStand.95=all
SP2_Free_CrouchToStand.96=all
SP2_Free_CrouchToStand.97=all
SP2_Free_CrouchToStand.98=all
SP2_Free_CrouchToStand.99=all
SP2_Free_CrouchToStand.100=all
SP2_Free_CrouchToStand.101=all
SP2_Free_CrouchToStand.102=all
SP2_Free_CrouchToStand.103=all
SP2_Free_CrouchToStand.104=all
SP2_Free_CrouchToStand.105=all
SP2_Free_CrouchToStand.106=all
SP2_Free_CrouchToStand.108=all
SP2_Free_CrouchToStand.109=all
SP2_Free_CrouchToStand.110=all
SP2_Free_CrouchToStand.111=all
SP2_Free_CrouchToStand.112=all
SP2_Free_CrouchToStand.113=all
SP2_Free_CrouchToStand.114=all
SP2_Free_CrouchToStand.115=all
SP2_Free_CrouchToStand.116=all
SP2_Free_CrouchToStand.117=all
SP2_Free_CrouchToStand.118=all
SP2_Free_CrouchToStand.119=all
SP2_Free_CrouchToStand.120=all
SP2_Free_CrouchToStand.121=all
SP2_Free_CrouchToStand.122=all
SP2_Free_CrouchToStand.123=all
SP2_Free_CrouchToStand.124=all
SP2_Free_CrouchToStand.125=all
SP2_Free_CrouchToStand.126=all
SP2_Free_CrouchToStand.127=all
SP2_Free_CrouchToStand.128=all
SP2_Free_CrouchToStand.129=all
SP2_Free_CrouchToStand.130=all
SP2_Free_CrouchToStand.131=all
SP2_Free_CrouchToStand.132=all
SP2_Free_CrouchToStand.133=all
SP2_Free_CrouchToStand.134=all
SP2_Free_CrouchToStand.135=all
SP2_Free_CrouchToStand.136=all
SP2_Free_CrouchToStand.137=all
SP2_Free_CrouchToStand.138=all
SP2_Free_CrouchToStand.139=all
SP2_Free_CrouchToStand.140=all
SP2_Free_CrouchToStand.141=all
SP2_Free_CrouchToStand.142=all
SP2_Free_CrouchToStand.143=all
SP2_Free_CrouchToStand.144=all
SP2_Free_CrouchToStand.145=all
SP2_Free_CrouchToStand.146=all
SP2_Free_CrouchToStand.147=all
