
[RemoveTracks]
MA_CrouchToStand.36=all
MA_CrouchToStand.45=all
MA_CrouchToStand.46=all
MA_CrouchToStand.47=all
MA_CrouchToStand.48=all
MA_CrouchToStand.49=all
MA_CrouchToStand.50=all
MA_CrouchToStand.51=all
MA_CrouchToStand.52=all
MA_CrouchToStand.53=all
MA_CrouchToStand.54=all
MA_CrouchToStand.55=all
MA_CrouchToStand.56=all
MA_CrouchToStand.57=all
MA_CrouchToStand.58=all
MA_CrouchToStand.59=all
MA_CrouchToStand.60=all
MA_CrouchToStand.61=all
MA_CrouchToStand.62=all
MA_CrouchToStand.63=all
MA_CrouchToStand.64=all
MA_CrouchToStand.65=all
MA_CrouchToStand.66=all
MA_CrouchToStand.67=all
MA_CrouchToStand.68=all
MA_CrouchToStand.69=all
MA_CrouchToStand.70=all
MA_CrouchToStand.71=all
MA_CrouchToStand.72=all
MA_CrouchToStand.73=all
MA_CrouchToStand.74=all
MA_CrouchToStand.75=all
MA_CrouchToStand.76=all
MA_CrouchToStand.77=all
MA_CrouchToStand.78=all
MA_CrouchToStand.79=all
MA_CrouchToStand.80=all
MA_CrouchToStand.81=all
MA_CrouchToStand.82=all
MA_CrouchToStand.83=all
MA_CrouchToStand.84=all
MA_CrouchToStand.85=all
MA_CrouchToStand.86=all
MA_CrouchToStand.87=all
MA_CrouchToStand.88=all
MA_CrouchToStand.89=all
MA_CrouchToStand.90=all
MA_CrouchToStand.91=all
MA_CrouchToStand.92=all
MA_CrouchToStand.93=all
MA_CrouchToStand.94=all
MA_CrouchToStand.95=all
MA_CrouchToStand.96=all
MA_CrouchToStand.97=all
MA_CrouchToStand.98=all
MA_CrouchToStand.99=all
MA_CrouchToStand.100=all
MA_CrouchToStand.101=all
MA_CrouchToStand.102=all
MA_CrouchToStand.103=all
MA_CrouchToStand.104=all
MA_CrouchToStand.105=all
MA_CrouchToStand.106=all
MA_CrouchToStand.107=all
MA_CrouchToStand.108=all
MA_CrouchToStand.109=all
MA_CrouchToStand.110=all
MA_CrouchToStand.111=all
MA_CrouchToStand.112=all
MA_CrouchToStand.113=all
MA_CrouchToStand.114=all
MA_CrouchToStand.115=all
MA_CrouchToStand.116=all
MA_CrouchToStand.117=all
MA_CrouchToStand.118=all
MA_CrouchToStand.119=all
MA_CrouchToStand.120=all
MA_CrouchToStand.121=all
MA_CrouchToStand.122=all
MA_CrouchToStand.123=all
MA_CrouchToStand.124=all
MA_CrouchToStand.125=all
MA_CrouchToStand.126=all
MA_CrouchToStand.127=all
MA_CrouchToStand.128=all
MA_CrouchToStand.129=all
MA_CrouchToStand.130=all
MA_CrouchToStand.131=all
MA_CrouchToStand.132=all
MA_CrouchToStand.133=all
MA_CrouchToStand.134=all
MA_CrouchToStand.135=all
MA_CrouchToStand.136=all
MA_CrouchToStand.137=all
MA_CrouchToStand.138=all
MA_CrouchToStand.139=all
MA_CrouchToStand.140=all
MA_CrouchToStand.141=all
MA_CrouchToStand.142=all
MA_CrouchToStand.143=all
MA_CrouchToStand.144=all
MA_CrouchToStand.145=all
MA_CrouchToStand.146=all
MA_CrouchToStand.147=all
