
[RemoveTracks]
MA_CrouchIdle.36=all
MA_CrouchIdle.45=all
MA_CrouchIdle.46=all
MA_CrouchIdle.47=all
MA_CrouchIdle.48=all
MA_CrouchIdle.49=all
MA_CrouchIdle.50=all
MA_CrouchIdle.51=all
MA_CrouchIdle.52=all
MA_CrouchIdle.53=all
MA_CrouchIdle.54=all
MA_CrouchIdle.55=all
MA_CrouchIdle.56=all
MA_CrouchIdle.57=all
MA_CrouchIdle.58=all
MA_CrouchIdle.59=all
MA_CrouchIdle.60=all
MA_CrouchIdle.61=all
MA_CrouchIdle.62=all
MA_CrouchIdle.63=all
MA_CrouchIdle.64=all
MA_CrouchIdle.65=all
MA_CrouchIdle.66=all
MA_CrouchIdle.67=all
MA_CrouchIdle.68=all
MA_CrouchIdle.69=all
MA_CrouchIdle.70=all
MA_CrouchIdle.71=all
MA_CrouchIdle.72=all
MA_CrouchIdle.73=all
MA_CrouchIdle.74=all
MA_CrouchIdle.75=all
MA_CrouchIdle.76=all
MA_CrouchIdle.77=all
MA_CrouchIdle.78=all
MA_CrouchIdle.79=all
MA_CrouchIdle.80=all
MA_CrouchIdle.81=all
MA_CrouchIdle.82=all
MA_CrouchIdle.83=all
MA_CrouchIdle.84=all
MA_CrouchIdle.85=all
MA_CrouchIdle.86=all
MA_CrouchIdle.87=all
MA_CrouchIdle.88=all
MA_CrouchIdle.89=all
MA_CrouchIdle.90=all
MA_CrouchIdle.91=all
MA_CrouchIdle.92=all
MA_CrouchIdle.93=all
MA_CrouchIdle.94=all
MA_CrouchIdle.95=all
MA_CrouchIdle.96=all
MA_CrouchIdle.97=all
MA_CrouchIdle.98=all
MA_CrouchIdle.99=all
MA_CrouchIdle.100=all
MA_CrouchIdle.101=all
MA_CrouchIdle.102=all
MA_CrouchIdle.103=all
MA_CrouchIdle.104=all
MA_CrouchIdle.105=all
MA_CrouchIdle.106=all
MA_CrouchIdle.107=all
MA_CrouchIdle.108=all
MA_CrouchIdle.109=all
MA_CrouchIdle.110=all
MA_CrouchIdle.111=all
MA_CrouchIdle.112=all
MA_CrouchIdle.113=all
MA_CrouchIdle.114=all
MA_CrouchIdle.115=all
MA_CrouchIdle.116=all
MA_CrouchIdle.117=all
MA_CrouchIdle.118=all
MA_CrouchIdle.119=all
MA_CrouchIdle.120=all
MA_CrouchIdle.121=all
MA_CrouchIdle.122=all
MA_CrouchIdle.123=all
MA_CrouchIdle.124=all
MA_CrouchIdle.125=all
MA_CrouchIdle.126=all
MA_CrouchIdle.127=all
MA_CrouchIdle.128=all
MA_CrouchIdle.129=all
MA_CrouchIdle.130=all
MA_CrouchIdle.131=all
MA_CrouchIdle.132=all
MA_CrouchIdle.133=all
MA_CrouchIdle.134=all
MA_CrouchIdle.135=all
MA_CrouchIdle.136=all
MA_CrouchIdle.137=all
MA_CrouchIdle.138=all
MA_CrouchIdle.139=all
MA_CrouchIdle.140=all
MA_CrouchIdle.141=all
MA_CrouchIdle.142=all
MA_CrouchIdle.143=all
MA_CrouchIdle.144=all
MA_CrouchIdle.145=all
MA_CrouchIdle.146=all
MA_CrouchIdle.147=all
