
[RemoveTracks]
MA_JumpRising.36=all
MA_JumpRising.45=all
MA_JumpRising.46=all
MA_JumpRising.47=all
MA_JumpRising.48=all
MA_JumpRising.49=all
MA_JumpRising.50=all
MA_JumpRising.51=all
MA_JumpRising.52=all
MA_JumpRising.53=all
MA_JumpRising.54=all
MA_JumpRising.55=all
MA_JumpRising.56=all
MA_JumpRising.57=all
MA_JumpRising.58=all
MA_JumpRising.59=all
MA_JumpRising.60=all
MA_JumpRising.61=all
MA_JumpRising.62=all
MA_JumpRising.63=all
MA_JumpRising.64=all
MA_JumpRising.65=all
MA_JumpRising.66=all
MA_JumpRising.67=all
MA_JumpRising.68=all
MA_JumpRising.69=all
MA_JumpRising.70=all
MA_JumpRising.71=all
MA_JumpRising.72=all
MA_JumpRising.73=all
MA_JumpRising.74=all
MA_JumpRising.75=all
MA_JumpRising.76=all
MA_JumpRising.77=all
MA_JumpRising.78=all
MA_JumpRising.79=all
MA_JumpRising.80=all
MA_JumpRising.81=all
MA_JumpRising.82=all
MA_JumpRising.83=all
MA_JumpRising.84=all
MA_JumpRising.85=all
MA_JumpRising.86=all
MA_JumpRising.87=all
MA_JumpRising.88=all
MA_JumpRising.89=all
MA_JumpRising.90=all
MA_JumpRising.91=all
MA_JumpRising.92=all
MA_JumpRising.93=all
MA_JumpRising.94=all
MA_JumpRising.95=all
MA_JumpRising.96=all
MA_JumpRising.97=all
MA_JumpRising.98=all
MA_JumpRising.99=all
MA_JumpRising.100=all
MA_JumpRising.101=all
MA_JumpRising.102=all
MA_JumpRising.103=all
MA_JumpRising.104=all
MA_JumpRising.105=all
MA_JumpRising.106=all
MA_JumpRising.108=all
MA_JumpRising.109=all
MA_JumpRising.110=all
MA_JumpRising.111=all
MA_JumpRising.112=all
MA_JumpRising.113=all
MA_JumpRising.114=all
MA_JumpRising.115=all
MA_JumpRising.116=all
MA_JumpRising.117=all
MA_JumpRising.118=all
MA_JumpRising.119=all
MA_JumpRising.120=all
MA_JumpRising.121=all
MA_JumpRising.122=all
MA_JumpRising.123=all
MA_JumpRising.124=all
MA_JumpRising.125=all
MA_JumpRising.126=all
MA_JumpRising.127=all
MA_JumpRising.128=all
MA_JumpRising.129=all
MA_JumpRising.130=all
MA_JumpRising.131=all
MA_JumpRising.132=all
MA_JumpRising.133=all
MA_JumpRising.134=all
MA_JumpRising.135=all
MA_JumpRising.136=all
MA_JumpRising.137=all
MA_JumpRising.138=all
MA_JumpRising.139=all
MA_JumpRising.140=all
MA_JumpRising.141=all
MA_JumpRising.142=all
MA_JumpRising.143=all
MA_JumpRising.144=all
MA_JumpRising.145=all
MA_JumpRising.146=all
MA_JumpRising.147=all
