
[RemoveTracks]
MA_JumpTop.36=all
MA_JumpTop.45=all
MA_JumpTop.46=all
MA_JumpTop.47=all
MA_JumpTop.48=all
MA_JumpTop.49=all
MA_JumpTop.50=all
MA_JumpTop.51=all
MA_JumpTop.52=all
MA_JumpTop.53=all
MA_JumpTop.54=all
MA_JumpTop.55=all
MA_JumpTop.56=all
MA_JumpTop.57=all
MA_JumpTop.58=all
MA_JumpTop.59=all
MA_JumpTop.60=all
MA_JumpTop.61=all
MA_JumpTop.62=all
MA_JumpTop.63=all
MA_JumpTop.64=all
MA_JumpTop.65=all
MA_JumpTop.66=all
MA_JumpTop.67=all
MA_JumpTop.68=all
MA_JumpTop.69=all
MA_JumpTop.70=all
MA_JumpTop.71=all
MA_JumpTop.72=all
MA_JumpTop.73=all
MA_JumpTop.74=all
MA_JumpTop.75=all
MA_JumpTop.76=all
MA_JumpTop.77=all
MA_JumpTop.78=all
MA_JumpTop.79=all
MA_JumpTop.80=all
MA_JumpTop.81=all
MA_JumpTop.82=all
MA_JumpTop.83=all
MA_JumpTop.84=all
MA_JumpTop.85=all
MA_JumpTop.86=all
MA_JumpTop.87=all
MA_JumpTop.88=all
MA_JumpTop.89=all
MA_JumpTop.90=all
MA_JumpTop.91=all
MA_JumpTop.92=all
MA_JumpTop.93=all
MA_JumpTop.94=all
MA_JumpTop.95=all
MA_JumpTop.96=all
MA_JumpTop.97=all
MA_JumpTop.98=all
MA_JumpTop.99=all
MA_JumpTop.100=all
MA_JumpTop.101=all
MA_JumpTop.102=all
MA_JumpTop.103=all
MA_JumpTop.104=all
MA_JumpTop.105=all
MA_JumpTop.106=all
MA_JumpTop.108=all
MA_JumpTop.109=all
MA_JumpTop.110=all
MA_JumpTop.111=all
MA_JumpTop.112=all
MA_JumpTop.113=all
MA_JumpTop.114=all
MA_JumpTop.115=all
MA_JumpTop.116=all
MA_JumpTop.117=all
MA_JumpTop.118=all
MA_JumpTop.119=all
MA_JumpTop.120=all
MA_JumpTop.121=all
MA_JumpTop.122=all
MA_JumpTop.123=all
MA_JumpTop.124=all
MA_JumpTop.125=all
MA_JumpTop.126=all
MA_JumpTop.127=all
MA_JumpTop.128=all
MA_JumpTop.129=all
MA_JumpTop.130=all
MA_JumpTop.131=all
MA_JumpTop.132=all
MA_JumpTop.133=all
MA_JumpTop.134=all
MA_JumpTop.135=all
MA_JumpTop.136=all
MA_JumpTop.137=all
MA_JumpTop.138=all
MA_JumpTop.139=all
MA_JumpTop.140=all
MA_JumpTop.141=all
MA_JumpTop.142=all
MA_JumpTop.143=all
MA_JumpTop.144=all
MA_JumpTop.145=all
MA_JumpTop.146=all
MA_JumpTop.147=all
