
[RemoveTracks]
MA_StandIdle_D.1=all
MA_StandIdle_D.9=all
MA_StandIdle_D.10=all
MA_StandIdle_D.11=all
MA_StandIdle_D.12=all
MA_StandIdle_D.13=all
MA_StandIdle_D.14=all
MA_StandIdle_D.15=all
MA_StandIdle_D.16=all
MA_StandIdle_D.17=all
MA_StandIdle_D.18=all
MA_StandIdle_D.19=all
MA_StandIdle_D.20=all
MA_StandIdle_D.24=all
MA_StandIdle_D.25=all
MA_StandIdle_D.26=all
MA_StandIdle_D.27=all
MA_StandIdle_D.28=all
MA_StandIdle_D.29=all
MA_StandIdle_D.30=all
MA_StandIdle_D.31=all
MA_StandIdle_D.32=all
MA_StandIdle_D.33=all
MA_StandIdle_D.34=all
MA_StandIdle_D.35=all
MA_StandIdle_D.37=all
MA_StandIdle_D.38=all
MA_StandIdle_D.39=all
MA_StandIdle_D.40=all
MA_StandIdle_D.41=all
MA_StandIdle_D.42=all
MA_StandIdle_D.43=all
MA_StandIdle_D.44=all
MA_StandIdle_D.48=all
MA_StandIdle_D.49=all
MA_StandIdle_D.50=all
MA_StandIdle_D.67=all
MA_StandIdle_D.68=all
MA_StandIdle_D.69=all
MA_StandIdle_D.70=all
MA_StandIdle_D.71=all
MA_StandIdle_D.72=all
MA_StandIdle_D.73=all
MA_StandIdle_D.74=all
MA_StandIdle_D.75=all
MA_StandIdle_D.76=all
MA_StandIdle_D.77=all
MA_StandIdle_D.78=all
MA_StandIdle_D.79=all
MA_StandIdle_D.80=all
MA_StandIdle_D.81=all
MA_StandIdle_D.82=all
MA_StandIdle_D.83=all
MA_StandIdle_D.84=all
MA_StandIdle_D.85=all
MA_StandIdle_D.86=all
MA_StandIdle_D.87=all
MA_StandIdle_D.88=all
MA_StandIdle_D.89=all
MA_StandIdle_D.90=all
MA_StandIdle_D.91=all
MA_StandIdle_D.92=all
MA_StandIdle_D.93=all
MA_StandIdle_D.94=all
MA_StandIdle_D.95=all
MA_StandIdle_D.96=all
MA_StandIdle_D.97=all
MA_StandIdle_D.98=all
MA_StandIdle_D.99=all
MA_StandIdle_D.100=all
MA_StandIdle_D.101=all
MA_StandIdle_D.102=all
MA_StandIdle_D.103=all
MA_StandIdle_D.104=all
MA_StandIdle_D.105=all
MA_StandIdle_D.106=all
MA_StandIdle_D.112=all
MA_StandIdle_D.113=all
MA_StandIdle_D.114=all
MA_StandIdle_D.115=all
MA_StandIdle_D.116=all
MA_StandIdle_D.117=all
MA_StandIdle_D.118=all
MA_StandIdle_D.119=all
MA_StandIdle_D.120=all
MA_StandIdle_D.121=all
MA_StandIdle_D.122=all
MA_StandIdle_D.123=all
MA_StandIdle_D.128=all
MA_StandIdle_D.129=all
MA_StandIdle_D.130=all
MA_StandIdle_D.131=all
MA_StandIdle_D.132=all
MA_StandIdle_D.133=all
MA_StandIdle_D.134=all
MA_StandIdle_D.137=all
MA_StandIdle_D.138=all
MA_StandIdle_D.139=all
MA_StandIdle_D.140=all
MA_StandIdle_D.141=all
MA_StandIdle_D.142=all
MA_StandIdle_D.143=all
MA_StandIdle_D.144=all
MA_StandIdle_D.145=all
MA_StandIdle_D.146=all
MA_StandIdle_D.147=all
