
[RemoveTracks]
STG2_FireStand.1=all
STG2_FireStand.2=all
STG2_FireStand.37=all
STG2_FireStand.38=all
STG2_FireStand.39=all
STG2_FireStand.40=all
STG2_FireStand.41=all
STG2_FireStand.42=all
STG2_FireStand.43=all
STG2_FireStand.44=all
STG2_FireStand.48=all
STG2_FireStand.49=all
STG2_FireStand.50=all
STG2_FireStand.67=all
STG2_FireStand.68=all
STG2_FireStand.69=all
STG2_FireStand.70=all
STG2_FireStand.71=all
STG2_FireStand.72=all
STG2_FireStand.73=all
STG2_FireStand.74=all
STG2_FireStand.75=all
STG2_FireStand.76=all
STG2_FireStand.77=all
STG2_FireStand.78=all
STG2_FireStand.79=all
STG2_FireStand.80=all
STG2_FireStand.81=all
STG2_FireStand.82=all
STG2_FireStand.83=all
STG2_FireStand.84=all
STG2_FireStand.85=all
STG2_FireStand.86=all
STG2_FireStand.87=all
STG2_FireStand.88=all
STG2_FireStand.89=all
STG2_FireStand.90=all
STG2_FireStand.91=all
STG2_FireStand.92=all
STG2_FireStand.93=all
STG2_FireStand.94=all
STG2_FireStand.95=all
STG2_FireStand.96=all
STG2_FireStand.97=all
STG2_FireStand.98=all
STG2_FireStand.99=all
STG2_FireStand.100=all
STG2_FireStand.101=all
STG2_FireStand.102=all
STG2_FireStand.103=all
STG2_FireStand.104=all
STG2_FireStand.105=all
STG2_FireStand.106=all
STG2_FireStand.112=all
STG2_FireStand.113=all
STG2_FireStand.114=all
STG2_FireStand.115=all
STG2_FireStand.116=all
STG2_FireStand.117=all
STG2_FireStand.118=all
STG2_FireStand.119=all
STG2_FireStand.120=all
STG2_FireStand.121=all
STG2_FireStand.122=all
STG2_FireStand.123=all
STG2_FireStand.128=all
STG2_FireStand.129=all
STG2_FireStand.130=all
STG2_FireStand.131=all
STG2_FireStand.132=all
STG2_FireStand.133=all
STG2_FireStand.134=all
STG2_FireStand.137=all
STG2_FireStand.138=all
STG2_FireStand.139=all
STG2_FireStand.140=all
STG2_FireStand.141=all
STG2_FireStand.142=all
STG2_FireStand.143=all
STG2_FireStand.144=all
STG2_FireStand.145=all
STG2_FireStand.146=all
STG2_FireStand.147=all
