
[RemoveTracks]
STG2_JumpStart.36=all
STG2_JumpStart.45=all
STG2_JumpStart.46=all
STG2_JumpStart.47=all
STG2_JumpStart.48=all
STG2_JumpStart.49=all
STG2_JumpStart.50=all
STG2_JumpStart.51=all
STG2_JumpStart.52=all
STG2_JumpStart.53=all
STG2_JumpStart.54=all
STG2_JumpStart.55=all
STG2_JumpStart.56=all
STG2_JumpStart.57=all
STG2_JumpStart.58=all
STG2_JumpStart.59=all
STG2_JumpStart.60=all
STG2_JumpStart.61=all
STG2_JumpStart.62=all
STG2_JumpStart.63=all
STG2_JumpStart.64=all
STG2_JumpStart.65=all
STG2_JumpStart.66=all
STG2_JumpStart.67=all
STG2_JumpStart.68=all
STG2_JumpStart.69=all
STG2_JumpStart.70=all
STG2_JumpStart.71=all
STG2_JumpStart.72=all
STG2_JumpStart.73=all
STG2_JumpStart.74=all
STG2_JumpStart.75=all
STG2_JumpStart.76=all
STG2_JumpStart.77=all
STG2_JumpStart.78=all
STG2_JumpStart.79=all
STG2_JumpStart.80=all
STG2_JumpStart.81=all
STG2_JumpStart.82=all
STG2_JumpStart.83=all
STG2_JumpStart.84=all
STG2_JumpStart.85=all
STG2_JumpStart.86=all
STG2_JumpStart.87=all
STG2_JumpStart.88=all
STG2_JumpStart.89=all
STG2_JumpStart.90=all
STG2_JumpStart.91=all
STG2_JumpStart.92=all
STG2_JumpStart.93=all
STG2_JumpStart.94=all
STG2_JumpStart.95=all
STG2_JumpStart.96=all
STG2_JumpStart.97=all
STG2_JumpStart.98=all
STG2_JumpStart.99=all
STG2_JumpStart.100=all
STG2_JumpStart.101=all
STG2_JumpStart.102=all
STG2_JumpStart.103=all
STG2_JumpStart.104=all
STG2_JumpStart.105=all
STG2_JumpStart.106=all
STG2_JumpStart.107=all
STG2_JumpStart.108=all
STG2_JumpStart.109=all
STG2_JumpStart.110=all
STG2_JumpStart.111=all
STG2_JumpStart.112=all
STG2_JumpStart.113=all
STG2_JumpStart.114=all
STG2_JumpStart.115=all
STG2_JumpStart.116=all
STG2_JumpStart.117=all
STG2_JumpStart.118=all
STG2_JumpStart.119=all
STG2_JumpStart.120=all
STG2_JumpStart.121=all
STG2_JumpStart.122=all
STG2_JumpStart.123=all
STG2_JumpStart.124=all
STG2_JumpStart.125=all
STG2_JumpStart.126=all
STG2_JumpStart.127=all
STG2_JumpStart.128=all
STG2_JumpStart.129=all
STG2_JumpStart.130=all
STG2_JumpStart.131=all
STG2_JumpStart.132=all
STG2_JumpStart.133=all
STG2_JumpStart.134=all
STG2_JumpStart.135=all
STG2_JumpStart.136=all
STG2_JumpStart.137=all
STG2_JumpStart.138=all
STG2_JumpStart.139=all
STG2_JumpStart.140=all
STG2_JumpStart.141=all
STG2_JumpStart.142=all
STG2_JumpStart.143=all
STG2_JumpStart.144=all
STG2_JumpStart.145=all
STG2_JumpStart.146=all
STG2_JumpStart.147=all
