
[RemoveTracks]
STG2_ReloadStand_Start.36=all
STG2_ReloadStand_Start.45=all
STG2_ReloadStand_Start.46=all
STG2_ReloadStand_Start.47=all
STG2_ReloadStand_Start.48=all
STG2_ReloadStand_Start.49=all
STG2_ReloadStand_Start.50=all
STG2_ReloadStand_Start.51=all
STG2_ReloadStand_Start.52=all
STG2_ReloadStand_Start.53=all
STG2_ReloadStand_Start.54=all
STG2_ReloadStand_Start.55=all
STG2_ReloadStand_Start.56=all
STG2_ReloadStand_Start.57=all
STG2_ReloadStand_Start.58=all
STG2_ReloadStand_Start.59=all
STG2_ReloadStand_Start.60=all
STG2_ReloadStand_Start.61=all
STG2_ReloadStand_Start.62=all
STG2_ReloadStand_Start.63=all
STG2_ReloadStand_Start.64=all
STG2_ReloadStand_Start.65=all
STG2_ReloadStand_Start.66=all
STG2_ReloadStand_Start.67=all
STG2_ReloadStand_Start.68=all
STG2_ReloadStand_Start.69=all
STG2_ReloadStand_Start.70=all
STG2_ReloadStand_Start.71=all
STG2_ReloadStand_Start.72=all
STG2_ReloadStand_Start.73=all
STG2_ReloadStand_Start.74=all
STG2_ReloadStand_Start.75=all
STG2_ReloadStand_Start.76=all
STG2_ReloadStand_Start.77=all
STG2_ReloadStand_Start.78=all
STG2_ReloadStand_Start.79=all
STG2_ReloadStand_Start.80=all
STG2_ReloadStand_Start.81=all
STG2_ReloadStand_Start.82=all
STG2_ReloadStand_Start.83=all
STG2_ReloadStand_Start.84=all
STG2_ReloadStand_Start.85=all
STG2_ReloadStand_Start.86=all
STG2_ReloadStand_Start.87=all
STG2_ReloadStand_Start.88=all
STG2_ReloadStand_Start.89=all
STG2_ReloadStand_Start.90=all
STG2_ReloadStand_Start.91=all
STG2_ReloadStand_Start.92=all
STG2_ReloadStand_Start.93=all
STG2_ReloadStand_Start.94=all
STG2_ReloadStand_Start.95=all
STG2_ReloadStand_Start.96=all
STG2_ReloadStand_Start.97=all
STG2_ReloadStand_Start.98=all
STG2_ReloadStand_Start.99=all
STG2_ReloadStand_Start.100=all
STG2_ReloadStand_Start.101=all
STG2_ReloadStand_Start.102=all
STG2_ReloadStand_Start.103=all
STG2_ReloadStand_Start.104=all
STG2_ReloadStand_Start.105=all
STG2_ReloadStand_Start.106=all
STG2_ReloadStand_Start.107=all
STG2_ReloadStand_Start.108=all
STG2_ReloadStand_Start.109=all
STG2_ReloadStand_Start.110=all
STG2_ReloadStand_Start.111=all
STG2_ReloadStand_Start.112=all
STG2_ReloadStand_Start.113=all
STG2_ReloadStand_Start.114=all
STG2_ReloadStand_Start.115=all
STG2_ReloadStand_Start.116=all
STG2_ReloadStand_Start.117=all
STG2_ReloadStand_Start.118=all
STG2_ReloadStand_Start.119=all
STG2_ReloadStand_Start.120=all
STG2_ReloadStand_Start.121=all
STG2_ReloadStand_Start.122=all
STG2_ReloadStand_Start.123=all
STG2_ReloadStand_Start.124=all
STG2_ReloadStand_Start.125=all
STG2_ReloadStand_Start.126=all
STG2_ReloadStand_Start.127=all
STG2_ReloadStand_Start.128=all
STG2_ReloadStand_Start.129=all
STG2_ReloadStand_Start.130=all
STG2_ReloadStand_Start.131=all
STG2_ReloadStand_Start.132=all
STG2_ReloadStand_Start.133=all
STG2_ReloadStand_Start.134=all
STG2_ReloadStand_Start.135=all
STG2_ReloadStand_Start.136=all
STG2_ReloadStand_Start.137=all
STG2_ReloadStand_Start.138=all
STG2_ReloadStand_Start.139=all
STG2_ReloadStand_Start.140=all
STG2_ReloadStand_Start.141=all
STG2_ReloadStand_Start.142=all
STG2_ReloadStand_Start.143=all
STG2_ReloadStand_Start.144=all
STG2_ReloadStand_Start.145=all
STG2_ReloadStand_Start.146=all
STG2_ReloadStand_Start.147=all
