
[RemoveTracks]
STG2_StandTurn.36=all
STG2_StandTurn.45=all
STG2_StandTurn.46=all
STG2_StandTurn.47=all
STG2_StandTurn.48=all
STG2_StandTurn.49=all
STG2_StandTurn.50=all
STG2_StandTurn.51=all
STG2_StandTurn.52=all
STG2_StandTurn.53=all
STG2_StandTurn.54=all
STG2_StandTurn.55=all
STG2_StandTurn.56=all
STG2_StandTurn.57=all
STG2_StandTurn.58=all
STG2_StandTurn.59=all
STG2_StandTurn.60=all
STG2_StandTurn.61=all
STG2_StandTurn.62=all
STG2_StandTurn.63=all
STG2_StandTurn.64=all
STG2_StandTurn.65=all
STG2_StandTurn.66=all
STG2_StandTurn.67=all
STG2_StandTurn.68=all
STG2_StandTurn.69=all
STG2_StandTurn.70=all
STG2_StandTurn.71=all
STG2_StandTurn.72=all
STG2_StandTurn.73=all
STG2_StandTurn.74=all
STG2_StandTurn.75=all
STG2_StandTurn.76=all
STG2_StandTurn.77=all
STG2_StandTurn.78=all
STG2_StandTurn.79=all
STG2_StandTurn.80=all
STG2_StandTurn.81=all
STG2_StandTurn.82=all
STG2_StandTurn.83=all
STG2_StandTurn.84=all
STG2_StandTurn.85=all
STG2_StandTurn.86=all
STG2_StandTurn.87=all
STG2_StandTurn.88=all
STG2_StandTurn.89=all
STG2_StandTurn.90=all
STG2_StandTurn.91=all
STG2_StandTurn.92=all
STG2_StandTurn.93=all
STG2_StandTurn.94=all
STG2_StandTurn.95=all
STG2_StandTurn.96=all
STG2_StandTurn.97=all
STG2_StandTurn.98=all
STG2_StandTurn.99=all
STG2_StandTurn.100=all
STG2_StandTurn.101=all
STG2_StandTurn.102=all
STG2_StandTurn.103=all
STG2_StandTurn.104=all
STG2_StandTurn.105=all
STG2_StandTurn.106=all
STG2_StandTurn.107=all
STG2_StandTurn.108=all
STG2_StandTurn.109=all
STG2_StandTurn.110=all
STG2_StandTurn.111=all
STG2_StandTurn.112=all
STG2_StandTurn.113=all
STG2_StandTurn.114=all
STG2_StandTurn.115=all
STG2_StandTurn.116=all
STG2_StandTurn.117=all
STG2_StandTurn.118=all
STG2_StandTurn.119=all
STG2_StandTurn.120=all
STG2_StandTurn.121=all
STG2_StandTurn.122=all
STG2_StandTurn.123=all
STG2_StandTurn.124=all
STG2_StandTurn.125=all
STG2_StandTurn.126=all
STG2_StandTurn.127=all
STG2_StandTurn.128=all
STG2_StandTurn.129=all
STG2_StandTurn.130=all
STG2_StandTurn.131=all
STG2_StandTurn.132=all
STG2_StandTurn.133=all
STG2_StandTurn.134=all
STG2_StandTurn.135=all
STG2_StandTurn.136=all
STG2_StandTurn.137=all
STG2_StandTurn.138=all
STG2_StandTurn.139=all
STG2_StandTurn.140=all
STG2_StandTurn.141=all
STG2_StandTurn.142=all
STG2_StandTurn.143=all
STG2_StandTurn.144=all
STG2_StandTurn.145=all
STG2_StandTurn.146=all
STG2_StandTurn.147=all
