
[RemoveTracks]
STG2_Free_JumpFalling.36=all
STG2_Free_JumpFalling.45=all
STG2_Free_JumpFalling.46=all
STG2_Free_JumpFalling.47=all
STG2_Free_JumpFalling.48=all
STG2_Free_JumpFalling.49=all
STG2_Free_JumpFalling.50=all
STG2_Free_JumpFalling.51=all
STG2_Free_JumpFalling.52=all
STG2_Free_JumpFalling.53=all
STG2_Free_JumpFalling.54=all
STG2_Free_JumpFalling.55=all
STG2_Free_JumpFalling.56=all
STG2_Free_JumpFalling.57=all
STG2_Free_JumpFalling.58=all
STG2_Free_JumpFalling.59=all
STG2_Free_JumpFalling.60=all
STG2_Free_JumpFalling.61=all
STG2_Free_JumpFalling.62=all
STG2_Free_JumpFalling.63=all
STG2_Free_JumpFalling.64=all
STG2_Free_JumpFalling.65=all
STG2_Free_JumpFalling.66=all
STG2_Free_JumpFalling.67=all
STG2_Free_JumpFalling.68=all
STG2_Free_JumpFalling.69=all
STG2_Free_JumpFalling.70=all
STG2_Free_JumpFalling.71=all
STG2_Free_JumpFalling.72=all
STG2_Free_JumpFalling.73=all
STG2_Free_JumpFalling.74=all
STG2_Free_JumpFalling.75=all
STG2_Free_JumpFalling.76=all
STG2_Free_JumpFalling.77=all
STG2_Free_JumpFalling.78=all
STG2_Free_JumpFalling.79=all
STG2_Free_JumpFalling.80=all
STG2_Free_JumpFalling.81=all
STG2_Free_JumpFalling.82=all
STG2_Free_JumpFalling.83=all
STG2_Free_JumpFalling.84=all
STG2_Free_JumpFalling.85=all
STG2_Free_JumpFalling.86=all
STG2_Free_JumpFalling.87=all
STG2_Free_JumpFalling.88=all
STG2_Free_JumpFalling.89=all
STG2_Free_JumpFalling.90=all
STG2_Free_JumpFalling.91=all
STG2_Free_JumpFalling.92=all
STG2_Free_JumpFalling.93=all
STG2_Free_JumpFalling.94=all
STG2_Free_JumpFalling.95=all
STG2_Free_JumpFalling.96=all
STG2_Free_JumpFalling.97=all
STG2_Free_JumpFalling.98=all
STG2_Free_JumpFalling.99=all
STG2_Free_JumpFalling.100=all
STG2_Free_JumpFalling.101=all
STG2_Free_JumpFalling.102=all
STG2_Free_JumpFalling.103=all
STG2_Free_JumpFalling.104=all
STG2_Free_JumpFalling.105=all
STG2_Free_JumpFalling.106=all
STG2_Free_JumpFalling.108=all
STG2_Free_JumpFalling.109=all
STG2_Free_JumpFalling.110=all
STG2_Free_JumpFalling.111=all
STG2_Free_JumpFalling.112=all
STG2_Free_JumpFalling.113=all
STG2_Free_JumpFalling.114=all
STG2_Free_JumpFalling.115=all
STG2_Free_JumpFalling.116=all
STG2_Free_JumpFalling.117=all
STG2_Free_JumpFalling.118=all
STG2_Free_JumpFalling.119=all
STG2_Free_JumpFalling.120=all
STG2_Free_JumpFalling.121=all
STG2_Free_JumpFalling.122=all
STG2_Free_JumpFalling.123=all
STG2_Free_JumpFalling.124=all
STG2_Free_JumpFalling.125=all
STG2_Free_JumpFalling.126=all
STG2_Free_JumpFalling.127=all
STG2_Free_JumpFalling.128=all
STG2_Free_JumpFalling.129=all
STG2_Free_JumpFalling.130=all
STG2_Free_JumpFalling.131=all
STG2_Free_JumpFalling.132=all
STG2_Free_JumpFalling.133=all
STG2_Free_JumpFalling.134=all
STG2_Free_JumpFalling.135=all
STG2_Free_JumpFalling.136=all
STG2_Free_JumpFalling.137=all
STG2_Free_JumpFalling.138=all
STG2_Free_JumpFalling.139=all
STG2_Free_JumpFalling.140=all
STG2_Free_JumpFalling.141=all
STG2_Free_JumpFalling.142=all
STG2_Free_JumpFalling.143=all
STG2_Free_JumpFalling.144=all
STG2_Free_JumpFalling.145=all
STG2_Free_JumpFalling.146=all
STG2_Free_JumpFalling.147=all
