
[RemoveTracks]
STG2_CrouchWalkC_L45.36=all
STG2_CrouchWalkC_L45.45=all
STG2_CrouchWalkC_L45.46=all
STG2_CrouchWalkC_L45.47=all
STG2_CrouchWalkC_L45.48=all
STG2_CrouchWalkC_L45.49=all
STG2_CrouchWalkC_L45.50=all
STG2_CrouchWalkC_L45.51=all
STG2_CrouchWalkC_L45.52=all
STG2_CrouchWalkC_L45.53=all
STG2_CrouchWalkC_L45.54=all
STG2_CrouchWalkC_L45.55=all
STG2_CrouchWalkC_L45.56=all
STG2_CrouchWalkC_L45.57=all
STG2_CrouchWalkC_L45.58=all
STG2_CrouchWalkC_L45.59=all
STG2_CrouchWalkC_L45.60=all
STG2_CrouchWalkC_L45.61=all
STG2_CrouchWalkC_L45.62=all
STG2_CrouchWalkC_L45.63=all
STG2_CrouchWalkC_L45.64=all
STG2_CrouchWalkC_L45.65=all
STG2_CrouchWalkC_L45.66=all
STG2_CrouchWalkC_L45.67=all
STG2_CrouchWalkC_L45.68=all
STG2_CrouchWalkC_L45.69=all
STG2_CrouchWalkC_L45.70=all
STG2_CrouchWalkC_L45.71=all
STG2_CrouchWalkC_L45.72=all
STG2_CrouchWalkC_L45.73=all
STG2_CrouchWalkC_L45.74=all
STG2_CrouchWalkC_L45.75=all
STG2_CrouchWalkC_L45.76=all
STG2_CrouchWalkC_L45.77=all
STG2_CrouchWalkC_L45.78=all
STG2_CrouchWalkC_L45.79=all
STG2_CrouchWalkC_L45.80=all
STG2_CrouchWalkC_L45.81=all
STG2_CrouchWalkC_L45.82=all
STG2_CrouchWalkC_L45.83=all
STG2_CrouchWalkC_L45.84=all
STG2_CrouchWalkC_L45.85=all
STG2_CrouchWalkC_L45.86=all
STG2_CrouchWalkC_L45.87=all
STG2_CrouchWalkC_L45.88=all
STG2_CrouchWalkC_L45.89=all
STG2_CrouchWalkC_L45.90=all
STG2_CrouchWalkC_L45.91=all
STG2_CrouchWalkC_L45.92=all
STG2_CrouchWalkC_L45.93=all
STG2_CrouchWalkC_L45.94=all
STG2_CrouchWalkC_L45.95=all
STG2_CrouchWalkC_L45.96=all
STG2_CrouchWalkC_L45.97=all
STG2_CrouchWalkC_L45.98=all
STG2_CrouchWalkC_L45.99=all
STG2_CrouchWalkC_L45.100=all
STG2_CrouchWalkC_L45.101=all
STG2_CrouchWalkC_L45.102=all
STG2_CrouchWalkC_L45.103=all
STG2_CrouchWalkC_L45.104=all
STG2_CrouchWalkC_L45.105=all
STG2_CrouchWalkC_L45.106=all
STG2_CrouchWalkC_L45.108=all
STG2_CrouchWalkC_L45.109=all
STG2_CrouchWalkC_L45.110=all
STG2_CrouchWalkC_L45.111=all
STG2_CrouchWalkC_L45.112=all
STG2_CrouchWalkC_L45.113=all
STG2_CrouchWalkC_L45.114=all
STG2_CrouchWalkC_L45.115=all
STG2_CrouchWalkC_L45.116=all
STG2_CrouchWalkC_L45.117=all
STG2_CrouchWalkC_L45.118=all
STG2_CrouchWalkC_L45.119=all
STG2_CrouchWalkC_L45.120=all
STG2_CrouchWalkC_L45.121=all
STG2_CrouchWalkC_L45.122=all
STG2_CrouchWalkC_L45.123=all
STG2_CrouchWalkC_L45.124=all
STG2_CrouchWalkC_L45.125=all
STG2_CrouchWalkC_L45.126=all
STG2_CrouchWalkC_L45.127=all
STG2_CrouchWalkC_L45.128=all
STG2_CrouchWalkC_L45.129=all
STG2_CrouchWalkC_L45.130=all
STG2_CrouchWalkC_L45.131=all
STG2_CrouchWalkC_L45.132=all
STG2_CrouchWalkC_L45.133=all
STG2_CrouchWalkC_L45.134=all
STG2_CrouchWalkC_L45.135=all
STG2_CrouchWalkC_L45.136=all
STG2_CrouchWalkC_L45.137=all
STG2_CrouchWalkC_L45.138=all
STG2_CrouchWalkC_L45.139=all
STG2_CrouchWalkC_L45.140=all
STG2_CrouchWalkC_L45.141=all
STG2_CrouchWalkC_L45.142=all
STG2_CrouchWalkC_L45.143=all
STG2_CrouchWalkC_L45.144=all
STG2_CrouchWalkC_L45.145=all
STG2_CrouchWalkC_L45.146=all
STG2_CrouchWalkC_L45.147=all
