
[RemoveTracks]
STG2_CarPassengerIdle_R_U.36=all
STG2_CarPassengerIdle_R_U.45=all
STG2_CarPassengerIdle_R_U.46=all
STG2_CarPassengerIdle_R_U.47=all
STG2_CarPassengerIdle_R_U.48=all
STG2_CarPassengerIdle_R_U.49=all
STG2_CarPassengerIdle_R_U.50=all
STG2_CarPassengerIdle_R_U.51=all
STG2_CarPassengerIdle_R_U.52=all
STG2_CarPassengerIdle_R_U.53=all
STG2_CarPassengerIdle_R_U.54=all
STG2_CarPassengerIdle_R_U.55=all
STG2_CarPassengerIdle_R_U.56=all
STG2_CarPassengerIdle_R_U.57=all
STG2_CarPassengerIdle_R_U.58=all
STG2_CarPassengerIdle_R_U.59=all
STG2_CarPassengerIdle_R_U.60=all
STG2_CarPassengerIdle_R_U.61=all
STG2_CarPassengerIdle_R_U.62=all
STG2_CarPassengerIdle_R_U.63=all
STG2_CarPassengerIdle_R_U.64=all
STG2_CarPassengerIdle_R_U.65=all
STG2_CarPassengerIdle_R_U.66=all
STG2_CarPassengerIdle_R_U.67=all
STG2_CarPassengerIdle_R_U.68=all
STG2_CarPassengerIdle_R_U.69=all
STG2_CarPassengerIdle_R_U.70=all
STG2_CarPassengerIdle_R_U.71=all
STG2_CarPassengerIdle_R_U.72=all
STG2_CarPassengerIdle_R_U.73=all
STG2_CarPassengerIdle_R_U.74=all
STG2_CarPassengerIdle_R_U.75=all
STG2_CarPassengerIdle_R_U.76=all
STG2_CarPassengerIdle_R_U.77=all
STG2_CarPassengerIdle_R_U.78=all
STG2_CarPassengerIdle_R_U.79=all
STG2_CarPassengerIdle_R_U.80=all
STG2_CarPassengerIdle_R_U.81=all
STG2_CarPassengerIdle_R_U.82=all
STG2_CarPassengerIdle_R_U.83=all
STG2_CarPassengerIdle_R_U.84=all
STG2_CarPassengerIdle_R_U.85=all
STG2_CarPassengerIdle_R_U.86=all
STG2_CarPassengerIdle_R_U.87=all
STG2_CarPassengerIdle_R_U.88=all
STG2_CarPassengerIdle_R_U.89=all
STG2_CarPassengerIdle_R_U.90=all
STG2_CarPassengerIdle_R_U.91=all
STG2_CarPassengerIdle_R_U.92=all
STG2_CarPassengerIdle_R_U.93=all
STG2_CarPassengerIdle_R_U.94=all
STG2_CarPassengerIdle_R_U.95=all
STG2_CarPassengerIdle_R_U.96=all
STG2_CarPassengerIdle_R_U.97=all
STG2_CarPassengerIdle_R_U.98=all
STG2_CarPassengerIdle_R_U.99=all
STG2_CarPassengerIdle_R_U.100=all
STG2_CarPassengerIdle_R_U.101=all
STG2_CarPassengerIdle_R_U.102=all
STG2_CarPassengerIdle_R_U.103=all
STG2_CarPassengerIdle_R_U.104=all
STG2_CarPassengerIdle_R_U.105=all
STG2_CarPassengerIdle_R_U.106=all
STG2_CarPassengerIdle_R_U.108=all
STG2_CarPassengerIdle_R_U.109=all
STG2_CarPassengerIdle_R_U.110=all
STG2_CarPassengerIdle_R_U.111=all
STG2_CarPassengerIdle_R_U.112=all
STG2_CarPassengerIdle_R_U.113=all
STG2_CarPassengerIdle_R_U.114=all
STG2_CarPassengerIdle_R_U.115=all
STG2_CarPassengerIdle_R_U.116=all
STG2_CarPassengerIdle_R_U.117=all
STG2_CarPassengerIdle_R_U.118=all
STG2_CarPassengerIdle_R_U.119=all
STG2_CarPassengerIdle_R_U.120=all
STG2_CarPassengerIdle_R_U.121=all
STG2_CarPassengerIdle_R_U.122=all
STG2_CarPassengerIdle_R_U.123=all
STG2_CarPassengerIdle_R_U.124=all
STG2_CarPassengerIdle_R_U.125=all
STG2_CarPassengerIdle_R_U.126=all
STG2_CarPassengerIdle_R_U.127=all
STG2_CarPassengerIdle_R_U.128=all
STG2_CarPassengerIdle_R_U.129=all
STG2_CarPassengerIdle_R_U.130=all
STG2_CarPassengerIdle_R_U.131=all
STG2_CarPassengerIdle_R_U.132=all
STG2_CarPassengerIdle_R_U.133=all
STG2_CarPassengerIdle_R_U.134=all
STG2_CarPassengerIdle_R_U.135=all
STG2_CarPassengerIdle_R_U.136=all
STG2_CarPassengerIdle_R_U.137=all
STG2_CarPassengerIdle_R_U.138=all
STG2_CarPassengerIdle_R_U.139=all
STG2_CarPassengerIdle_R_U.140=all
STG2_CarPassengerIdle_R_U.141=all
STG2_CarPassengerIdle_R_U.142=all
STG2_CarPassengerIdle_R_U.143=all
STG2_CarPassengerIdle_R_U.144=all
STG2_CarPassengerIdle_R_U.145=all
STG2_CarPassengerIdle_R_U.146=all
STG2_CarPassengerIdle_R_U.147=all
