
[RemoveTracks]
STG2_StandWalkC_B.36=all
STG2_StandWalkC_B.45=all
STG2_StandWalkC_B.46=all
STG2_StandWalkC_B.47=all
STG2_StandWalkC_B.48=all
STG2_StandWalkC_B.49=all
STG2_StandWalkC_B.50=all
STG2_StandWalkC_B.51=all
STG2_StandWalkC_B.52=all
STG2_StandWalkC_B.53=all
STG2_StandWalkC_B.54=all
STG2_StandWalkC_B.55=all
STG2_StandWalkC_B.56=all
STG2_StandWalkC_B.57=all
STG2_StandWalkC_B.58=all
STG2_StandWalkC_B.59=all
STG2_StandWalkC_B.60=all
STG2_StandWalkC_B.61=all
STG2_StandWalkC_B.62=all
STG2_StandWalkC_B.63=all
STG2_StandWalkC_B.64=all
STG2_StandWalkC_B.65=all
STG2_StandWalkC_B.66=all
STG2_StandWalkC_B.67=all
STG2_StandWalkC_B.68=all
STG2_StandWalkC_B.69=all
STG2_StandWalkC_B.70=all
STG2_StandWalkC_B.71=all
STG2_StandWalkC_B.72=all
STG2_StandWalkC_B.73=all
STG2_StandWalkC_B.74=all
STG2_StandWalkC_B.75=all
STG2_StandWalkC_B.76=all
STG2_StandWalkC_B.77=all
STG2_StandWalkC_B.78=all
STG2_StandWalkC_B.79=all
STG2_StandWalkC_B.80=all
STG2_StandWalkC_B.81=all
STG2_StandWalkC_B.82=all
STG2_StandWalkC_B.83=all
STG2_StandWalkC_B.84=all
STG2_StandWalkC_B.85=all
STG2_StandWalkC_B.86=all
STG2_StandWalkC_B.87=all
STG2_StandWalkC_B.88=all
STG2_StandWalkC_B.89=all
STG2_StandWalkC_B.90=all
STG2_StandWalkC_B.91=all
STG2_StandWalkC_B.92=all
STG2_StandWalkC_B.93=all
STG2_StandWalkC_B.94=all
STG2_StandWalkC_B.95=all
STG2_StandWalkC_B.96=all
STG2_StandWalkC_B.97=all
STG2_StandWalkC_B.98=all
STG2_StandWalkC_B.99=all
STG2_StandWalkC_B.100=all
STG2_StandWalkC_B.101=all
STG2_StandWalkC_B.102=all
STG2_StandWalkC_B.103=all
STG2_StandWalkC_B.104=all
STG2_StandWalkC_B.105=all
STG2_StandWalkC_B.106=all
STG2_StandWalkC_B.108=all
STG2_StandWalkC_B.109=all
STG2_StandWalkC_B.110=all
STG2_StandWalkC_B.111=all
STG2_StandWalkC_B.112=all
STG2_StandWalkC_B.113=all
STG2_StandWalkC_B.114=all
STG2_StandWalkC_B.115=all
STG2_StandWalkC_B.116=all
STG2_StandWalkC_B.117=all
STG2_StandWalkC_B.118=all
STG2_StandWalkC_B.119=all
STG2_StandWalkC_B.120=all
STG2_StandWalkC_B.121=all
STG2_StandWalkC_B.122=all
STG2_StandWalkC_B.123=all
STG2_StandWalkC_B.124=all
STG2_StandWalkC_B.125=all
STG2_StandWalkC_B.126=all
STG2_StandWalkC_B.127=all
STG2_StandWalkC_B.128=all
STG2_StandWalkC_B.129=all
STG2_StandWalkC_B.130=all
STG2_StandWalkC_B.131=all
STG2_StandWalkC_B.132=all
STG2_StandWalkC_B.133=all
STG2_StandWalkC_B.134=all
STG2_StandWalkC_B.135=all
STG2_StandWalkC_B.136=all
STG2_StandWalkC_B.137=all
STG2_StandWalkC_B.138=all
STG2_StandWalkC_B.139=all
STG2_StandWalkC_B.140=all
STG2_StandWalkC_B.141=all
STG2_StandWalkC_B.142=all
STG2_StandWalkC_B.143=all
STG2_StandWalkC_B.144=all
STG2_StandWalkC_B.145=all
STG2_StandWalkC_B.146=all
STG2_StandWalkC_B.147=all
