
[RemoveTracks]
STG2_CrouchTurn.36=all
STG2_CrouchTurn.45=all
STG2_CrouchTurn.46=all
STG2_CrouchTurn.47=all
STG2_CrouchTurn.48=all
STG2_CrouchTurn.49=all
STG2_CrouchTurn.50=all
STG2_CrouchTurn.51=all
STG2_CrouchTurn.52=all
STG2_CrouchTurn.53=all
STG2_CrouchTurn.54=all
STG2_CrouchTurn.55=all
STG2_CrouchTurn.56=all
STG2_CrouchTurn.57=all
STG2_CrouchTurn.58=all
STG2_CrouchTurn.59=all
STG2_CrouchTurn.60=all
STG2_CrouchTurn.61=all
STG2_CrouchTurn.62=all
STG2_CrouchTurn.63=all
STG2_CrouchTurn.64=all
STG2_CrouchTurn.65=all
STG2_CrouchTurn.66=all
STG2_CrouchTurn.67=all
STG2_CrouchTurn.68=all
STG2_CrouchTurn.69=all
STG2_CrouchTurn.70=all
STG2_CrouchTurn.71=all
STG2_CrouchTurn.72=all
STG2_CrouchTurn.73=all
STG2_CrouchTurn.74=all
STG2_CrouchTurn.75=all
STG2_CrouchTurn.76=all
STG2_CrouchTurn.77=all
STG2_CrouchTurn.78=all
STG2_CrouchTurn.79=all
STG2_CrouchTurn.80=all
STG2_CrouchTurn.81=all
STG2_CrouchTurn.82=all
STG2_CrouchTurn.83=all
STG2_CrouchTurn.84=all
STG2_CrouchTurn.85=all
STG2_CrouchTurn.86=all
STG2_CrouchTurn.87=all
STG2_CrouchTurn.88=all
STG2_CrouchTurn.89=all
STG2_CrouchTurn.90=all
STG2_CrouchTurn.91=all
STG2_CrouchTurn.92=all
STG2_CrouchTurn.93=all
STG2_CrouchTurn.94=all
STG2_CrouchTurn.95=all
STG2_CrouchTurn.96=all
STG2_CrouchTurn.97=all
STG2_CrouchTurn.98=all
STG2_CrouchTurn.99=all
STG2_CrouchTurn.100=all
STG2_CrouchTurn.101=all
STG2_CrouchTurn.102=all
STG2_CrouchTurn.103=all
STG2_CrouchTurn.104=all
STG2_CrouchTurn.105=all
STG2_CrouchTurn.106=all
STG2_CrouchTurn.107=all
STG2_CrouchTurn.108=all
STG2_CrouchTurn.109=all
STG2_CrouchTurn.110=all
STG2_CrouchTurn.111=all
STG2_CrouchTurn.112=all
STG2_CrouchTurn.113=all
STG2_CrouchTurn.114=all
STG2_CrouchTurn.115=all
STG2_CrouchTurn.116=all
STG2_CrouchTurn.117=all
STG2_CrouchTurn.118=all
STG2_CrouchTurn.119=all
STG2_CrouchTurn.120=all
STG2_CrouchTurn.121=all
STG2_CrouchTurn.122=all
STG2_CrouchTurn.123=all
STG2_CrouchTurn.124=all
STG2_CrouchTurn.125=all
STG2_CrouchTurn.126=all
STG2_CrouchTurn.127=all
STG2_CrouchTurn.128=all
STG2_CrouchTurn.129=all
STG2_CrouchTurn.130=all
STG2_CrouchTurn.131=all
STG2_CrouchTurn.132=all
STG2_CrouchTurn.133=all
STG2_CrouchTurn.134=all
STG2_CrouchTurn.135=all
STG2_CrouchTurn.136=all
STG2_CrouchTurn.137=all
STG2_CrouchTurn.138=all
STG2_CrouchTurn.139=all
STG2_CrouchTurn.140=all
STG2_CrouchTurn.141=all
STG2_CrouchTurn.142=all
STG2_CrouchTurn.143=all
STG2_CrouchTurn.144=all
STG2_CrouchTurn.145=all
STG2_CrouchTurn.146=all
STG2_CrouchTurn.147=all
