
[RemoveTracks]
STG2_ProneIdle_F.1=all
STG2_ProneIdle_F.2=all
STG2_ProneIdle_F.3=all
STG2_ProneIdle_F.4=all
STG2_ProneIdle_F.5=all
STG2_ProneIdle_F.6=all
STG2_ProneIdle_F.7=all
STG2_ProneIdle_F.8=all
STG2_ProneIdle_F.9=all
STG2_ProneIdle_F.10=all
STG2_ProneIdle_F.11=all
STG2_ProneIdle_F.12=all
STG2_ProneIdle_F.13=all
STG2_ProneIdle_F.14=all
STG2_ProneIdle_F.15=all
STG2_ProneIdle_F.16=all
STG2_ProneIdle_F.17=all
STG2_ProneIdle_F.18=all
STG2_ProneIdle_F.19=all
STG2_ProneIdle_F.20=all
STG2_ProneIdle_F.21=all
STG2_ProneIdle_F.22=all
STG2_ProneIdle_F.23=all
STG2_ProneIdle_F.24=all
STG2_ProneIdle_F.25=all
STG2_ProneIdle_F.26=all
STG2_ProneIdle_F.27=all
STG2_ProneIdle_F.28=all
STG2_ProneIdle_F.29=all
STG2_ProneIdle_F.30=all
STG2_ProneIdle_F.31=all
STG2_ProneIdle_F.32=all
STG2_ProneIdle_F.33=all
STG2_ProneIdle_F.34=all
STG2_ProneIdle_F.35=all
STG2_ProneIdle_F.36=all
STG2_ProneIdle_F.37=all
STG2_ProneIdle_F.38=all
STG2_ProneIdle_F.39=all
STG2_ProneIdle_F.40=all
STG2_ProneIdle_F.41=all
STG2_ProneIdle_F.42=all
STG2_ProneIdle_F.43=all
STG2_ProneIdle_F.44=all
STG2_ProneIdle_F.45=all
STG2_ProneIdle_F.46=all
STG2_ProneIdle_F.47=all
STG2_ProneIdle_F.48=all
STG2_ProneIdle_F.49=all
STG2_ProneIdle_F.50=all
STG2_ProneIdle_F.51=all
STG2_ProneIdle_F.52=all
STG2_ProneIdle_F.53=all
STG2_ProneIdle_F.54=all
STG2_ProneIdle_F.55=all
STG2_ProneIdle_F.56=all
STG2_ProneIdle_F.57=all
STG2_ProneIdle_F.58=all
STG2_ProneIdle_F.59=all
STG2_ProneIdle_F.60=all
STG2_ProneIdle_F.61=all
STG2_ProneIdle_F.62=all
STG2_ProneIdle_F.63=all
STG2_ProneIdle_F.64=all
STG2_ProneIdle_F.65=all
STG2_ProneIdle_F.66=all
STG2_ProneIdle_F.67=all
STG2_ProneIdle_F.68=all
STG2_ProneIdle_F.69=all
STG2_ProneIdle_F.70=all
STG2_ProneIdle_F.71=all
STG2_ProneIdle_F.72=all
STG2_ProneIdle_F.73=all
STG2_ProneIdle_F.74=all
STG2_ProneIdle_F.75=all
STG2_ProneIdle_F.76=all
STG2_ProneIdle_F.77=all
STG2_ProneIdle_F.78=all
STG2_ProneIdle_F.79=all
STG2_ProneIdle_F.80=all
STG2_ProneIdle_F.81=all
STG2_ProneIdle_F.82=all
STG2_ProneIdle_F.83=all
STG2_ProneIdle_F.84=all
STG2_ProneIdle_F.85=all
STG2_ProneIdle_F.86=all
STG2_ProneIdle_F.87=all
STG2_ProneIdle_F.88=all
STG2_ProneIdle_F.89=all
STG2_ProneIdle_F.90=all
STG2_ProneIdle_F.91=all
STG2_ProneIdle_F.92=all
STG2_ProneIdle_F.93=all
STG2_ProneIdle_F.94=all
STG2_ProneIdle_F.95=all
STG2_ProneIdle_F.96=all
STG2_ProneIdle_F.97=all
STG2_ProneIdle_F.98=all
STG2_ProneIdle_F.99=all
STG2_ProneIdle_F.100=all
STG2_ProneIdle_F.101=all
STG2_ProneIdle_F.102=all
STG2_ProneIdle_F.103=all
STG2_ProneIdle_F.104=all
STG2_ProneIdle_F.105=all
STG2_ProneIdle_F.106=all
STG2_ProneIdle_F.107=all
STG2_ProneIdle_F.108=all
STG2_ProneIdle_F.109=all
STG2_ProneIdle_F.110=all
STG2_ProneIdle_F.111=all
STG2_ProneIdle_F.112=all
STG2_ProneIdle_F.113=all
STG2_ProneIdle_F.114=all
STG2_ProneIdle_F.115=all
STG2_ProneIdle_F.116=all
STG2_ProneIdle_F.117=all
STG2_ProneIdle_F.118=all
STG2_ProneIdle_F.119=all
STG2_ProneIdle_F.120=all
STG2_ProneIdle_F.121=all
STG2_ProneIdle_F.122=all
STG2_ProneIdle_F.123=all
STG2_ProneIdle_F.124=all
STG2_ProneIdle_F.125=all
STG2_ProneIdle_F.126=all
STG2_ProneIdle_F.127=all
STG2_ProneIdle_F.128=all
STG2_ProneIdle_F.129=all
STG2_ProneIdle_F.130=all
STG2_ProneIdle_F.131=all
STG2_ProneIdle_F.132=all
STG2_ProneIdle_F.133=all
STG2_ProneIdle_F.134=all
STG2_ProneIdle_F.135=all
STG2_ProneIdle_F.136=all
STG2_ProneIdle_F.137=all
STG2_ProneIdle_F.138=all
STG2_ProneIdle_F.139=all
STG2_ProneIdle_F.140=all
STG2_ProneIdle_F.141=all
STG2_ProneIdle_F.142=all
STG2_ProneIdle_F.143=all
STG2_ProneIdle_F.144=all
STG2_ProneIdle_F.145=all
STG2_ProneIdle_F.146=all
STG2_ProneIdle_F.147=all
