
[RemoveTracks]
STG2_Free_StandToCrouch.36=all
STG2_Free_StandToCrouch.45=all
STG2_Free_StandToCrouch.46=all
STG2_Free_StandToCrouch.47=all
STG2_Free_StandToCrouch.48=all
STG2_Free_StandToCrouch.49=all
STG2_Free_StandToCrouch.50=all
STG2_Free_StandToCrouch.51=all
STG2_Free_StandToCrouch.52=all
STG2_Free_StandToCrouch.53=all
STG2_Free_StandToCrouch.54=all
STG2_Free_StandToCrouch.55=all
STG2_Free_StandToCrouch.56=all
STG2_Free_StandToCrouch.57=all
STG2_Free_StandToCrouch.58=all
STG2_Free_StandToCrouch.59=all
STG2_Free_StandToCrouch.60=all
STG2_Free_StandToCrouch.61=all
STG2_Free_StandToCrouch.62=all
STG2_Free_StandToCrouch.63=all
STG2_Free_StandToCrouch.64=all
STG2_Free_StandToCrouch.65=all
STG2_Free_StandToCrouch.66=all
STG2_Free_StandToCrouch.67=all
STG2_Free_StandToCrouch.68=all
STG2_Free_StandToCrouch.69=all
STG2_Free_StandToCrouch.70=all
STG2_Free_StandToCrouch.71=all
STG2_Free_StandToCrouch.72=all
STG2_Free_StandToCrouch.73=all
STG2_Free_StandToCrouch.74=all
STG2_Free_StandToCrouch.75=all
STG2_Free_StandToCrouch.76=all
STG2_Free_StandToCrouch.77=all
STG2_Free_StandToCrouch.78=all
STG2_Free_StandToCrouch.79=all
STG2_Free_StandToCrouch.80=all
STG2_Free_StandToCrouch.81=all
STG2_Free_StandToCrouch.82=all
STG2_Free_StandToCrouch.83=all
STG2_Free_StandToCrouch.84=all
STG2_Free_StandToCrouch.85=all
STG2_Free_StandToCrouch.86=all
STG2_Free_StandToCrouch.87=all
STG2_Free_StandToCrouch.88=all
STG2_Free_StandToCrouch.89=all
STG2_Free_StandToCrouch.90=all
STG2_Free_StandToCrouch.91=all
STG2_Free_StandToCrouch.92=all
STG2_Free_StandToCrouch.93=all
STG2_Free_StandToCrouch.94=all
STG2_Free_StandToCrouch.95=all
STG2_Free_StandToCrouch.96=all
STG2_Free_StandToCrouch.97=all
STG2_Free_StandToCrouch.98=all
STG2_Free_StandToCrouch.99=all
STG2_Free_StandToCrouch.100=all
STG2_Free_StandToCrouch.101=all
STG2_Free_StandToCrouch.102=all
STG2_Free_StandToCrouch.103=all
STG2_Free_StandToCrouch.104=all
STG2_Free_StandToCrouch.105=all
STG2_Free_StandToCrouch.106=all
STG2_Free_StandToCrouch.107=all
STG2_Free_StandToCrouch.108=all
STG2_Free_StandToCrouch.109=all
STG2_Free_StandToCrouch.110=all
STG2_Free_StandToCrouch.111=all
STG2_Free_StandToCrouch.112=all
STG2_Free_StandToCrouch.113=all
STG2_Free_StandToCrouch.114=all
STG2_Free_StandToCrouch.115=all
STG2_Free_StandToCrouch.116=all
STG2_Free_StandToCrouch.117=all
STG2_Free_StandToCrouch.118=all
STG2_Free_StandToCrouch.119=all
STG2_Free_StandToCrouch.120=all
STG2_Free_StandToCrouch.121=all
STG2_Free_StandToCrouch.122=all
STG2_Free_StandToCrouch.123=all
STG2_Free_StandToCrouch.124=all
STG2_Free_StandToCrouch.125=all
STG2_Free_StandToCrouch.126=all
STG2_Free_StandToCrouch.127=all
STG2_Free_StandToCrouch.128=all
STG2_Free_StandToCrouch.129=all
STG2_Free_StandToCrouch.130=all
STG2_Free_StandToCrouch.131=all
STG2_Free_StandToCrouch.132=all
STG2_Free_StandToCrouch.133=all
STG2_Free_StandToCrouch.134=all
STG2_Free_StandToCrouch.135=all
STG2_Free_StandToCrouch.136=all
STG2_Free_StandToCrouch.137=all
STG2_Free_StandToCrouch.138=all
STG2_Free_StandToCrouch.139=all
STG2_Free_StandToCrouch.140=all
STG2_Free_StandToCrouch.141=all
STG2_Free_StandToCrouch.142=all
STG2_Free_StandToCrouch.143=all
STG2_Free_StandToCrouch.144=all
STG2_Free_StandToCrouch.145=all
STG2_Free_StandToCrouch.146=all
STG2_Free_StandToCrouch.147=all
