[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Spine_c
C_Spine_d
C_Neck_a
C_Head_a
C_Jaw
C_Hair_a_Phy
C_Hair_b_Phy
C_Hair_c_Phy
R_Cape_a_Phy
R_Cape_b_Phy
L_Cape_a_Phy
L_Cape_b_Phy
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Thumb_a
L_Thumb_b
L_Thumb_c
L_Index_a
L_Index_b
L_Index_c
L_Middle_a
L_Middle_b
L_Middle_c
L_Ring_a
L_Ring_b
L_Ring_c
L_Pinky_a
L_Pinky_b
L_Pinky_c
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Thumb_a
R_Thumb_b
R_Thumb_c
R_Index_a
R_Index_b
R_Index_c
R_Middle_a
R_Middle_b
R_Middle_c
R_Ring_a
R_Ring_b
R_Ring_c
R_Pinky_a
R_Pinky_b
R_Pinky_c
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
L_Cloth_a_Phy
L_Cloth_b_Phy
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
R_Cloth_a_Phy
R_Cloth_b_Phy
C_Cloth_a_Phy
C_Cloth_b_Phy
L_Weapon_a
R_Weapon_a

[RemoveTracks]
SU30003_Idle01_2.68=all
SU30003_Idle01_2.69=all
