[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Body_a
C_Gun_a
C_Gun_b
R_UpperLegA_a
R_UpperLegA_b
R_UpperLegA_c
R_UpperLegA_d
R_UpperLegA_e
R_UpperLegA_f
R_UpperLegA_g
R_ForelegA_a
R_ForelegA_b
R_WireA_a
R_UpperLegB_a
R_UpperLegB_b
R_UpperLegB_c
R_UpperLegB_d
R_UpperLegB_e
R_UpperLegB_f
R_UpperLegB_g
R_ForelegB_a
R_ForelegB_b
R_WireB_a
L_UpperLegA_a
L_UpperLegA_b
L_UpperLegA_c
L_UpperLegA_d
L_UpperLegA_e
L_UpperLegA_f
L_UpperLegA_g
L_ForelegA_a
L_ForelegA_b
L_WireA_a
L_UpperLegB_a
L_UpperLegB_b
L_UpperLegB_c
L_UpperLegB_d
L_UpperLegB_e
L_UpperLegB_f
L_UpperLegB_g
L_ForelegB_a
L_ForelegB_b
L_WireB_a
C_Censor_a
C_Censor_b

[RemoveTracks]
MO10004_DamageL_2.13=all
MO10004_DamageL_2.23=all
MO10004_DamageL_2.33=all
MO10004_DamageL_2.43=all
