[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Trans
C_Hip_a
C_Spine_a
C_Spine_b
C_Neck_a
C_Head_a
L_Shoulder_a
L_UpperArm_a
L_Forearm_a
L_Hand_a
L_Index_a
L_Knife_a
L_Knife_b
R_Shoulder_a
R_UpperArm_a
R_Forearm_a
R_Hand_a
R_Index_a
R_Lanthan_a
R_Lanthan_b
C_Tail_a
C_Tail_b
C_Tail_c
L_UpperLeg_a
L_Foreleg_a
L_Foot_a
L_Toe_a
R_UpperLeg_a
R_Foreleg_a
R_Foot_a
R_Toe_a
